<%- include('../../partials/head', {title: "Visualizar equipamento"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/nav', {title: "Visualizar equipamento"}) %>

    <main class="py-5 fade-in">
      <div class="px-8 col-span-3">
        <div class="min-h-full">
          <div class="mx-auto mt-3 grid grid-cols-1">
            <div class="space-y-6 lg:col-span-2 lg:col-start-1">
              <section aria-labelledby="applicant-information-title">
                <div class="bg-white shadow-lg border sm:rounded-lg">
                  <div class="flex items-center justify-between px-6 py-6">
                    <div class="flex items-center space-x-5">
                      <div class="flex-shrink-0">
                        <div class="relative">
                          <img class="h-20 rounded-lg" src="/img/equipments/<%= equipment.imageFile %>" alt="">
                          <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div>
                        <h1 class="text-2xl font-bold text-gray-900 inter">
                          Ar condicionado <%= equipment.model %>
                        </h1>
                        <p class="text-sm font-semibold text-gray-500 inter">ID do equipamento: <span
                            class="text-blue">#<%= equipment._id %></span></p>
                      </div>
                    </div>

                    <div id="qrcode" class="w-24"></div>
                  </div>

                  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
                    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Pertencente:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= company.name %>
                        </dd>
                      </div>
                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Último status do equipamento:</dt>
                        <span
                          class="inline-flex items-center inter gap-x-1.5 border rounded-full px-2 py-1 text-xs font-semibold text-gray-900 ring-1 ring-inset ring-gray-200">
                          <svg width="6" height="6" viewBox="0 0 6 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_285_50)">
                              <path
                                d="M3 6C4.65685 6 6 4.65685 6 3C6 1.34315 4.65685 0 3 0C1.34315 0 0 1.34315 0 3C0 4.65685 1.34315 6 3 6Z"
                                fill="#11AA17" />
                            </g>
                            <defs>
                              <clipPath id="clip0_285_50">
                                <rect width="6" height="6" fill="white" />
                              </clipPath>
                            </defs>
                          </svg>
                          Funcionando corretamente
                        </span>
                      </div>

                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Data de cadastro:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= equipment.createdAt %>
                        </dd>
                      </div>

                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Relatórios:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= equipment.reports %> relatórios
                        </dd>
                      </div>

                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Setor:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= equipment.sector %>
                        </dd>
                      </div>

                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Local:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= equipment.local %>
                        </dd>
                      </div>

                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Atividade:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= equipment.activity %>
                        </dd>
                      </div>

                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Marca do equipamento:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= equipment.brand %>
                        </dd>
                      </div>

                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">BTUs:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= equipment.btus %> BTUs
                        </dd>
                      </div>

                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Modelo evaporadora:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= equipment.evaporator %>
                        </dd>
                      </div>

                      <div class="sm:col-span-1">
                        <dt class="text-sm font-semibold text-gray-500 inter">Fluído refrigerante/gás:</dt>
                        <dd class="mt-1 text-sm text-gray-900 inter">
                          <%= equipment.fluid %>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    new QRCode(document.getElementById("qrcode"), window.location.href);
  })
</script>
</html>