<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pluBee</title>
    <link rel="stylesheet" href="/css/checkout/checkout.css">
    <link rel="stylesheet" href="/css/site/nav.css">
    <link rel="stylesheet" href="/css/site/footer.css">
    <link rel="stylesheet" href="/css/site/site.css">
    <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">

</head>
<body>
    <%- include('../partials/nav-site') %>

    <div class="content">
        <div class="top">
            <img src="/img/checkout/nav.png" alt="">
        </div>
        
        <div class="container">
            <div class="box-option">
                <div class="title-options">
                    <h1 class="title">Realize o seu cadastro primeiro:</h1>
                </div>
    
                <div class="div-options">
                    <div class="form-floating" style="margin-left: 5px;">
                        <div>
                            <p class="p-dados" style="font-weight: bold;">Preencha com os seus dados para criar o seu login:</p>
                            <input class="form" type="text" name="nome" id="name" placeholder="Nome completo:">
                            <input class="form" type="text" name="telefone" id="number" placeholder="Telefone:">
                            <input class="form" type="text" name="cpf" id="cpf" onkeyup="validCpf()" placeholder="CPF:">
                            <input class="form" type="text" name="email" id="email" placeholder="Email">
                            <input class="form" type="password" name="senha" id="password" placeholder="Senha">
                            <button class="btn-continue">Prosseguir</button>
                        </div>
                        
                        <p class="privacy">Ao clicar no botão abaixo, você concorda com as nossas políticas <a href="/policy">termos de privacidade</a> e utilização de cookies.</p>

                        <img src="/img/checkout/seguro.png" class="security" alt="compra segura">
                    </div>
    
                    <div class="card">
                        <div>
                            <img src="/img/checkout/card.jpg" alt="">
                            <p id="title-paragraph">Pagamento via Cartão de crédito</p>
                        </div>
                        <div>
                            <input type="radio" name="pag" id="card" value="CARD" tabindex="2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="pag-card" style="display: none;">
                <div class="title-options">
                    <h1>Complete com os dados do seu cartão:</h1>
                </div>

                <div id="cardPaymentBrick_container"></div>      
            </div>
    
            <div class="box-details">
                <div class="title-details">
                    <h1>Resumo do pedido</h1>
                </div>
                <h2>Tem um cupom? Insira aqui:</h2>
                <div class="cupom-div">
                    <input type="text" class="cupom-input" placeholder="Cupom de desconto aqui">
                    <button class="btn-cupom">Adicionar</button>
                </div>
                <div class="itens">
                    <h2>1 item selecionado:</h2>
                    <p>- Plano <span><%= planInfo.title %></span></p>
                </div>
                <div class="infos">
                    <div class="space">
                        <h1>Método de pagamento:</h1>
                        <h2>Cartão</h2>
                    </div>
                    <div class="space">
                        <h1>Tipo:</h1>
                        <h2>Crédito ou débito</h2>
                    </div>
                    <div class="space-two">
                        <h1>Valor total:</h1>
                        <h2>R$<%= planInfo.value_month %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer-site') %>

<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/checkout/index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
var _0xc8a8=["\x2E\x64\x69\x76\x2D\x6F\x70\x74\x69\x6F\x6E\x73","\x71\x75\x65\x72\x79\x53\x65\x6C\x65\x63\x74\x6F\x72","\x68\x65\x69\x67\x68\x74","\x73\x74\x79\x6C\x65","\x31\x30\x70\x78","\x62\x72\x69\x63\x6B\x73","\x63\x6F\x6E\x74\x61\x74\x6F\x40\x70\x6C\x75\x62\x65\x65\x2E\x6E\x65\x74","\x66\x6C\x61\x74","\x76\x61\x6C\x75\x65","\x23\x6E\x61\x6D\x65","\x23\x6E\x75\x6D\x62\x65\x72","\x23\x63\x70\x66","\x23\x65\x6D\x61\x69\x6C","\x23\x70\x61\x73\x73\x77\x6F\x72\x64","\x6C\x6F\x67","\x63\x61\x74\x63\x68","\x61\x70\x70\x72\x6F\x76\x65\x64","\x68\x69\x64\x65","\x2E\x63\x6F\x6E\x74\x61\x69\x6E\x65\x72","\x50\x61\x67\x61\x6D\x65\x6E\x74\x6F\x20\x61\x70\x72\x6F\x76\x61\x64\x6F\x20\x63\x6F\x6D\x20\x73\x75\x63\x65\x73\x73\x6F\x21","\x74\x65\x78\x74","\x23\x74\x69\x74\x6C\x65","\x3C\x70\x20\x63\x6C\x61\x73\x73\x3D\x22\x70\x2D\x61\x70\x70\x72\x6F\x76\x65\x64\x22\x3E\x4F\x6C\xE1\x20","\x2C\x20\x73\x65\x75\x20\x70\x61\x67\x61\x6D\x65\x6E\x74\x6F\x20\x66\x6F\x69\x20\x61\x70\x72\x6F\x76\x61\x64\x6F\x20\x63\x6F\x6D\x20\x73\x75\x63\x65\x73\x73\x6F\x2E\x3C\x2F\x70\x3E","\x61\x70\x70\x65\x6E\x64","\x2E\x63\x6F\x6E\x74\x65\x6E\x74","\x3C\x70\x20\x63\x6C\x61\x73\x73\x3D\x27\x70\x2D\x61\x70\x70\x72\x6F\x76\x65\x64\x27\x3E\x56\x6F\x63\xEA\x20\x72\x65\x63\x65\x62\x65\x72\xE1\x20\x75\x6D\x20\x65\x6D\x61\x69\x6C\x20\x63\x6F\x6D\x20\x74\x6F\x64\x6F\x73\x20\x6F\x73\x20\x64\x61\x64\x6F\x73\x20\x64\x61\x20\x73\x75\x61\x20\x63\x6F\x6D\x70\x72\x61\x2E\x3C\x2F\x70\x3E","\x3C\x70\x20\x63\x6C\x61\x73\x73\x3D\x27\x70\x2D\x61\x70\x70\x72\x6F\x76\x65\x64\x27\x3E\x46\x61\xE7\x61\x20\x6C\x6F\x67\x69\x6E\x20\x61\x67\x6F\x72\x61\x20\x6D\x65\x73\x6D\x6F\x20\x6E\x61\x20\x73\x75\x61\x20\x63\x6F\x6E\x74\x61\x20\x63\x6C\x69\x63\x61\x6E\x64\x6F\x20\x6E\x6F\x20\x62\x6F\x74\xE3\x6F\x20\x61\x62\x61\x78\x6F\x2E\x3C\x2F\x70\x3E","\x74\x68\x65\x6E","\x6F\x6B","\x6A\x73\x6F\x6E","\x45\x72\x72\x6F\x20\x61\x6F\x20\x70\x72\x6F\x63\x65\x73\x73\x61\x72\x20\x61\x20\x72\x65\x73\x70\x6F\x73\x74\x61\x20\x64\x61\x20\x72\x65\x71\x75\x69\x73\x69\xE7\xE3\x6F","\x2F\x63\x68\x65\x63\x6B\x6F\x75\x74\x2F\x70\x72\x6F\x63\x65\x73\x73\x5F\x70\x61\x79\x6D\x65\x6E\x74","\x50\x4F\x53\x54","\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2F\x6A\x73\x6F\x6E","\x73\x74\x72\x69\x6E\x67\x69\x66\x79","\x65\x72\x72\x6F\x72","\x63\x61\x72\x64\x50\x61\x79\x6D\x65\x6E\x74\x42\x72\x69\x63\x6B\x43\x6F\x6E\x74\x72\x6F\x6C\x6C\x65\x72","\x63\x61\x72\x64\x50\x61\x79\x6D\x65\x6E\x74","\x63\x61\x72\x64\x50\x61\x79\x6D\x65\x6E\x74\x42\x72\x69\x63\x6B\x5F\x63\x6F\x6E\x74\x61\x69\x6E\x65\x72","\x63\x72\x65\x61\x74\x65"];const div=document[_0xc8a8[1]](_0xc8a8[0]);div[_0xc8a8[3]][_0xc8a8[2]]= _0xc8a8[4];const mp= new MercadoPago('<%= APP_USER %>');const bricksBuilder=mp[_0xc8a8[5]]();const renderCardPaymentBrick=async (bricksBuilder)=>{const _0x2981x5={initialization:{amount:parseFloat('<%= planInfo.value_month %>'),payer:{email:_0xc8a8[6]}},customization:{visual:{style:{theme:_0xc8a8[7]}}},callbacks:{onReady:()=>{},onSubmit:(_0x2981x6)=>{const _0x2981x7={name:document[_0xc8a8[1]](_0xc8a8[9])[_0xc8a8[8]],number:document[_0xc8a8[1]](_0xc8a8[10])[_0xc8a8[8]],cpf:document[_0xc8a8[1]](_0xc8a8[11])[_0xc8a8[8]],email:document[_0xc8a8[1]](_0xc8a8[12])[_0xc8a8[8]],password:document[_0xc8a8[1]](_0xc8a8[13])[_0xc8a8[8]],type_account:'<%= planInfo.title %>'};const _0x2981x8={cardFormData,account};return  new Promise((_0x2981x9,_0x2981xa)=>{fetch(_0xc8a8[32],{method:_0xc8a8[33],headers:{"\x43\x6F\x6E\x74\x65\x6E\x74\x2D\x54\x79\x70\x65":_0xc8a8[34]},body:JSON[_0xc8a8[35]](_0x2981x8)})[_0xc8a8[28]]((_0x2981xc)=>{if(_0x2981xc[_0xc8a8[29]]){return _0x2981xc[_0xc8a8[30]]()};throw  new Error(_0xc8a8[31])})[_0xc8a8[28]]((_0x2981x8)=>{if(_0x2981x8[_0xc8a8[16]]){$(_0xc8a8[18])[_0xc8a8[17]]();$(_0xc8a8[21])[_0xc8a8[20]](_0xc8a8[19]);$(_0xc8a8[25])[_0xc8a8[24]](`${_0xc8a8[22]}${document[_0xc8a8[1]](_0xc8a8[9])[_0xc8a8[8]]}${_0xc8a8[23]}`);$(_0xc8a8[25])[_0xc8a8[24]](_0xc8a8[26]);$(_0xc8a8[25])[_0xc8a8[24]](_0xc8a8[27])};_0x2981x9()})[_0xc8a8[15]]((_0x2981xb)=>{console[_0xc8a8[14]](_0x2981xb);_0x2981xa()})})},onError:(_0x2981xb)=>{console[_0xc8a8[36]](_0x2981xb)}}};window[_0xc8a8[37]]=  await bricksBuilder[_0xc8a8[40]](_0xc8a8[38],_0xc8a8[39],_0x2981x5)};renderCardPaymentBrick(bricksBuilder)</script>
</body>
</html>