<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="pluBee.net">
    <meta name="generator" content="pluBee.net">
    <title>pluBee | Adquirir um plano</title>

    <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main/style.css">

</head>
<body class="bg-gray-100">
    <%- include('../partials/nav-site') %>
    <div class="alert" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
    <div class="error" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

		<div class="wait-process hidden flex-col items-center justify-center">
			<img class="w-80" src="/img/site/process.svg" alt="Processando pagamento">
			<h1 class="text-2xl made-tommy color-purple font-semibold mt-12">Aguarde. Estamos processando o seu pagamentos...</h1>
		</div>

    <main class="data-user mx-auto max-w-7xl px-4 pb-24 pt-16 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <h1 class="sr-only">Checkout</h1>
  
        <div class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
          <div>
            <div>
              <h2 class="text-1xl font-medium text-gray-900 made-tommy color-purple">1. Preencha com as suas informações:</h2>
              <p class="text-lg text-gray-900 font-medium made-tommy" id="text-temp">Complete a primeira etapa.</p>
            </div>
  
            <div class="mt-6 border-t border-gray-400 pt-10">
              <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                <div>
                  <label for="first-name" class="block text-sm font-medium text-gray-700">Primeiro nome</label>
                  <div class="mt-2">
                    <input type="text" id="first-name" name="first-name" placeholder="Seu primeiro nome" class="block pl-2 made-tommy w-full py-1.5 border rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  </div>
                </div>
  
                <div>
                  <label for="last-name" class="block text-sm font-medium text-gray-700">Segundo nome</label>
                  <div class="mt-2">
                    <input type="text" id="last-name" name="last-name" placeholder="Seu segundo nome" class="block pl-2 made-tommy w-full py-1.5 border rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  </div>
                </div>
  
                <div>
                  <label for="cpf-name" class="block text-sm font-medium text-gray-700">CPF</label>
                  <div class="mt-2">
                    <input type="text" id="cpf" name="cpf" placeholder="Seu CPF" class="block pl-2 made-tommy w-full py-1.5 border rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  </div>
                </div>
  
                <div>
                  <label for="number-name" class="block text-sm font-medium text-gray-700">Número de telefone</label>
                  <div class="mt-2">
                    <input type="text" id="number" name="number" placeholder="Seu número de telefone" class="block pl-2 made-tommy w-full py-1.5 border rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  </div>
                </div>
  
                <div>
                  <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                  <div class="mt-2">
                    <input type="text" id="email" name="email" placeholder="Seu email" class="block pl-2 made-tommy w-full py-1.5 border rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  </div>
                </div>
  
                <div>
                  <label for="password" class="block text-sm font-medium text-gray-700">Senha</label>
                  <div class="mt-2">
                    <input type="password" id="password" name="password" placeholder="Crie uma senha" class="block pl-2 made-tommy w-full py-1.5 border rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  </div>
                </div>
              </div>

              <div class="mt-4">
                <button id="formSubmitOneMobile" type="submit" class="w-full lg:hidden rounded-md border border-transparent px-4 py-2 text-base font-medium text-white shadow-sm bg-purple">Continuar</button>
              </div>
            </div>

            <div class="mt-6 border-t border-gray-200 pt-10">
              <h2 id="title-payment" class="text-1xl font-medium text-gray-900 made-tommy color-purple mb-4">2. Realize o pagamento:</h2>
              <p class="text-lg text-gray-900 font-medium made-tommy" id="text-temp">Complete a primeira etapa.</p>

              <div class="mt-6 grid grid-cols-1 gap-x-4 gap-y-6" id="form-checkout">
                <form id="payment-form">
                  <div id="payment-element">
                    <!--Stripe.js injects the Payment Element-->
                  </div>
                  <div class="spinner hidden" id="spinner"></div>
                  <div id="payment-message" class="hidden"></div>
                </form>
              </div>
            </div>
          </div>
  
          <!-- Order summary -->
          <div class="mt-10 lg:mt-0">
            <h2 class="text-lg font-medium text-gray-900">Informações do plano:</h2>
  
            <div class="mt-4 rounded-lg border border-gray-200 bg-white shadow-sm">
              <h3 class="sr-only">Items in your cart</h3>
              <ul role="list" class="divide-y divide-gray-200">
                <li class="flex px-4 py-6 sm:px-6"> 
                  <div class="flex flex-1 flex-col">
                    <div class="flex">
                      <div class="min-w-0 flex-1">
                        <h4 class="text-sm">
                          <h2 class="text-1xl font-medium text-gray-700 made-tommy color-purple">Plano <%= plan.title %></h2>
                        </h4>
                      </div>
                    </div>
  
                    <div class="flex flex-col pt-2">
                      <% plan.description.forEach(function(item) { %>
                        <div class="flex items-center mt-2">
                          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="#752a7a" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                          </svg>
                          <p class="text-md font-medium text-gray-900 ml-2"><%= item %></p>
                        </div>
                      <% }) %>
                    </div>
                  </div>
                </li>
              </ul>

              <dl class="space-y-6 py-6">
                <div class="flex items-center px-6 justify-between border-t border-gray-200 pt-6">
                  <dt class="text-base font-medium">Total (Mensal)</dt>
                  <dd class="text-base font-medium text-gray-900 font-semibold color-purple">R$<%= plan.value_month %>,00</dd>
                </div>

                <div class="flex items-center px-6 justify-between border-t border-gray-200 pt-6">
                  <dt class="text-base font-medium">Forma de pagamento:</dt>
                  <dd class="text-base font-medium text-gray-900 font-semibold color-purple">Cartão de crédito</dd>
                </div>
              </dl>
  
              <div class="border-t border-gray-200 px-6 py-6 sm:px-6" id="div-confirm">
                <button id="formSubmitOne" type="submit" class="w-full hidden lg:block rounded-md border border-transparent px-4 py-2 text-base font-medium text-white shadow-sm bg-purple">Continuar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    
    <%- include('../partials/footer-site') %>

<script src="https://js.stripe.com/v3/"></script>
<script>
  const _0x247e88=_0x5b78;(function(_0x20ee99,_0x572e50){const _0x1b5d7d=_0x5b78,_0x5096d4=_0x20ee99();while(!![]){try{const _0x1da897=parseInt(_0x1b5d7d(0x1d3))/(-0x246b+0x25*0x74+0x13a8)*(parseInt(_0x1b5d7d(0x140))/(-0x2b7*-0x1+-0x1023+-0x3*-0x47a))+-parseInt(_0x1b5d7d(0x165))/(-0x12b3*0x1+-0x3*-0x15+-0x1277*-0x1)+parseInt(_0x1b5d7d(0x152))/(-0x2*-0x80f+-0xe13+-0x207)+parseInt(_0x1b5d7d(0x11f))/(0x1918+0x230f+-0x1*0x3c22)*(parseInt(_0x1b5d7d(0x148))/(-0x1*0x1468+0x1279+0x1f5))+parseInt(_0x1b5d7d(0x199))/(-0x1514+0x1*0xaaf+0xa6c)*(parseInt(_0x1b5d7d(0x1ab))/(0xf12+-0x149*0x15+-0xa1*-0x13))+-parseInt(_0x1b5d7d(0x10f))/(0x1801+-0x29b*0xc+0x74c)+parseInt(_0x1b5d7d(0x179))/(-0x2*0xd6e+0x17fe+0x4*0xba)*(-parseInt(_0x1b5d7d(0x1ba))/(-0x167b+-0x1633*0x1+0x2cb9));if(_0x1da897===_0x572e50)break;else _0x5096d4['push'](_0x5096d4['shift']());}catch(_0x278bd4){_0x5096d4['push'](_0x5096d4['shift']());}}}(_0x4fa8,-0x56aa*-0x49+-0x19b76b+-0x885*-0x1b3));const stripe=Stripe(_0x247e88(0x198)+_0x247e88(0x16f)+_0x247e88(0x173)+_0x247e88(0x1d6)+_0x247e88(0x1a5)+_0x247e88(0x10b)+_0x247e88(0xf9)+_0x247e88(0x16c)+_0x247e88(0x1e8)+_0x247e88(0x1b7)+_0x247e88(0x12a));function _0x4fa8(){const _0x1e0473=['5143870rsubCv','\x20o\x20pagamen','OKImP','brDTe','https://lo','tOne','-white\x20sha','confirmPay','mente\x20mais','iYMKm','ymentInten','_error','succeeded','nválido','/img/admin','json','t_secret','stringify','tOneMobile','innerHTML','ment','WiGJU','ent','button','ent\x20px-4\x20p','Dados\x20inco','jHWpH','wCdFJ','sYrwC','GOQJR','lido','pk_live_51','2006809VuraEi','appendChil','JIatG','tTwo','createElem','Two','BYZiL','qtzmc','display:\x20n','kIDSc','tify','ssado.','dFblT8N1Mr','\x20tarde.','#formSubmi','aKEjN','kVNMP','Tksre','24wunJEk','PawvW','#email','OiRiD','dow-sm\x20bg-','style','textConten','mfpyH','unliu','pHEdA','Email\x20invá','xXceS','veq4vua00q','ORyGc','orm','22fxJETt','add','#spinner','uqqaJ','requires_p','vFJXP','status','\x20erro\x20no\x20p','create','Seu\x20pagame','calhost:55','none','mwtxO','não\x20aprova','/checkout/','click','iKKfz','POST','om\x20sucesso','parentNode','xxRCE','w-full\x20rou','nEQLt','MqfNq','agamento.','2fACgUy','oWSZd','GbzJp','LkBlOmq7tm','ppSPG','formSubmit','#last-name','eqABe','nded-md\x20bo','jTcUX','qWYbA','SQCKH','rder\x20borde','removeChil','y-2\x20text-b','classList','Ocorreu\x20um','JHllp','DLtCc','aQchT','validation','c3JAFiDnhJ','mJdOZ','payment_in','CPF\x20inváli','eBLjZ','get','Tente\x20nova','tor','stripe','animation:','mount','NefZL','submit','Telefone\x20i','NpybG','querySelec','error','#number','to:','dzCtt','aSxZM','kJcFiEAxWj','LvIyi','jKlzP','card_error','ZOnpM','validate-d','tqDAB','endo\x20proce','oVIBQ','display','innerText','wuGLH','height','RhuJN','IKXfa','FnsVx','#cpf','applicatio','SSjzuwn596','<%=\x20name_c','\x20slideoff\x20','2.\x20Realize','814581rlYcEs','tabs','cPLeB','SqxMW','pyiwb','addEventLi','width','ault','heckout\x20%>','disabled','qgyOj','YHqdb','#title-pay','/Bulk/chec','#first-nam','purple','7707085BVJAAW','IKRLA','essage','ZWwWT','vANlL','Confirmar\x20','r-transpar','type','Tjexu','message-no','processing','nSzsyxN','lement','fxbka','ase\x20font-m','n/json','cqNHG','location','CRwyy','rretos.','cvjWv','WNdQB','success','payment','YVclx','className','elements','search','ldTRN','one','dXJGb','remove','UYdkg','79938DIoNXv','vuEiN','retrievePa','.error','sLfwF','2s;','#payment-m','preventDef','6aeBVKT','wxHlZ','hidden','IcCJR','t/success','stener','#payment-e','edium\x20text','XCHFL','.alert','3572988jjNtpx','tent_clien','ked.png','ayment_met','r.png','value','img','00/checkou','cJCJA','JPKRH','nto\x20está\x20s','#payment-f','hod','src','#text-temp','flex','OmLXt','VgrNS','aprovado\x20c','4117266QSwdaw','#password','test','ment-inten','#div-confi','ata/','gmyFh','prZYYmmJDV','message','dPBwt','NGjrrATsTj','metjD','Pagamento\x20','JvhZf','VvAV2Ty6X5','compra','/Bulk/erro','create-pay','do.','BDEYH'];_0x4fa8=function(){return _0x1e0473;};return _0x4fa8();}function alert_message(_0x153c85,_0x2ab8ae){const _0x575d23=_0x247e88,_0x39aa64={'ppSPG':_0x575d23(0x1a1)+_0x575d23(0x13c),'SQCKH':_0x575d23(0x1f1)+_0x575d23(0x10d)+_0x575d23(0x145),'aQchT':function(_0x3c1361,_0x50fd88,_0x416518){return _0x3c1361(_0x50fd88,_0x416518);},'LvIyi':function(_0x5400f5,_0x4e4e7c){return _0x5400f5==_0x4e4e7c;},'vuEiN':_0x575d23(0x1f8),'dXJGb':_0x575d23(0x143),'qWYbA':_0x575d23(0x161),'XCHFL':_0x575d23(0x158),'OmLXt':_0x575d23(0x187)+_0x575d23(0x175)+_0x575d23(0x156),'jKlzP':_0x575d23(0x128)+_0x575d23(0x1a3),'aKEjN':function(_0x1cd05f,_0x5dd435){return _0x1cd05f==_0x5dd435;},'IKRLA':_0x575d23(0x135),'wCdFJ':_0x575d23(0x151),'UYdkg':_0x575d23(0x187)+_0x575d23(0x11c)+_0x575d23(0x154)};if(_0x39aa64[_0x575d23(0xfa)](_0x153c85,_0x39aa64[_0x575d23(0x141)])){const _0x25b5ab=document[_0x575d23(0x1f7)+_0x575d23(0x1ef)](_0x39aa64[_0x575d23(0x13d)]);_0x25b5ab[_0x575d23(0x1b0)][_0x575d23(0x102)]=_0x39aa64[_0x575d23(0x1dd)],_0x25b5ab[_0x575d23(0x18c)]='';const _0x4bcc58=document[_0x575d23(0x19d)+_0x575d23(0x18f)]('p'),_0x18cab7=document[_0x575d23(0x19d)+_0x575d23(0x18f)](_0x39aa64[_0x575d23(0x150)]);_0x18cab7[_0x575d23(0x115)]='28',_0x18cab7[_0x575d23(0x105)]='28',_0x18cab7[_0x575d23(0x15f)]=_0x39aa64[_0x575d23(0x162)],_0x4bcc58[_0x575d23(0x1e2)][_0x575d23(0x1bb)](_0x39aa64[_0x575d23(0xfb)]),_0x4bcc58[_0x575d23(0x103)]=_0x2ab8ae,_0x25b5ab[_0x575d23(0x19a)+'d'](_0x18cab7),_0x25b5ab[_0x575d23(0x19a)+'d'](_0x4bcc58),_0x39aa64[_0x575d23(0x1e6)](setTimeout,()=>{const _0x2facf9=_0x575d23,_0x112231={'OKImP':_0x39aa64[_0x2facf9(0x1d7)]};_0x25b5ab[_0x2facf9(0x1b0)]=_0x39aa64[_0x2facf9(0x1de)],_0x39aa64[_0x2facf9(0x1e6)](setTimeout,()=>{const _0x2908c3=_0x2facf9;_0x25b5ab[_0x2908c3(0x1b0)]=_0x112231[_0x2908c3(0x17b)];},-0xa2a+0x959+0x3f1);},0xf*-0x22b+-0x859*-0x3+0x171a);}else{if(_0x39aa64[_0x575d23(0x1a8)](_0x153c85,_0x39aa64[_0x575d23(0x120)])){const _0x1e2d93=document[_0x575d23(0x1f7)+_0x575d23(0x1ef)](_0x39aa64[_0x575d23(0x194)]);_0x1e2d93[_0x575d23(0x1b0)][_0x575d23(0x102)]=_0x39aa64[_0x575d23(0x1dd)],_0x1e2d93[_0x575d23(0x18c)]='';const _0x39218b=document[_0x575d23(0x19d)+_0x575d23(0x18f)]('p'),_0x85be9e=document[_0x575d23(0x19d)+_0x575d23(0x18f)](_0x39aa64[_0x575d23(0x150)]);_0x85be9e[_0x575d23(0x115)]='28',_0x85be9e[_0x575d23(0x105)]='28',_0x85be9e[_0x575d23(0x15f)]=_0x39aa64[_0x575d23(0x13f)],_0x39218b[_0x575d23(0x1e2)][_0x575d23(0x1bb)](_0x39aa64[_0x575d23(0xfb)]),_0x39218b[_0x575d23(0x103)]=_0x2ab8ae,_0x1e2d93[_0x575d23(0x19a)+'d'](_0x85be9e),_0x1e2d93[_0x575d23(0x19a)+'d'](_0x39218b),_0x39aa64[_0x575d23(0x1e6)](setTimeout,()=>{const _0x261450=_0x575d23,_0xb881dd={'fxbka':_0x39aa64[_0x261450(0x1d7)]};_0x1e2d93[_0x261450(0x1b0)]=_0x39aa64[_0x261450(0x1de)],_0x39aa64[_0x261450(0x1e6)](setTimeout,()=>{const _0x591a19=_0x261450;_0x1e2d93[_0x591a19(0x1b0)]=_0xb881dd[_0x591a19(0x12c)];},0xfca+0x2*-0x1292+-0x1a*-0xf1);},-0x5cf+-0x18f9+0x2e68);}}}const buttonOne=document[_0x247e88(0x1f7)+_0x247e88(0x1ef)](_0x247e88(0x1a7)+_0x247e88(0x17e))[_0x247e88(0x114)+_0x247e88(0x14d)](_0x247e88(0x1c9),payment),buttonOneMobile=document[_0x247e88(0x1f7)+_0x247e88(0x1ef)](_0x247e88(0x1a7)+_0x247e88(0x18b))[_0x247e88(0x114)+_0x247e88(0x14d)](_0x247e88(0x1c9),payment);async function payment(){const _0x1b5bdb=_0x247e88,_0x1b4d3f={'ZWwWT':_0x1b5bdb(0x11d)+'e','WNdQB':_0x1b5bdb(0x1d9),'OiRiD':_0x1b5bdb(0x1ad),'vANlL':_0x1b5bdb(0x109),'qtzmc':_0x1b5bdb(0x1f9),'YHqdb':_0x1b5bdb(0x166),'RhuJN':function(_0x413dee,_0x3016e1,_0x492226){return _0x413dee(_0x3016e1,_0x492226);},'eqABe':_0x1b5bdb(0x1f8),'NpybG':_0x1b5bdb(0x1b5)+_0x1b5bdb(0x197),'kVNMP':function(_0x3adc9a,_0x3017ac,_0x541a18){return _0x3adc9a(_0x3017ac,_0x541a18);},'NefZL':_0x1b5bdb(0x1eb)+'do','MqfNq':_0x1b5bdb(0x1f5)+_0x1b5bdb(0x186),'wxHlZ':function(_0x5ba61d,_0x9e6067,_0x2bcfcc){return _0x5ba61d(_0x9e6067,_0x2bcfcc);},'uqqaJ':_0x1b5bdb(0x1c8)+_0x1b5bdb(0xfe)+_0x1b5bdb(0x16a),'jHWpH':_0x1b5bdb(0x1cb),'CRwyy':_0x1b5bdb(0x10a)+_0x1b5bdb(0x12e),'VgrNS':function(_0x5ae6a2,_0x293e3f){return _0x5ae6a2(_0x293e3f);},'iYMKm':function(_0x396337){return _0x396337();},'WiGJU':_0x1b5bdb(0x1a7)+_0x1b5bdb(0x17e),'oWSZd':_0x1b5bdb(0x1a7)+_0x1b5bdb(0x18b),'GbzJp':_0x1b5bdb(0x160),'qgyOj':_0x1b5bdb(0x1c5),'vFJXP':_0x1b5bdb(0x169)+'rm','GOQJR':_0x1b5bdb(0x190),'sYrwC':_0x1b5bdb(0x1d8)+_0x1b5bdb(0x19e),'cJCJA':_0x1b5bdb(0x1f4),'kIDSc':_0x1b5bdb(0x1cf)+_0x1b5bdb(0x1db)+_0x1b5bdb(0x1df)+_0x1b5bdb(0x125)+_0x1b5bdb(0x191)+_0x1b5bdb(0x1e1)+_0x1b5bdb(0x12d)+_0x1b5bdb(0x14f)+_0x1b5bdb(0x17f)+_0x1b5bdb(0x1af)+_0x1b5bdb(0x11e),'dPBwt':_0x1b5bdb(0x124)+_0x1b5bdb(0x174),'mJdOZ':_0x1b5bdb(0x1c9),'cvjWv':function(_0x4944ee,_0x1f4b0c,_0x30ee44){return _0x4944ee(_0x1f4b0c,_0x30ee44);},'jTcUX':_0x1b5bdb(0x192)+_0x1b5bdb(0x132)},_0xad589=document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x122)]),_0x1ce6ca=document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x134)]),_0x3edc3d=document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x1ae)]),_0x152ca7=document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x123)]),_0x27dad4=document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x1a0)]),_0x48ce81=document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x11a)]),_0xce4ad4={'firstName':_0xad589[_0x1b5bdb(0x157)],'lastName':_0x1ce6ca[_0x1b5bdb(0x157)],'email':_0x3edc3d[_0x1b5bdb(0x157)],'cpf':_0x152ca7[_0x1b5bdb(0x157)],'phone':_0x27dad4[_0x1b5bdb(0x157)],'password':_0x48ce81[_0x1b5bdb(0x157)]},_0x2d1f46=/^[^\s@]+@[^\s@]+\.[^\s@]+$/,_0x28e7aa=/^\d{11}$/,_0x274547=/^\d{11}$/;if(!_0x2d1f46[_0x1b5bdb(0x167)](_0x3edc3d[_0x1b5bdb(0x157)])){_0x1b4d3f[_0x1b5bdb(0x106)](alert_message,_0x1b4d3f[_0x1b5bdb(0x1da)],_0x1b4d3f[_0x1b5bdb(0x1f6)]);return;}if(!_0x28e7aa[_0x1b5bdb(0x167)](_0x152ca7[_0x1b5bdb(0x157)])){_0x1b4d3f[_0x1b5bdb(0x1a9)](alert_message,_0x1b4d3f[_0x1b5bdb(0x1da)],_0x1b4d3f[_0x1b5bdb(0x1f3)]);return;}if(!_0x274547[_0x1b5bdb(0x167)](_0x27dad4[_0x1b5bdb(0x157)])){_0x1b4d3f[_0x1b5bdb(0x106)](alert_message,_0x1b4d3f[_0x1b5bdb(0x1da)],_0x1b4d3f[_0x1b5bdb(0x1d1)]);return;}const _0x4919a4=await _0x1b4d3f[_0x1b5bdb(0x149)](fetch,_0x1b4d3f[_0x1b5bdb(0x1bd)],{'method':_0x1b4d3f[_0x1b5bdb(0x193)],'headers':{'Content-Type':_0x1b4d3f[_0x1b5bdb(0x131)]},'body':JSON[_0x1b5bdb(0x18a)]({'email':_0x3edc3d[_0x1b5bdb(0x157)],'cpf':_0x152ca7[_0x1b5bdb(0x157)],'phone':_0x27dad4[_0x1b5bdb(0x157)]})}),{valid:_0x3dfeec}=await _0x4919a4[_0x1b5bdb(0x188)]();if(_0x3dfeec){_0x1b4d3f[_0x1b5bdb(0x163)](initialize,_0xce4ad4),_0x1b4d3f[_0x1b5bdb(0x182)](checkStatus);const _0x52c819=document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x18e)]),_0x7e73e4=_0x52c819[_0x1b5bdb(0x1cd)];_0x7e73e4[_0x1b5bdb(0x1e0)+'d'](_0x52c819);const _0x1c13e3=document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x1d4)]),_0x430705=_0x1c13e3[_0x1b5bdb(0x1cd)];_0x430705[_0x1b5bdb(0x1e0)+'d'](_0x1c13e3),document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x1d5)])[_0x1b5bdb(0x1b0)][_0x1b5bdb(0x102)]=_0x1b4d3f[_0x1b5bdb(0x119)];const _0x330f94=document[_0x1b5bdb(0x1f7)+_0x1b5bdb(0x1ef)](_0x1b4d3f[_0x1b5bdb(0x1bf)]),_0x4deff3=document[_0x1b5bdb(0x19d)+_0x1b5bdb(0x18f)](_0x1b4d3f[_0x1b5bdb(0x196)]);_0x4deff3['id']=_0x1b4d3f[_0x1b5bdb(0x195)],_0x4deff3[_0x1b5bdb(0x126)]=_0x1b4d3f[_0x1b5bdb(0x15a)],_0x4deff3[_0x1b5bdb(0x138)]=_0x1b4d3f[_0x1b5bdb(0x1a2)],_0x4deff3[_0x1b5bdb(0x103)]=_0x1b4d3f[_0x1b5bdb(0x16e)],_0x4deff3[_0x1b5bdb(0x114)+_0x1b5bdb(0x14d)](_0x1b4d3f[_0x1b5bdb(0x1e9)],handleSubmit),_0x330f94[_0x1b5bdb(0x19a)+'d'](_0x4deff3);}else _0x1b4d3f[_0x1b5bdb(0x133)](alert_message,_0x1b4d3f[_0x1b5bdb(0x1da)],_0x1b4d3f[_0x1b5bdb(0x1dc)]);}let elements;document[_0x247e88(0x1f7)+_0x247e88(0x1ef)](_0x247e88(0x15d)+_0x247e88(0x1b9));async function initialize(_0x438ec0){const _0x220a34=_0x247e88,_0x432085={'mwtxO':function(_0x352d51,_0x2c22ac,_0x5ef69e){return _0x352d51(_0x2c22ac,_0x5ef69e);},'nEQLt':function(_0xf9d4e7,_0x29bf16){return _0xf9d4e7+_0x29bf16;},'oVIBQ':_0x220a34(0x1c8)+_0x220a34(0x176)+_0x220a34(0x168)+'t/','FnsVx':_0x220a34(0x10c)+_0x220a34(0x117),'cPLeB':_0x220a34(0x1cb),'ZOnpM':_0x220a34(0x10a)+_0x220a34(0x12e),'iKKfz':_0x220a34(0x1f0),'cqNHG':_0x220a34(0x110),'aSxZM':_0x220a34(0x136),'JIatG':_0x220a34(0x14e)+_0x220a34(0x12b),'unliu':_0x220a34(0x11b)+_0x220a34(0x18d),'sLfwF':_0x220a34(0x10e)+_0x220a34(0x17a)+_0x220a34(0x1fa)},_0x39106c=await _0x432085[_0x220a34(0x1c6)](fetch,_0x432085[_0x220a34(0x1d0)](_0x432085[_0x220a34(0x101)],_0x432085[_0x220a34(0x108)]),{'method':_0x432085[_0x220a34(0x111)],'headers':{'Content-Type':_0x432085[_0x220a34(0xfd)]},'body':JSON[_0x220a34(0x18a)]({'user':_0x438ec0})}),{clientSecret:_0x59988e}=await _0x39106c[_0x220a34(0x188)](),_0x3f2066={'theme':_0x432085[_0x220a34(0x1ca)]};elements=stripe[_0x220a34(0x139)]({'appearance':_0x3f2066,'clientSecret':_0x59988e});const _0x59f471={'layout':_0x432085[_0x220a34(0x12f)]},_0x17331d=elements[_0x220a34(0x1c2)](_0x432085[_0x220a34(0xf8)],_0x59f471);_0x17331d[_0x220a34(0x1f2)](_0x432085[_0x220a34(0x19b)]),document[_0x220a34(0x1f7)+_0x220a34(0x1ef)](_0x432085[_0x220a34(0x1b3)])[_0x220a34(0x103)]=_0x432085[_0x220a34(0x144)];}async function handleSubmit(_0xe2caa5){const _0x2c01df=_0x247e88,_0x565cd3={'brDTe':function(_0x3c7e8f,_0x447475){return _0x3c7e8f(_0x447475);},'IKXfa':_0x2c01df(0x17d)+_0x2c01df(0x1c4)+_0x2c01df(0x159)+_0x2c01df(0x14c),'YVclx':function(_0xfad6f8,_0xed01cd){return _0xfad6f8===_0xed01cd;},'DLtCc':_0x2c01df(0xfc),'xXceS':_0x2c01df(0x1e7)+_0x2c01df(0x184),'mfpyH':function(_0xfe392a,_0x15b3ee,_0x152a17){return _0xfe392a(_0x15b3ee,_0x152a17);},'JPKRH':_0x2c01df(0x1f8),'Tjexu':_0x2c01df(0x1e3)+_0x2c01df(0x1c1)+_0x2c01df(0x1d2)};_0xe2caa5[_0x2c01df(0x147)+_0x2c01df(0x116)](),_0x565cd3[_0x2c01df(0x17c)](setLoading,!![]);const {error:_0x493047}=await stripe[_0x2c01df(0x180)+_0x2c01df(0x18d)]({'elements':elements,'confirmParams':{'return_url':_0x565cd3[_0x2c01df(0x107)]}});_0x565cd3[_0x2c01df(0x137)](_0x493047[_0x2c01df(0x126)],_0x565cd3[_0x2c01df(0x1e5)])||_0x565cd3[_0x2c01df(0x137)](_0x493047[_0x2c01df(0x126)],_0x565cd3[_0x2c01df(0x1b6)])?_0x565cd3[_0x2c01df(0x1b2)](alert_message,_0x565cd3[_0x2c01df(0x15b)],_0x493047[_0x2c01df(0x16d)]):_0x565cd3[_0x2c01df(0x1b2)](alert_message,_0x565cd3[_0x2c01df(0x15b)],_0x565cd3[_0x2c01df(0x127)]),_0x565cd3[_0x2c01df(0x17c)](setLoading,![]);}async function checkStatus(){const _0x2cb3fd=_0x247e88,_0x558f0a={'SqxMW':_0x2cb3fd(0x1ea)+_0x2cb3fd(0x153)+_0x2cb3fd(0x189),'dzCtt':_0x2cb3fd(0x185),'xxRCE':function(_0x3cbd11,_0x4e0bf6,_0x878c60){return _0x3cbd11(_0x4e0bf6,_0x878c60);},'IcCJR':_0x2cb3fd(0x135),'eBLjZ':_0x2cb3fd(0x171)+_0x2cb3fd(0x164)+_0x2cb3fd(0x1cc)+'!','metjD':_0x2cb3fd(0x129),'JHllp':_0x2cb3fd(0x1c3)+_0x2cb3fd(0x15c)+_0x2cb3fd(0x100)+_0x2cb3fd(0x1a4),'pHEdA':_0x2cb3fd(0x1be)+_0x2cb3fd(0x155)+_0x2cb3fd(0x15e),'BYZiL':function(_0x11a377,_0x4b847b,_0x260d26){return _0x11a377(_0x4b847b,_0x260d26);},'pyiwb':_0x2cb3fd(0x1f8),'BDEYH':_0x2cb3fd(0x171)+_0x2cb3fd(0x1c7)+_0x2cb3fd(0x177),'PawvW':function(_0x557e35,_0x5e8700,_0x220e76){return _0x557e35(_0x5e8700,_0x220e76);},'Tksre':_0x2cb3fd(0x1ee)+_0x2cb3fd(0x181)+_0x2cb3fd(0x1a6)},_0x49f730=new URLSearchParams(window[_0x2cb3fd(0x130)][_0x2cb3fd(0x13a)])[_0x2cb3fd(0x1ed)](_0x558f0a[_0x2cb3fd(0x112)]);if(!_0x49f730)return;const {paymentIntent:_0x27e643}=await stripe[_0x2cb3fd(0x142)+_0x2cb3fd(0x183)+'t'](_0x49f730);switch(_0x27e643[_0x2cb3fd(0x1c0)]){case _0x558f0a[_0x2cb3fd(0xf7)]:_0x558f0a[_0x2cb3fd(0x1ce)](alert_message,_0x558f0a[_0x2cb3fd(0x14b)],_0x558f0a[_0x2cb3fd(0x1ec)]);break;case _0x558f0a[_0x2cb3fd(0x170)]:_0x558f0a[_0x2cb3fd(0x1ce)](alert_message,_0x558f0a[_0x2cb3fd(0x14b)],_0x558f0a[_0x2cb3fd(0x1e4)]);break;case _0x558f0a[_0x2cb3fd(0x1b4)]:_0x558f0a[_0x2cb3fd(0x19f)](alert_message,_0x558f0a[_0x2cb3fd(0x113)],_0x558f0a[_0x2cb3fd(0x178)]);break;default:_0x558f0a[_0x2cb3fd(0x1ac)](alert_message,_0x558f0a[_0x2cb3fd(0x113)],_0x558f0a[_0x2cb3fd(0x1aa)]);break;}}function showMessage(_0x43512b){const _0x33d5bb=_0x247e88,_0x11d4e6={'ldTRN':_0x33d5bb(0x14a),'gmyFh':_0x33d5bb(0x146)+_0x33d5bb(0x121),'JvhZf':function(_0x35072e,_0x42c364,_0x393580){return _0x35072e(_0x42c364,_0x393580);}},_0x21aeb6=document[_0x33d5bb(0x1f7)+_0x33d5bb(0x1ef)](_0x11d4e6[_0x33d5bb(0x16b)]);_0x21aeb6[_0x33d5bb(0x1e2)][_0x33d5bb(0x13e)](_0x11d4e6[_0x33d5bb(0x13b)]),_0x21aeb6[_0x33d5bb(0x1b1)+'t']=_0x43512b,_0x11d4e6[_0x33d5bb(0x172)](setTimeout,function(){const _0x4413c7=_0x33d5bb;_0x21aeb6[_0x4413c7(0x1e2)][_0x4413c7(0x1bb)](_0x11d4e6[_0x4413c7(0x13b)]),_0x21aeb6[_0x4413c7(0x1b1)+'t']='';},0x7*-0x29d+0xe*-0x118+0x313b);}function _0x5b78(_0x24e7d9,_0x4ea5c8){const _0x401b8=_0x4fa8();return _0x5b78=function(_0x27fed6,_0x17cfce){_0x27fed6=_0x27fed6-(0x1339*0x1+0x980+-0x1bc2);let _0x27f8ec=_0x401b8[_0x27fed6];return _0x27f8ec;},_0x5b78(_0x24e7d9,_0x4ea5c8);}function setLoading(_0x6b1e42){const _0x29af94=_0x247e88,_0xc659bf={'tqDAB':_0x29af94(0x1a7)+_0x29af94(0x19c),'wuGLH':_0x29af94(0x1bc),'ORyGc':_0x29af94(0x14a)};_0x6b1e42?(document[_0x29af94(0x1f7)+_0x29af94(0x1ef)](_0xc659bf[_0x29af94(0xff)])[_0x29af94(0x118)]=!![],document[_0x29af94(0x1f7)+_0x29af94(0x1ef)](_0xc659bf[_0x29af94(0x104)])[_0x29af94(0x1e2)][_0x29af94(0x13e)](_0xc659bf[_0x29af94(0x1b8)]),document[_0x29af94(0x1f7)+_0x29af94(0x1ef)](_0xc659bf[_0x29af94(0xff)])[_0x29af94(0x1e2)][_0x29af94(0x1bb)](_0xc659bf[_0x29af94(0x1b8)])):(document[_0x29af94(0x1f7)+_0x29af94(0x1ef)](_0xc659bf[_0x29af94(0xff)])[_0x29af94(0x118)]=![],document[_0x29af94(0x1f7)+_0x29af94(0x1ef)](_0xc659bf[_0x29af94(0x104)])[_0x29af94(0x1e2)][_0x29af94(0x1bb)](_0xc659bf[_0x29af94(0x1b8)]),document[_0x29af94(0x1f7)+_0x29af94(0x1ef)](_0xc659bf[_0x29af94(0xff)])[_0x29af94(0x1e2)][_0x29af94(0x13e)](_0xc659bf[_0x29af94(0x1b8)]));}
</script>
</body>
</html>