<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluBee | Bot de comentários</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="/css/platform/notify.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
</head>

<body>
  <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Bot de comentários", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="alert mt-10" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="hidden fade-in relative z-10" id="popup_active" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 mt-8 sm:p-6 md:p-20">
          <div class="mx-auto accounts transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="flex justify-between py-3 px-6">
              <h2 class="color-purple inter font-semibold text-lg">Ativar comentários automáticos</h2>
              <button onclick="closeActive()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.3075 11.7231L20.3075 5.67693C20.5844 5.4 20.5844 4.98462 20.3075 4.7077L19.3844 3.73847C19.1075 3.46154 18.6921 3.46154 18.4151 3.73847L12.369 9.78462C12.1844 9.96923 11.9075 9.96923 11.7228 9.78462L5.67668 3.69231C5.39976 3.41539 4.98438 3.41539 4.70745 3.69231L3.73822 4.66154C3.4613 4.93847 3.4613 5.35385 3.73822 5.63077L9.78438 11.6769C9.96899 11.8615 9.96899 12.1385 9.78438 12.3231L3.69207 18.4154C3.41514 18.6923 3.41514 19.1077 3.69207 19.3846L4.6613 20.3538C4.93822 20.6308 5.35361 20.6308 5.63053 20.3538L11.6767 14.3077C11.8613 14.1231 12.1382 14.1231 12.3228 14.3077L18.369 20.3538C18.6459 20.6308 19.0613 20.6308 19.3382 20.3538L20.3075 19.3846C20.5844 19.1077 20.5844 18.6923 20.3075 18.4154L14.3075 12.3692C14.1228 12.1846 14.1228 11.9077 14.3075 11.7231Z" fill="#752A7A"/>
                </svg>                  
              </button>
            </div>

            <div class="flex flex-col divide-y divide-gray-100 px-6">
              <div>
                <div class="mt-4">
                  <label for="content" class="block text-md font-medium leading-6 text-gray-900 inter mt-2">Conteúdo do comentário:</label>
                  <div class="mt-2">
                    <textarea rows="3" name="content" id="content" class="block w-full rounded-lg p-1.5 text-sm text-gray-900 border-purple shadow-sm ring-1 ring-inset inter" placeholder="Obrigado por comentar em nossa publicação..."></textarea>
                  </div>
                </div>

                <div class="mt-6">
                  <h2 for="link" class="block text-md font-medium leading-6 text-gray-900 inter">Limite de comentários:</h2>
                  <% if (type_account == "Avançado") { %>
                    <p class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple color-purple font-semibold">Comentários ilimitados</p>
                    <div class="bg-green-50 py-3 px-4 mt-2 rounded-md">
                      <div class="flex">
                        <div class="flex-shrink-0">
                          <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                          </svg>
                        </div>
                        <div class="ml-3">
                          <p class="text-sm text-green-700 inter">
                            Seu plano oferece comentários ilimitados.
                          </p>
                        </div>
                      </div>
                    </div>
                  <% } else if (type_account == "Pro") { %>
                    <p class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple color-purple font-semibold">5000 comentários</p>
                    <div class="border-l-yellow bg-yellow-50 py-3 px-4 mt-2 rounded-md">
                      <div class="flex">
                        <div class="flex-shrink-0">
                          <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                          </svg>
                        </div>
                        <div class="ml-3">
                          <p class="text-sm text-yellow-700 inter">
                            Faça upgrade para responder comentários ilimitados.
                          </p>
                        </div>
                      </div>
                    </div>
                  <% } else if (type_account == "Basico") { %>
                    <p class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple color-purple font-semibold">1000 comentários</p>
                    <div class="border-l-yellow bg-yellow-50 py-3 px-4 mt-2 rounded-md">
                      <div class="flex">
                        <div class="flex-shrink-0">
                          <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                          </svg>
                        </div>
                        <div class="ml-3">
                          <p class="text-sm text-yellow-700 inter">
                            Faça upgrade para responder comentários ilimitados.
                          </p>
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>

                <div class="pb-4">
                  <button class="w-full py-2.5 inter bg-purple text-white text-sm rounded-lg mt-4" onclick="activeComment()">Ativar comentários</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">        
        <div class="mt-4 flow-root">
          <div class="-mx-4 -my-2">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
              <% if (posts.length > 0) { %>
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 inter">Imagem</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Descrição</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Conta</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Páginas</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Plataforma</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Status</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Conteúdo</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Ações</th>
                      </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200 bg-white">
                      <% posts.forEach(function(item) { %>
                        <tr>
                          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                            <% if (item.image == "program_image") { %>
                              <img class="h-10" src="/img/admin/program.png" alt="img">
                            <% } else if (item.image == "link") { %>
                              <img class="h-9" src="/img/platform/link-externo.png" alt="img">
                            <% } else if (item.image == "post") { %>
                              <img class="h-9" src="/img/admin/post.png" alt="img">
                            <% } else { %>
                              <img class="h-12 rounded-md" src="<%= item.image %>" alt="img">
                            <% } %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter">
                            <p style="width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="inter"><%= item.content %></p>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter">
                            <div class="flex items-center mr-6">
                              <img class="h-8 rounded-full" src="<%= item.image_account %>">
                              <p class="inter ml-2"><%= item.name_account %></p>
                            </div>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold"><%= item.pages_ids.length %> páginas</td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter font-medium">
                            <% if (item.platform == "Facebook") { %>
                              <p class="inter"><%= item.platform %></p>
                            <% } else { %>
                              <p class="inter"><%= item.platform %></p>
                            <% } %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold">
                            <% if(item.status_bot == true) { %>
                              <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                                <div class="flex-none rounded-full p-1 text-green-400 bg-green-opacity">
                                  <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                                </div>
                                <div class="hidden text-green-400 sm:block">Ativado</div>
                              </div>
                            <% } else { %>
                              <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                                <div class="flex-none rounded-full p-1 text-blue-500 bg-blue-opacity">
                                  <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                                </div>
                                <div class="hidden text-blue-500 sm:block">Desativado</div>
                              </div>
                            <% } %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold">
                            <% if(item.status_bot == true) { %>
                              <p style="width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="inter"><%= item.comment_content %></p>
                            <% } else { %>
                              Nenhum
                            <% } %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple">
                            <% if (item.status_bot == true) { %>
                              <div class="flex">
                                <button onclick="disableComment('<%= item.id_post %>')" class="flex items-center rounded-r-lg">
                                  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 0C4.02922 0 0 4.02922 0 9C0 13.9708 4.02922 18 9 18C13.9708 18 18 13.9708 18 9C18 4.02922 13.9708 0 9 0ZM9 16.5938C4.80596 16.5938 1.40625 13.194 1.40625 9C1.40625 4.80596 4.80596 1.40625 9 1.40625C13.194 1.40625 16.5938 4.80596 16.5938 9C16.5938 13.194 13.194 16.5938 9 16.5938Z" fill="#AA2222"/>
                                    <path d="M11.8125 6.1875H6.1875V11.8125H11.8125V6.1875Z" fill="#AA2222"/>
                                  </svg>                                
                                  <p class="font-semibold inter text-red-700 ml-1">Desativar</p>                                                                                                
                                </button>
                              </div>
                            <% } else { %>
                              <div class="flex">
                                <button onclick="openActive('<%= item.id_post %>')" class="flex items-center rounded-r-lg">
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 5.72096C4.5 3.65396 6.78 2.39996 8.526 3.50096L18.468 9.77996C18.8429 10.0165 19.1518 10.3442 19.3659 10.7324C19.5799 11.1206 19.6922 11.5567 19.6922 12C19.6922 12.4433 19.5799 12.8793 19.3659 13.2675C19.1518 13.6557 18.8429 13.9834 18.468 14.22L8.526 20.4975C6.78 21.6015 4.5 20.346 4.5 18.2775V5.72246V5.72096ZM7.3245 5.40446C7.26783 5.36886 7.20266 5.34906 7.13576 5.34714C7.06886 5.34522 7.00267 5.36124 6.94405 5.39353C6.88543 5.42583 6.83652 5.47322 6.8024 5.5308C6.76828 5.58837 6.75018 5.65403 6.75 5.72096V18.279C6.75018 18.3459 6.76828 18.4115 6.8024 18.4691C6.83652 18.5267 6.88543 18.5741 6.94405 18.6064C7.00267 18.6387 7.06886 18.6547 7.13576 18.6528C7.20266 18.6509 7.26783 18.6311 7.3245 18.5955L17.2665 12.3165C17.3198 12.2826 17.3636 12.2358 17.394 12.1805C17.4244 12.1252 17.4404 12.0631 17.4404 12C17.4404 11.9368 17.4244 11.8747 17.394 11.8194C17.3636 11.7641 17.3198 11.7173 17.2665 11.6835L7.3245 5.40446Z" fill="#149330"/>
                                  </svg>                                
                                  <p class="font-semibold inter text-green-600 ml-1">Ativar</p>                                                                                                
                                </button>
                              </div>
                            <% } %>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              <% } else { %>
                <div class="flex flex-col justify-center items-center px-4 sm:px-2 mt-2 col-span-3 mt-40">
                  <svg width="351" height="266" viewBox="0 0 351 266" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_135_57)">
                    <g filter="url(#filter0_d_135_57)">
                    <path d="M176.267 0H19.9858C14.6871 0.00596636 9.60706 2.11353 5.86028 5.86032C2.11351 9.60711 0.00595315 14.6871 0 19.9859V203.492C0.00595426 208.791 2.11351 213.871 5.86029 217.618C9.60706 221.365 14.6871 223.472 19.9858 223.478H176.267C181.566 223.472 186.646 221.365 190.392 217.618C194.139 213.871 196.247 208.791 196.253 203.492V19.9859C196.247 14.6871 194.139 9.60711 190.392 5.86032C186.646 2.11353 181.566 0.00596636 176.267 0Z" fill="#F2F2F2"/>
                    </g>
                    <path d="M176.268 5.75342H19.9863C16.2129 5.75765 12.5953 7.25848 9.92716 9.92665C7.25898 12.5948 5.75814 16.2124 5.75391 19.9858V203.492C5.75815 207.266 7.25899 210.883 9.92716 213.551C12.5953 216.22 16.2129 217.72 19.9863 217.725H176.268C180.041 217.72 183.659 216.219 186.327 213.551C188.995 210.883 190.496 207.266 190.5 203.492V19.9858C190.496 16.2125 188.995 12.5949 186.327 9.92671C183.659 7.25854 180.041 5.75769 176.268 5.75342Z" fill="white"/>
                    <path d="M152.745 59.1122H73.7149C72.8322 59.1122 71.9857 58.7615 71.3615 58.1374C70.7374 57.5132 70.3867 56.6667 70.3867 55.784C70.3867 54.9013 70.7374 54.0548 71.3615 53.4306C71.9857 52.8065 72.8322 52.4558 73.7149 52.4558H152.745C153.182 52.4558 153.615 52.5419 154.019 52.7092C154.423 52.8764 154.79 53.1216 155.099 53.4306C155.408 53.7397 155.653 54.1066 155.82 54.5104C155.987 54.9142 156.073 55.3469 156.073 55.784C156.073 56.2211 155.987 56.6538 155.82 57.0576C155.653 57.4614 155.408 57.8283 155.099 58.1374C154.79 58.4464 154.423 58.6916 154.019 58.8588C153.615 59.0261 153.182 59.1122 152.745 59.1122Z" fill="#F2F2F2"/>
                    <path d="M166.474 70.3448H73.7151C72.833 70.3439 71.9875 69.9928 71.3641 69.3687C70.7408 68.7447 70.3906 67.8987 70.3906 67.0167C70.3906 66.1346 70.7408 65.2886 71.3641 64.6646C71.9875 64.0405 72.833 63.6895 73.7151 63.6885H166.474C167.356 63.6895 168.202 64.0405 168.825 64.6646C169.448 65.2886 169.799 66.1346 169.799 67.0167C169.799 67.8987 169.448 68.7447 168.825 69.3687C168.202 69.9928 167.356 70.3439 166.474 70.3448Z" fill="#F2F2F2"/>
                    <path d="M152.745 109.451H73.7149C72.8322 109.451 71.9857 109.1 71.3615 108.476C70.7374 107.852 70.3867 107.006 70.3867 106.123C70.3867 105.24 70.7374 104.394 71.3615 103.769C71.9857 103.145 72.8322 102.795 73.7149 102.795H152.745C153.182 102.795 153.615 102.881 154.019 103.048C154.423 103.215 154.79 103.46 155.099 103.769C155.408 104.079 155.653 104.445 155.82 104.849C155.987 105.253 156.073 105.686 156.073 106.123C156.073 106.56 155.987 106.993 155.82 107.397C155.653 107.8 155.408 108.167 155.099 108.476C154.79 108.785 154.423 109.03 154.019 109.198C153.615 109.365 153.182 109.451 152.745 109.451Z" fill="#F2F2F2"/>
                    <path d="M166.474 120.683H73.7151C72.833 120.682 71.9875 120.331 71.3641 119.707C70.7408 119.083 70.3906 118.237 70.3906 117.355C70.3906 116.473 70.7408 115.627 71.3641 115.003C71.9875 114.379 72.833 114.028 73.7151 114.027H166.474C167.356 114.028 168.202 114.379 168.825 115.003C169.448 115.627 169.799 116.473 169.799 117.355C169.799 118.237 169.448 119.083 168.825 119.707C168.202 120.331 167.356 120.682 166.474 120.683Z" fill="#F2F2F2"/>
                    <path d="M152.745 159.79H73.7149C72.8322 159.79 71.9857 159.439 71.3615 158.815C70.7374 158.191 70.3867 157.344 70.3867 156.461C70.3867 155.579 70.7374 154.732 71.3615 154.108C71.9857 153.484 72.8322 153.133 73.7149 153.133H152.745C153.183 153.133 153.616 153.219 154.02 153.386C154.424 153.553 154.792 153.798 155.101 154.107C155.41 154.416 155.656 154.783 155.823 155.187C155.991 155.591 156.077 156.024 156.077 156.461C156.077 156.899 155.991 157.332 155.823 157.736C155.656 158.14 155.41 158.507 155.101 158.816C154.792 159.125 154.424 159.37 154.02 159.537C153.616 159.704 153.183 159.79 152.745 159.79Z" fill="#F2F2F2"/>
                    <path d="M166.474 171.022H73.7151C72.833 171.021 71.9875 170.67 71.3641 170.046C70.7408 169.422 70.3906 168.576 70.3906 167.694C70.3906 166.812 70.7408 165.966 71.3641 165.342C71.9875 164.718 72.833 164.367 73.7151 164.366H166.474C167.356 164.367 168.202 164.718 168.825 165.342C169.448 165.966 169.799 166.812 169.799 167.694C169.799 168.576 169.448 169.422 168.825 170.046C168.202 170.67 167.356 171.021 166.474 171.022Z" fill="#F2F2F2"/>
                    <path d="M56.0132 75.4439H28.0451C27.622 75.4434 27.2163 75.2751 26.9171 74.976C26.618 74.6768 26.4497 74.2711 26.4492 73.848V48.9526C26.4497 48.5294 26.618 48.1238 26.9171 47.8246C27.2163 47.5254 27.622 47.3572 28.0451 47.3567H56.0132C56.4363 47.3572 56.8419 47.5254 57.1411 47.8246C57.4403 48.1238 57.6086 48.5294 57.609 48.9526V73.848C57.6086 74.2711 57.4403 74.6768 57.1411 74.976C56.8419 75.2751 56.4363 75.4434 56.0132 75.4439Z" fill="#E6E6E6"/>
                    <path d="M56.0132 125.783H28.0451C27.622 125.782 27.2163 125.614 26.9171 125.315C26.618 125.016 26.4497 124.61 26.4492 124.187V99.2914C26.4497 98.8683 26.618 98.4627 26.9171 98.1635C27.2163 97.8643 27.622 97.696 28.0451 97.6956H56.0132C56.4363 97.696 56.8419 97.8643 57.1411 98.1635C57.4403 98.4627 57.6086 98.8683 57.609 99.2914V124.187C57.6086 124.61 57.4403 125.016 57.1411 125.315C56.8419 125.614 56.4363 125.782 56.0132 125.783Z" fill="#E6E6E6"/>
                    <path d="M56.0132 176.121H28.0451C27.622 176.121 27.2163 175.953 26.9171 175.653C26.618 175.354 26.4497 174.949 26.4492 174.526V149.63C26.4497 149.207 26.618 148.801 26.9171 148.502C27.2163 148.203 27.622 148.035 28.0451 148.034H56.0132C56.4363 148.035 56.8419 148.203 57.1411 148.502C57.4403 148.801 57.6086 149.207 57.609 149.63V174.526C57.6086 174.949 57.4403 175.354 57.1411 175.653C56.8419 175.953 56.4363 176.121 56.0132 176.121Z" fill="#E6E6E6"/>
                    <g filter="url(#filter1_d_135_57)">
                    <path d="M313.941 173.554L315.181 162.711L321.398 108.347L322.637 97.5039C323.233 92.2388 321.717 86.9522 318.42 82.804C315.123 78.6559 310.315 75.9848 305.051 75.3769L163.993 59.2472C158.728 58.6511 153.442 60.1679 149.293 63.4647C145.145 66.7616 142.474 71.5693 141.866 76.833L141.863 76.861L133.173 152.855L133.17 152.883C132.574 158.148 134.091 163.435 137.388 167.583C140.684 171.731 145.492 174.402 150.756 175.01L291.814 191.14C297.079 191.736 302.366 190.219 306.514 186.922C310.662 183.625 313.333 178.818 313.941 173.554Z" fill="#E6E6E6"/>
                    </g>
                    <path d="M308.222 172.9L309.691 160.058L315.45 109.692L316.918 96.8502C317.343 93.1008 316.263 89.3361 313.915 86.3821C311.567 83.4281 308.143 81.526 304.395 81.0931L163.337 64.9633C159.587 64.5388 155.823 65.619 152.869 67.9667C149.915 70.3145 148.013 73.7382 147.58 77.4866L147.576 77.5146L138.887 153.509L138.883 153.537C138.459 157.286 139.539 161.051 141.887 164.005C144.235 166.959 147.658 168.861 151.407 169.294L292.465 185.423C296.214 185.848 299.979 184.768 302.933 182.42C305.887 180.072 307.789 176.649 308.222 172.9Z" fill="white"/>
                    <path d="M285.136 103.995L206.618 95.0168C206.183 94.9675 205.762 94.8331 205.38 94.6212C204.997 94.4094 204.66 94.1241 204.388 93.7819C204.115 93.4396 203.913 93.0471 203.793 92.6267C203.672 92.2062 203.636 91.7662 203.686 91.3317C203.735 90.8972 203.87 90.4767 204.082 90.0943C204.295 89.7119 204.58 89.3752 204.923 89.1032C205.265 88.8313 205.658 88.6295 206.079 88.5095C206.499 88.3894 206.939 88.3534 207.374 88.4035L285.892 97.382C286.769 97.4831 287.569 97.9279 288.117 98.6188C288.666 99.3096 288.918 100.19 288.818 101.066C288.717 101.943 288.273 102.743 287.583 103.293C286.893 103.842 286.013 104.095 285.136 103.995Z" fill="#E6E6E6"/>
                    <path d="M297.498 116.715L205.34 106.177C204.905 106.127 204.485 105.993 204.102 105.781C203.72 105.569 203.383 105.284 203.11 104.942C202.838 104.599 202.636 104.207 202.515 103.787C202.395 103.366 202.359 102.926 202.408 102.492C202.458 102.057 202.593 101.637 202.805 101.254C203.017 100.872 203.303 100.535 203.645 100.263C203.988 99.9913 204.381 99.7895 204.801 99.6694C205.222 99.5493 205.662 99.5133 206.096 99.5634L298.255 110.102C298.689 110.151 299.109 110.286 299.491 110.498C299.873 110.71 300.21 110.995 300.482 111.337C300.754 111.68 300.956 112.072 301.076 112.492C301.196 112.912 301.233 113.352 301.183 113.786C301.134 114.221 300.999 114.641 300.787 115.023C300.575 115.405 300.289 115.742 299.947 116.014C299.605 116.286 299.213 116.488 298.793 116.608C298.372 116.728 297.933 116.764 297.498 116.715Z" fill="#E6E6E6"/>
                    <path d="M294.93 138.973L159.06 123.436C158.184 123.335 157.383 122.89 156.835 122.2C156.286 121.509 156.035 120.628 156.135 119.752C156.235 118.876 156.679 118.075 157.369 117.526C158.06 116.977 158.94 116.724 159.816 116.823L295.686 132.36C296.121 132.409 296.541 132.543 296.924 132.755C297.307 132.967 297.644 133.252 297.916 133.595C298.188 133.937 298.39 134.329 298.511 134.75C298.631 135.17 298.668 135.61 298.618 136.045C298.568 136.479 298.434 136.9 298.221 137.282C298.009 137.664 297.723 138.001 297.381 138.273C297.038 138.545 296.646 138.747 296.225 138.867C295.805 138.987 295.365 139.023 294.93 138.973Z" fill="#E6E6E6"/>
                    <path d="M294.089 150.183L157.783 134.596C156.906 134.495 156.106 134.05 155.558 133.36C155.009 132.669 154.757 131.788 154.857 130.912C154.958 130.036 155.402 129.235 156.092 128.686C156.782 128.136 157.662 127.884 158.539 127.983L294.846 143.57C295.722 143.671 296.522 144.115 297.071 144.806C297.619 145.497 297.871 146.377 297.771 147.254C297.671 148.13 297.227 148.931 296.536 149.48C295.846 150.029 294.966 150.282 294.089 150.183Z" fill="#E6E6E6"/>
                    <path d="M292.429 160.841L156.559 145.304C156.124 145.255 155.704 145.12 155.321 144.909C154.939 144.697 154.601 144.411 154.329 144.069C154.057 143.727 153.855 143.334 153.734 142.914C153.614 142.494 153.577 142.054 153.627 141.619C153.677 141.185 153.812 140.764 154.024 140.382C154.236 139.999 154.522 139.663 154.864 139.391C155.207 139.119 155.599 138.917 156.02 138.797C156.441 138.677 156.881 138.641 157.315 138.691L293.185 154.227C294.062 154.328 294.862 154.773 295.41 155.464C295.959 156.155 296.211 157.035 296.11 157.912C296.01 158.788 295.566 159.589 294.876 160.138C294.186 160.687 293.306 160.94 292.429 160.841Z" fill="#E6E6E6"/>
                    <path d="M291.589 172.05L155.283 156.464C154.406 156.363 153.606 155.918 153.058 155.227C152.509 154.536 152.257 153.656 152.357 152.78C152.458 151.903 152.902 151.103 153.592 150.553C154.282 150.004 155.162 149.751 156.039 149.851L292.346 165.437C292.78 165.486 293.201 165.621 293.583 165.833C293.966 166.045 294.303 166.33 294.575 166.672C294.848 167.014 295.05 167.407 295.17 167.827C295.291 168.248 295.327 168.688 295.277 169.122C295.228 169.557 295.093 169.977 294.881 170.36C294.668 170.742 294.383 171.079 294.04 171.351C293.698 171.623 293.305 171.824 292.885 171.945C292.464 172.065 292.024 172.101 291.589 172.05Z" fill="#E6E6E6"/>
                    <path d="M187.174 109.232L159.387 106.054C158.967 106.006 158.583 105.792 158.32 105.461C158.056 105.13 157.935 104.708 157.983 104.287L160.811 79.5531C160.86 79.1327 161.073 78.7488 161.404 78.4856C161.735 78.2223 162.158 78.1012 162.578 78.1488L190.365 81.3262C190.785 81.3747 191.169 81.588 191.432 81.9193C191.696 82.2505 191.817 82.6726 191.769 83.093L188.941 107.827C188.892 108.248 188.679 108.632 188.348 108.895C188.017 109.158 187.594 109.279 187.174 109.232Z" fill="#752A7A"/>
                    <path d="M349.915 265.934H258.966C258.856 265.934 258.75 265.89 258.672 265.812C258.595 265.735 258.551 265.629 258.551 265.519C258.551 265.409 258.595 265.303 258.672 265.225C258.75 265.147 258.856 265.104 258.966 265.104H349.915C350.025 265.104 350.13 265.147 350.208 265.225C350.286 265.303 350.33 265.409 350.33 265.519C350.33 265.629 350.286 265.735 350.208 265.812C350.13 265.89 350.025 265.934 349.915 265.934Z" fill="#3F3D56"/>
                    <path d="M315.764 107.278C315.624 107.83 315.607 108.405 315.714 108.965C315.82 109.524 316.049 110.053 316.382 110.514C316.715 110.976 317.146 111.359 317.643 111.636C318.14 111.913 318.692 112.077 319.26 112.118L322.074 120.561L327.621 120.102L323.48 108.236C323.486 107.277 323.139 106.35 322.506 105.63C321.874 104.91 320.999 104.447 320.048 104.329C319.096 104.211 318.135 104.446 317.345 104.989C316.556 105.533 315.993 106.347 315.764 107.278Z" fill="#FFB8B8"/>
                    <path d="M320.011 162.563C320.661 163.16 321.457 163.575 322.319 163.766C323.181 163.957 324.078 163.918 324.919 163.651C325.761 163.385 326.517 162.901 327.112 162.249C327.707 161.597 328.12 160.8 328.308 159.937L332.701 139.807C333.453 136.365 333.276 132.784 332.189 129.433L327.047 113.579C326.973 113.352 326.851 113.143 326.689 112.967C326.527 112.791 326.329 112.652 326.108 112.559C325.887 112.467 325.649 112.423 325.41 112.431C325.171 112.439 324.937 112.499 324.723 112.606L321.367 114.286C321.019 114.46 320.744 114.751 320.588 115.107C320.433 115.463 320.407 115.862 320.515 116.236L320.854 117.399C323.667 127.076 323.815 137.333 321.281 147.086L318.548 157.605C318.319 158.487 318.334 159.414 318.592 160.287C318.849 161.16 319.34 161.947 320.011 162.563Z" fill="#752A7A"/>
                    <path d="M302.431 261.591L297.684 261.591L295.426 243.278L302.433 243.279L302.431 261.591Z" fill="#FFB8B8"/>
                    <path d="M294.292 260.234H303.449V265.999H288.527C288.527 265.242 288.676 264.493 288.966 263.793C289.256 263.094 289.681 262.458 290.216 261.923C290.751 261.388 291.387 260.963 292.086 260.673C292.786 260.383 293.535 260.234 294.292 260.234Z" fill="#2F2E41"/>
                    <path d="M328.021 261.591L323.274 261.591L321.016 243.278L328.023 243.279L328.021 261.591Z" fill="#FFB8B8"/>
                    <path d="M319.882 260.234H329.038V265.999H314.117C314.117 265.242 314.266 264.493 314.556 263.793C314.846 263.094 315.27 262.458 315.806 261.923C316.341 261.388 316.977 260.963 317.676 260.673C318.375 260.383 319.125 260.234 319.882 260.234Z" fill="#2F2E41"/>
                    <path d="M314.118 131.408C319.751 131.408 324.318 126.842 324.318 121.208C324.318 115.575 319.751 111.009 314.118 111.009C308.485 111.009 303.918 115.575 303.918 121.208C303.918 126.842 308.485 131.408 314.118 131.408Z" fill="#FFB8B8"/>
                    <path d="M279.241 187.729C279.312 187.164 279.507 186.622 279.81 186.14C280.114 185.658 280.519 185.249 280.998 184.941C281.477 184.633 282.017 184.434 282.581 184.357C283.145 184.281 283.719 184.329 284.263 184.498L289.963 177.665L294.961 180.116L286.775 189.653C286.43 190.547 285.769 191.284 284.917 191.723C284.066 192.163 283.082 192.275 282.153 192.037C281.225 191.8 280.415 191.231 279.879 190.436C279.342 189.642 279.115 188.679 279.241 187.729Z" fill="#FFB8B8"/>
                    <path d="M316.602 131.408C318.137 131.441 319.662 131.149 321.076 130.551C322.49 129.953 323.762 129.062 324.807 127.938C325.853 126.813 326.648 125.48 327.142 124.026C327.635 122.572 327.816 121.03 327.671 119.501C327.526 117.973 327.059 116.492 326.302 115.157C325.544 113.821 324.512 112.661 323.274 111.753C322.036 110.845 320.619 110.209 319.118 109.887C317.617 109.565 316.064 109.565 314.563 109.885C312.319 108.524 309.712 107.607 307.098 107.84C304.484 108.073 301.899 109.625 300.922 112.06C299.944 114.496 300.994 117.706 303.425 118.696C304.983 119.33 306.742 119.022 308.405 118.767C310.068 118.511 311.882 118.344 313.329 119.202C314.776 120.06 315.426 122.36 314.13 123.433C313.443 124.024 312.953 124.81 312.724 125.687C312.495 126.564 312.539 127.49 312.85 128.342C313.501 130.026 315.279 131.379 316.602 131.408Z" fill="#2F2E41"/>
                    <path d="M329.255 187.325L331.065 255.989C331.071 256.218 331.029 256.446 330.943 256.658C330.857 256.87 330.728 257.062 330.564 257.222C330.4 257.382 330.205 257.506 329.991 257.587C329.777 257.668 329.548 257.704 329.32 257.692L323.359 257.388C322.979 257.368 322.617 257.219 322.334 256.964C322.05 256.71 321.863 256.366 321.803 255.99L314.714 211.392C314.684 211.201 314.588 211.027 314.443 210.899C314.298 210.771 314.113 210.698 313.919 210.692C313.726 210.686 313.537 210.748 313.384 210.866C313.232 210.985 313.125 211.153 313.083 211.341L303.487 254.281C303.435 254.51 303.336 254.726 303.195 254.915C303.054 255.103 302.875 255.259 302.669 255.373C302.463 255.486 302.235 255.555 302.001 255.574C301.766 255.593 301.531 255.563 301.309 255.484L295.394 255.122C295.052 255.001 294.759 254.77 294.56 254.466C294.361 254.162 294.267 253.802 294.293 253.439L299.457 186.676L329.255 187.325Z" fill="#2F2E41"/>
                    <path d="M332.159 154.712C333.157 144.307 325.506 134.896 315.08 134.155C310.587 133.836 303.612 133.722 301.313 139.611C294.387 157.349 306.512 156.918 302.334 172.287C298.157 187.656 294.468 188.536 300.199 189.646C305.931 190.756 331.706 197.307 330.648 186.49C329.997 179.841 331.163 165.092 332.159 154.712Z" fill="#752A7A"/>
                    <path d="M303.371 137.806C304.195 137.488 305.087 137.392 305.959 137.528C306.832 137.665 307.652 138.029 308.339 138.584C309.025 139.14 309.553 139.866 309.869 140.69C310.185 141.514 310.278 142.407 310.138 143.279L306.883 163.625C306.326 167.104 304.855 170.372 302.62 173.096L292.047 185.98C291.895 186.165 291.705 186.315 291.49 186.42C291.275 186.524 291.04 186.581 290.801 186.587C290.561 186.592 290.324 186.546 290.104 186.451C289.885 186.357 289.688 186.216 289.528 186.038L287.017 183.249C286.757 182.96 286.606 182.589 286.591 182.201C286.576 181.812 286.698 181.431 286.935 181.123L287.675 180.163C293.826 172.181 297.706 162.685 298.906 152.68L300.2 141.889C300.309 140.985 300.661 140.127 301.22 139.408C301.778 138.689 302.522 138.135 303.371 137.806Z" fill="#752A7A"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_135_57" x="-4" y="0" width="204.254" height="231.478" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_135_57"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_135_57" result="shape"/>
                    </filter>
                    <filter id="filter1_d_135_57" x="129.043" y="59.1201" width="197.723" height="140.147" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_135_57"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_135_57" result="shape"/>
                    </filter>
                    <clipPath id="clip0_135_57">
                    <rect width="350.33" height="266" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>                                                              
                  <h2 class="inter text-xl font-semibold mt-4">Você ainda não possui nenhuma publicação</h2>
                  <p class="inter">Realize uma publicação para visualizar.</p>           
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script>
  let idPost;

  function alert_message(type, content) {
    if (type == 'error') {
      const divMessage = document.querySelector(".error");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/admin/Bulk/error.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    } else if (type == "success") {
      const divMessage = document.querySelector(".alert");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/admin/Bulk/checked.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    }
  }

  function openActive(id) {
    const active = document.querySelector("#popup_active")
    active.classList.remove("hidden")

    idPost = id
  }

  function closeActive(id) {
    const active = document.querySelector("#popup_active")
    active.classList.add("hidden")
  }

  function activeComment(id) {
    const content = document.querySelector("#content")
    const type_account = '<%= type_account %>'

    if (content.value.length == 0) {
      alert_message("error", "Insira o conteúdo")
      return
    }

    if (type_account == "Avançado") {
      fetch("comments-automatic/config", {
        method: "PUT",
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ id_post: idPost, content_comment: content.value, limit_comments: 10000000 })
      })
      .then(response => {
        if (response.ok) {
          alert_message("success", "BOT ativado com sucesso.")

          setTimeout(() => {
            location.reload()
          }, 1500);
        }
      })
      .catch(error => console.error(error));
    } else if (type_account == "Pro") {
      fetch("comments-automatic/config", {
        method: "PUT",
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ id_post: idPost, content_comment: content.value, limit_comments: 5000 })
      })
      .then(response => {
        if (response.ok) {
          alert_message("success", "BOT ativado com sucesso.")

          setTimeout(() => {
            location.reload()
          }, 1500);
        }
      })
    } else if (type_account == "Basico") {
      fetch("comments-automatic/config", {
        method: "PUT",
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ id_post: idPost, content_comment: content.value, limit_comments: 1000 })
      })
      .then(response => {
        if (response.ok) {
          alert_message("success", "BOT ativado com sucesso.")

          setTimeout(() => {
            location.reload()
          }, 1500);
        }
      })
    }
  }

  function disableComment(id_post) {
    fetch("comments-automatic/delete/" + id_post, {
      method: "DELETE",
      headers: { 'Content-Type': 'application/json' },
    })
    .then(response => response.ok)
      .then(data => {
        if (data) {
          location.reload()
        }
      })
      .catch(error => console.error(error));
  }
</script>
</html>