<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluBee | Bot de comentários</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/admin/style.css">
  <link rel="stylesheet" href="/css/platform/comments.css">
</head>

<body>
  <div class="layer"></div>
  <!-- ! Body -->
  <div class="page-flex">

    <!-- ! Sidebar -->
    <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

    <div class="main-wrapper">
      <!-- ! Main nav -->
      <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Comentários automáticos", notifications: notifications, photo: photo}) %>

      <div class="enable" style="display: none; align-items: initial;">
        <div style="margin-top: 130px;">
          <h1 class="enable-h1"></h1>
          <p class="enable-p"></p>
          <h3>Contéudo do comentário</h3>
          <textarea type="text" style="width: 100%;" name="content" id="content-input" placeholder="Que legal o seu comentário!"></textarea><br>

          <h3>Limite de comentários</h3>
          <% if (type_account == "Avançado") { %>
            <div style="width: 100%; padding: 8px; border: 2px solid #752a7a; margin-top: 9px; border-radius: 10px;">Comentários ilimitados</div>
          <% } else if (type_account == "Pro") { %>
            <div style="width: 100%; padding: 8px; border: 2px solid #752a7a; margin-top: 9px; border-radius: 10px;">5000 comentários</div>
          <% } else if (type_account == "Basico") { %>
            <div style="width: 100%; padding: 8px; border: 2px solid #752a7a; margin-top: 9px; border-radius: 10px;">1000 comentários</div>
          <% } %>
          <br>
          <button class="event" id="btn-active" style="padding: 12px;" onclick="activeComment()">Ativar</button>
          <button class="event" id="btn-close" style="padding: 12px;" onclick="setHide()">Fechar</button>
        </div>
      </div>
  
      <!-- ! Main -->
      <% if (posts.length > 0) { %>
      <main class="main users chart-page" id="skip-target">
        <div class="container">
          <div class="alert" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
          <div class="error" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

          <div>
            <h2 style="margin: 5px 0 14px 0;">Os comentários serão respondidos apenas em páginas.</h2>
          </div>

          <div class="row">
            <div class="col-lg">
              <div class="users-table table-wrapper">
                <table class="posts-table">
                  <thead>
                    <tr class="users-table-info">
                      <th style="font-weight: bold">
                        <label class="users-table__checkbox">
                          Thumbnail
                        </label>
                      </th>
                      <th>Descrição</th>
                      <th>Conta</th>
                      <th>Páginas e Grupos</th>
                      <th>Plataforma</th>
                      <th>Status</th>
                      <th>Ações</th>
                      <th>Conteúdo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% posts.forEach(function(item) { %>
                      <% if (item.program_post == false) { %>
                        <tr>
                          <td>
                            <div class="categories-table-img">
                              <% if (item.image == "program_image") { %>
                                <picture><source srcset="/img/admin/program.png"><img style="width: 57px !important" src="/img/admin/program.png" alt="img"></picture>
                              <% } else if (item.image == "link") { %>
                                <picture><source srcset="/img/admin/link.png"><img src="/img/admin/link.png" alt="img"></picture>
                              <% } else { %>
                                <picture><source srcset="<%= item.image %>"><img src="<%= item.image %>" alt="img"></picture>
                              <% } %>                        </div>
                          </td>
                          <td>
                            <p style="width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= item.content %></p>
                          </td>
                          <td>
                            <div class="pages-table-img">
                              <picture><source srcset="<%= item.image_account %>" type="image/webp"><img src="<%= item.image_account %>" alt="User Name"><%= item.name_account %></picture>
                          
                            </div>
                          </td>
                          <td><%= item.groups_ids.length + item.pages_ids.length %> (Total)</td>
                          <td style="color: #1877F2"><%= item.platform %></td>
                          <% if (item.status_bot == true) { %>
                          <td><span class="badge badge-pill badge-success">Ativado</span></td>
                          <td>
                            <button class="event" onclick="disableComment('<%= item.id_post %>', '<%= item.id_account %>')">Desativar comentário</button>
                          </td>
                          <td><p style="font-weight: bold; width: 105px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= item.comment_content %></p></td>
                          <% } else { %>
                          <td><span class="badge-active">Desativado</span></td>
                          <td>
                            <button class="event" id="btn-open" onclick="openDiv('<%= item.id_post %>', '<%= item.platform %>')">Ativar comentários</button>
                          </td>
                          <td>Não ativado</td>
                          <% } %>
                        </tr>
                      <% } %>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </main>
      <% } else { %>
      <div class="alert" style="display: none;"></div>
      <div class="empty">
        <img src="/img/admin/post.png" height="60" alt=""><br>
        <h2 style="color: #752a7a">Nenhuma publicação adicionada.</h2>
        <button style="padding: 13px 50px !important; margin-top: 30px;" class="event" id="btn-open"><a href="/platform/post_facebook">Criar publicação</a></button>
      </div>
      <% } %>
      

      <!-- ! Footer -->
      <%- include('../partials/footer-platform') %>
      
    </div>
  </div>


<!-- Chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Icons library -->
<script src="js/admin/feather.min.js"></script>
</body>

<script>
  var _0x8f48=["\x23\x62\x74\x6E\x2D\x61\x63\x74\x69\x76\x65","\x71\x75\x65\x72\x79\x53\x65\x6C\x65\x63\x74\x6F\x72","\x23\x62\x74\x6E\x2D\x6F\x70\x65\x6E","\x23\x62\x74\x6E\x2D\x63\x6C\x6F\x73\x65","\x2E\x65\x6E\x61\x62\x6C\x65","\x2E\x65\x6E\x61\x62\x6C\x65\x2D\x68\x31","\x2E\x65\x6E\x61\x62\x6C\x65\x2D\x70","\x23\x63\x6F\x6E\x74\x65\x6E\x74\x2D\x69\x6E\x70\x75\x74","","\x64\x69\x73\x70\x6C\x61\x79","\x73\x74\x79\x6C\x65","\x6E\x6F\x6E\x65","\x66\x6C\x65\x78","\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x41\x74\x69\x76\x61\x72\x20\x63\x6F\x6D\x65\x6E\x74\xE1\x72\x69\x6F\x73\x20\x61\x75\x74\x6F\x6D\xE1\x74\x69\x63\x6F\x73","\x73\x63\x72\x6F\x6C\x6C\x54\x6F","\x41\x76\x61\x6E\xE7\x61\x64\x6F","\x65\x72\x72\x6F\x72","\x63\x61\x74\x63\x68","\x6F\x6B","\x2E\x61\x6C\x65\x72\x74","\x70","\x63\x72\x65\x61\x74\x65\x45\x6C\x65\x6D\x65\x6E\x74","\x69\x6D\x67","\x73\x72\x63","\x2F\x69\x6D\x67\x2F\x70\x6C\x61\x74\x66\x6F\x72\x6D\x2F\x63\x68\x65\x63\x6B\x65\x64\x2E\x70\x6E\x67","\x77\x69\x64\x74\x68","\x32\x38","\x68\x65\x69\x67\x68\x74","\x6D\x65\x73\x73\x61\x67\x65\x2D\x6E\x6F\x74\x69\x66\x79","\x61\x64\x64","\x63\x6C\x61\x73\x73\x4C\x69\x73\x74","\x69\x6E\x6E\x65\x72\x54\x65\x78\x74","\x42\x6F\x74\x20\x61\x74\x69\x76\x61\x64\x6F\x20\x63\x6F\x6D\x20\x73\x75\x63\x65\x73\x73\x6F\x2E","\x61\x70\x70\x65\x6E\x64\x43\x68\x69\x6C\x64","\x72\x65\x6C\x6F\x61\x64","\x74\x68\x65\x6E","\x63\x6F\x6D\x6D\x65\x6E\x74\x73\x2D\x61\x75\x74\x6F\x6D\x61\x74\x69\x63\x2F\x63\x6F\x6E\x66\x69\x67","\x50\x55\x54","\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2F\x6A\x73\x6F\x6E","\x76\x61\x6C\x75\x65","\x73\x74\x72\x69\x6E\x67\x69\x66\x79","\x50\x72\x6F","\x42\x61\x73\x69\x63\x6F","\x63\x6F\x6D\x6D\x65\x6E\x74\x73\x2D\x61\x75\x74\x6F\x6D\x61\x74\x69\x63\x2F\x64\x65\x6C\x65\x74\x65\x2F","\x44\x45\x4C\x45\x54\x45"];const btnActive=document[_0x8f48[1]](_0x8f48[0]);const btnOpen=document[_0x8f48[1]](_0x8f48[2]);const btnClose=document[_0x8f48[1]](_0x8f48[3]);const enable=document[_0x8f48[1]](_0x8f48[4]);const enableH1=document[_0x8f48[1]](_0x8f48[5]);const enableP=document[_0x8f48[1]](_0x8f48[6]);const content=document[_0x8f48[1]](_0x8f48[7]);let idPost=_0x8f48[8];let platformPost=_0x8f48[8];enable[_0x8f48[10]][_0x8f48[9]]= _0x8f48[11];function openDiv(_0x21abxb,_0x21abxc){enable[_0x8f48[10]][_0x8f48[9]]= _0x8f48[12];enableH1[_0x8f48[13]]= _0x8f48[14];idPost= _0x21abxb;platformPost= _0x21abxc;window[_0x8f48[15]](0,0)}function activeComment(){const _0x21abxe='<%= type_account %>';if(_0x21abxe== _0x8f48[16]){fetch(_0x8f48[37],{method:_0x8f48[38],headers:{'\x43\x6F\x6E\x74\x65\x6E\x74\x2D\x54\x79\x70\x65':_0x8f48[39]},body:JSON[_0x8f48[41]]({id_post:idPost,platform:platformPost,content_comment:content[_0x8f48[40]],limit_comments:10000000})})[_0x8f48[36]]((_0x21abx10)=>{if(_0x21abx10[_0x8f48[19]]){const _0x21abx11=document[_0x8f48[1]](_0x8f48[20]);_0x21abx11[_0x8f48[10]][_0x8f48[9]]= _0x8f48[12];_0x21abx11[_0x8f48[13]]= _0x8f48[8];const _0x21abx12=document[_0x8f48[22]](_0x8f48[21]);const _0x21abx13=document[_0x8f48[22]](_0x8f48[23]);_0x21abx13[_0x8f48[24]]= _0x8f48[25];_0x21abx13[_0x8f48[26]]= _0x8f48[27];_0x21abx13[_0x8f48[28]]= _0x8f48[27];_0x21abx12[_0x8f48[31]][_0x8f48[30]](_0x8f48[29]);_0x21abx12[_0x8f48[32]]= _0x8f48[33];_0x21abx11[_0x8f48[34]](_0x21abx13);_0x21abx11[_0x8f48[34]](_0x21abx12);setTimeout(()=>{enable[_0x8f48[10]][_0x8f48[9]]= _0x8f48[11];_0x21abx11[_0x8f48[10]][_0x8f48[9]]= _0x8f48[11];location[_0x8f48[35]]()},1500)}})[_0x8f48[18]]((_0x21abxf)=>{return console[_0x8f48[17]](_0x21abxf)})}else {if(_0x21abxe== _0x8f48[42]){fetch(_0x8f48[37],{method:_0x8f48[38],headers:{'\x43\x6F\x6E\x74\x65\x6E\x74\x2D\x54\x79\x70\x65':_0x8f48[39]},body:JSON[_0x8f48[41]]({id_post:idPost,platform:platformPost,content_comment:content[_0x8f48[40]],limit_comments:5000})})[_0x8f48[36]]((_0x21abx10)=>{if(_0x21abx10[_0x8f48[19]]){const _0x21abx11=document[_0x8f48[1]](_0x8f48[20]);_0x21abx11[_0x8f48[10]][_0x8f48[9]]= _0x8f48[12];_0x21abx11[_0x8f48[13]]= _0x8f48[8];const _0x21abx12=document[_0x8f48[22]](_0x8f48[21]);const _0x21abx13=document[_0x8f48[22]](_0x8f48[23]);_0x21abx13[_0x8f48[24]]= _0x8f48[25];_0x21abx13[_0x8f48[26]]= _0x8f48[27];_0x21abx13[_0x8f48[28]]= _0x8f48[27];_0x21abx12[_0x8f48[31]][_0x8f48[30]](_0x8f48[29]);_0x21abx12[_0x8f48[32]]= _0x8f48[33];_0x21abx11[_0x8f48[34]](_0x21abx13);_0x21abx11[_0x8f48[34]](_0x21abx12);setTimeout(()=>{enable[_0x8f48[10]][_0x8f48[9]]= _0x8f48[11];_0x21abx11[_0x8f48[10]][_0x8f48[9]]= _0x8f48[11];location[_0x8f48[35]]()},1500)}})}else {if(_0x21abxe== _0x8f48[43]){fetch(_0x8f48[37],{method:_0x8f48[38],headers:{'\x43\x6F\x6E\x74\x65\x6E\x74\x2D\x54\x79\x70\x65':_0x8f48[39]},body:JSON[_0x8f48[41]]({id_post:idPost,platform:platformPost,content_comment:content[_0x8f48[40]],limit_comments:1000})})[_0x8f48[36]]((_0x21abx10)=>{if(_0x21abx10[_0x8f48[19]]){const _0x21abx11=document[_0x8f48[1]](_0x8f48[20]);_0x21abx11[_0x8f48[10]][_0x8f48[9]]= _0x8f48[12];_0x21abx11[_0x8f48[13]]= _0x8f48[8];const _0x21abx12=document[_0x8f48[22]](_0x8f48[21]);const _0x21abx13=document[_0x8f48[22]](_0x8f48[23]);_0x21abx13[_0x8f48[24]]= _0x8f48[25];_0x21abx13[_0x8f48[26]]= _0x8f48[27];_0x21abx13[_0x8f48[28]]= _0x8f48[27];_0x21abx12[_0x8f48[31]][_0x8f48[30]](_0x8f48[29]);_0x21abx12[_0x8f48[32]]= _0x8f48[33];_0x21abx11[_0x8f48[34]](_0x21abx13);_0x21abx11[_0x8f48[34]](_0x21abx12);setTimeout(()=>{enable[_0x8f48[10]][_0x8f48[9]]= _0x8f48[11];_0x21abx11[_0x8f48[10]][_0x8f48[9]]= _0x8f48[11];location[_0x8f48[35]]()},1500)}})}}}}function disableComment(_0x21abxb){fetch(_0x8f48[44]+ _0x21abxb,{method:_0x8f48[45],headers:{'\x43\x6F\x6E\x74\x65\x6E\x74\x2D\x54\x79\x70\x65':_0x8f48[39]}})[_0x8f48[36]]((_0x21abx10)=>{return _0x21abx10[_0x8f48[19]]})[_0x8f48[36]]((_0x21abx15)=>{if(_0x21abx15){location[_0x8f48[35]]()}})[_0x8f48[18]]((_0x21abxf)=>{return console[_0x8f48[17]](_0x21abxf)})}function setHide(){enable[_0x8f48[10]][_0x8f48[9]]= _0x8f48[11];count= 0}
</script>
</html>