<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluBee | Grupos importados</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
</head>

<body>
  <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Grupos importados", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-8 px-8 fade-in">
      <div style="z-index: 1;" class="hidden relative z-10 fade-in" id="popup_await" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20 mt-40">
          <div class="mx-auto accounts transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">      
            <% if (accounts.length > 0) { %>
              <div class="flex flex-col divide-y divide-gray-100">
                <div class="min-w-0 flex-auto scroll-py-4 overflow-y-auto px-6 py-4">
                  <div class="flex flex-col divide-y divide-gray-100 px-6">
                    <div>
                      <div class="flex flex-col items-center justify-center mt-6 py-4">
                        <div class="c-loader"></div>                                        
                        <h2 for="content" class="block text-lg font-semibold leading-6 text-gray-900 inter mt-6">Importando grupos</h2>
                        <p class="inter text-center text-md font-medium">Por favor, não feche a janela ou troque de página.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } else { %>
              <div class="px-6 py-14 text-center text-sm sm:px-14">
                <svg class="mx-auto h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                </svg>
                <p class="mt-4 font-semibold inter color-purple">Nenhuma conta encontrada</p>
                <p class="mt-2 text-gray-500">Para importar grupos, você precisará importar uma conta primeiro.</p>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <div style="z-index: 1;" class="hidden relative z-10 fade-in" id="popup_import" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20 mt-40">
          <div class="mx-auto accounts transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="flex justify-between py-3 px-6">
              <h2 class="color-purple inter font-semibold text-lg">Importar grupos</h2>
              <button onclick="closeImport()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.3075 11.7231L20.3075 5.67693C20.5844 5.4 20.5844 4.98462 20.3075 4.7077L19.3844 3.73847C19.1075 3.46154 18.6921 3.46154 18.4151 3.73847L12.369 9.78462C12.1844 9.96923 11.9075 9.96923 11.7228 9.78462L5.67668 3.69231C5.39976 3.41539 4.98438 3.41539 4.70745 3.69231L3.73822 4.66154C3.4613 4.93847 3.4613 5.35385 3.73822 5.63077L9.78438 11.6769C9.96899 11.8615 9.96899 12.1385 9.78438 12.3231L3.69207 18.4154C3.41514 18.6923 3.41514 19.1077 3.69207 19.3846L4.6613 20.3538C4.93822 20.6308 5.35361 20.6308 5.63053 20.3538L11.6767 14.3077C11.8613 14.1231 12.1382 14.1231 12.3228 14.3077L18.369 20.3538C18.6459 20.6308 19.0613 20.6308 19.3382 20.3538L20.3075 19.3846C20.5844 19.1077 20.5844 18.6923 20.3075 18.4154L14.3075 12.3692C14.1228 12.1846 14.1228 11.9077 14.3075 11.7231Z" fill="#752A7A"/>
                </svg>                  
              </button>
            </div>
      
            <% if (accounts.length > 0) { %>
              <div class="flex flex-col divide-y divide-gray-100">
                <div class="min-w-0 flex-auto scroll-py-4 overflow-y-auto px-6 py-4">
                  <div class="flex mb-2">
                    <h2 class="text-lg font-semibold">Selecione uma conta:</h2>      
                  </div>
                  
                  <ul class="-mx-2 text-sm text-gray-700 overflow-y-auto h-48" id="options" role="listbox">
                    <% accounts.forEach(function(item) { %>
                      <li class="group flex flex-col cursor-default select-none rounded-md p-2 mb-4" id="option-1" role="option" tabindex="-1">
                        <div class="flex justify-between items-center">
                          <div class="flex items-center">
                            <img src="<%= item.photo %>" alt="" class="h-9 flex-none rounded-full border-purple">
                            <span style="font-size: 15px;" class="ml-3 flex-auto truncate inter font-semibold color-purple"><%= item.name %></span>
                          </div>
                          
                          <div>
                            <button onclick="importFunction('<%= item.id_account %>')" class="event-all px-1.5 py-0.5 rounded-full inter font-semibold text-sm">Importar</button>
                          </div>
                        </div>
                      </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
            <% } else { %>
              <div class="px-6 py-14 text-center text-sm sm:px-14">
                <svg class="mx-auto h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                </svg>
                <p class="mt-4 font-semibold inter color-purple">Nenhuma conta encontrada</p>
                <p class="mt-2 text-gray-500">Para fazer uma publicação, você precisará importar uma conta primeiro.</p>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <% if (groups.length > 0) { %>
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-lg font-semibold leading-6 text-gray-900 inter">Todas as grupos:</h1>
          </div>
          <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <button onclick="openImport()" class="inter text-sm font-semibold bg-purple text-white py-2 px-3 rounded-lg">Importar grupos</button>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 mt-4">
          <% groups.forEach(function(group) { %>
            <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
              <div class="flex-shrink-0">
                <% if (group.image.length > 0) { %>
                  <img class="w-13 h-13 rounded-full" src="<%= group.image %>" alt="">
                <% } else { %>
                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_111_100)">
                    <path d="M14.9212 4.71216C12.3376 4.71216 10.2432 7.15741 10.2432 10.1738C10.2432 12.2657 11.2506 14.0826 12.7299 15L11.0145 15.795L6.44948 17.9122C6.00848 18.1327 5.78838 18.5066 5.78838 19.0359C5.78838 20.7117 5.78838 22.3875 5.78838 24.0634C5.82465 24.692 6.2018 25.2778 6.81328 25.2878H23.0538C23.7519 25.2271 24.105 24.6648 24.1119 24.0634C24.1119 22.3876 24.1119 20.7117 24.1119 19.0359C24.1119 18.5066 23.8918 18.1327 23.4508 17.9122L19.0511 15.795L17.2227 14.9287C18.6413 13.9907 19.5992 12.2131 19.5992 10.1738C19.5992 7.15741 17.5047 4.71216 14.9212 4.71216ZM7.37558 6.63276C6.26375 6.67498 5.3826 7.15608 4.71315 7.92266C3.97265 8.84561 3.61165 9.94141 3.60467 11.0315C3.65015 12.6435 4.3714 14.1695 5.6554 14.9677L0.529075 17.3499C0.17625 17.4822 0 17.7909 0 18.276V22.3109C0.02755 22.8461 0.3054 23.2958 0.826375 23.3035H4.23348V19.0359C4.28985 17.8949 4.82565 16.9726 5.78838 16.5226L9.19455 14.9022C9.45915 14.7478 9.71283 14.538 9.95538 14.2734C8.55098 12.1065 8.35595 9.51108 9.26105 7.22833C8.67237 6.86806 8.0108 6.63653 7.37558 6.63276ZM22.5902 6.63276C21.8632 6.64798 21.1912 6.91573 20.6393 7.29386C21.5197 9.59728 21.2768 12.1943 19.9772 14.2069C20.2639 14.5376 20.5623 14.7913 20.871 14.9677L24.1452 16.5226C25.1426 17.0696 25.6569 18 25.6668 19.0359V23.3036H29.1727C29.7492 23.2538 29.995 22.7939 30 22.311V18.276C30 17.835 29.8238 17.5263 29.4709 17.3499L24.4102 14.9344C25.7226 13.9667 26.3816 12.5164 26.3944 11.0315C26.3595 9.85621 26.0004 8.76491 25.2859 7.92266C24.5392 7.11268 23.6132 6.64133 22.5902 6.63276Z" fill="#752A7A"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_111_100">
                    <rect width="30" height="30" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>                                                            
                <% } %>
              </div>
              <div class="min-w-0 flex-1">
                <div>
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <div class="flex items-center">
                    <p class="text-md font-semibold text-gray-900 inter"><%= group.name %></p>
                    <% if (group.appInstalled) { %>  
                      <span class="badge-success badge inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200 ml-2">
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3 6C4.65685 6 6 4.65685 6 3C6 1.34315 4.65685 0 3 0C1.34315 0 0 1.34315 0 3C0 4.65685 1.34315 6 3 6Z" fill="#1cb422"/>
                        </svg>           
                        <p class="inter">App instalado</p>
                      </span>
                    <% } else { %>
                      <span class="badge-error badge inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200 ml-2">
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3 6C4.65685 6 6 4.65685 6 3C6 1.34315 4.65685 0 3 0C1.34315 0 0 1.34315 0 3C0 4.65685 1.34315 6 3 6Z" fill="#d61b1b"/>
                        </svg>           
                        <p class="inter">App não identificado</p>
                      </span>
                    <% } %>
                  </div>
                  <p class="truncate text-sm text-gray-500 inter">Descrição: <%= group.description %></p>
                  <p style="color: #1877F2;" class="truncate text-sm text-gray-500 inter font-medium"><%= group.account_name %></p>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <div style="z-index: 0;" class="fixed inset-0 overflow-y-auto p-4 sm:p-6 md:p-20 mt-40">
          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl inter color-purple font-semibold">Nenhuma página importada ainda.</h1>
            <p class="text-lg inter text-gray-600 font-medium">Clique no botão abaixo e importa suas grupos</p>
            <button onclick="openImport()" class="bg-purple py-2 px-4 inter text-white rounded-lg mt-4">Importar grupos</button>
          </div>
        </div>
      <% } %>
    </main>
  </div>
</body>

<script>
  function alert_message(type, content) {
    if (type == 'error') {
      const divMessage = document.querySelector(".error");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/admin/Bulk/error.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    } else if (type == "success") {
      const divMessage = document.querySelector(".alert");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/admin/Bulk/checked.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    }
  }

  function openImport() {
    const popup = document.querySelector("#popup_import")

    popup.classList.remove("hidden")
  }

  function closeImport() {
    const popup = document.querySelector("#popup_import")

    popup.classList.add("hidden")
  }

  function importFunction(id) {
    closeImport()

    const popup = document.querySelector("#popup_await")
    popup.classList.remove("hidden")

    fetch("/platform/import-groups/" + id, {
      method: "POST"
    })
    .then((response) => {
      if (response.ok) {
        location.reload()
      }
    })
    .catch((error) => {
      alert_message("error", "Tente novamente mais tarde.")
    })
  }
</script>

</html>