<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="pluBee.net">
    <meta name="generator" content="pluBee.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>pluBee</title>

    <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/site/site.css">
    <!-- <link rel="stylesheet" href="/css/site/home.css">
    <link rel="stylesheet" href="/css/site/a-plataforma.css">
    <link rel="stylesheet" href="/css/site/videos-plataforma.css">
    <link rel="stylesheet" href="/css/site/sobre.css">
    <link rel="stylesheet" href="/css/site/depoimentos.css">
    <link rel="stylesheet" href="/css/site/planos.css">
    <link rel="stylesheet" href="/css/site/footer.css"> -->
  </head>

<body style="margin: 0%;">
  <%- include('../partials/nav-site') %>

  <section class="home" id="home">
    <div class="home-infos">
      <h1>Aumente os seus <br> leads com a PLUBEE!</h1>
      <h3>Gerencie <span>TODAS</span> as suas publicações em um <br>único lugar.</h3>
      <br>
      <p><i class="bi bi-check2-square"></i>Publique em <span>quantos</span> grupos quiser!</p>
      <p><i class="bi bi-check2-square"></i>Ative <span>bots</span> para responder automaticamente <br>os comentários!</p>
      <p><i class="bi bi-check2-square"></i>Programe <span>posts</span> para ser publicados!</p>
    </div>
      
    <div class="home-dash">
      <img src="/img/site/plubee.png">
    </div>
  </section>

  <div class="a-plataforma-title" id="a-plataforma">
    <div>
      <h1>PUBLIQUE QUANTOS POSTS QUISER!</h1>
      <h2>no <span class="span-insta">Instagram</span> e <span class="span-facebook">Facebook.</span></h2>
    </div>
    <div class="a-plataforma-section">
      <div>
        <img class="a-plataforma-img" src="/img/site/plubee.png" alt="dash">
      </div>

      <div class="a-plataforma-infos-one">
        <div class="a-plataforma-infos-two">
          <div>
            <img class="a-plataforma-icon" src="/img/site/robo.png" alt="">
            <h3>Ative bots de comentários</h2>
            <p>Deixe os bots responderem <br>automaticamente as suas publicações.</p>
          </div>
          
          <div>
            <img class="a-plataforma-icon" src="/img/site/despertador.png" alt="">
            <h3>Programe as publicações</h2>
            <p>Programe todas as suas publicações <br>na plataforma.</p>
          </div>
        </div>

        <div class="a-plataforma-infos-two">
          <div>
            <img class="a-plataforma-icon" src="/img/site/grupo.png" alt="">
            <h3>Publique em todos os grupos</h2>
            <p>A plataforma importará todos os seus <br>grupos do Facebook.</p>
          </div>
          
          <div>
            <img class="a-plataforma-icon" src="/img/site/modelo.png" alt="">
            <h3>Acompanhe todo o processo</h2>
            <p>Visualize em tempo real todos os <br>processos na plataforma.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
  
  <!-- <section class="videos-plataforma">
    <h1>CONFIRA ALGUNS VÍDEOS DA PLATAFORMA!</h1>
    <div class="grid">
      <div class="video-small" style="margin-left: 4rem;">
        <img src="/img/site/dash.png" alt="dash">
      </div>
      
      <div class="video-big">
        <img src="/img/site/dash.png" alt="dash">
      </div>

      <div class="video-small" style="margin-right: 4rem;">
        <img src="/img/site/dash.png" alt="dash">
      </div>
    </div>
  </section> -->

  <section class="sobre" id="sobre">
    <div> 
      <img src="/img/site/plubee-fundo-branco-quadrado.png" alt="">
    </div>

    <div>
      <h1>Sobre a plubee:</h1>
      <span>-----------------------------</span>
      <p>Seja bem vindo a pluBee! somos uma empresa focada na produtividade para pessoas que querem ter até 10x mais resultado nas redes sociais sem ter que passar horas e horas trabalhando nisso.</p>
      <p>Acreditamos que o tempo é o ativo mais importante de todos, por isso usamos alta tecnologia pra te ajudar a usar melhor o seu tempo e te fazer ganhar ainda mais tempo.</p>
      <p>Com a gente você pode programar seus posts nas redes sociais e responder os comentários desses posts publicados, de forma totalmente automática e com isso ter até 10x mais resultado com.</p>
      <p>Alcance de publicações, engajamento orgânico, Captação de leads, Vendas e tudo mais através das redes sociais.</p>
    </div>
  </section>

  <section class="depoimentos" id="depoimentos">
    <div class="title">
      <h1>Depoimentos dos clientes</h1>
    </div>
    <div class="flex">
      <div class="depoimento-div">
        <div class="content">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          <p>“a plubee me ajudou demais a gerenciar meu tempo com as publicações. obrigado por essa plataforma!”</p>
          <div class="author">
            <img src="/img/site/publi-logo-completa.png" alt="">
            <h2>Vagner Lemos <br> <span>@dev.vagner</span></h2>
          </div>
        </div>
      </div>

      <div class="depoimento-div">
        <div class="content">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          <p>“O tempo que eu economizo com a pluBee, não tem explicação. Simplesmente demais essa platforma. Recomendo!”</p>
          <div class="author">
            <img src="/img/site/publi-logo-completa.png" alt="">
            <h2>Vanessa Santos <br> <span>@santos.vanessa</span></h2>
          </div>
        </div>
      </div>

      <div class="depoimento-div">
        <div class="content">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          <p>“Desde que eu comecei a utilizar, tudo ficou mais fácil. Sem contar o bot de comentários que é excelente.”</p>
          <div class="author">
            <img src="/img/site/publi-logo-completa.png" alt="">
            <h2>Rafael Soares <br> <span>@rafa.soares</span></h2>
          </div>
        </div>
      </div>

      <div class="depoimento-div">
        <div class="content">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          <p>“a pluBee é uma ferramenta incrível, com um potencial enorme! Você gerencia tudo em um só lugar com a plataforma.”</p>
          <div class="author">
            <img src="/img/site/publi-logo-completa.png" alt="">
            <h2>Tiago Sanches <br> <span>@tiago.sh</span></h2>
          </div>
        </div>
      </div>
  </section>

  <section class="planos" id="planos">
    <div class="title-planos">
      <h1>Escolha o plano perfeito para você!</h1>
    </div>

    <div class="flex-planos">
      <% plans.forEach(function(item) { %>
        <% if (item.title == "PRO" || item.title == "Pro" || item.title == "pro") { %>
          <div class="div-big"">
            
            <h2 style="color: #FFFFFF;">Plano <span style="color: #FFFFFF;"><%= item.title %></span></h2>
            <h1 style="color: #FFFFFF;">R$<%= item.value_month %></h1>
            <div>
              <% item.description.forEach(function(item_details) { %>
                <p style="color: #FFFFFF;"><i class="bi bi-check-lg"></i><%= item_details %></p>
              <% }) %>
            </div>
            <a style="border: 3px solid #FFFFFF;" href="/checkout/<%= item._id %>">Adquirir</a>
            <h3>Mais utilizado pelos clientes.</h3>
          </div>
        <% } else { %>
          <div class="div-small">
            
            <h2>Plano <span><%= item.title %></span></h2>
            <h1>R$<%= item.value_month %></h1>
            <div>
              <% item.description.forEach(function(item_details) { %>
                <p><i class="bi bi-check-lg"></i><%= item_details %></p>
              <% }) %>
            </div>
            <a href="/checkout/<%= item._id %>">Adquirir</a>
          </div>
        <% } %>
      <% }) %>

      <!-- <div class="div-big">
        <h2 style="color: #FFFFFF;">Plano <span style="color: #FFFFFF;">PRO</span></h2>
        <h1 style="color: #FFFFFF;">R$100,00</h1>
        <div>
          <p style="color: #FFFFFF;"><i class="bi bi-check-lg"></i>Publique no Instagram e Facebook</p>
          <p style="color: #FFFFFF;"><i class="bi bi-check-lg"></i>Suporte 24 horas</p>
          <p style="color: #FFFFFF;"><i class="bi bi-check-lg"></i>50 publicações por mês</p>
          <p style="color: #FFFFFF;"><i class="bi bi-check-lg"></i>Alterne entre contas</p>
          <p style="color: #FFFFFF;"><i class="bi bi-check-lg"></i>Publique em mais de 20 grupos</p>
          <p style="color: #FFFFFF;"><i class="bi bi-check-lg"></i>Programe todas as publicações</p>
        </div>
        <button style="border: 3px solid #FFFFFF;">Adquirir</button>
        <h3>Mais utilizado pelos clientes.</h3>
      </div>

      <div class="div-small" style="margin-left: 4rem">
        <h2>Plano <span>AVANÇADO</span></h2>
        <h1>R$249,00</h1>
        <div>
          <p><i class="bi bi-check-lg"></i>Publique no Instagram e Facebook</p>
          <p><i class="bi bi-check-lg"></i>Suporte em até 12 horas</p>
          <p><i class="bi bi-check-lg"></i>Publicações ILIMITADAS</p>
          <p><i class="bi bi-check-lg"></i>Alterne entre em contas</p>
          <p><i class="bi bi-check-lg"></i>Publique em mais de 50 grupos</p>
          <p><i class="bi bi-check-lg"></i>Programe todas as publicações</p>
        </div>
        <button>Adquirir</button>
      </div>
    </div> -->
  </section>

  <%- include('../partials/footer-site') %>
</body>
</html>
