<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluBee | Páginas importadas</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
</head>

<body>
  <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Páginas importadas", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-8 px-8 fade-in">
      <div style="z-index: 1;" class="hidden relative z-10 fade-in" id="popup_await" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20 mt-40">
          <div class="mx-auto accounts transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">      
            <% if (accounts.length > 0) { %>
              <div class="flex flex-col divide-y divide-gray-100">
                <div class="min-w-0 flex-auto scroll-py-4 overflow-y-auto px-6 py-4">
                  <div class="flex flex-col divide-y divide-gray-100 px-6">
                    <div>
                      <div class="flex flex-col items-center justify-center mt-6 py-4">
                        <div class="c-loader"></div>                                        
                        <h2 for="content" class="block text-lg font-semibold leading-6 text-gray-900 inter mt-6">Importando páginas</h2>
                        <p class="inter text-center text-md font-medium">Por favor, não feche a janela ou troque de página.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } else { %>
              <div class="px-6 py-14 text-center text-sm sm:px-14">
                <svg class="mx-auto h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                </svg>
                <p class="mt-4 font-semibold inter color-purple">Nenhuma conta encontrada</p>
                <p class="mt-2 text-gray-500">Para importar páginas, você precisará importar uma conta primeiro.</p>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <div style="z-index: 1;" class="hidden relative z-10 fade-in" id="popup_import" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20 mt-40">
          <div class="mx-auto accounts transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="flex justify-between py-3 px-6">
              <h2 class="color-purple inter font-semibold text-lg">Importar páginas</h2>
              <button onclick="closeImport()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.3075 11.7231L20.3075 5.67693C20.5844 5.4 20.5844 4.98462 20.3075 4.7077L19.3844 3.73847C19.1075 3.46154 18.6921 3.46154 18.4151 3.73847L12.369 9.78462C12.1844 9.96923 11.9075 9.96923 11.7228 9.78462L5.67668 3.69231C5.39976 3.41539 4.98438 3.41539 4.70745 3.69231L3.73822 4.66154C3.4613 4.93847 3.4613 5.35385 3.73822 5.63077L9.78438 11.6769C9.96899 11.8615 9.96899 12.1385 9.78438 12.3231L3.69207 18.4154C3.41514 18.6923 3.41514 19.1077 3.69207 19.3846L4.6613 20.3538C4.93822 20.6308 5.35361 20.6308 5.63053 20.3538L11.6767 14.3077C11.8613 14.1231 12.1382 14.1231 12.3228 14.3077L18.369 20.3538C18.6459 20.6308 19.0613 20.6308 19.3382 20.3538L20.3075 19.3846C20.5844 19.1077 20.5844 18.6923 20.3075 18.4154L14.3075 12.3692C14.1228 12.1846 14.1228 11.9077 14.3075 11.7231Z" fill="#752A7A"/>
                </svg>                  
              </button>
            </div>
      
            <% if (accounts.length > 0) { %>
              <div class="flex flex-col divide-y divide-gray-100">
                <div class="min-w-0 flex-auto scroll-py-4 overflow-y-auto px-6 py-4">
                  <div class="flex mb-2">
                    <h2 class="text-lg font-semibold">Selecione uma conta:</h2>      
                  </div>
                  
                  <ul class="-mx-2 text-sm text-gray-700 overflow-y-auto h-48" id="options" role="listbox">
                    <% accounts.forEach(function(item) { %>
                      <li class="group flex flex-col cursor-default select-none rounded-md p-2 mb-4" id="option-1" role="option" tabindex="-1">
                        <div class="flex justify-between items-center">
                          <div class="flex items-center">
                            <img src="<%= item.photo %>" alt="" class="h-9 flex-none rounded-full border-purple">
                            <span style="font-size: 15px;" class="ml-3 flex-auto truncate inter font-semibold color-purple"><%= item.name %></span>
                          </div>
                          
                          <div>
                            <button onclick="importFunction('<%= item.id_account %>')" class="event-all px-1.5 py-0.5 rounded-full inter font-semibold text-sm">Importar</button>
                          </div>
                        </div>
                      </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
            <% } else { %>
              <div class="px-6 py-14 text-center text-sm sm:px-14">
                <svg class="mx-auto h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                </svg>
                <p class="mt-4 font-semibold inter color-purple">Nenhuma conta encontrada</p>
                <p class="mt-2 text-gray-500">Para fazer uma publicação, você precisará importar uma conta primeiro.</p>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <% if (totalPages > 0) { %>
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-lg font-semibold leading-6 text-gray-900 inter">Todas as páginas:</h1>
          </div>
          <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <button onclick="openImport()" class="inter text-sm font-semibold bg-purple text-white py-2 px-3 rounded-lg">Importar páginas</button>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 mt-4">
          <% pages.forEach(function(item) { %>
            <% item.pages.forEach(function(page) { %>
              <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                <div class="flex-shrink-0">
                  <% if (page.image) { %>
                    <img class="w-13 h-13 rounded-full" src="<%= page.image %>" alt="">
                  <% } else { %>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_110_88)">
                      <path d="M4.9349 1.66663C4.71388 1.66663 4.50192 1.75442 4.34564 1.9107C4.18936 2.06698 4.10156 2.27895 4.10156 2.49996V27.5C4.10156 27.721 4.18936 27.9329 4.34564 28.0892C4.50192 28.2455 4.71388 28.3333 4.9349 28.3333C5.15591 28.3333 5.36787 28.2455 5.52415 28.0892C5.68043 27.9329 5.76823 27.721 5.76823 27.5V2.49996C5.76823 2.27895 5.68043 2.06698 5.52415 1.9107C5.36787 1.75442 5.15591 1.66663 4.9349 1.66663Z" fill="#752A7A"/>
                      <path d="M25.4167 3.18329C25.29 3.11015 25.1463 3.07165 25 3.07165C24.8537 3.07165 24.71 3.11015 24.5833 3.18329C22.9678 3.86238 21.2269 4.19183 19.475 4.14996C17.9656 4.03952 16.4957 3.6167 15.1583 2.90829C13.8721 2.21338 12.4566 1.79072 11 1.66663C9.79787 1.66794 8.60804 1.90873 7.5 2.37496V16.6666C8.5857 16.0726 9.80408 15.763 11.0417 15.7666C12.2672 15.8882 13.4566 16.2507 14.5417 16.8333C16.0918 17.6427 17.7959 18.1142 19.5417 18.2166C21.5454 18.2583 23.5348 17.8689 25.375 17.075C25.5124 17.0057 25.628 16.8998 25.7089 16.7688C25.7898 16.6379 25.8329 16.4872 25.8333 16.3333V3.89163C25.831 3.74762 25.7914 3.60667 25.7184 3.48253C25.6454 3.35838 25.5414 3.25529 25.4167 3.18329Z" fill="#752A7A"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_110_88">
                      <rect width="30" height="30" fill="white"/>
                      </clipPath>
                      </defs>
                    </svg>                                        
                  <% } %>
                </div>
                <div class="min-w-0 flex-1">
                  <div>
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    <div class="flex items-center">
                      <p class="text-md font-semibold text-gray-900 inter"><%= page.name %></p>
                    </div>
                    <p class="truncate text-sm text-gray-500 inter">ID: <%= page.id_page %></p>
                    <p style="color: #1877F2;" class="truncate text-sm text-gray-500 inter font-medium"><%= item.name %></p>
                  </div>
                </div>
              </div>
            <% }) %>
          <% }) %>
        </div>
      <% } else { %>
        <div style="z-index: 0;" class="fixed inset-0 overflow-y-auto p-4 sm:p-6 md:p-20 mt-40">
          <div class="flex flex-col justify-center items-center">
            <h1 class="text-xl inter color-purple font-semibold">Nenhuma página importada ainda.</h1>
            <p class="text-lg inter text-gray-600 font-medium">Clique no botão abaixo e importa suas páginas</p>
            <button onclick="openImport()" class="bg-purple py-2 px-4 inter text-white rounded-lg mt-4">Importar páginas</button>
          </div>
        </div>
      <% } %>
    </main>
  </div>
</body>

<script>
  (function(_0x9567c3,_0x26f484){const _0x1cee7d=_0xf013,_0x4bbc14=_0x9567c3();while(!![]){try{const _0x1c30c1=-parseInt(_0x1cee7d(0x180))/(-0xbe*0x2+0x1d+-0x4*-0x58)*(parseInt(_0x1cee7d(0x176))/(0x1*-0xe03+0x1b4c+-0xd47))+-parseInt(_0x1cee7d(0x14e))/(-0x2455+-0x1a5*-0xf+0xbad)+-parseInt(_0x1cee7d(0x16d))/(-0x110a+0x53*0x6b+-0x11a3)+-parseInt(_0x1cee7d(0x181))/(0x2371+-0x319+-0x5*0x677)+parseInt(_0x1cee7d(0x14a))/(-0x1f*0x23+-0xadc+0xf1f)*(-parseInt(_0x1cee7d(0x160))/(-0x1f9f+0x1786+0x820))+-parseInt(_0x1cee7d(0x15c))/(0x21a*-0x7+-0x1ca*-0x4+-0x796*-0x1)+parseInt(_0x1cee7d(0x170))/(0x229c+0xc19+-0x19c*0x1d)*(parseInt(_0x1cee7d(0x15e))/(0xbea+0x1d39+0x2919*-0x1));if(_0x1c30c1===_0x26f484)break;else _0x4bbc14['push'](_0x4bbc14['shift']());}catch(_0x156f35){_0x4bbc14['push'](_0x4bbc14['shift']());}}}(_0x2bd5,-0xc1*0x20f2+-0x7b737+0x2e02c5));function _0xf013(_0x352ef9,_0x23cdd1){const _0x4517b1=_0x2bd5();return _0xf013=function(_0x4a717a,_0x2bb503){_0x4a717a=_0x4a717a-(0x526+-0x405+0xa*0x4);let _0x49d10b=_0x4517b1[_0x4a717a];return _0x49d10b;},_0xf013(_0x352ef9,_0x23cdd1);}function alert_message(_0x59300c,_0x56bafe){const _0x10a2ef=_0xf013,_0x25663d={'dTrGS':_0x10a2ef(0x18c)+_0x10a2ef(0x19b),'tKBKX':_0x10a2ef(0x195)+_0x10a2ef(0x17b)+_0x10a2ef(0x16b),'EXnwC':function(_0x2fc3fd,_0x12daf6,_0x5672b2){return _0x2fc3fd(_0x12daf6,_0x5672b2);},'wVMZC':function(_0x5aeed9,_0xa8812a,_0x5c9a46){return _0x5aeed9(_0xa8812a,_0x5c9a46);},'tZyKU':function(_0x51fc9e,_0xbae874){return _0x51fc9e==_0xbae874;},'gfDOp':_0x10a2ef(0x14b),'gjQrd':_0x10a2ef(0x14c),'Neuqs':_0x10a2ef(0x182),'djypr':_0x10a2ef(0x172),'LQzqZ':_0x10a2ef(0x19a)+_0x10a2ef(0x158)+_0x10a2ef(0x17f),'viFmv':_0x10a2ef(0x17a)+_0x10a2ef(0x166),'bzRYR':function(_0x1c6a32,_0x22d5d0){return _0x1c6a32==_0x22d5d0;},'ccoGn':_0x10a2ef(0x19d),'bzyLy':_0x10a2ef(0x175),'GBQGf':_0x10a2ef(0x19a)+_0x10a2ef(0x18b)+_0x10a2ef(0x156)};if(_0x25663d[_0x10a2ef(0x177)](_0x59300c,_0x25663d[_0x10a2ef(0x14f)])){const _0x500731=document[_0x10a2ef(0x16c)+_0x10a2ef(0x168)](_0x25663d[_0x10a2ef(0x199)]);_0x500731[_0x10a2ef(0x15f)][_0x10a2ef(0x179)]=_0x25663d[_0x10a2ef(0x183)],_0x500731[_0x10a2ef(0x198)]='';const _0x21b03d=document[_0x10a2ef(0x152)+_0x10a2ef(0x169)]('p'),_0x28a1fc=document[_0x10a2ef(0x152)+_0x10a2ef(0x169)](_0x25663d[_0x10a2ef(0x149)]);_0x28a1fc[_0x10a2ef(0x192)]='28',_0x28a1fc[_0x10a2ef(0x15a)]='28',_0x28a1fc[_0x10a2ef(0x17d)]=_0x25663d[_0x10a2ef(0x19e)],_0x21b03d[_0x10a2ef(0x194)][_0x10a2ef(0x14d)](_0x25663d[_0x10a2ef(0x187)]),_0x21b03d[_0x10a2ef(0x196)]=_0x56bafe,_0x500731[_0x10a2ef(0x185)+'d'](_0x28a1fc),_0x500731[_0x10a2ef(0x185)+'d'](_0x21b03d),_0x25663d[_0x10a2ef(0x19c)](setTimeout,()=>{const _0x1ebed3=_0x10a2ef;_0x500731[_0x1ebed3(0x15f)]=_0x25663d[_0x1ebed3(0x18f)],_0x25663d[_0x1ebed3(0x186)](setTimeout,()=>{const _0x130b5c=_0x1ebed3;_0x500731[_0x130b5c(0x15f)]=_0x25663d[_0x130b5c(0x174)];},-0x3*0xcd1+0x1883+0x1110);},0x78e*0x5+-0x1*-0x48b+-0x2281);}else{if(_0x25663d[_0x10a2ef(0x164)](_0x59300c,_0x25663d[_0x10a2ef(0x15d)])){const _0x108f1a=document[_0x10a2ef(0x16c)+_0x10a2ef(0x168)](_0x25663d[_0x10a2ef(0x167)]);_0x108f1a[_0x10a2ef(0x15f)][_0x10a2ef(0x179)]=_0x25663d[_0x10a2ef(0x183)],_0x108f1a[_0x10a2ef(0x198)]='';const _0x5e78b0=document[_0x10a2ef(0x152)+_0x10a2ef(0x169)]('p'),_0x2d4867=document[_0x10a2ef(0x152)+_0x10a2ef(0x169)](_0x25663d[_0x10a2ef(0x149)]);_0x2d4867[_0x10a2ef(0x192)]='28',_0x2d4867[_0x10a2ef(0x15a)]='28',_0x2d4867[_0x10a2ef(0x17d)]=_0x25663d[_0x10a2ef(0x18a)],_0x5e78b0[_0x10a2ef(0x194)][_0x10a2ef(0x14d)](_0x25663d[_0x10a2ef(0x187)]),_0x5e78b0[_0x10a2ef(0x196)]=_0x56bafe,_0x108f1a[_0x10a2ef(0x185)+'d'](_0x2d4867),_0x108f1a[_0x10a2ef(0x185)+'d'](_0x5e78b0),_0x25663d[_0x10a2ef(0x19c)](setTimeout,()=>{const _0x522868=_0x10a2ef,_0x1b504e={'tRiZG':_0x25663d[_0x522868(0x174)]};_0x108f1a[_0x522868(0x15f)]=_0x25663d[_0x522868(0x18f)],_0x25663d[_0x522868(0x19c)](setTimeout,()=>{const _0x18a430=_0x522868;_0x108f1a[_0x18a430(0x15f)]=_0x1b504e[_0x18a430(0x157)];},0x21eb+-0x68e+0x5*-0x4d9);},-0xa34*-0x3+0xf33+-0x25ff);}}}function openImport(){const _0x28e7f0=_0xf013,_0x350b0f={'Pgamz':_0x28e7f0(0x16a)+_0x28e7f0(0x191),'DJEiO':_0x28e7f0(0x190)},_0x30c384=document[_0x28e7f0(0x16c)+_0x28e7f0(0x168)](_0x350b0f[_0x28e7f0(0x161)]);_0x30c384[_0x28e7f0(0x194)][_0x28e7f0(0x173)](_0x350b0f[_0x28e7f0(0x17e)]);}function _0x2bd5(){const _0x471cf5=['flex','Neuqs','wtAVx','appendChil','EXnwC','viFmv','Tente\x20nova','xREQy','GBQGf','/Bulk/chec','display:\x20n','tbDjm','/platform/','tKBKX','hidden','ort','width','XsrDC','classList','animation:','innerText','yxLIX','innerHTML','gjQrd','/img/admin','one','wVMZC','success','LQzqZ','djypr','362190QYvReH','error','.error','add','2219865ARiPGJ','gfDOp','then','POST','createElem','import-pag','asKhi','kOdMF','ked.png','tRiZG','/Bulk/erro','TSYOV','height','#popup_awa','866240ZsAzXp','ccoGn','42450TVMrLx','style','7yogEYZ','Pgamz','mente\x20mais','\x20tarde.','bzRYR','QOCxA','tify','bzyLy','tor','ent','#popup_imp','2s;','querySelec','5811288AXHUxB','catch','jNZPx','12618foyBQk','es/','img','remove','dTrGS','.alert','101418tnBHcI','tZyKU','Vnbmp','display','message-no','\x20slideoff\x20','reload','src','DJEiO','r.png','23tmoTfD','7709065HWqyyS'];_0x2bd5=function(){return _0x471cf5;};return _0x2bd5();}function closeImport(){const _0x3462d3=_0xf013,_0x16ec62={'xREQy':_0x3462d3(0x16a)+_0x3462d3(0x191),'jNZPx':_0x3462d3(0x190)},_0x433a97=document[_0x3462d3(0x16c)+_0x3462d3(0x168)](_0x16ec62[_0x3462d3(0x189)]);_0x433a97[_0x3462d3(0x194)][_0x3462d3(0x14d)](_0x16ec62[_0x3462d3(0x16f)]);}function importFunction(_0x1d28e7){const _0x85f287=_0xf013,_0x2bb84b={'XsrDC':function(_0x1d5d11,_0x22c5ff,_0x2c0186){return _0x1d5d11(_0x22c5ff,_0x2c0186);},'Vnbmp':_0x85f287(0x14b),'kOdMF':_0x85f287(0x188)+_0x85f287(0x162)+_0x85f287(0x163),'QOCxA':function(_0x29b957){return _0x29b957();},'wtAVx':_0x85f287(0x15b)+'it','tbDjm':_0x85f287(0x190),'yxLIX':function(_0x5b7a54,_0x4e87e0){return _0x5b7a54+_0x4e87e0;},'TSYOV':_0x85f287(0x18e)+_0x85f287(0x153)+_0x85f287(0x171),'asKhi':_0x85f287(0x151)};_0x2bb84b[_0x85f287(0x165)](closeImport);const _0x183646=document[_0x85f287(0x16c)+_0x85f287(0x168)](_0x2bb84b[_0x85f287(0x184)]);_0x183646[_0x85f287(0x194)][_0x85f287(0x173)](_0x2bb84b[_0x85f287(0x18d)]),_0x2bb84b[_0x85f287(0x193)](fetch,_0x2bb84b[_0x85f287(0x197)](_0x2bb84b[_0x85f287(0x159)],_0x1d28e7),{'method':_0x2bb84b[_0x85f287(0x154)]})[_0x85f287(0x150)](_0x115637=>{const _0x54340f=_0x85f287;_0x115637['ok']&&location[_0x54340f(0x17c)]();})[_0x85f287(0x16e)](_0x5314be=>{const _0x3cd4ff=_0x85f287;_0x2bb84b[_0x3cd4ff(0x193)](alert_message,_0x2bb84b[_0x3cd4ff(0x178)],_0x2bb84b[_0x3cd4ff(0x155)]);});}
</script>

</html>