<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluBee | Todos os posts</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/admin/style.css">
</head>

<body>
  <div class="layer"></div>
  
  <!-- ! Body -->
  <div class="page-flex">

    <!-- ! Sidebar -->
    <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

    <div class="main-wrapper">
      <!-- ! Main nav -->
      <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Páginas importadas"}) %>
  
      <!-- ! Main -->
      <main class="main users chart-page" id="skip-target">
        <div class="container">
          <div class="row" style="margin-top: 16px">
            <% pages.forEach(function(item) { %>
              <% item.pages.forEach(function(page) { %>
                <div class="col-md-6 col-xl-3">
                  <article class="stat-cards-item">
                    <div class="stat-cards-icon warning">
                      <img style="border-radius: 5rem;" src="<%= page.image %>" alt="">
                    </div>
                    <div class="stat-cards-info">
                      <p class="stat-cards-info__num"><%= page.name %></p>
                      <p class="stat-cards-info__title description-group">ID da página:</p>
                      <p class="stat-cards-info__title description-group"><%= page.id_page %></p>
                      <p class="stat-cards-info__title description-group" style="font-weight: bold; color: #1877F2">Conta: <%= item.name %></p>
                    </div>
                  </article>
                </div>
              <% }) %>
            <% }) %>
          </div>
        </div>
      </main>

      <!-- ! Footer -->
      <%- include('../partials/footer-platform') %>
    </div>
  </div>


<!-- Chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Icons library -->
<script src="js/admin/feather.min.js"></script>
</body>
</html>

<script>
  function viewPages() {
    const id_account = document.querySelector('#accounts')
    selectValue = id_account.value

    window.location.href = "/platform/pages/" + selectValue;
  }  
</script>