<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluBee | Todas as publicações</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="/css/platform/notify.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
</head>

<body>
  <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Todas as publicações", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="alert mt-14" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error mt-14" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <!-- Editar Programado -->
      <div class="hidden fade-in relative z-10" id="popup_edit" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 mt-8 sm:p-6 md:p-20">
          <div class="mx-auto accounts transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="flex justify-between py-3 px-6">
              <h2 class="color-purple inter font-semibold text-lg">Editar publicação:</h2>
              <button onclick="closeEditSchedule()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.3075 11.7231L20.3075 5.67693C20.5844 5.4 20.5844 4.98462 20.3075 4.7077L19.3844 3.73847C19.1075 3.46154 18.6921 3.46154 18.4151 3.73847L12.369 9.78462C12.1844 9.96923 11.9075 9.96923 11.7228 9.78462L5.67668 3.69231C5.39976 3.41539 4.98438 3.41539 4.70745 3.69231L3.73822 4.66154C3.4613 4.93847 3.4613 5.35385 3.73822 5.63077L9.78438 11.6769C9.96899 11.8615 9.96899 12.1385 9.78438 12.3231L3.69207 18.4154C3.41514 18.6923 3.41514 19.1077 3.69207 19.3846L4.6613 20.3538C4.93822 20.6308 5.35361 20.6308 5.63053 20.3538L11.6767 14.3077C11.8613 14.1231 12.1382 14.1231 12.3228 14.3077L18.369 20.3538C18.6459 20.6308 19.0613 20.6308 19.3382 20.3538L20.3075 19.3846C20.5844 19.1077 20.5844 18.6923 20.3075 18.4154L14.3075 12.3692C14.1228 12.1846 14.1228 11.9077 14.3075 11.7231Z" fill="#752A7A"/>
                </svg>                  
              </button>
            </div>

            <div class="flex flex-col divide-y divide-gray-100 px-6">
              <div>
                <div class="mt-4">
                  <label for="content-schedule" class="block text-md font-medium leading-6 text-gray-900 inter mt-2">Conteúdo da publicação:</label>
                  <div class="mt-2">
                    <textarea rows="3" name="content-schedule" id="content-schedule" class="block w-full rounded-lg p-1.5 text-sm text-gray-900 border-purple shadow-sm ring-1 ring-inset inter">Como fazer um bolo de chocolate</textarea>
                  </div>
                </div>

                <div class="mt-6" id="div-link">
                  <label for="link-schedule" class="block text-md font-medium leading-6 text-gray-900 inter">Alterar link:</label>
                  <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.33203 7.33333C5.27136 7.33333 3.66536 8.93933 3.66536 11C3.66536 13.0607 5.27136 14.6667 7.33203 14.6667H9.16536C9.40848 14.6667 9.64164 14.7632 9.81355 14.9352C9.98545 15.1071 10.082 15.3402 10.082 15.5833C10.082 15.8264 9.98545 16.0596 9.81355 16.2315C9.64164 16.4034 9.40848 16.5 9.16536 16.5H7.33203C4.25936 16.5 1.83203 14.0727 1.83203 11C1.83203 7.92733 4.25936 5.5 7.33203 5.5H9.16536C9.40848 5.5 9.64164 5.59658 9.81355 5.76849C9.98545 5.94039 10.082 6.17355 10.082 6.41667C10.082 6.65978 9.98545 6.89294 9.81355 7.06485C9.64164 7.23676 9.40848 7.33333 9.16536 7.33333H7.33203ZM11.9154 6.41667C11.9154 6.17355 12.0119 5.94039 12.1839 5.76849C12.3558 5.59658 12.5889 5.5 12.832 5.5H14.6654C17.738 5.5 20.1654 7.92733 20.1654 11C20.1654 14.0727 17.738 16.5 14.6654 16.5H12.832C12.5889 16.5 12.3558 16.4034 12.1839 16.2315C12.0119 16.0596 11.9154 15.8264 11.9154 15.5833C11.9154 15.3402 12.0119 15.1071 12.1839 14.9352C12.3558 14.7632 12.5889 14.6667 12.832 14.6667H14.6654C16.726 14.6667 18.332 13.0607 18.332 11C18.332 8.93933 16.726 7.33333 14.6654 7.33333H12.832C12.5889 7.33333 12.3558 7.23676 12.1839 7.06485C12.0119 6.89294 11.9154 6.65978 11.9154 6.41667ZM6.41536 11C6.41536 10.7569 6.51194 10.5237 6.68385 10.3518C6.85576 10.1799 7.08892 10.0833 7.33203 10.0833H14.6654C14.9085 10.0833 15.1416 10.1799 15.3135 10.3518C15.4855 10.5237 15.582 10.7569 15.582 11C15.582 11.2431 15.4855 11.4763 15.3135 11.6482C15.1416 11.8201 14.9085 11.9167 14.6654 11.9167H7.33203C7.08892 11.9167 6.85576 11.8201 6.68385 11.6482C6.51194 11.4763 6.41536 11.2431 6.41536 11Z" fill="#752A7A"/>
                      </svg>                                
                    </div>
                    <input type="text" name="link-schedule" id="link-schedule" class="block w-full rounded-lg inter py-1.5 mt-2 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple">
                  </div>
                </div>

                <div class="mt-6" id="div-image">
                  <label for="files" class="block text-md font-medium leading-6 text-gray-900 inter">Alterar imagem da publicação:</label>
                  <label for="files" style="border: 2px dashed #752a7a; cursor: pointer;" class="relative block mt-2 w-full rounded-lg p-2 py-3 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <div class="flex justify-center">
                      <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.24922 1.69995C3.57292 1.69995 2.92431 1.96861 2.4461 2.44683C1.96788 2.92505 1.69922 3.57365 1.69922 4.24995V29.7499C1.69922 30.4262 1.96788 31.0748 2.4461 31.5531C2.92431 32.0313 3.57292 32.2999 4.24922 32.2999H29.7492C30.4255 32.2999 31.0741 32.0313 31.5523 31.5531C32.0305 31.0748 32.2992 30.4262 32.2992 29.7499V4.24995C32.2992 3.57365 32.0305 2.92505 31.5523 2.44683C31.0741 1.96861 30.4255 1.69995 29.7492 1.69995H4.24922ZM12.7492 7.64995C14.6192 7.64995 16.1492 9.17995 16.1492 11.0499C16.1492 12.9199 14.6192 14.4499 12.7492 14.4499C10.8792 14.4499 9.34922 12.9199 9.34922 11.0499C9.34922 9.17995 10.8792 7.64995 12.7492 7.64995ZM28.0475 28.8999H5.94412C5.24712 28.8999 4.85612 28.1179 5.26412 27.5569L11.3042 20.6702C11.6272 20.3132 12.1882 20.3132 12.5282 20.6532L15.2992 23.7999L20.5012 15.6722C20.5811 15.5547 20.6891 15.4591 20.8155 15.3941C20.9418 15.3291 21.0824 15.2969 21.2245 15.3002C21.3665 15.3036 21.5054 15.3426 21.6286 15.4135C21.7517 15.4844 21.855 15.5851 21.9292 15.7062L28.7955 27.6249C29.1015 28.2029 28.6935 28.8999 28.0475 28.8999Z" fill="#752A7A"/>
                      </svg>
                    </div>
                    <span class="mt-2 files block text-sm font-semibold text-gray-900 inter">Selecione uma imagem</span>
                    <input type="file" name="files" id="files" class="hidden">
                  </label>
                </div>

                <div class="hidden mt-4 image-success">
                  <h2 class="block text-md font-medium leading-6 inter font-semibold color-purple">Imagem importada com sucesso.</h2>
                </div>

                <div class="mt-6" id="div-date">
                  <div class="flex mb-2">
                    <h2 class="block text-md font-medium leading-6 text-gray-900 inter">Programar publicação:</h2>      
                  </div>
                  
                  <div class="mt-2 -space-y-px rounded-md bg-white shadow-sm program">
                    <div class="flex -space-x-px">
                      <div class="w-1/2 min-w-0 flex-1">
                        <input type="date" id="day" class="relative block inter w-full rounded-none rounded-l-lg border-purple px-2 bg-transparent py-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="MM / YY">
                      </div>
                      <div class="min-w-0 flex-1">
                        <input type="time" id="hour" class="relative block inter w-full rounded-none rounded-r-lg border-purple px-2 bg-transparent py-1 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="CVC">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="pb-4">
                  <button class="w-full py-2.5 inter bg-purple text-white text-sm rounded-lg mt-4" onclick="editPostSchedule()">Salvar alterações</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Editar Publicado -->
      <div class="hidden fade-in relative z-10" id="popup_edit_published" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 mt-8 sm:p-6 md:p-20">
          <div class="mx-auto accounts transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="flex justify-between py-3 px-6">
              <h2 class="color-purple inter font-semibold text-lg">Editar publicação:</h2>
              <button onclick="closeEditPublished()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.3075 11.7231L20.3075 5.67693C20.5844 5.4 20.5844 4.98462 20.3075 4.7077L19.3844 3.73847C19.1075 3.46154 18.6921 3.46154 18.4151 3.73847L12.369 9.78462C12.1844 9.96923 11.9075 9.96923 11.7228 9.78462L5.67668 3.69231C5.39976 3.41539 4.98438 3.41539 4.70745 3.69231L3.73822 4.66154C3.4613 4.93847 3.4613 5.35385 3.73822 5.63077L9.78438 11.6769C9.96899 11.8615 9.96899 12.1385 9.78438 12.3231L3.69207 18.4154C3.41514 18.6923 3.41514 19.1077 3.69207 19.3846L4.6613 20.3538C4.93822 20.6308 5.35361 20.6308 5.63053 20.3538L11.6767 14.3077C11.8613 14.1231 12.1382 14.1231 12.3228 14.3077L18.369 20.3538C18.6459 20.6308 19.0613 20.6308 19.3382 20.3538L20.3075 19.3846C20.5844 19.1077 20.5844 18.6923 20.3075 18.4154L14.3075 12.3692C14.1228 12.1846 14.1228 11.9077 14.3075 11.7231Z" fill="#752A7A"/>
                </svg>                  
              </button>
            </div>

            <div class="border-l-yellow bg-yellow-50 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="ml-3">
                  <p class="text-sm text-yellow-700 inter">
                    A publicação será editada apenas em páginas, uma vez que já foi realizada anteriormente.
                  </p>
                </div>
              </div>
            </div>

            <div class="flex flex-col divide-y divide-gray-100 px-6">
              <div>
                <div class="mt-4">
                  <label for="content-published" class="block text-md font-medium leading-6 text-gray-900 inter mt-2">Conteúdo da publicação:</label>
                  <div class="mt-2">
                    <textarea rows="3" name="content-published" id="content-published" class="block w-full rounded-lg p-1.5 text-sm text-gray-900 border-purple shadow-sm ring-1 ring-inset inter"></textarea>
                  </div>
                </div>

                <div class="pb-4">
                  <button class="w-full py-2.5 inter bg-purple text-white text-sm rounded-lg mt-4" onclick="editPostPublished()">Salvar alterações</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Excluir -->
      <div class="hidden fade-in relative z-10" id="popup_delete" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 mt-8 sm:p-6 md:p-20">
          <div class="mx-auto accounts transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="flex justify-between py-3 px-6">
              <h2 class="color-red inter font-semibold text-lg">Excluir publicação:</h2>
              <button onclick="closeDel()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.3075 11.7231L20.3075 5.67693C20.5844 5.4 20.5844 4.98462 20.3075 4.7077L19.3844 3.73847C19.1075 3.46154 18.6921 3.46154 18.4151 3.73847L12.369 9.78462C12.1844 9.96923 11.9075 9.96923 11.7228 9.78462L5.67668 3.69231C5.39976 3.41539 4.98438 3.41539 4.70745 3.69231L3.73822 4.66154C3.4613 4.93847 3.4613 5.35385 3.73822 5.63077L9.78438 11.6769C9.96899 11.8615 9.96899 12.1385 9.78438 12.3231L3.69207 18.4154C3.41514 18.6923 3.41514 19.1077 3.69207 19.3846L4.6613 20.3538C4.93822 20.6308 5.35361 20.6308 5.63053 20.3538L11.6767 14.3077C11.8613 14.1231 12.1382 14.1231 12.3228 14.3077L18.369 20.3538C18.6459 20.6308 19.0613 20.6308 19.3382 20.3538L20.3075 19.3846C20.5844 19.1077 20.5844 18.6923 20.3075 18.4154L14.3075 12.3692C14.1228 12.1846 14.1228 11.9077 14.3075 11.7231Z" fill="#A31313"/>
                </svg>                                    
              </button>
            </div>

            <div class="flex flex-col divide-y divide-gray-100 px-6">
              <div>
                <div class="flex flex-col items-center justify-center mt-6 py-4">
                  <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.2487 2.87504H26.832C26.832 2.36671 26.6301 1.8792 26.2706 1.51975C25.9112 1.16031 25.4237 0.958374 24.9154 0.958374H21.082C20.5737 0.958374 20.0862 1.16031 19.7267 1.51975C19.3673 1.8792 19.1654 2.36671 19.1654 2.87504H5.7487C5.24037 2.87504 4.75285 3.07697 4.39341 3.43642C4.03397 3.79586 3.83203 4.28338 3.83203 4.79171C3.83203 5.30004 4.03397 5.78755 4.39341 6.147C4.75285 6.50644 5.24037 6.70837 5.7487 6.70837H40.2487C40.757 6.70837 41.2445 6.50644 41.604 6.147C41.9634 5.78755 42.1654 5.30004 42.1654 4.79171C42.1654 4.28338 41.9634 3.79586 41.604 3.43642C41.2445 3.07697 40.757 2.87504 40.2487 2.87504Z" fill="#AA2222"/>
                    <path d="M37.3737 8.625C36.8654 8.625 36.3779 8.82693 36.0184 9.18638C35.659 9.54582 35.457 10.0333 35.457 10.5417V41.2083H10.5404V10.5417C10.5404 10.0333 10.3384 9.54582 9.97899 9.18638C9.61954 8.82693 9.13203 8.625 8.6237 8.625C8.11537 8.625 7.62785 8.82693 7.26841 9.18638C6.90897 9.54582 6.70703 10.0333 6.70703 10.5417V43.125C6.70703 43.6333 6.90897 44.1208 7.26841 44.4803C7.62785 44.8397 8.11537 45.0417 8.6237 45.0417H37.3737C37.882 45.0417 38.3695 44.8397 38.729 44.4803C39.0884 44.1208 39.2904 43.6333 39.2904 43.125V10.5417C39.2904 10.0333 39.0884 9.54582 38.729 9.18638C38.3695 8.82693 37.882 8.625 37.3737 8.625Z" fill="#AA2222"/>
                    <path d="M20.1263 35.4583V18.2083C20.1263 17.7 19.9244 17.2125 19.5649 16.853C19.2055 16.4936 18.718 16.2916 18.2096 16.2916C17.7013 16.2916 17.2138 16.4936 16.8543 16.853C16.4949 17.2125 16.293 17.7 16.293 18.2083V35.4583C16.293 35.9666 16.4949 36.4541 16.8543 36.8136C17.2138 37.173 17.7013 37.375 18.2096 37.375C18.718 37.375 19.2055 37.173 19.5649 36.8136C19.9244 36.4541 20.1263 35.9666 20.1263 35.4583Z" fill="#AA2222"/>
                    <path d="M29.7083 35.4583V18.2083C29.7083 17.7 29.5064 17.2125 29.147 16.853C28.7875 16.4936 28.3 16.2916 27.7917 16.2916C27.2833 16.2916 26.7958 16.4936 26.4364 16.853C26.0769 17.2125 25.875 17.7 25.875 18.2083V35.4583C25.875 35.9666 26.0769 36.4541 26.4364 36.8136C26.7958 37.173 27.2833 37.375 27.7917 37.375C28.3 37.375 28.7875 37.173 29.147 36.8136C29.5064 36.4541 29.7083 35.9666 29.7083 35.4583Z" fill="#AA2222"/>
                  </svg>                                        
                  <h2 for="content" class="block text-md font-semibold leading-6 text-gray-900 inter mt-4">Tem certeza que deseja excluir a publicação?</h2>
                  <p class="inter text-center text-sm text-medium">A publicação será excluida somente em páginas.</p>
                </div>

                <div class="pb-4">
                  <button class="w-full py-2.5 inter bg-red text-white text-sm rounded-lg mt-4" onclick="deletePost()">Confirmar minha escolha</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-lg font-semibold leading-6 text-gray-900 inter color-purple">Todas as publicações:</h1>
          </div>
          <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <a class="inter text-md font-semibold color-purple" href="">Criar nova publicação</a>
          </div>
        </div>
        
        <div class="mt-4 flow-root">
          <div class="-mx-4 -my-2">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-5">
              <% if (posts.length > 0) { %>
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 inter">Imagem</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Descrição</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Conta</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Grupos e páginas</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Plataforma</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Status</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Data</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Ações</th>
                      </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200 bg-white">
                      <% posts.forEach(function(item) { %>
                        <tr>
                          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                            <% if (item.image == "program_image") { %>
                              <img class="h-10" src="/img/admin/program.png" alt="img">
                            <% } else if (item.image == "link") { %>
                              <img class="h-9" src="/img/admin/ligacao.png" alt="img">
                            <% } else if (item.image == "post") { %>
                              <img class="h-9" src="/img/admin/post.png" alt="img">
                            <% } else { %>
                              <img class="h-12 rounded-md" src="<%= item.image %>" alt="img">
                            <% } %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter">
                            <p style="width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="inter mr-6"><%= item.content %></p>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter">
                            <div class="flex items-center mr-6">
                              <img class="h-8 rounded-full" src="<%= item.image_account %>">
                              <p class="inter ml-2"><%= item.name_account %></p>
                            </div>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold"><%= item.pages_ids.length + item.groups_ids.length %> no total</td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold">
                            <% if (item.platform == "Facebook") { %>
                              <p style="color: #1877F2" class="inter font-semibold"><%= item.platform %></p>
                            <% } else { %>
                              <p style="color: #C21F70" class="inter font-semibold"><%= item.platform %></p>
                            <% } %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold">
                            <% if (item.program_post == false) { %>
                              <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                                <div class="flex-none rounded-full p-1 text-green-400 bg-green-opacity">
                                  <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                                </div>
                                <div class="hidden text-green-400 sm:block">Publicado</div>
                              </div>
                            <% } else { %>
                              <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                                <div class="flex-none rounded-full p-1 text-blue-500 bg-blue-opacity">
                                  <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                                </div>
                                <div class="hidden text-blue-500 sm:block">Programado</div>
                              </div>
                            <% } %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple">
                            <% if(item.program_post == true) { %>
                              <%= item.day %> <%= item.hour %>
                            <% } else { %>
                              Não programado
                            <% } %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple">
                            <div class="flex">
                              <% if (item.program_post == true) { %>
                                <button onclick="openEditSchedule('<%= item.id_post %>', '<%= item.content %>', '<%= item.link %>', '<%= item.program_post %>', '<%= item.day %>', '<%= item.hour %>')" class="bg-gray-100 py-1 px-1.5 rounded-l-lg shadow">
                                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.25 19.25H2.75" stroke="#752A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.2246 6.41665L10.0846 14.5108L6.41797 15.5833L7.49047 11.9166L15.6305 3.77665C15.9748 3.40397 16.4528 3.1831 16.9598 3.16247C17.4668 3.14185 17.9612 3.32317 18.3346 3.66665C18.5117 3.8525 18.6497 4.07204 18.7403 4.31225C18.8309 4.55246 18.8723 4.80843 18.862 5.06495C18.8518 5.32147 18.7901 5.57331 18.6806 5.80551C18.5711 6.03772 18.416 6.24554 18.2246 6.41665Z" stroke="#752A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>                                
                                </button>
                              <% } else { %>
                                <button onclick="openEditPublished('<%= item.id_post %>', '<%= item.content %>')" class="bg-gray-100 py-1 px-1.5 rounded-l-lg shadow">
                                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.25 19.25H2.75" stroke="#752A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.2246 6.41665L10.0846 14.5108L6.41797 15.5833L7.49047 11.9166L15.6305 3.77665C15.9748 3.40397 16.4528 3.1831 16.9598 3.16247C17.4668 3.14185 17.9612 3.32317 18.3346 3.66665C18.5117 3.8525 18.6497 4.07204 18.7403 4.31225C18.8309 4.55246 18.8723 4.80843 18.862 5.06495C18.8518 5.32147 18.7901 5.57331 18.6806 5.80551C18.5711 6.03772 18.416 6.24554 18.2246 6.41665Z" stroke="#752A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>                                
                                </button>
                              <% } %>
                              <% if (item.results) { %>
                                <a class="bg-gray-100 py-1 px-1.5 shadow" href="/platform/view/<%= item.id_post %>">
                                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.332 2.75H3.66536C2.65428 2.75 1.83203 3.57225 1.83203 4.58333V17.4167C1.83203 18.4278 2.65428 19.25 3.66536 19.25H18.332C19.3431 19.25 20.1654 18.4278 20.1654 17.4167V4.58333C20.1654 3.57225 19.3431 2.75 18.332 2.75ZM3.66536 17.4167V4.58333H18.332L18.3339 17.4167H3.66536Z" fill="#752A7A"/>
                                    <path d="M5.5 6.41663H16.5V8.24996H5.5V6.41663ZM5.5 10.0833H16.5V11.9166H5.5V10.0833ZM5.5 13.75H11V15.5833H5.5V13.75Z" fill="#752A7A"/>
                                  </svg>                                                                                                                                                                
                                </a>
                              <% } %>
                              <button onclick="openDelete('<%= item.id_post %>')" class="bg-gray-100 py-1 px-1.5 rounded-r-lg shadow" href="">
                                <svg class="mt-0.5" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15.75 1.125H10.5C10.5 0.926088 10.421 0.735322 10.2803 0.59467C10.1397 0.454018 9.94891 0.375 9.75 0.375H8.25C8.05109 0.375 7.86032 0.454018 7.71967 0.59467C7.57902 0.735322 7.5 0.926088 7.5 1.125H2.25C2.05109 1.125 1.86032 1.20402 1.71967 1.34467C1.57902 1.48532 1.5 1.67609 1.5 1.875C1.5 2.07391 1.57902 2.26468 1.71967 2.40533C1.86032 2.54598 2.05109 2.625 2.25 2.625H15.75C15.9489 2.625 16.1397 2.54598 16.2803 2.40533C16.421 2.26468 16.5 2.07391 16.5 1.875C16.5 1.67609 16.421 1.48532 16.2803 1.34467C16.1397 1.20402 15.9489 1.125 15.75 1.125Z" fill="#AA2222"/>
                                  <path d="M14.625 3.375C14.4261 3.375 14.2353 3.45402 14.0947 3.59467C13.954 3.73532 13.875 3.92609 13.875 4.125V16.125H4.125V4.125C4.125 3.92609 4.04598 3.73532 3.90533 3.59467C3.76468 3.45402 3.57391 3.375 3.375 3.375C3.17609 3.375 2.98532 3.45402 2.84467 3.59467C2.70402 3.73532 2.625 3.92609 2.625 4.125V16.875C2.625 17.0739 2.70402 17.2647 2.84467 17.4053C2.98532 17.546 3.17609 17.625 3.375 17.625H14.625C14.8239 17.625 15.0147 17.546 15.1553 17.4053C15.296 17.2647 15.375 17.0739 15.375 16.875V4.125C15.375 3.92609 15.296 3.73532 15.1553 3.59467C15.0147 3.45402 14.8239 3.375 14.625 3.375Z" fill="#AA2222"/>
                                  <path d="M7.875 13.875V7.125C7.875 6.92609 7.79598 6.73532 7.65533 6.59467C7.51468 6.45402 7.32391 6.375 7.125 6.375C6.92609 6.375 6.73532 6.45402 6.59467 6.59467C6.45402 6.73532 6.375 6.92609 6.375 7.125V13.875C6.375 14.0739 6.45402 14.2647 6.59467 14.4053C6.73532 14.546 6.92609 14.625 7.125 14.625C7.32391 14.625 7.51468 14.546 7.65533 14.4053C7.79598 14.2647 7.875 14.0739 7.875 13.875Z" fill="#AA2222"/>
                                  <path d="M11.625 13.875V7.125C11.625 6.92609 11.546 6.73532 11.4053 6.59467C11.2647 6.45402 11.0739 6.375 10.875 6.375C10.6761 6.375 10.4853 6.45402 10.3447 6.59467C10.204 6.73532 10.125 6.92609 10.125 7.125V13.875C10.125 14.0739 10.204 14.2647 10.3447 14.4053C10.4853 14.546 10.6761 14.625 10.875 14.625C11.0739 14.625 11.2647 14.546 11.4053 14.4053C11.546 14.2647 11.625 14.0739 11.625 13.875Z" fill="#AA2222"/>
                                </svg>                                                                                                
                              </button>
                            </div>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              <% } else { %>
                <div class="flex flex-col justify-center items-center px-4 sm:px-2 mt-2 col-span-3 mt-40">
                  <svg width="351" height="266" viewBox="0 0 351 266" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_135_57)">
                    <g filter="url(#filter0_d_135_57)">
                    <path d="M176.267 0H19.9858C14.6871 0.00596636 9.60706 2.11353 5.86028 5.86032C2.11351 9.60711 0.00595315 14.6871 0 19.9859V203.492C0.00595426 208.791 2.11351 213.871 5.86029 217.618C9.60706 221.365 14.6871 223.472 19.9858 223.478H176.267C181.566 223.472 186.646 221.365 190.392 217.618C194.139 213.871 196.247 208.791 196.253 203.492V19.9859C196.247 14.6871 194.139 9.60711 190.392 5.86032C186.646 2.11353 181.566 0.00596636 176.267 0Z" fill="#F2F2F2"/>
                    </g>
                    <path d="M176.268 5.75342H19.9863C16.2129 5.75765 12.5953 7.25848 9.92716 9.92665C7.25898 12.5948 5.75814 16.2124 5.75391 19.9858V203.492C5.75815 207.266 7.25899 210.883 9.92716 213.551C12.5953 216.22 16.2129 217.72 19.9863 217.725H176.268C180.041 217.72 183.659 216.219 186.327 213.551C188.995 210.883 190.496 207.266 190.5 203.492V19.9858C190.496 16.2125 188.995 12.5949 186.327 9.92671C183.659 7.25854 180.041 5.75769 176.268 5.75342Z" fill="white"/>
                    <path d="M152.745 59.1122H73.7149C72.8322 59.1122 71.9857 58.7615 71.3615 58.1374C70.7374 57.5132 70.3867 56.6667 70.3867 55.784C70.3867 54.9013 70.7374 54.0548 71.3615 53.4306C71.9857 52.8065 72.8322 52.4558 73.7149 52.4558H152.745C153.182 52.4558 153.615 52.5419 154.019 52.7092C154.423 52.8764 154.79 53.1216 155.099 53.4306C155.408 53.7397 155.653 54.1066 155.82 54.5104C155.987 54.9142 156.073 55.3469 156.073 55.784C156.073 56.2211 155.987 56.6538 155.82 57.0576C155.653 57.4614 155.408 57.8283 155.099 58.1374C154.79 58.4464 154.423 58.6916 154.019 58.8588C153.615 59.0261 153.182 59.1122 152.745 59.1122Z" fill="#F2F2F2"/>
                    <path d="M166.474 70.3448H73.7151C72.833 70.3439 71.9875 69.9928 71.3641 69.3687C70.7408 68.7447 70.3906 67.8987 70.3906 67.0167C70.3906 66.1346 70.7408 65.2886 71.3641 64.6646C71.9875 64.0405 72.833 63.6895 73.7151 63.6885H166.474C167.356 63.6895 168.202 64.0405 168.825 64.6646C169.448 65.2886 169.799 66.1346 169.799 67.0167C169.799 67.8987 169.448 68.7447 168.825 69.3687C168.202 69.9928 167.356 70.3439 166.474 70.3448Z" fill="#F2F2F2"/>
                    <path d="M152.745 109.451H73.7149C72.8322 109.451 71.9857 109.1 71.3615 108.476C70.7374 107.852 70.3867 107.006 70.3867 106.123C70.3867 105.24 70.7374 104.394 71.3615 103.769C71.9857 103.145 72.8322 102.795 73.7149 102.795H152.745C153.182 102.795 153.615 102.881 154.019 103.048C154.423 103.215 154.79 103.46 155.099 103.769C155.408 104.079 155.653 104.445 155.82 104.849C155.987 105.253 156.073 105.686 156.073 106.123C156.073 106.56 155.987 106.993 155.82 107.397C155.653 107.8 155.408 108.167 155.099 108.476C154.79 108.785 154.423 109.03 154.019 109.198C153.615 109.365 153.182 109.451 152.745 109.451Z" fill="#F2F2F2"/>
                    <path d="M166.474 120.683H73.7151C72.833 120.682 71.9875 120.331 71.3641 119.707C70.7408 119.083 70.3906 118.237 70.3906 117.355C70.3906 116.473 70.7408 115.627 71.3641 115.003C71.9875 114.379 72.833 114.028 73.7151 114.027H166.474C167.356 114.028 168.202 114.379 168.825 115.003C169.448 115.627 169.799 116.473 169.799 117.355C169.799 118.237 169.448 119.083 168.825 119.707C168.202 120.331 167.356 120.682 166.474 120.683Z" fill="#F2F2F2"/>
                    <path d="M152.745 159.79H73.7149C72.8322 159.79 71.9857 159.439 71.3615 158.815C70.7374 158.191 70.3867 157.344 70.3867 156.461C70.3867 155.579 70.7374 154.732 71.3615 154.108C71.9857 153.484 72.8322 153.133 73.7149 153.133H152.745C153.183 153.133 153.616 153.219 154.02 153.386C154.424 153.553 154.792 153.798 155.101 154.107C155.41 154.416 155.656 154.783 155.823 155.187C155.991 155.591 156.077 156.024 156.077 156.461C156.077 156.899 155.991 157.332 155.823 157.736C155.656 158.14 155.41 158.507 155.101 158.816C154.792 159.125 154.424 159.37 154.02 159.537C153.616 159.704 153.183 159.79 152.745 159.79Z" fill="#F2F2F2"/>
                    <path d="M166.474 171.022H73.7151C72.833 171.021 71.9875 170.67 71.3641 170.046C70.7408 169.422 70.3906 168.576 70.3906 167.694C70.3906 166.812 70.7408 165.966 71.3641 165.342C71.9875 164.718 72.833 164.367 73.7151 164.366H166.474C167.356 164.367 168.202 164.718 168.825 165.342C169.448 165.966 169.799 166.812 169.799 167.694C169.799 168.576 169.448 169.422 168.825 170.046C168.202 170.67 167.356 171.021 166.474 171.022Z" fill="#F2F2F2"/>
                    <path d="M56.0132 75.4439H28.0451C27.622 75.4434 27.2163 75.2751 26.9171 74.976C26.618 74.6768 26.4497 74.2711 26.4492 73.848V48.9526C26.4497 48.5294 26.618 48.1238 26.9171 47.8246C27.2163 47.5254 27.622 47.3572 28.0451 47.3567H56.0132C56.4363 47.3572 56.8419 47.5254 57.1411 47.8246C57.4403 48.1238 57.6086 48.5294 57.609 48.9526V73.848C57.6086 74.2711 57.4403 74.6768 57.1411 74.976C56.8419 75.2751 56.4363 75.4434 56.0132 75.4439Z" fill="#E6E6E6"/>
                    <path d="M56.0132 125.783H28.0451C27.622 125.782 27.2163 125.614 26.9171 125.315C26.618 125.016 26.4497 124.61 26.4492 124.187V99.2914C26.4497 98.8683 26.618 98.4627 26.9171 98.1635C27.2163 97.8643 27.622 97.696 28.0451 97.6956H56.0132C56.4363 97.696 56.8419 97.8643 57.1411 98.1635C57.4403 98.4627 57.6086 98.8683 57.609 99.2914V124.187C57.6086 124.61 57.4403 125.016 57.1411 125.315C56.8419 125.614 56.4363 125.782 56.0132 125.783Z" fill="#E6E6E6"/>
                    <path d="M56.0132 176.121H28.0451C27.622 176.121 27.2163 175.953 26.9171 175.653C26.618 175.354 26.4497 174.949 26.4492 174.526V149.63C26.4497 149.207 26.618 148.801 26.9171 148.502C27.2163 148.203 27.622 148.035 28.0451 148.034H56.0132C56.4363 148.035 56.8419 148.203 57.1411 148.502C57.4403 148.801 57.6086 149.207 57.609 149.63V174.526C57.6086 174.949 57.4403 175.354 57.1411 175.653C56.8419 175.953 56.4363 176.121 56.0132 176.121Z" fill="#E6E6E6"/>
                    <g filter="url(#filter1_d_135_57)">
                    <path d="M313.941 173.554L315.181 162.711L321.398 108.347L322.637 97.5039C323.233 92.2388 321.717 86.9522 318.42 82.804C315.123 78.6559 310.315 75.9848 305.051 75.3769L163.993 59.2472C158.728 58.6511 153.442 60.1679 149.293 63.4647C145.145 66.7616 142.474 71.5693 141.866 76.833L141.863 76.861L133.173 152.855L133.17 152.883C132.574 158.148 134.091 163.435 137.388 167.583C140.684 171.731 145.492 174.402 150.756 175.01L291.814 191.14C297.079 191.736 302.366 190.219 306.514 186.922C310.662 183.625 313.333 178.818 313.941 173.554Z" fill="#E6E6E6"/>
                    </g>
                    <path d="M308.222 172.9L309.691 160.058L315.45 109.692L316.918 96.8502C317.343 93.1008 316.263 89.3361 313.915 86.3821C311.567 83.4281 308.143 81.526 304.395 81.0931L163.337 64.9633C159.587 64.5388 155.823 65.619 152.869 67.9667C149.915 70.3145 148.013 73.7382 147.58 77.4866L147.576 77.5146L138.887 153.509L138.883 153.537C138.459 157.286 139.539 161.051 141.887 164.005C144.235 166.959 147.658 168.861 151.407 169.294L292.465 185.423C296.214 185.848 299.979 184.768 302.933 182.42C305.887 180.072 307.789 176.649 308.222 172.9Z" fill="white"/>
                    <path d="M285.136 103.995L206.618 95.0168C206.183 94.9675 205.762 94.8331 205.38 94.6212C204.997 94.4094 204.66 94.1241 204.388 93.7819C204.115 93.4396 203.913 93.0471 203.793 92.6267C203.672 92.2062 203.636 91.7662 203.686 91.3317C203.735 90.8972 203.87 90.4767 204.082 90.0943C204.295 89.7119 204.58 89.3752 204.923 89.1032C205.265 88.8313 205.658 88.6295 206.079 88.5095C206.499 88.3894 206.939 88.3534 207.374 88.4035L285.892 97.382C286.769 97.4831 287.569 97.9279 288.117 98.6188C288.666 99.3096 288.918 100.19 288.818 101.066C288.717 101.943 288.273 102.743 287.583 103.293C286.893 103.842 286.013 104.095 285.136 103.995Z" fill="#E6E6E6"/>
                    <path d="M297.498 116.715L205.34 106.177C204.905 106.127 204.485 105.993 204.102 105.781C203.72 105.569 203.383 105.284 203.11 104.942C202.838 104.599 202.636 104.207 202.515 103.787C202.395 103.366 202.359 102.926 202.408 102.492C202.458 102.057 202.593 101.637 202.805 101.254C203.017 100.872 203.303 100.535 203.645 100.263C203.988 99.9913 204.381 99.7895 204.801 99.6694C205.222 99.5493 205.662 99.5133 206.096 99.5634L298.255 110.102C298.689 110.151 299.109 110.286 299.491 110.498C299.873 110.71 300.21 110.995 300.482 111.337C300.754 111.68 300.956 112.072 301.076 112.492C301.196 112.912 301.233 113.352 301.183 113.786C301.134 114.221 300.999 114.641 300.787 115.023C300.575 115.405 300.289 115.742 299.947 116.014C299.605 116.286 299.213 116.488 298.793 116.608C298.372 116.728 297.933 116.764 297.498 116.715Z" fill="#E6E6E6"/>
                    <path d="M294.93 138.973L159.06 123.436C158.184 123.335 157.383 122.89 156.835 122.2C156.286 121.509 156.035 120.628 156.135 119.752C156.235 118.876 156.679 118.075 157.369 117.526C158.06 116.977 158.94 116.724 159.816 116.823L295.686 132.36C296.121 132.409 296.541 132.543 296.924 132.755C297.307 132.967 297.644 133.252 297.916 133.595C298.188 133.937 298.39 134.329 298.511 134.75C298.631 135.17 298.668 135.61 298.618 136.045C298.568 136.479 298.434 136.9 298.221 137.282C298.009 137.664 297.723 138.001 297.381 138.273C297.038 138.545 296.646 138.747 296.225 138.867C295.805 138.987 295.365 139.023 294.93 138.973Z" fill="#E6E6E6"/>
                    <path d="M294.089 150.183L157.783 134.596C156.906 134.495 156.106 134.05 155.558 133.36C155.009 132.669 154.757 131.788 154.857 130.912C154.958 130.036 155.402 129.235 156.092 128.686C156.782 128.136 157.662 127.884 158.539 127.983L294.846 143.57C295.722 143.671 296.522 144.115 297.071 144.806C297.619 145.497 297.871 146.377 297.771 147.254C297.671 148.13 297.227 148.931 296.536 149.48C295.846 150.029 294.966 150.282 294.089 150.183Z" fill="#E6E6E6"/>
                    <path d="M292.429 160.841L156.559 145.304C156.124 145.255 155.704 145.12 155.321 144.909C154.939 144.697 154.601 144.411 154.329 144.069C154.057 143.727 153.855 143.334 153.734 142.914C153.614 142.494 153.577 142.054 153.627 141.619C153.677 141.185 153.812 140.764 154.024 140.382C154.236 139.999 154.522 139.663 154.864 139.391C155.207 139.119 155.599 138.917 156.02 138.797C156.441 138.677 156.881 138.641 157.315 138.691L293.185 154.227C294.062 154.328 294.862 154.773 295.41 155.464C295.959 156.155 296.211 157.035 296.11 157.912C296.01 158.788 295.566 159.589 294.876 160.138C294.186 160.687 293.306 160.94 292.429 160.841Z" fill="#E6E6E6"/>
                    <path d="M291.589 172.05L155.283 156.464C154.406 156.363 153.606 155.918 153.058 155.227C152.509 154.536 152.257 153.656 152.357 152.78C152.458 151.903 152.902 151.103 153.592 150.553C154.282 150.004 155.162 149.751 156.039 149.851L292.346 165.437C292.78 165.486 293.201 165.621 293.583 165.833C293.966 166.045 294.303 166.33 294.575 166.672C294.848 167.014 295.05 167.407 295.17 167.827C295.291 168.248 295.327 168.688 295.277 169.122C295.228 169.557 295.093 169.977 294.881 170.36C294.668 170.742 294.383 171.079 294.04 171.351C293.698 171.623 293.305 171.824 292.885 171.945C292.464 172.065 292.024 172.101 291.589 172.05Z" fill="#E6E6E6"/>
                    <path d="M187.174 109.232L159.387 106.054C158.967 106.006 158.583 105.792 158.32 105.461C158.056 105.13 157.935 104.708 157.983 104.287L160.811 79.5531C160.86 79.1327 161.073 78.7488 161.404 78.4856C161.735 78.2223 162.158 78.1012 162.578 78.1488L190.365 81.3262C190.785 81.3747 191.169 81.588 191.432 81.9193C191.696 82.2505 191.817 82.6726 191.769 83.093L188.941 107.827C188.892 108.248 188.679 108.632 188.348 108.895C188.017 109.158 187.594 109.279 187.174 109.232Z" fill="#752A7A"/>
                    <path d="M349.915 265.934H258.966C258.856 265.934 258.75 265.89 258.672 265.812C258.595 265.735 258.551 265.629 258.551 265.519C258.551 265.409 258.595 265.303 258.672 265.225C258.75 265.147 258.856 265.104 258.966 265.104H349.915C350.025 265.104 350.13 265.147 350.208 265.225C350.286 265.303 350.33 265.409 350.33 265.519C350.33 265.629 350.286 265.735 350.208 265.812C350.13 265.89 350.025 265.934 349.915 265.934Z" fill="#3F3D56"/>
                    <path d="M315.764 107.278C315.624 107.83 315.607 108.405 315.714 108.965C315.82 109.524 316.049 110.053 316.382 110.514C316.715 110.976 317.146 111.359 317.643 111.636C318.14 111.913 318.692 112.077 319.26 112.118L322.074 120.561L327.621 120.102L323.48 108.236C323.486 107.277 323.139 106.35 322.506 105.63C321.874 104.91 320.999 104.447 320.048 104.329C319.096 104.211 318.135 104.446 317.345 104.989C316.556 105.533 315.993 106.347 315.764 107.278Z" fill="#FFB8B8"/>
                    <path d="M320.011 162.563C320.661 163.16 321.457 163.575 322.319 163.766C323.181 163.957 324.078 163.918 324.919 163.651C325.761 163.385 326.517 162.901 327.112 162.249C327.707 161.597 328.12 160.8 328.308 159.937L332.701 139.807C333.453 136.365 333.276 132.784 332.189 129.433L327.047 113.579C326.973 113.352 326.851 113.143 326.689 112.967C326.527 112.791 326.329 112.652 326.108 112.559C325.887 112.467 325.649 112.423 325.41 112.431C325.171 112.439 324.937 112.499 324.723 112.606L321.367 114.286C321.019 114.46 320.744 114.751 320.588 115.107C320.433 115.463 320.407 115.862 320.515 116.236L320.854 117.399C323.667 127.076 323.815 137.333 321.281 147.086L318.548 157.605C318.319 158.487 318.334 159.414 318.592 160.287C318.849 161.16 319.34 161.947 320.011 162.563Z" fill="#752A7A"/>
                    <path d="M302.431 261.591L297.684 261.591L295.426 243.278L302.433 243.279L302.431 261.591Z" fill="#FFB8B8"/>
                    <path d="M294.292 260.234H303.449V265.999H288.527C288.527 265.242 288.676 264.493 288.966 263.793C289.256 263.094 289.681 262.458 290.216 261.923C290.751 261.388 291.387 260.963 292.086 260.673C292.786 260.383 293.535 260.234 294.292 260.234Z" fill="#2F2E41"/>
                    <path d="M328.021 261.591L323.274 261.591L321.016 243.278L328.023 243.279L328.021 261.591Z" fill="#FFB8B8"/>
                    <path d="M319.882 260.234H329.038V265.999H314.117C314.117 265.242 314.266 264.493 314.556 263.793C314.846 263.094 315.27 262.458 315.806 261.923C316.341 261.388 316.977 260.963 317.676 260.673C318.375 260.383 319.125 260.234 319.882 260.234Z" fill="#2F2E41"/>
                    <path d="M314.118 131.408C319.751 131.408 324.318 126.842 324.318 121.208C324.318 115.575 319.751 111.009 314.118 111.009C308.485 111.009 303.918 115.575 303.918 121.208C303.918 126.842 308.485 131.408 314.118 131.408Z" fill="#FFB8B8"/>
                    <path d="M279.241 187.729C279.312 187.164 279.507 186.622 279.81 186.14C280.114 185.658 280.519 185.249 280.998 184.941C281.477 184.633 282.017 184.434 282.581 184.357C283.145 184.281 283.719 184.329 284.263 184.498L289.963 177.665L294.961 180.116L286.775 189.653C286.43 190.547 285.769 191.284 284.917 191.723C284.066 192.163 283.082 192.275 282.153 192.037C281.225 191.8 280.415 191.231 279.879 190.436C279.342 189.642 279.115 188.679 279.241 187.729Z" fill="#FFB8B8"/>
                    <path d="M316.602 131.408C318.137 131.441 319.662 131.149 321.076 130.551C322.49 129.953 323.762 129.062 324.807 127.938C325.853 126.813 326.648 125.48 327.142 124.026C327.635 122.572 327.816 121.03 327.671 119.501C327.526 117.973 327.059 116.492 326.302 115.157C325.544 113.821 324.512 112.661 323.274 111.753C322.036 110.845 320.619 110.209 319.118 109.887C317.617 109.565 316.064 109.565 314.563 109.885C312.319 108.524 309.712 107.607 307.098 107.84C304.484 108.073 301.899 109.625 300.922 112.06C299.944 114.496 300.994 117.706 303.425 118.696C304.983 119.33 306.742 119.022 308.405 118.767C310.068 118.511 311.882 118.344 313.329 119.202C314.776 120.06 315.426 122.36 314.13 123.433C313.443 124.024 312.953 124.81 312.724 125.687C312.495 126.564 312.539 127.49 312.85 128.342C313.501 130.026 315.279 131.379 316.602 131.408Z" fill="#2F2E41"/>
                    <path d="M329.255 187.325L331.065 255.989C331.071 256.218 331.029 256.446 330.943 256.658C330.857 256.87 330.728 257.062 330.564 257.222C330.4 257.382 330.205 257.506 329.991 257.587C329.777 257.668 329.548 257.704 329.32 257.692L323.359 257.388C322.979 257.368 322.617 257.219 322.334 256.964C322.05 256.71 321.863 256.366 321.803 255.99L314.714 211.392C314.684 211.201 314.588 211.027 314.443 210.899C314.298 210.771 314.113 210.698 313.919 210.692C313.726 210.686 313.537 210.748 313.384 210.866C313.232 210.985 313.125 211.153 313.083 211.341L303.487 254.281C303.435 254.51 303.336 254.726 303.195 254.915C303.054 255.103 302.875 255.259 302.669 255.373C302.463 255.486 302.235 255.555 302.001 255.574C301.766 255.593 301.531 255.563 301.309 255.484L295.394 255.122C295.052 255.001 294.759 254.77 294.56 254.466C294.361 254.162 294.267 253.802 294.293 253.439L299.457 186.676L329.255 187.325Z" fill="#2F2E41"/>
                    <path d="M332.159 154.712C333.157 144.307 325.506 134.896 315.08 134.155C310.587 133.836 303.612 133.722 301.313 139.611C294.387 157.349 306.512 156.918 302.334 172.287C298.157 187.656 294.468 188.536 300.199 189.646C305.931 190.756 331.706 197.307 330.648 186.49C329.997 179.841 331.163 165.092 332.159 154.712Z" fill="#752A7A"/>
                    <path d="M303.371 137.806C304.195 137.488 305.087 137.392 305.959 137.528C306.832 137.665 307.652 138.029 308.339 138.584C309.025 139.14 309.553 139.866 309.869 140.69C310.185 141.514 310.278 142.407 310.138 143.279L306.883 163.625C306.326 167.104 304.855 170.372 302.62 173.096L292.047 185.98C291.895 186.165 291.705 186.315 291.49 186.42C291.275 186.524 291.04 186.581 290.801 186.587C290.561 186.592 290.324 186.546 290.104 186.451C289.885 186.357 289.688 186.216 289.528 186.038L287.017 183.249C286.757 182.96 286.606 182.589 286.591 182.201C286.576 181.812 286.698 181.431 286.935 181.123L287.675 180.163C293.826 172.181 297.706 162.685 298.906 152.68L300.2 141.889C300.309 140.985 300.661 140.127 301.22 139.408C301.778 138.689 302.522 138.135 303.371 137.806Z" fill="#752A7A"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_135_57" x="-4" y="0" width="204.254" height="231.478" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_135_57"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_135_57" result="shape"/>
                    </filter>
                    <filter id="filter1_d_135_57" x="129.043" y="59.1201" width="197.723" height="140.147" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_135_57"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_135_57" result="shape"/>
                    </filter>
                    <clipPath id="clip0_135_57">
                    <rect width="350.33" height="266" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>                                                              
                  <h2 class="inter text-xl font-semibold mt-4">Você ainda não possui nenhuma publicação</h2>
                  <p class="inter">Realize uma publicação para visualizar.</p>           
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>

<script>
  function _0x2c92(){const _0x15a07c=['classList','jjHTm','782946qrwcte','omsdj','\x20tarde.','target','innerHTML','animation:','UVcWZ','gxlyA','error','ublished','bIlJu','CWvSY','apPwN','DELETE','display','4948UrBQnO','Insira\x20um\x20','hiVqP','gfxkd','post/updat','/Bulk/erro','#day','style','1021614liunFn','uHaOu','PkEXb','ouaFb','hIFPw','hZdlI','change','PUT','pQmaR','ortada\x20com','display:\x20n','flex','published/','iGCHm','ZoxaQ','FzmpW','ROKQY','Evwii','UBMAX','mente\x20mais','#div-date','\x20slideoff\x20','IeUte','dCiua','/Bulk/chec','2px\x20solid\x20','vjRfY','LROXs','tzoWW','/img/admin','remove','\x20sucesso.','cess','then','tvNbB','MWeip','img','.alert','/platform/','haWzk','zFdnZ','rHqOg','ifOuK','2s;','Tente\x20mais','blicação.','aqQwu','LGxsp','lgGag','yxPzZ','all-posts/','schedule-i','stringify','append','KeFiP','8RqLOJM','link\x20válid','width','ppyus','vbCqg','qHdqe','OWosA','puCmp','#div-image','490SnzhJT','UJuXy','slice','khfiB','.image-suc','innerText','DqCbU','iTemK','435573gyzqOk','ZrqSF','#div-link','2MmOBVB','kExqa','Imagem\x20imp','QlRod','DCxgO','gNHZF','#link-sche','add','qHvOZ','kgoMY','EjcMb','kuIEQ','#image','#popup_del','#content-s','#content-p','zjXUY','#popup_edi','PTaZN','applicatio','irIvr','addEventLi','valueAsDat','OisbH','mage/','Itihe','hbTBx','ualizar\x20pu','KaUiM','files','njuSp','#e00d0d','btcSX','ent','ogiTT','image','BFAer','PFGjH','e-image/','.error','Tente\x20nova','rGDXP','QBKjq','IyfsY','ZvzKw','schedule-l','reload','rSTcu','edit-post-','delete-pos','link','appendChil','Klwcg','hZfTj','sAkYA','stener','ete','ZKmzh','tor','STYWh','querySelec','#hour','\x20tarde','qRHMM','r.png','t_publishe','hidden','success','ink/','JIneM','createElem','chedule','value','LjblS','border','dqHhk','test','224280TpNyFY','push','tify','KuhOu','Erro\x20ao\x20at','buRmp','dule','n/json','XIVjE','24952EhRugb','urWZW','ked.png','AdkQU','NUBor','fhnLN','NPqoy','#files','phcDA','Dqfft','length','src','MMtoP','rXNpV','BZHvJ','catch','message-no','rywIL','height','OklCf','1881971XOUNGm','one'];_0x2c92=function(){return _0x15a07c;};return _0x2c92();}const _0x1ff5b8=_0x209f;(function(_0x1af4e0,_0x2dae37){const _0x401af4=_0x209f,_0x220999=_0x1af4e0();while(!![]){try{const _0x2d1710=-parseInt(_0x401af4(0x1d6))/(0x8e*-0x1+0x24ca+-0x173*0x19)*(parseInt(_0x401af4(0x180))/(0x1fb7+0x20d2+-0x1*0x4087))+-parseInt(_0x401af4(0x17d))/(0x1e09+0x4*0x45b+-0x2f72)+-parseInt(_0x401af4(0x12d))/(-0x125b+-0x2b6*-0x2+0xcf3)*(-parseInt(_0x401af4(0x175))/(0x312+0x2bd*0xc+0x13d*-0x1d))+-parseInt(_0x401af4(0x135))/(-0xc76+0x923+0x359)+-parseInt(_0x401af4(0x11a))/(0x1c92+-0x1*0x17e4+0x3*-0x18d)*(-parseInt(_0x401af4(0x16c))/(0x16*0x106+0x9bc*0x2+-0x29f4))+parseInt(_0x401af4(0x11e))/(0x6*-0x625+0x12dc+0x120b)+parseInt(_0x401af4(0x1cd))/(0x5*-0x3ea+0xa22+-0x2*-0x4bd);if(_0x2d1710===_0x2dae37)break;else _0x220999['push'](_0x220999['shift']());}catch(_0x679604){_0x220999['push'](_0x220999['shift']());}}}(_0x2c92,-0x3e421+0x1a462+0x4ad30));let file_input=document[_0x1ff5b8(0x1bc)+_0x1ff5b8(0x1ba)](_0x1ff5b8(0x10d));const image_success=document[_0x1ff5b8(0x1bc)+_0x1ff5b8(0x1ba)](_0x1ff5b8(0x179)+_0x1ff5b8(0x155));let id,type;function alert_message(_0x3e9735,_0x1323e0){const _0x58227d=_0x1ff5b8,_0x1ea659={'jjHTm':_0x58227d(0x13f)+_0x58227d(0x11b),'tvNbB':_0x58227d(0x123)+_0x58227d(0x14a)+_0x58227d(0x160),'DCxgO':function(_0x34f8c8,_0x5d9789,_0xc6fa7b){return _0x34f8c8(_0x5d9789,_0xc6fa7b);},'pQmaR':function(_0x720786,_0x512bca,_0x4bb43c){return _0x720786(_0x512bca,_0x4bb43c);},'rywIL':function(_0x45d3de,_0x1e0a6d){return _0x45d3de==_0x1e0a6d;},'UJuXy':_0x58227d(0x126),'OklCf':_0x58227d(0x1a7),'uHaOu':_0x58227d(0x140),'kgoMY':_0x58227d(0x159),'LROXs':_0x58227d(0x152)+_0x58227d(0x132)+_0x58227d(0x1c0),'UBMAX':_0x58227d(0x116)+_0x58227d(0x1cf),'tzoWW':function(_0x5f32ac,_0x16d795){return _0x5f32ac==_0x16d795;},'lgGag':_0x58227d(0x1c3),'rXNpV':_0x58227d(0x15a),'sAkYA':_0x58227d(0x152)+_0x58227d(0x14d)+_0x58227d(0x1d8)};if(_0x1ea659[_0x58227d(0x117)](_0x3e9735,_0x1ea659[_0x58227d(0x176)])){const _0x17988b=document[_0x58227d(0x1bc)+_0x58227d(0x1ba)](_0x1ea659[_0x58227d(0x119)]);_0x17988b[_0x58227d(0x134)][_0x58227d(0x12c)]=_0x1ea659[_0x58227d(0x136)],_0x17988b[_0x58227d(0x122)]='';const _0x3e6d03=document[_0x58227d(0x1c6)+_0x58227d(0x1a1)]('p'),_0x4909f1=document[_0x58227d(0x1c6)+_0x58227d(0x1a1)](_0x1ea659[_0x58227d(0x189)]);_0x4909f1[_0x58227d(0x16e)]='28',_0x4909f1[_0x58227d(0x118)]='28',_0x4909f1[_0x58227d(0x111)]=_0x1ea659[_0x58227d(0x150)],_0x3e6d03[_0x58227d(0x11c)][_0x58227d(0x187)](_0x1ea659[_0x58227d(0x147)]),_0x3e6d03[_0x58227d(0x17a)]=_0x1323e0,_0x17988b[_0x58227d(0x1b3)+'d'](_0x4909f1),_0x17988b[_0x58227d(0x1b3)+'d'](_0x3e6d03),_0x1ea659[_0x58227d(0x184)](setTimeout,()=>{const _0x1f1eb0=_0x58227d,_0x5d2c90={'rSTcu':_0x1ea659[_0x1f1eb0(0x11d)]};_0x17988b[_0x1f1eb0(0x134)]=_0x1ea659[_0x1f1eb0(0x157)],_0x1ea659[_0x1f1eb0(0x184)](setTimeout,()=>{const _0x482b06=_0x1f1eb0;_0x17988b[_0x482b06(0x134)]=_0x5d2c90[_0x482b06(0x1af)];},0x14*-0x15d+0x2b5*-0x6+0x2ea2);},0x21e*0x7+0xe3f*-0x1+0x73d);}else{if(_0x1ea659[_0x58227d(0x151)](_0x3e9735,_0x1ea659[_0x58227d(0x165)])){const _0x92ceb0=document[_0x58227d(0x1bc)+_0x58227d(0x1ba)](_0x1ea659[_0x58227d(0x113)]);_0x92ceb0[_0x58227d(0x134)][_0x58227d(0x12c)]=_0x1ea659[_0x58227d(0x136)],_0x92ceb0[_0x58227d(0x122)]='';const _0x4616f8=document[_0x58227d(0x1c6)+_0x58227d(0x1a1)]('p'),_0xcb1b8e=document[_0x58227d(0x1c6)+_0x58227d(0x1a1)](_0x1ea659[_0x58227d(0x189)]);_0xcb1b8e[_0x58227d(0x16e)]='28',_0xcb1b8e[_0x58227d(0x118)]='28',_0xcb1b8e[_0x58227d(0x111)]=_0x1ea659[_0x58227d(0x1b6)],_0x4616f8[_0x58227d(0x11c)][_0x58227d(0x187)](_0x1ea659[_0x58227d(0x147)]),_0x4616f8[_0x58227d(0x17a)]=_0x1323e0,_0x92ceb0[_0x58227d(0x1b3)+'d'](_0xcb1b8e),_0x92ceb0[_0x58227d(0x1b3)+'d'](_0x4616f8),_0x1ea659[_0x58227d(0x13d)](setTimeout,()=>{const _0x27c063=_0x58227d,_0x2ff85b={'dCiua':_0x1ea659[_0x27c063(0x11d)]};_0x92ceb0[_0x27c063(0x134)]=_0x1ea659[_0x27c063(0x157)],_0x1ea659[_0x27c063(0x13d)](setTimeout,()=>{const _0xf7c6e0=_0x27c063;_0x92ceb0[_0xf7c6e0(0x134)]=_0x2ff85b[_0xf7c6e0(0x14c)];},0xd18+0x655+-0x104d);},0x2031+0x16d6*-0x1+-0x18b);}}}function _0x209f(_0x808275,_0x49edb7){const _0x4dc905=_0x2c92();return _0x209f=function(_0x493ad6,_0x5ad8e4){_0x493ad6=_0x493ad6-(0x20cb+-0x1fa4+-0x1d*0x1);let _0x18d4e4=_0x4dc905[_0x493ad6];return _0x18d4e4;},_0x209f(_0x808275,_0x49edb7);}const handle_file_preview=_0x2aed6a=>{const _0x52e415=_0x1ff5b8,_0x251188={'KaUiM':function(_0x5a8c12,_0x4d6f11,_0x38c469){return _0x5a8c12(_0x4d6f11,_0x38c469);},'apPwN':_0x52e415(0x1c3),'haWzk':_0x52e415(0x182)+_0x52e415(0x13e)+_0x52e415(0x154),'dqHhk':_0x52e415(0x126),'gNHZF':_0x52e415(0x1a8)+_0x52e415(0x148)+_0x52e415(0x120),'LGxsp':_0x52e415(0x1a3),'hiVqP':function(_0x479b1a,_0x5825bf,_0x4c107c){return _0x479b1a(_0x5825bf,_0x4c107c);},'KeFiP':function(_0x2afa84,_0x36959e){return _0x2afa84+_0x36959e;},'buRmp':_0x52e415(0x15b)+_0x52e415(0x131)+_0x52e415(0x1a6),'CWvSY':_0x52e415(0x13c)};let _0x3146ca=_0x2aed6a[_0x52e415(0x121)][_0x52e415(0x19d)],_0x76fa8e=_0x3146ca[_0x52e415(0x110)];const _0x351b27=new FormData();return _0x351b27[_0x52e415(0x16a)](_0x251188[_0x52e415(0x164)],_0x3146ca[-0xd3b+0xedd+-0x1a2]),_0x251188[_0x52e415(0x12f)](fetch,_0x251188[_0x52e415(0x16b)](_0x251188[_0x52e415(0x1d2)],id),{'method':_0x251188[_0x52e415(0x129)],'body':_0x351b27})[_0x52e415(0x156)](_0x1fc5fc=>{const _0x4908b6=_0x52e415;_0x1fc5fc['ok']&&_0x251188[_0x4908b6(0x19c)](alert_message,_0x251188[_0x4908b6(0x12a)],_0x251188[_0x4908b6(0x15c)]);})[_0x52e415(0x115)](_0xa0de64=>{const _0x2d8d0f=_0x52e415;_0x251188[_0x2d8d0f(0x19c)](alert_message,_0x251188[_0x2d8d0f(0x1cb)],_0x251188[_0x2d8d0f(0x185)]);});};file_input[_0x1ff5b8(0x195)+_0x1ff5b8(0x1b7)](_0x1ff5b8(0x13b),handle_file_preview);function openEditSchedule(_0x543b64,_0x2a6977,_0x356eb9,_0x32c6b6,_0x5526b9,_0xf554a4){const _0x45b86a=_0x1ff5b8,_0xce6ad6={'DqCbU':_0x45b86a(0x191)+'t','ZKmzh':_0x45b86a(0x18e)+_0x45b86a(0x1c7),'qHdqe':_0x45b86a(0x17f),'ouaFb':_0x45b86a(0x174),'yxPzZ':_0x45b86a(0x149),'urWZW':_0x45b86a(0x186)+_0x45b86a(0x1d3),'vbCqg':_0x45b86a(0x18c),'hZfTj':_0x45b86a(0x133),'hIFPw':_0x45b86a(0x1bd),'Klwcg':function(_0x1ea9a0,_0x184236){return _0x1ea9a0>_0x184236;},'phcDA':_0x45b86a(0x1c2),'omsdj':_0x45b86a(0x1b2),'kuIEQ':_0x45b86a(0x1a3)},_0x4cebd0=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x17b)]),_0xe2d258=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x1b9)]),_0x31072c=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x171)]),_0x2ee509=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x138)]),_0xea3f9e=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x166)]),_0x30c972=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x1d7)]),_0x16e2e4=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x170)]),_0x1b1003=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x1b5)]),_0x5a01cf=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x139)]);_0xe2d258[_0x45b86a(0x1c8)]=_0x2a6977,id=_0x543b64;_0xce6ad6[_0x45b86a(0x1b4)](_0x356eb9[_0x45b86a(0x110)],-0x969+0x1049+-0x6df)?(_0x30c972[_0x45b86a(0x1c8)]=_0x356eb9,_0x2ee509[_0x45b86a(0x11c)][_0x45b86a(0x187)](_0xce6ad6[_0x45b86a(0x10e)]),type=_0xce6ad6[_0x45b86a(0x11f)]):(_0x31072c[_0x45b86a(0x11c)][_0x45b86a(0x187)](_0xce6ad6[_0x45b86a(0x10e)]),type=_0xce6ad6[_0x45b86a(0x18b)]);if(_0x32c6b6){_0xea3f9e[_0x45b86a(0x11c)][_0x45b86a(0x153)](_0xce6ad6[_0x45b86a(0x10e)]);const _0x2b8d5a=new Date(_0x5526b9[_0x45b86a(0x177)](-0x12*0xa9+-0x1d*-0x139+-0x178d,0x143*-0x19+-0x113f+0x19*0x1f4)+'-'+_0x5526b9[_0x45b86a(0x177)](0x227*0xd+-0x244d*0x1+0x1b*0x4f,-0x1c31+0x73+0x1bc3)+'-'+_0x5526b9[_0x45b86a(0x177)](0x3*-0x41d+0x61f*0x4+-0xc25,0x59*-0x11+0x8cb*-0x1+-0x75b*-0x2));_0x1b1003[_0x45b86a(0x196)+'e']=_0x2b8d5a,_0x5a01cf[_0x45b86a(0x1c8)]=_0xf554a4;}else _0xea3f9e[_0x45b86a(0x11c)][_0x45b86a(0x187)](_0xce6ad6[_0x45b86a(0x10e)]);_0x4cebd0[_0x45b86a(0x11c)][_0x45b86a(0x153)](_0xce6ad6[_0x45b86a(0x10e)]);}function openEditPublished(_0x102bed,_0x1fcd59){const _0x5de236=_0x1ff5b8,_0x473d00={'kExqa':_0x5de236(0x191)+_0x5de236(0x1c1)+'d','rHqOg':_0x5de236(0x18f)+_0x5de236(0x127),'MWeip':_0x5de236(0x1c2)},_0x2ba353=document[_0x5de236(0x1bc)+_0x5de236(0x1ba)](_0x473d00[_0x5de236(0x181)]),_0x57bb2f=document[_0x5de236(0x1bc)+_0x5de236(0x1ba)](_0x473d00[_0x5de236(0x15e)]);_0x57bb2f[_0x5de236(0x1c8)]=_0x1fcd59,id=_0x102bed,_0x2ba353[_0x5de236(0x11c)][_0x5de236(0x153)](_0x473d00[_0x5de236(0x158)]);}function closeEditPublished(){const _0x2adb40=_0x1ff5b8,_0x36e0b0={'BFAer':_0x2adb40(0x191)+_0x2adb40(0x1c1)+'d','UVcWZ':_0x2adb40(0x1c2)},_0x4bfeda=document[_0x2adb40(0x1bc)+_0x2adb40(0x1ba)](_0x36e0b0[_0x2adb40(0x1a4)]);_0x4bfeda[_0x2adb40(0x11c)][_0x2adb40(0x187)](_0x36e0b0[_0x2adb40(0x124)]);}function openDelete(_0x104b39){const _0x2ce144=_0x1ff5b8,_0x31e9d1={'zFdnZ':_0x2ce144(0x18d)+_0x2ce144(0x1b8),'hZdlI':_0x2ce144(0x1c2)},_0x44f08e=document[_0x2ce144(0x1bc)+_0x2ce144(0x1ba)](_0x31e9d1[_0x2ce144(0x15d)]);id=_0x104b39,_0x44f08e[_0x2ce144(0x11c)][_0x2ce144(0x153)](_0x31e9d1[_0x2ce144(0x13a)]);}function closeEditSchedule(){const _0x284a5a=_0x1ff5b8,_0x3cd553={'OisbH':_0x284a5a(0x191)+'t','MMtoP':_0x284a5a(0x17f),'njuSp':_0x284a5a(0x174),'ZoxaQ':_0x284a5a(0x149),'Dqfft':_0x284a5a(0x1c2)},_0x1b6ab8=document[_0x284a5a(0x1bc)+_0x284a5a(0x1ba)](_0x3cd553[_0x284a5a(0x197)]),_0x2d2e9d=document[_0x284a5a(0x1bc)+_0x284a5a(0x1ba)](_0x3cd553[_0x284a5a(0x112)]),_0x16a43c=document[_0x284a5a(0x1bc)+_0x284a5a(0x1ba)](_0x3cd553[_0x284a5a(0x19e)]),_0x31fbd9=document[_0x284a5a(0x1bc)+_0x284a5a(0x1ba)](_0x3cd553[_0x284a5a(0x143)]);_0x2d2e9d[_0x284a5a(0x11c)][_0x284a5a(0x153)](_0x3cd553[_0x284a5a(0x10f)]),_0x16a43c[_0x284a5a(0x11c)][_0x284a5a(0x153)](_0x3cd553[_0x284a5a(0x10f)]),_0x16a43c[_0x284a5a(0x11c)][_0x284a5a(0x153)](_0x3cd553[_0x284a5a(0x10f)]),_0x1b6ab8[_0x284a5a(0x11c)][_0x284a5a(0x187)](_0x3cd553[_0x284a5a(0x10f)]);}function closeDel(){const _0x8bc739=_0x1ff5b8,_0x18b371={'IyfsY':_0x8bc739(0x18d)+_0x8bc739(0x1b8),'PkEXb':_0x8bc739(0x1c2)},_0x1800f8=document[_0x8bc739(0x1bc)+_0x8bc739(0x1ba)](_0x18b371[_0x8bc739(0x1ab)]);_0x1800f8[_0x8bc739(0x11c)][_0x8bc739(0x187)](_0x18b371[_0x8bc739(0x137)]);}function deletePost(){const _0x29b647=_0x1ff5b8,_0x1e477d={'KuhOu':function(_0x386a8f,_0x5d9629,_0x1085cc){return _0x386a8f(_0x5d9629,_0x1085cc);},'XIVjE':_0x29b647(0x126),'AdkQU':_0x29b647(0x161)+_0x29b647(0x1be),'khfiB':function(_0x184e53,_0x5df5c2,_0x4fb62e){return _0x184e53(_0x5df5c2,_0x4fb62e);},'ogiTT':function(_0x45845a,_0x45e480){return _0x45845a+_0x45e480;},'aqQwu':_0x29b647(0x15b)+_0x29b647(0x167)+_0x29b647(0x1b1)+'t/','EjcMb':_0x29b647(0x12b)};_0x1e477d[_0x29b647(0x178)](fetch,_0x1e477d[_0x29b647(0x1a2)](_0x1e477d[_0x29b647(0x163)],id),{'method':_0x1e477d[_0x29b647(0x18a)]})[_0x29b647(0x156)](_0x4bfbe8=>{const _0x262d95=_0x29b647;location[_0x262d95(0x1ae)]();})[_0x29b647(0x115)](_0x347d7c=>{const _0x41b20c=_0x29b647;_0x1e477d[_0x41b20c(0x1d0)](alert_message,_0x1e477d[_0x41b20c(0x1d5)],_0x1e477d[_0x41b20c(0x1d9)]);});}function editPostSchedule(){const _0x422698=_0x1ff5b8,_0x11b68c={'zjXUY':function(_0x421f2c,_0x1f55e4,_0x330c63){return _0x421f2c(_0x1f55e4,_0x330c63);},'ZrqSF':_0x422698(0x126),'irIvr':_0x422698(0x1d1)+_0x422698(0x19b)+_0x422698(0x162),'gxlyA':_0x422698(0x1a8)+_0x422698(0x148)+_0x422698(0x120),'qHvOZ':_0x422698(0x18e)+_0x422698(0x1c7),'NPqoy':_0x422698(0x186)+_0x422698(0x1d3),'ROKQY':_0x422698(0x133),'ifOuK':_0x422698(0x1bd),'btcSX':function(_0x5ddd07,_0x2fb039){return _0x5ddd07==_0x2fb039;},'FzmpW':_0x422698(0x14e)+_0x422698(0x19f),'qRHMM':_0x422698(0x1b2),'PTaZN':function(_0x4150b5,_0x83cdb0){return _0x4150b5(_0x83cdb0);},'JIneM':_0x422698(0x12e)+_0x422698(0x16d)+'o','rGDXP':function(_0x5ea05d,_0x1d4874,_0x396d93){return _0x5ea05d(_0x1d4874,_0x396d93);},'Evwii':function(_0x5c45cd,_0x40e80e){return _0x5c45cd+_0x40e80e;},'NUBor':_0x422698(0x15b)+_0x422698(0x167)+_0x422698(0x1b0)+_0x422698(0x1ad)+_0x422698(0x1c4),'PFGjH':_0x422698(0x13c),'puCmp':_0x422698(0x193)+_0x422698(0x1d4),'IeUte':_0x422698(0x1a3),'iTemK':function(_0x5d3eac,_0x35b7d0,_0x584781){return _0x5d3eac(_0x35b7d0,_0x584781);},'fhnLN':function(_0x139f55,_0x4607f4){return _0x139f55+_0x4607f4;},'bIlJu':_0x422698(0x15b)+_0x422698(0x167)+_0x422698(0x1b0)+_0x422698(0x168)+_0x422698(0x198)},_0x207e08=document[_0x422698(0x1bc)+_0x422698(0x1ba)](_0x11b68c[_0x422698(0x188)]),_0x408683=document[_0x422698(0x1bc)+_0x422698(0x1ba)](_0x11b68c[_0x422698(0x10c)]),_0x484376=document[_0x422698(0x1bc)+_0x422698(0x1ba)](_0x11b68c[_0x422698(0x145)]),_0x4b1540=document[_0x422698(0x1bc)+_0x422698(0x1ba)](_0x11b68c[_0x422698(0x15f)]),_0x585fb3=[],_0x3236d0=/^(http|https):\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}(\/\S*)?$/;if(_0x11b68c[_0x422698(0x1a0)](_0x207e08[_0x422698(0x1c8)][_0x422698(0x110)],-0x1705+0x1*-0x4bf+-0xde2*-0x2)){_0x207e08[_0x422698(0x134)][_0x422698(0x1ca)]=_0x11b68c[_0x422698(0x144)];return;}if(_0x11b68c[_0x422698(0x1a0)](_0x484376[_0x422698(0x1c8)],'')){_0x484376[_0x422698(0x134)][_0x422698(0x1ca)]=_0x11b68c[_0x422698(0x144)];return;}if(_0x11b68c[_0x422698(0x1a0)](_0x4b1540[_0x422698(0x1c8)],'')){_0x4b1540[_0x422698(0x134)][_0x422698(0x1ca)]=_0x11b68c[_0x422698(0x144)];return;}if(_0x11b68c[_0x422698(0x1a0)](type,_0x11b68c[_0x422698(0x1bf)])){if(_0x11b68c[_0x422698(0x1a0)](_0x3236d0[_0x422698(0x1cc)](_0x408683[_0x422698(0x1c8)]),![])){_0x11b68c[_0x422698(0x192)](alert_message,_0x11b68c[_0x422698(0x1c5)]);return;}_0x11b68c[_0x422698(0x1a9)](fetch,_0x11b68c[_0x422698(0x146)](_0x11b68c[_0x422698(0x10a)],id),{'method':_0x11b68c[_0x422698(0x1a5)],'headers':{'Content-Type':_0x11b68c[_0x422698(0x173)]},'body':JSON[_0x422698(0x169)]({'content':_0x207e08[_0x422698(0x1c8)],'day':_0x484376[_0x422698(0x1c8)],'hour':_0x4b1540[_0x422698(0x1c8)],'link':_0x408683[_0x422698(0x1c8)]})})[_0x422698(0x156)](_0x10491b=>{const _0x27ba6c=_0x422698;_0x10491b['ok']?location[_0x27ba6c(0x1ae)]():_0x11b68c[_0x27ba6c(0x190)](alert_message,_0x11b68c[_0x27ba6c(0x17e)],_0x11b68c[_0x27ba6c(0x194)]);})[_0x422698(0x115)](_0x4b1632=>{const _0x285366=_0x422698;_0x11b68c[_0x285366(0x190)](alert_message,_0x11b68c[_0x285366(0x17e)],_0x11b68c[_0x285366(0x125)]);});}else _0x11b68c[_0x422698(0x1a0)](type,_0x11b68c[_0x422698(0x14b)])&&_0x11b68c[_0x422698(0x17c)](fetch,_0x11b68c[_0x422698(0x10b)](_0x11b68c[_0x422698(0x128)],id),{'method':_0x11b68c[_0x422698(0x1a5)],'headers':{'Content-Type':_0x11b68c[_0x422698(0x173)]},'body':JSON[_0x422698(0x169)]({'content':_0x207e08[_0x422698(0x1c8)],'day':_0x484376[_0x422698(0x1c8)],'hour':_0x4b1540[_0x422698(0x1c8)]})})[_0x422698(0x156)](_0x907824=>{const _0x2119ec=_0x422698;_0x907824['ok']?location[_0x2119ec(0x1ae)]():_0x11b68c[_0x2119ec(0x190)](alert_message,_0x11b68c[_0x2119ec(0x17e)],_0x11b68c[_0x2119ec(0x194)]);})[_0x422698(0x115)](_0x2f4131=>{const _0x58aaf9=_0x422698;_0x11b68c[_0x58aaf9(0x190)](alert_message,_0x11b68c[_0x58aaf9(0x17e)],_0x11b68c[_0x58aaf9(0x125)]);});}function editPostPublished(){const _0x32b229=_0x1ff5b8,_0xf401a7={'hbTBx':function(_0x432f6e,_0x18fadd,_0x5577dd){return _0x432f6e(_0x18fadd,_0x5577dd);},'BZHvJ':_0x32b229(0x126),'Itihe':_0x32b229(0x1d1)+_0x32b229(0x19b)+_0x32b229(0x162),'QlRod':function(_0x3c0294,_0x2d7c70,_0x21d791){return _0x3c0294(_0x2d7c70,_0x21d791);},'ZvzKw':_0x32b229(0x1a8)+_0x32b229(0x148)+_0x32b229(0x120),'ppyus':_0x32b229(0x18f)+_0x32b229(0x127),'OWosA':function(_0x1e22ea,_0x13fa01){return _0x1e22ea==_0x13fa01;},'LjblS':_0x32b229(0x14e)+_0x32b229(0x19f),'iGCHm':function(_0x5ab41d,_0x403c03,_0x2b8f96){return _0x5ab41d(_0x403c03,_0x2b8f96);},'QBKjq':function(_0x3c5de1,_0x120b8d){return _0x3c5de1+_0x120b8d;},'STYWh':_0x32b229(0x15b)+_0x32b229(0x167)+_0x32b229(0x1b0)+_0x32b229(0x141),'gfxkd':_0x32b229(0x13c),'vjRfY':_0x32b229(0x193)+_0x32b229(0x1d4)},_0x69eb8a=document[_0x32b229(0x1bc)+_0x32b229(0x1ba)](_0xf401a7[_0x32b229(0x16f)]),_0x331882=[];_0xf401a7[_0x32b229(0x172)](_0x69eb8a[_0x32b229(0x1c8)][_0x32b229(0x110)],-0x101*-0x25+-0x1b2f+0x19*-0x66)&&(_0x69eb8a[_0x32b229(0x134)][_0x32b229(0x1ca)]=_0xf401a7[_0x32b229(0x1c9)],_0x331882[_0x32b229(0x1ce)](_0xf401a7[_0x32b229(0x114)])),_0xf401a7[_0x32b229(0x172)](_0x331882[_0x32b229(0x110)],-0xbe1*0x3+-0xaed+-0x4*-0xba4)&&_0xf401a7[_0x32b229(0x142)](fetch,_0xf401a7[_0x32b229(0x1aa)](_0xf401a7[_0x32b229(0x1bb)],id),{'method':_0xf401a7[_0x32b229(0x130)],'headers':{'Content-Type':_0xf401a7[_0x32b229(0x14f)]},'body':JSON[_0x32b229(0x169)]({'content':_0x69eb8a[_0x32b229(0x1c8)]})})[_0x32b229(0x156)](_0x1db6d9=>{const _0x160a9a=_0x32b229;_0x1db6d9['ok']?location[_0x160a9a(0x1ae)]():_0xf401a7[_0x160a9a(0x19a)](alert_message,_0xf401a7[_0x160a9a(0x114)],_0xf401a7[_0x160a9a(0x199)]);})[_0x32b229(0x115)](_0x476a08=>{const _0x565e5c=_0x32b229;_0xf401a7[_0x565e5c(0x183)](alert_message,_0xf401a7[_0x565e5c(0x114)],_0xf401a7[_0x565e5c(0x1ac)]);});}
</script>