<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluBee | Contas conectadas</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/admin/style.css">
</head>

<body>
  <div class="layer"></div>
  
  <!-- ! Body -->
  <div class="page-flex">

    <!-- ! Sidebar -->
    <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

    <div class="main-wrapper">
      <!-- ! Main nav -->
      <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Nova publicação"}) %>

      <div class="enable" style="display: flex; flex-direction: column;">
        <img src="/img/admin/Bulk/loading.gif" alt="loading" height="80">
        <br>
        <h1 style="color: #FFFFFF; margin-bottom: 10vw;" class="enable-h1">Carregando publicação!</h1>
      </div>
  
      <!-- ! Main -->
      <main class="main users chart-page" id="skip-target">
        <div class="container">
          <div class="top-cat-title">
            <h2 style="color: #1877F2; display: flex; align-items: center;"><img src="/img/platform/facebook.png" width=45 height=45 alt="" style="margin-right: 12px;">Novo post Facebook</h2>
          </div>
          <div class="alert" style="display: none;"></div>
          <br>

          <div class="row">
            <div class="col-lg-12">
              <article class="white-block">
                <p style="font-size: 20px; margin-bottom: 10px; font-weight: bold; border-bottom: 2.5px solid #63636360; padding-bottom: 15px; color: #752A7A; display: flex; align-items: center;"><img src="/img/platform/perfil.png" width=28 height=28 alt="" style="margin-right: 12px;">Detalhes do post:</p>
                <div style="display: flex; flex-wrap: wrap;">
                  <select name="accounts-post" id="accounts-post">
                    <option value="select">Selecione a conta</option>
                    <% accounts.forEach(function(item) { %>
                      <option value="<%= item.id_account %>"><%= item.name %></option>
                    <% }) %>
                  </select>

                  <select name="page-post" id="page-post" style="margin-top: 1vw;">
                    <option value="select">Selecione a página</option>
                    <% pages.forEach(function(item) { %>
                      <option value="<%= item.id %>"><%= item.name_page %></option>
                    <% }) %>
                  </select>

                  <select name="groups-post" id="groups-post" style="margin-top: 1vw">
                    <option value="select">Selecione os grupos</option>
                    <% groups.forEach(function(item) { %>
                      <option value="<%= item.id %>"><%= item.name_group %></option>
                    <% }) %>
                  </select>
                </div>
                <br>
                <br>

                <p style="font-size: 20px; margin-bottom: 10px; font-weight: bold; border-bottom: 2.5px solid #63636360; padding-bottom: 15px; color: #752A7A; display: flex; align-items: center;"><img src="/img/platform/lapis.png" width=28 height=28 alt="" style="margin-right: 12px;">Descreva o post:</p>
                <p style="font-size: 15px; margin-bottom: 10px; font-weight: bold;">Escreva o post aqui:</p>
                <textarea name="" id="content-post" cols="30" rows="4" style="transition: none; padding: 10px;" placeholder="Hoje vamos aprender a preparar um café delicioso!"></textarea>
                <br>
                <p style="font-size: 15px; margin-bottom: 10px; font-weight: bold;">Inserir imagens:</p>
                <input type="file" name="files" id="files" style="border: 2px dashed #752A7A !important" class="files">
                <br>
                <p style="font-size: 15px; margin-bottom: 10px">Visualização:</p>
                <div class="results">
                </div>
                <br>
                <p style="font-size: 20px; margin-bottom: 10px; font-weight: bold; border-bottom: 2.5px solid #63636360; padding-bottom: 15px; color: #752A7A; display: flex; align-items: center;"><img src="/img/platform/tempo.png" width=28 height=28 alt="" style="margin-right: 12px;">Programar post</p>
                <div style="display: flex;">
                  <input type="radio" name="program" id="program-yes" value="yes" tabindex="1"><p style="display: flex; justify-content: center; align-items: center; margin-right: 10px;">Programar</p>
                  <input type="radio" name="program" id="program-no" value="no" tabindex="2"><p style="display: flex; justify-content: center; align-items: center;">Não programar</p>
                </div>
                <div class="program-div" style="margin-top: 30px; display: flex;">
                  <div style="margin-right: 16px;">
                    <p style="color: #752A7A; font-weight: bold; margin-bottom: 5px;">Escolha o dia:</p>
                    <input type="date" id="day">
                  </div>
                  <div>
                    <p style="color: #752A7A; font-weight: bold; margin-bottom: 5px;">Escolha a hora:</p>
                    <input type="time" id="hour">
                  </div>
                </div>
                <br>
                <br>
                <button style="color: #FFFFFF; background-color: #752A7A; padding: 13px; border-radius: 10px" onclick="post()">Inserir post</button>
              </article>
            </div>
          </div>
        </div>
      </main>

      <%- include('../partials/footer-platform') %>
    </div>
  </div>


<!-- Chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.28.0/js/jquery.fileupload.min.js"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<!-- Icons library -->
<script src="js/admin/feather.min.js"></script>
</body>
</html>

<script>
  let file_input = document.querySelector('#files');
  let image_preview = document.querySelector('.results');
  const enable = document.querySelector('.enable')
  enable.style.display = "none"
  let images = [];

  const handle_file_preview = (e) => {
    let files = e.target.files;
    let length = files.length;

    for(let i = 0; i < length; i++) {
      let image = document.createElement('img');
      image.setAttribute('width', '80');
      image.setAttribute('height', '80');
      image.setAttribute('style', 'margin-right: 1rem; border-radius: 20px; border: 2px solid #752a7a');
      // use the DOMstring for source
      image.src = window.URL.createObjectURL(files[i]);
      image_preview.appendChild(image);

      // add image to images array
      images.push(files[i]);
    }
  }

  // listen for file input changes
  file_input.addEventListener('change', handle_file_preview);

  async function uploadImage(file) {
    const CLOUDINARY_URL = 'https://api.cloudinary.com/v1_1/dxpaf689x/upload';
    const CLOUDINARY_UPLOAD_PRESET = 'of4ovlpe';

    const formData = new FormData();
    formData.append('file', file);
    formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);

    const response = await fetch(CLOUDINARY_URL, {
      method: 'POST',
      body: formData
    });
    
    const data = await response.json();
    return data.secure_url;
  }

  async function post() {
    const errors = []
    const account = document.querySelector('#accounts-post');
    const page = document.querySelector('#page-post');
    const groups = document.querySelector('#groups-post');
    const content = document.querySelector('#content-post');
    const day = document.querySelector('#day');
    const hour = document.querySelector('#hour');
    const program = document.querySelector('#program-yes');
    const no_program = document.querySelector('#program-no');

    if (account.value == "select") {
      account.style.border = "2px solid #e00d0d"
      errors.push("Selecione a conta")
    }
    if (page.value == "select") {
      page.style.border = "2px solid #e00d0d";
      errors.push("Selecione a página")
    }
    if (groups.value == "select") {
      groups.style.border = "2px solid #e00d0d";
      errors.push("Selecione os grupos")
    }
    if (content.value == "") {
      content.style.border = "2px solid #e00d0d";
      errors.push("Preencha o campo conteúdo")
    }
    if (program.checked) {
      if (day.value == "") {
        day.style.border = "2px solid #e00d0d";
        errors.push("Selecione o dia")
      }
      if (hour.value == "") {
        hour.style.border = "2px solid #e00d0d";
        errors.push("Selecione a hora")
      }
    }

    if (errors.length == 0) {
      const file = file_input.files[0];
      const imageUrl = await uploadImage(file);
      enable.style.display = "flex"

      console.log(imageUrl)

      fetch('/platform/post_facebook/new', {
        method: 'POST',
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({account: account.value, page: page.value, groups: groups.value, content: content.value, program: program.checked, day: day.value, hour: hour.value, image: imageUrl})
      })
      .then((response) => {
          if (response.ok) {
              enable.style.display = "none"
              const divMessage = document.querySelector(".alert");
              divMessage.style.display = "flex";
              divMessage.innerHTML = "";
              const message = document.createElement("p");
              const img = document.createElement("img");
              img.src = "/img/platform/checked.png"
              img.width = "28"
              img.height = "28"
              message.classList.add("message-notify");
              if (program.checked) {
                message.innerText = "Post programado com sucesso.";
              } else {
                message.innerText = "Post realizado."
              }
              divMessage.appendChild(img);
              divMessage.appendChild(message);

              setTimeout(() => {
                divMessage.style.display = "none";
              }, 4000);
          } else {
            enable.style.display = "none"
            enable.style.display = "none"
            const divMessage = document.querySelector(".alert");
            divMessage.style.display = "flex";
            divMessage.innerHTML = "";
            const message = document.createElement("p");
            const img = document.createElement("img");
            img.src = "/img/platform/checked.png"
            img.width = "28"
            img.height = "28"
            message.classList.add("message-notify");
            if (program.checked) {
              message.innerText = "Erro ao programar post";
            } else {
              message.innerText = "Erro ao publicar"
            }
            divMessage.appendChild(img);
            divMessage.appendChild(message);

            setTimeout(() => {
              divMessage.style.display = "none";
            }, 4000);

            throw new Error("Erro ao processar a resposta da requisição");
          }
      })
      .catch((error) => {
        enable.style.display = "none"
        const divMessage = document.querySelector(".alert");
        divMessage.style.display = "flex";
        divMessage.innerHTML = "";
        const message = document.createElement("p");
        const img = document.createElement("img");
        img.src = "/img/platform/checked.png"
        img.width = "28"
        img.height = "28"
        message.classList.add("message-notify");
        if (program.checked) {
          message.innerText = "Erro ao programar post";
        } else {
          message.innerText = "Erro ao publicar"
        }
        divMessage.appendChild(img);
        divMessage.appendChild(message);

        setTimeout(() => {
          divMessage.style.display = "none";
        }, 4000);
      })
    }
  }
</script>