<%- include('../../partials/head', {title: "Configurações da conta"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/nav', {title: "Configurações da conta"}) %>

    <main class="py-8 px-8 fade-in">
      <div class="hidden fade-in relative z-10" id="popup_profile" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 mt-14 sm:p-6 md:p-20">
          <div class="mx-auto max-w-xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="flex justify-between py-3 px-6">
              <h2 class="color-black inter font-semibold text-lg">Editar perfil:</h2>
              <button onclick="closeEditProfile()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.3075 11.7231L20.3075 5.67693C20.5844 5.4 20.5844 4.98462 20.3075 4.7077L19.3844 3.73847C19.1075 3.46154 18.6921 3.46154 18.4151 3.73847L12.369 9.78462C12.1844 9.96923 11.9075 9.96923 11.7228 9.78462L5.67668 3.69231C5.39976 3.41539 4.98438 3.41539 4.70745 3.69231L3.73822 4.66154C3.4613 4.93847 3.4613 5.35385 3.73822 5.63077L9.78438 11.6769C9.96899 11.8615 9.96899 12.1385 9.78438 12.3231L3.69207 18.4154C3.41514 18.6923 3.41514 19.1077 3.69207 19.3846L4.6613 20.3538C4.93822 20.6308 5.35361 20.6308 5.63053 20.3538L11.6767 14.3077C11.8613 14.1231 12.1382 14.1231 12.3228 14.3077L18.369 20.3538C18.6459 20.6308 19.0613 20.6308 19.3382 20.3538L20.3075 19.3846C20.5844 19.1077 20.5844 18.6923 20.3075 18.4154L14.3075 12.3692C14.1228 12.1846 14.1228 11.9077 14.3075 11.7231Z" fill="black"/>
                </svg>                                    
              </button>
            </div>

            <div class="flex flex-col divide-y divide-gray-100 px-6">
              <div>
                <div class="mt-6">
                  <label for="email" class="block text-md font-medium leading-6 text-gray-900 inter">Email:</label>
                  <div class="relative mt-2 rounded-lg shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4154 3.66675C18.9341 3.66675 20.1654 4.89796 20.1654 6.41675V15.5834C20.1654 17.1022 18.9341 18.3334 17.4154 18.3334H4.58203C3.06325 18.3334 1.83203 17.1022 1.83203 15.5834V6.41675C1.83203 4.89796 3.06325 3.66675 4.58203 3.66675H17.4154ZM18.332 6.71741L11.6023 12.6066C11.2855 12.8838 10.8255 12.9069 10.4848 12.6759L10.3951 12.6066L3.66536 6.71833V15.5834C3.66536 16.0897 4.07577 16.5001 4.58203 16.5001H17.4154C17.9216 16.5001 18.332 16.0897 18.332 15.5834V6.71741ZM16.9387 5.50008H5.05686L10.9987 10.6987L16.9387 5.50008Z" fill="#239CFF"/>
                      </svg>                                                                                                                                
                    </div>
                    <input type="text" value="<%= user.email %>" name="email" id="email" class="block w-full rounded-lg inter py-1.5 mt-2 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1">
                  </div>
                </div>

                <div class="pb-4">
                  <button class="w-full py-2.5 inter bg-blue text-white text-sm rounded-lg mt-4" onclick="saveProfile()">Salvar alterações</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mx-auto lg:flex lg:gap-x-6 lg:px-4">
        <aside class="flex overflow-x-auto lg:block lg:w-64 lg:flex-none inter lg:py-4 fade-in">
          <nav class="flex-none px-4 sm:px-6 lg:px-2">
            <ul role="list" class="flex gap-x-3 gap-y-1 whitespace-nowrap lg:flex-col">
              <li>
                <button onclick="openProfile()" class="text-gray-700 hover-blue group flex gap-x-3 rounded-lg py-2 pl-2 pr-3 text-sm leading-6 inter font-semibold">
                  <svg class="h-6 w-6 shrink-0 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                  Perfil
                </button>
              </li>
              <li>
                <button onclick="openSecurity()" class="text-gray-700 hover-blue group flex gap-x-3 rounded-lg py-2 pl-2 pr-3 text-sm leading-6 inter font-semibold">
                  <svg class="h-6 w-6 shrink-0 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                  </svg>
                  Segurança
                </button>
              </li>
            </ul>
          </nav>
        </aside>
      
        <div class="px-4 py-16 sm:px-6 lg:flex-auto lg:px-6 lg:py-4 fade-in" id="profile">
          <div class="mx-auto max-w-2xl space-y-16 sm:space-y-20 lg:mx-0 lg:max-w-none">
            <div>
              <h2 class="text-lg font-semibold leading-7 text-gray-900 inter">Foto de perfil</h2>
              <p class="mt-1 text-sm leading-6 text-gray-500 inter">Faça upload de uma foto para ser o seu avatar.</p>
      
              <div class="col-span-full flex items-center gap-x-8 mt-6">
                <% if (user.photo) { %>
                  <img src="/img/photos/<%= user.photo %>" alt="" class="h-24 w-24 flex-none rounded-lg object-cover preview">
                <% } else { %>
                  <img src="/img/platform/profile.png" alt="" class="h-24 w-24 flex-none rounded-lg object-cover preview">
                <% } %>
                <div>
                  <label style="cursor: pointer;" for="picture" class="rounded-md px-3 py-2 text-sm font-semibold border-blue color-blue shadow-sm inter">Atualizar foto</label>
                  <p class="mt-4 text-xs leading-5 text-gray-600 inter">JPG, GIF or PNG. 1MB max.</p>
                  <input type="file" id="picture" class="hidden" name="picture">
                </div>
              </div>
            </div>

            <div>
              <h2 class="text-lg font-semibold leading-7 text-gray-900 inter">Meu perfil</h2>
              <p class="mt-1 text-sm leading-6 text-gray-500 inter">Confira todas as informações do seu perfil</p>
      
              <dl class="mt-6 space-y-2 divide-y divide-gray-100 border-t border-gray-200 text-sm leading-6">
                <div class="pt-6 sm:flex">
                  <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6 inter">Nome completo</dt>
                  <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                    <div class="text-gray-900 inter"><%= user.name %></div>
                  </dd>
                </div>
                <div class="pt-6 sm:flex">
                  <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6 inter">Endereço de email</dt>
                  <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                    <div class="text-gray-900 inter"><%= user.email %></div>
                    <button onclick="openEditProfile()" type="button" class="font-semibold color-blue inter">Modificar</button>
                  </dd>
                </div>
                <div class="pt-6 sm:flex">
                  <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6 inter">CNPJ</dt>
                  <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                    <div class="text-gray-900 inter"><%= user.cnpj %></div>
                  </dd>
                </div>
                <div class="pt-6 sm:flex">
                  <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6 inter">Telefone</dt>
                  <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                    <div class="text-gray-900 inter"><%= user.phoneCompany %></div>
                  </dd>
                </div>
                <div class="pt-6 sm:flex">
                  <dt class="font-medium text-gray-900 sm:w-64 sm:flex-none sm:pr-6 inter">Cadastrado em</dt>
                  <dd class="mt-1 flex justify-between gap-x-6 sm:mt-0 sm:flex-auto">
                    <div class="text-gray-900 inter"><%= user.date %></div>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <div class="hidden px-4 py-16 sm:px-6 lg:flex-auto lg:px-6 lg:py-4 fade-in" id="security">
          <div class="mx-auto max-w-2xl space-y-16 sm:space-y-20 lg:mx-0 lg:max-w-none">
            <div>
              <h2 class="text-lg font-semibold leading-7 text-gray-900 inter">Segurança da conta:</h2>
              <p class="mt-1 text-sm leading-6 text-gray-500 inter">Visualize ou altere suas informações:</p>
            </div>
          </div>

          <div class="flex flex-col mt-4 space-y-4">
            <div class="col-span-full">
              <label for="current-password" class="block text-sm font-medium leading-6 color-blue inter">Senha atual:</label>
              <div class="mt-2">
                <input id="current-password" name="current_password" type="password" class="block w-full rounded-lg border-blue-1 px-2 inter bg-gray-50 py-1.5 color-blue shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div class="col-span-full">
              <label for="new-password" class="block text-sm font-medium leading-6 color-blue inter">Nova senha:</label>
              <div class="mt-2">
                <input id="new-password" name="new_password" type="password" class="block w-full rounded-lg border-blue-1 px-2 inter bg-gray-50 py-1.5 color-blue shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div class="col-span-full">
              <label for="confirm-password" class="block text-sm font-medium leading-6 color-blue inter">Confirme a senha:</label>
              <div class="mt-2">
                <input id="confirm-password" name="confirm_password" type="password" class="block w-full rounded-lg border-blue-1 px-2 inter bg-gray-50 py-1.5 color-blue shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
              </div>
            </div>
          </div>

          <div class="mt-4 flex">
            <button onclick="changePassword()" type="submit" class="rounded-lg bg-blue px-3 py-2 text-sm font-semibold text-white shadow-sm inter">Alterar</button>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script src="/js/alert-message/alert-message.js"></script>
<script src="/js/loading-window/loading-window.js"></script>
<script>
  function openProfile() {
    const profile = document.querySelector("#profile")
    const security = document.querySelector("#security")

    security.classList.add("hidden")
    profile.classList.remove("hidden")
  }

  function openSecurity() {
    const profile = document.querySelector("#profile")
    const security = document.querySelector("#security")

    security.classList.remove("hidden")
    profile.classList.add("hidden")
  }

  function openEditProfile() {
    const popup = document.querySelector("#popup_profile")

    popup.classList.remove("hidden")
  }

  function closeEditProfile() {
    const popup = document.querySelector("#popup_profile")

    popup.classList.add("hidden")
  }

  const photo = document.querySelector("#picture")
  const preview = document.querySelector(".preview")
  const email = document.querySelector("#email")
  const currentPassword = document.querySelector("#current-password")
  const newPassword = document.querySelector("#new-password")
  const confirmPassword = document.querySelector("#confirm-password")
  const show = document.querySelector("#show")
  const hide = document.querySelector("#hide")

  const profile = document.querySelector("#profile")
  const login = document.querySelector("#login")

  const upload = (e) => {
    const formData = new FormData();
    formData.append('image', photo.files[0]);
    
    openLoading(true)

    return fetch('/company/account/upload', {
      method: 'POST',
      body: formData
    })
    .then((response) => {
      openLoading(false)
      return response.text()
    })
    .then((filename) => {
      const newImagePath = "/img/photos/" + filename
      preview.src = newImagePath;
      alertMessage("success", "Atualizado com sucesso", "Sucesso ao atualizar foto de perfil")
    })
    .catch((err) => {
      openLoading(false)
      alertMessage("error", "Não foi possível atualizar a foto", "Tente novamente mais tarde")
    })
  }

  photo.addEventListener('change', upload);

  async function saveProfile() {
    if (email.value.length == 0) {
      email.style.border = "2px solid #e00d0d";
      return
    }

    openLoading(true)

    fetch('/admin/config/update', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({email: email.value})
    })
    .then((response) => {
      location.reload()
    })
    .catch((error) => {
      openLoading(false)
      alertMessage("error", "Erro ao atualizar perfil.", "Tente novamente mais tarde.")
    })
  }

  async function changePassword() {
    if (currentPassword.value.length == 0) {
      currentPassword.style.border = "2px solid #e00d0d";
    }

    if (newPassword.value.length == 0) {
      newPassword.style.border = "2px solid #e00d0d";
    }

    if (confirmPassword.value.length == 0) {
      confirmPassword.style.border = "2px solid #e00d0d";
    }

    openLoading(true)

    fetch('/admin/config/password', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({currentPassword: currentPassword.value, newPassword: newPassword.value, confirmPassword: confirmPassword.value})
    })
    .then((response) => {
      openLoading(false)

      if (response.ok) {
        alertMessage("success", "Senha atualizada", "Sua senha foi atualizada com sucesso.")
      } else {
        alertMessage("error", "As senhas não conferem", "Não foi possível atualizar a sua senha.")
      }
    })
    .catch((error) => {
      openLoading(false)

      alertMessage("error", "Erro interno", "Não foi possível processar a requisição.")
    })
  }
</script>

</html>