<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help Técnico | Todos os chamados</title>
  <link rel="shortcut icon" href="/img/login/icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="/css/platform/notify.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
</head>

<body>
  <%- include('../partials/company/sidebar-company') %>

  <div class="lg:pl-70">
    <%- include('../partials/company/nav-company', {title: "Todos os chamados", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="alert mt-14" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error mt-14" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-lg font-semibold leading-6 text-gray-900 inter color-purple">Todos os chamados:</h1>
          </div>
        </div>
        
        <div class="mt-6 flow-root">
          <div class="-mx-4 -my-2">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-5">
              <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 nunito">ID</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Empresa</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Mensagem</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Data</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">SLA</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Início em</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Término em</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Status</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Técnico</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Ações</th>
                    </tr>
                  </thead>

                  <tbody class="divide-y divide-gray-200 bg-white">
                    <tr>
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-indigo-600">
                        #284525
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito">
                        <div class="flex items-center mr-6">
                          <img class="h-8 w-8 rounded-full bg-gray-50" src="/img/photos/<%= photo %>" alt="">                                                                    
                          <p class="nunito ml-2">Unimed POA (Você)</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito text-gray-800 font-bold">
                        Falha na inicialização...
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">10/04/2023</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito color-blue font-semibold">16 min (contando)</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito color-blue font-semibold">
                        14:11
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        Não
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                          <div class="flex-none rounded-full p-1 text-green-400 bg-green-opacity">
                            <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                          </div>
                          <div class="hidden text-green-400 sm:block font-bold">Em atendimento</div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple">
                        <div class="flex items-center mr-6">
                          <img class="h-8 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62">
                          <p class="inter ml-2">Anderson Moreira</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <a href="/company/view-call" class="flex items-center">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                            <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                            <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                          </svg>
                          Visualizar                                  
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-indigo-600">
                        #284414
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito">
                        <div class="flex items-center mr-6">
                          <img class="h-8 w-8 rounded-full bg-gray-50" src="/img/photos/<%= photo %>" alt="">                                                                    
                          <p class="nunito ml-2">Unimed POA (Você)</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito text-gray-800 font-bold">
                        Inconsistências na climatização...
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">16/04/2023</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">Não iniciado</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-blue font-semibold">
                        Pendente
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">Não</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                          <div class="flex-none rounded-full p-1 text-yellow-400 bg-yellow-opacity">
                            <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                          </div>
                          <div class="hidden text-yellow-400 sm:block">Pendente</div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple">
                        <div class="flex items-center mr-6">
                          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_281_44)">
                            <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#0EA5E9"/>
                            <path d="M21.8077 10.9377C21.8448 11.0114 21.867 11.0919 21.8731 11.1745C21.8791 11.2571 21.8689 11.3401 21.843 11.4186C21.8171 11.4971 21.776 11.5696 21.7221 11.6318C21.6682 11.6941 21.6027 11.7448 21.5292 11.781C21.4558 11.8173 21.376 11.8383 21.2944 11.843C21.2129 11.8476 21.1312 11.8357 21.0542 11.808C20.9773 11.7802 20.9065 11.7372 20.8462 11.6814C20.7858 11.6257 20.737 11.5583 20.7026 11.4832C20.3341 10.7167 19.8149 10.0346 19.177 9.47888C18.974 9.36419 18.7451 9.30521 18.5127 9.30793C18.2804 9.3106 18.0528 9.37479 17.8525 9.49417C17.6523 9.61351 17.4863 9.7839 17.371 9.98839C17.2557 10.1928 17.1951 10.4243 17.1953 10.6599V11.346C17.195 11.4876 17.1394 11.6233 17.0407 11.7234C16.9419 11.8235 16.808 11.8799 16.6683 11.8802H13.9167C13.777 11.8799 13.6431 11.8235 13.5443 11.7234C13.4456 11.6233 13.39 11.4876 13.3897 11.346V11.4247C13.39 11.1621 13.3144 10.9052 13.1722 10.6857C13.1398 10.6444 13.1087 10.602 13.079 10.5586C12.9438 10.3952 12.7724 10.2664 12.5788 10.1829C12.3852 10.0994 12.1748 10.0636 11.9649 10.0782C11.755 10.0929 11.5514 10.1578 11.371 10.2675C11.1905 10.3772 11.0382 10.5286 10.9265 10.7093C10.869 10.8401 10.7688 10.9468 10.6428 11.0116C10.5168 11.0762 10.3727 11.095 10.2347 11.0646C10.0967 11.0343 9.9732 10.9567 9.88498 10.8448C9.7968 10.733 9.74925 10.5938 9.75039 10.4507V7.88629C9.7503 7.74102 9.80029 7.60027 9.89171 7.48841C9.98313 7.37654 10.1102 7.30056 10.2511 7.2736C10.3919 7.24664 10.5376 7.27043 10.6629 7.34083C10.7883 7.41119 10.8854 7.52379 10.9376 7.65908C11.0489 7.83336 11.1983 7.9793 11.3742 8.08553C11.5502 8.19176 11.7479 8.25538 11.9521 8.27149C12.1563 8.2876 12.3614 8.25575 12.5515 8.1784C12.7415 8.10106 12.9114 7.98028 13.0479 7.82556C13.0949 7.75314 13.1457 7.68332 13.1999 7.61634L13.2077 7.60397H13.211C13.4369 7.32875 13.7199 7.10736 14.0397 6.95556C14.3596 6.80371 14.7085 6.72521 15.0617 6.72554H15.095C15.1164 6.7232 15.1379 6.72209 15.1593 6.72217C16.5462 6.72176 17.9052 7.11682 19.0811 7.86225C20.2569 8.60769 21.2022 9.67343 21.8088 10.9377H21.8077ZM16.6628 13.3165C16.6625 13.1749 16.6068 13.0391 16.5081 12.939C16.4093 12.8389 16.2754 12.7825 16.1358 12.7822H14.2329C14.0933 12.7828 13.9596 12.8393 13.8609 12.9394C13.7622 13.0394 13.7065 13.175 13.7059 13.3165V23.9395C13.7062 24.0812 13.7618 24.2169 13.8605 24.317C13.9593 24.4171 14.0932 24.4735 14.2329 24.4738H16.1358C16.2754 24.4735 16.4093 24.4171 16.5081 24.317C16.6068 24.2169 16.6625 24.0812 16.6628 23.9395V13.3165Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_281_44">
                            <rect width="30" height="30" fill="white"/>
                            </clipPath>
                            </defs>
                          </svg>                                                                                          
                          <p class="inter ml-2">Aguardando Técnico</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <a href="/company/view-call" class="flex items-center">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                            <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                            <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                          </svg>
                          Visualizar                                  
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-indigo-600">
                        #284324
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito">
                        <div class="flex items-center mr-6">
                          <img class="h-8 w-8 rounded-full bg-gray-50" src="/img/photos/<%= photo %>" alt="">                                                                    
                          <p class="nunito ml-2">Unimed POA (Você)</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito text-gray-800 font-bold">
                        Dificuldade dos aparelhos...
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">25/05/2023</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">55 min</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">14:11</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">15:06</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                          <div class="flex-none rounded-full p-1 text-blue-600 bg-blue-opacity">
                            <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                          </div>
                          <div class="hidden text-blue-600 sm:block">Concluído</div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple">
                        <div class="flex items-center mr-6">
                          <img class="h-8 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62">
                          <p class="inter ml-2">Anderson Moreira</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <a href="/company/view-call" class="flex items-center">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                            <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                            <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                          </svg>
                          Visualizar                                  
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-indigo-600">
                        #284324
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito">
                        <div class="flex items-center mr-6">
                          <img class="h-8 w-8 rounded-full bg-gray-50" src="/img/photos/<%= photo %>" alt="">                                                                    
                          <p class="nunito ml-2">Unimed POA (Você)</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito text-gray-800 font-bold">
                        Defeito em aparelhos de climatização...
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">28/06/2023</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">1:19 horas</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">13:43</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">15:24</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                          <div class="flex-none rounded-full p-1 text-blue-600 bg-blue-opacity">
                            <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                          </div>
                          <div class="hidden text-blue-600 sm:block">Concluído</div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple">
                        <div class="flex items-center mr-6">
                          <img class="h-8 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62">
                          <p class="inter ml-2">Anderson Moreira</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <a href="/company/view-call" class="flex items-center">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                            <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                            <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                          </svg>
                          Visualizar                                  
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-indigo-600">
                        #284324
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito">
                        <div class="flex items-center mr-6">
                          <img class="h-8 w-8 rounded-full bg-gray-50" src="/img/photos/<%= photo %>" alt="">                                                                    
                          <p class="nunito ml-2">Unimed POA (Você)</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito text-gray-800 font-bold">
                        Ineficiência dos aparelhos...
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">14/05/2023</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">23 min</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">11:11</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">11:34</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                          <div class="flex-none rounded-full p-1 text-blue-600 bg-blue-opacity">
                            <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                          </div>
                          <div class="hidden text-blue-500 sm:block">Concluído</div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple">
                        <div class="flex items-center mr-6">
                          <img class="h-8 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62">
                          <p class="inter ml-2">Anderson Moreira</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <a href="/company/view-call" class="flex items-center">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                            <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                            <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                          </svg>
                          Visualizar                                  
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-indigo-600">
                        #284324
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito">
                        <div class="flex items-center mr-6">
                          <img class="h-8 w-8 rounded-full bg-gray-50" src="/img/photos/<%= photo %>" alt="">                                                                    
                          <p class="nunito ml-2">Unimed POA (Você)</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito text-gray-800 font-bold">
                        Problemas nos sensores...
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">06/03/2023</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">36 min</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">16:10</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">16:46</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                          <div class="flex-none rounded-full p-1 text-blue-600 bg-blue-opacity">
                            <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                          </div>
                          <div class="hidden text-blue-500 sm:block">Concluído</div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple">
                        <div class="flex items-center mr-6">
                          <img class="h-8 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62">
                          <p class="inter ml-2">Anderson Moreira</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <a href="/company/view-call" class="flex items-center">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                            <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                            <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                          </svg>
                          Visualizar                                  
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-indigo-600">
                        #284324
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito">
                        <div class="flex items-center mr-6">
                          <img class="h-8 w-8 rounded-full bg-gray-50" src="/img/photos/<%= photo %>" alt="">                                                                    
                          <p class="nunito ml-2">Unimed POA (Você)</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito text-gray-800 font-bold">
                        Desequilíbrio na distribuição...
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">23/01/2023</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">2:12 horas</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">14:00</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">16:12</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                          <div class="flex-none rounded-full p-1 text-blue-600 bg-blue-opacity">
                            <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                          </div>
                          <div class="hidden text-blue-500 sm:block">Concluído</div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple">
                        <div class="flex items-center mr-6">
                          <img class="h-8 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62">
                          <p class="inter ml-2">Anderson Moreira</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <a href="/company/view-call" class="flex items-center">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                            <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                            <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                          </svg>
                          Visualizar                                  
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-indigo-600">
                        #284324
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito">
                        <div class="flex items-center mr-6">
                          <img class="h-8 w-8 rounded-full bg-gray-50" src="/img/photos/<%= photo %>" alt="">                                                                    
                          <p class="nunito ml-2">Unimed POA (Você)</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm nunito text-gray-800 font-bold">
                        Necessidade de otimização...
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">12/01/2023</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">1:35 horas</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">14:00</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <p class="nunito font-bold">15:35</p>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                          <div class="flex-none rounded-full p-1 text-blue-600 bg-blue-opacity">
                            <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                          </div>
                          <div class="hidden text-blue-500 sm:block">Concluído</div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple">
                        <div class="flex items-center mr-6">
                          <img class="h-8 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62">
                          <p class="inter ml-2">Anderson Moreira</p>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                        <a href="/company/view-call" class="flex items-center">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                            <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                            <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                          </svg>
                          Visualizar                                  
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>

<script>
  function _0x2c92(){const _0x15a07c=['classList','jjHTm','782946qrwcte','omsdj','\x20tarde.','target','innerHTML','animation:','UVcWZ','gxlyA','error','ublished','bIlJu','CWvSY','apPwN','DELETE','display','4948UrBQnO','Insira\x20um\x20','hiVqP','gfxkd','post/updat','/Bulk/erro','#day','style','1021614liunFn','uHaOu','PkEXb','ouaFb','hIFPw','hZdlI','change','PUT','pQmaR','ortada\x20com','display:\x20n','flex','published/','iGCHm','ZoxaQ','FzmpW','ROKQY','Evwii','UBMAX','mente\x20mais','#div-date','\x20slideoff\x20','IeUte','dCiua','/Bulk/chec','2px\x20solid\x20','vjRfY','LROXs','tzoWW','/img/admin','remove','\x20sucesso.','cess','then','tvNbB','MWeip','img','.alert','/platform/','haWzk','zFdnZ','rHqOg','ifOuK','2s;','Tente\x20mais','blicação.','aqQwu','LGxsp','lgGag','yxPzZ','all-posts/','schedule-i','stringify','append','KeFiP','8RqLOJM','link\x20válid','width','ppyus','vbCqg','qHdqe','OWosA','puCmp','#div-image','490SnzhJT','UJuXy','slice','khfiB','.image-suc','innerText','DqCbU','iTemK','435573gyzqOk','ZrqSF','#div-link','2MmOBVB','kExqa','Imagem\x20imp','QlRod','DCxgO','gNHZF','#link-sche','add','qHvOZ','kgoMY','EjcMb','kuIEQ','#image','#popup_del','#content-s','#content-p','zjXUY','#popup_edi','PTaZN','applicatio','irIvr','addEventLi','valueAsDat','OisbH','mage/','Itihe','hbTBx','ualizar\x20pu','KaUiM','files','njuSp','#e00d0d','btcSX','ent','ogiTT','image','BFAer','PFGjH','e-image/','.error','Tente\x20nova','rGDXP','QBKjq','IyfsY','ZvzKw','schedule-l','reload','rSTcu','edit-post-','delete-pos','link','appendChil','Klwcg','hZfTj','sAkYA','stener','ete','ZKmzh','tor','STYWh','querySelec','#hour','\x20tarde','qRHMM','r.png','t_publishe','hidden','success','ink/','JIneM','createElem','chedule','value','LjblS','border','dqHhk','test','224280TpNyFY','push','tify','KuhOu','Erro\x20ao\x20at','buRmp','dule','n/json','XIVjE','24952EhRugb','urWZW','ked.png','AdkQU','NUBor','fhnLN','NPqoy','#files','phcDA','Dqfft','length','src','MMtoP','rXNpV','BZHvJ','catch','message-no','rywIL','height','OklCf','1881971XOUNGm','one'];_0x2c92=function(){return _0x15a07c;};return _0x2c92();}const _0x1ff5b8=_0x209f;(function(_0x1af4e0,_0x2dae37){const _0x401af4=_0x209f,_0x220999=_0x1af4e0();while(!![]){try{const _0x2d1710=-parseInt(_0x401af4(0x1d6))/(0x8e*-0x1+0x24ca+-0x173*0x19)*(parseInt(_0x401af4(0x180))/(0x1fb7+0x20d2+-0x1*0x4087))+-parseInt(_0x401af4(0x17d))/(0x1e09+0x4*0x45b+-0x2f72)+-parseInt(_0x401af4(0x12d))/(-0x125b+-0x2b6*-0x2+0xcf3)*(-parseInt(_0x401af4(0x175))/(0x312+0x2bd*0xc+0x13d*-0x1d))+-parseInt(_0x401af4(0x135))/(-0xc76+0x923+0x359)+-parseInt(_0x401af4(0x11a))/(0x1c92+-0x1*0x17e4+0x3*-0x18d)*(-parseInt(_0x401af4(0x16c))/(0x16*0x106+0x9bc*0x2+-0x29f4))+parseInt(_0x401af4(0x11e))/(0x6*-0x625+0x12dc+0x120b)+parseInt(_0x401af4(0x1cd))/(0x5*-0x3ea+0xa22+-0x2*-0x4bd);if(_0x2d1710===_0x2dae37)break;else _0x220999['push'](_0x220999['shift']());}catch(_0x679604){_0x220999['push'](_0x220999['shift']());}}}(_0x2c92,-0x3e421+0x1a462+0x4ad30));let file_input=document[_0x1ff5b8(0x1bc)+_0x1ff5b8(0x1ba)](_0x1ff5b8(0x10d));const image_success=document[_0x1ff5b8(0x1bc)+_0x1ff5b8(0x1ba)](_0x1ff5b8(0x179)+_0x1ff5b8(0x155));let id,type;function alert_message(_0x3e9735,_0x1323e0){const _0x58227d=_0x1ff5b8,_0x1ea659={'jjHTm':_0x58227d(0x13f)+_0x58227d(0x11b),'tvNbB':_0x58227d(0x123)+_0x58227d(0x14a)+_0x58227d(0x160),'DCxgO':function(_0x34f8c8,_0x5d9789,_0xc6fa7b){return _0x34f8c8(_0x5d9789,_0xc6fa7b);},'pQmaR':function(_0x720786,_0x512bca,_0x4bb43c){return _0x720786(_0x512bca,_0x4bb43c);},'rywIL':function(_0x45d3de,_0x1e0a6d){return _0x45d3de==_0x1e0a6d;},'UJuXy':_0x58227d(0x126),'OklCf':_0x58227d(0x1a7),'uHaOu':_0x58227d(0x140),'kgoMY':_0x58227d(0x159),'LROXs':_0x58227d(0x152)+_0x58227d(0x132)+_0x58227d(0x1c0),'UBMAX':_0x58227d(0x116)+_0x58227d(0x1cf),'tzoWW':function(_0x5f32ac,_0x16d795){return _0x5f32ac==_0x16d795;},'lgGag':_0x58227d(0x1c3),'rXNpV':_0x58227d(0x15a),'sAkYA':_0x58227d(0x152)+_0x58227d(0x14d)+_0x58227d(0x1d8)};if(_0x1ea659[_0x58227d(0x117)](_0x3e9735,_0x1ea659[_0x58227d(0x176)])){const _0x17988b=document[_0x58227d(0x1bc)+_0x58227d(0x1ba)](_0x1ea659[_0x58227d(0x119)]);_0x17988b[_0x58227d(0x134)][_0x58227d(0x12c)]=_0x1ea659[_0x58227d(0x136)],_0x17988b[_0x58227d(0x122)]='';const _0x3e6d03=document[_0x58227d(0x1c6)+_0x58227d(0x1a1)]('p'),_0x4909f1=document[_0x58227d(0x1c6)+_0x58227d(0x1a1)](_0x1ea659[_0x58227d(0x189)]);_0x4909f1[_0x58227d(0x16e)]='28',_0x4909f1[_0x58227d(0x118)]='28',_0x4909f1[_0x58227d(0x111)]=_0x1ea659[_0x58227d(0x150)],_0x3e6d03[_0x58227d(0x11c)][_0x58227d(0x187)](_0x1ea659[_0x58227d(0x147)]),_0x3e6d03[_0x58227d(0x17a)]=_0x1323e0,_0x17988b[_0x58227d(0x1b3)+'d'](_0x4909f1),_0x17988b[_0x58227d(0x1b3)+'d'](_0x3e6d03),_0x1ea659[_0x58227d(0x184)](setTimeout,()=>{const _0x1f1eb0=_0x58227d,_0x5d2c90={'rSTcu':_0x1ea659[_0x1f1eb0(0x11d)]};_0x17988b[_0x1f1eb0(0x134)]=_0x1ea659[_0x1f1eb0(0x157)],_0x1ea659[_0x1f1eb0(0x184)](setTimeout,()=>{const _0x482b06=_0x1f1eb0;_0x17988b[_0x482b06(0x134)]=_0x5d2c90[_0x482b06(0x1af)];},0x14*-0x15d+0x2b5*-0x6+0x2ea2);},0x21e*0x7+0xe3f*-0x1+0x73d);}else{if(_0x1ea659[_0x58227d(0x151)](_0x3e9735,_0x1ea659[_0x58227d(0x165)])){const _0x92ceb0=document[_0x58227d(0x1bc)+_0x58227d(0x1ba)](_0x1ea659[_0x58227d(0x113)]);_0x92ceb0[_0x58227d(0x134)][_0x58227d(0x12c)]=_0x1ea659[_0x58227d(0x136)],_0x92ceb0[_0x58227d(0x122)]='';const _0x4616f8=document[_0x58227d(0x1c6)+_0x58227d(0x1a1)]('p'),_0xcb1b8e=document[_0x58227d(0x1c6)+_0x58227d(0x1a1)](_0x1ea659[_0x58227d(0x189)]);_0xcb1b8e[_0x58227d(0x16e)]='28',_0xcb1b8e[_0x58227d(0x118)]='28',_0xcb1b8e[_0x58227d(0x111)]=_0x1ea659[_0x58227d(0x1b6)],_0x4616f8[_0x58227d(0x11c)][_0x58227d(0x187)](_0x1ea659[_0x58227d(0x147)]),_0x4616f8[_0x58227d(0x17a)]=_0x1323e0,_0x92ceb0[_0x58227d(0x1b3)+'d'](_0xcb1b8e),_0x92ceb0[_0x58227d(0x1b3)+'d'](_0x4616f8),_0x1ea659[_0x58227d(0x13d)](setTimeout,()=>{const _0x27c063=_0x58227d,_0x2ff85b={'dCiua':_0x1ea659[_0x27c063(0x11d)]};_0x92ceb0[_0x27c063(0x134)]=_0x1ea659[_0x27c063(0x157)],_0x1ea659[_0x27c063(0x13d)](setTimeout,()=>{const _0xf7c6e0=_0x27c063;_0x92ceb0[_0xf7c6e0(0x134)]=_0x2ff85b[_0xf7c6e0(0x14c)];},0xd18+0x655+-0x104d);},0x2031+0x16d6*-0x1+-0x18b);}}}function _0x209f(_0x808275,_0x49edb7){const _0x4dc905=_0x2c92();return _0x209f=function(_0x493ad6,_0x5ad8e4){_0x493ad6=_0x493ad6-(0x20cb+-0x1fa4+-0x1d*0x1);let _0x18d4e4=_0x4dc905[_0x493ad6];return _0x18d4e4;},_0x209f(_0x808275,_0x49edb7);}const handle_file_preview=_0x2aed6a=>{const _0x52e415=_0x1ff5b8,_0x251188={'KaUiM':function(_0x5a8c12,_0x4d6f11,_0x38c469){return _0x5a8c12(_0x4d6f11,_0x38c469);},'apPwN':_0x52e415(0x1c3),'haWzk':_0x52e415(0x182)+_0x52e415(0x13e)+_0x52e415(0x154),'dqHhk':_0x52e415(0x126),'gNHZF':_0x52e415(0x1a8)+_0x52e415(0x148)+_0x52e415(0x120),'LGxsp':_0x52e415(0x1a3),'hiVqP':function(_0x479b1a,_0x5825bf,_0x4c107c){return _0x479b1a(_0x5825bf,_0x4c107c);},'KeFiP':function(_0x2afa84,_0x36959e){return _0x2afa84+_0x36959e;},'buRmp':_0x52e415(0x15b)+_0x52e415(0x131)+_0x52e415(0x1a6),'CWvSY':_0x52e415(0x13c)};let _0x3146ca=_0x2aed6a[_0x52e415(0x121)][_0x52e415(0x19d)],_0x76fa8e=_0x3146ca[_0x52e415(0x110)];const _0x351b27=new FormData();return _0x351b27[_0x52e415(0x16a)](_0x251188[_0x52e415(0x164)],_0x3146ca[-0xd3b+0xedd+-0x1a2]),_0x251188[_0x52e415(0x12f)](fetch,_0x251188[_0x52e415(0x16b)](_0x251188[_0x52e415(0x1d2)],id),{'method':_0x251188[_0x52e415(0x129)],'body':_0x351b27})[_0x52e415(0x156)](_0x1fc5fc=>{const _0x4908b6=_0x52e415;_0x1fc5fc['ok']&&_0x251188[_0x4908b6(0x19c)](alert_message,_0x251188[_0x4908b6(0x12a)],_0x251188[_0x4908b6(0x15c)]);})[_0x52e415(0x115)](_0xa0de64=>{const _0x2d8d0f=_0x52e415;_0x251188[_0x2d8d0f(0x19c)](alert_message,_0x251188[_0x2d8d0f(0x1cb)],_0x251188[_0x2d8d0f(0x185)]);});};file_input[_0x1ff5b8(0x195)+_0x1ff5b8(0x1b7)](_0x1ff5b8(0x13b),handle_file_preview);function openEditSchedule(_0x543b64,_0x2a6977,_0x356eb9,_0x32c6b6,_0x5526b9,_0xf554a4){const _0x45b86a=_0x1ff5b8,_0xce6ad6={'DqCbU':_0x45b86a(0x191)+'t','ZKmzh':_0x45b86a(0x18e)+_0x45b86a(0x1c7),'qHdqe':_0x45b86a(0x17f),'ouaFb':_0x45b86a(0x174),'yxPzZ':_0x45b86a(0x149),'urWZW':_0x45b86a(0x186)+_0x45b86a(0x1d3),'vbCqg':_0x45b86a(0x18c),'hZfTj':_0x45b86a(0x133),'hIFPw':_0x45b86a(0x1bd),'Klwcg':function(_0x1ea9a0,_0x184236){return _0x1ea9a0>_0x184236;},'phcDA':_0x45b86a(0x1c2),'omsdj':_0x45b86a(0x1b2),'kuIEQ':_0x45b86a(0x1a3)},_0x4cebd0=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x17b)]),_0xe2d258=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x1b9)]),_0x31072c=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x171)]),_0x2ee509=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x138)]),_0xea3f9e=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x166)]),_0x30c972=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x1d7)]),_0x16e2e4=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x170)]),_0x1b1003=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x1b5)]),_0x5a01cf=document[_0x45b86a(0x1bc)+_0x45b86a(0x1ba)](_0xce6ad6[_0x45b86a(0x139)]);_0xe2d258[_0x45b86a(0x1c8)]=_0x2a6977,id=_0x543b64;_0xce6ad6[_0x45b86a(0x1b4)](_0x356eb9[_0x45b86a(0x110)],-0x969+0x1049+-0x6df)?(_0x30c972[_0x45b86a(0x1c8)]=_0x356eb9,_0x2ee509[_0x45b86a(0x11c)][_0x45b86a(0x187)](_0xce6ad6[_0x45b86a(0x10e)]),type=_0xce6ad6[_0x45b86a(0x11f)]):(_0x31072c[_0x45b86a(0x11c)][_0x45b86a(0x187)](_0xce6ad6[_0x45b86a(0x10e)]),type=_0xce6ad6[_0x45b86a(0x18b)]);if(_0x32c6b6){_0xea3f9e[_0x45b86a(0x11c)][_0x45b86a(0x153)](_0xce6ad6[_0x45b86a(0x10e)]);const _0x2b8d5a=new Date(_0x5526b9[_0x45b86a(0x177)](-0x12*0xa9+-0x1d*-0x139+-0x178d,0x143*-0x19+-0x113f+0x19*0x1f4)+'-'+_0x5526b9[_0x45b86a(0x177)](0x227*0xd+-0x244d*0x1+0x1b*0x4f,-0x1c31+0x73+0x1bc3)+'-'+_0x5526b9[_0x45b86a(0x177)](0x3*-0x41d+0x61f*0x4+-0xc25,0x59*-0x11+0x8cb*-0x1+-0x75b*-0x2));_0x1b1003[_0x45b86a(0x196)+'e']=_0x2b8d5a,_0x5a01cf[_0x45b86a(0x1c8)]=_0xf554a4;}else _0xea3f9e[_0x45b86a(0x11c)][_0x45b86a(0x187)](_0xce6ad6[_0x45b86a(0x10e)]);_0x4cebd0[_0x45b86a(0x11c)][_0x45b86a(0x153)](_0xce6ad6[_0x45b86a(0x10e)]);}function openEditPublished(_0x102bed,_0x1fcd59){const _0x5de236=_0x1ff5b8,_0x473d00={'kExqa':_0x5de236(0x191)+_0x5de236(0x1c1)+'d','rHqOg':_0x5de236(0x18f)+_0x5de236(0x127),'MWeip':_0x5de236(0x1c2)},_0x2ba353=document[_0x5de236(0x1bc)+_0x5de236(0x1ba)](_0x473d00[_0x5de236(0x181)]),_0x57bb2f=document[_0x5de236(0x1bc)+_0x5de236(0x1ba)](_0x473d00[_0x5de236(0x15e)]);_0x57bb2f[_0x5de236(0x1c8)]=_0x1fcd59,id=_0x102bed,_0x2ba353[_0x5de236(0x11c)][_0x5de236(0x153)](_0x473d00[_0x5de236(0x158)]);}function closeEditPublished(){const _0x2adb40=_0x1ff5b8,_0x36e0b0={'BFAer':_0x2adb40(0x191)+_0x2adb40(0x1c1)+'d','UVcWZ':_0x2adb40(0x1c2)},_0x4bfeda=document[_0x2adb40(0x1bc)+_0x2adb40(0x1ba)](_0x36e0b0[_0x2adb40(0x1a4)]);_0x4bfeda[_0x2adb40(0x11c)][_0x2adb40(0x187)](_0x36e0b0[_0x2adb40(0x124)]);}function openDelete(_0x104b39){const _0x2ce144=_0x1ff5b8,_0x31e9d1={'zFdnZ':_0x2ce144(0x18d)+_0x2ce144(0x1b8),'hZdlI':_0x2ce144(0x1c2)},_0x44f08e=document[_0x2ce144(0x1bc)+_0x2ce144(0x1ba)](_0x31e9d1[_0x2ce144(0x15d)]);id=_0x104b39,_0x44f08e[_0x2ce144(0x11c)][_0x2ce144(0x153)](_0x31e9d1[_0x2ce144(0x13a)]);}function closeEditSchedule(){const _0x284a5a=_0x1ff5b8,_0x3cd553={'OisbH':_0x284a5a(0x191)+'t','MMtoP':_0x284a5a(0x17f),'njuSp':_0x284a5a(0x174),'ZoxaQ':_0x284a5a(0x149),'Dqfft':_0x284a5a(0x1c2)},_0x1b6ab8=document[_0x284a5a(0x1bc)+_0x284a5a(0x1ba)](_0x3cd553[_0x284a5a(0x197)]),_0x2d2e9d=document[_0x284a5a(0x1bc)+_0x284a5a(0x1ba)](_0x3cd553[_0x284a5a(0x112)]),_0x16a43c=document[_0x284a5a(0x1bc)+_0x284a5a(0x1ba)](_0x3cd553[_0x284a5a(0x19e)]),_0x31fbd9=document[_0x284a5a(0x1bc)+_0x284a5a(0x1ba)](_0x3cd553[_0x284a5a(0x143)]);_0x2d2e9d[_0x284a5a(0x11c)][_0x284a5a(0x153)](_0x3cd553[_0x284a5a(0x10f)]),_0x16a43c[_0x284a5a(0x11c)][_0x284a5a(0x153)](_0x3cd553[_0x284a5a(0x10f)]),_0x16a43c[_0x284a5a(0x11c)][_0x284a5a(0x153)](_0x3cd553[_0x284a5a(0x10f)]),_0x1b6ab8[_0x284a5a(0x11c)][_0x284a5a(0x187)](_0x3cd553[_0x284a5a(0x10f)]);}function closeDel(){const _0x8bc739=_0x1ff5b8,_0x18b371={'IyfsY':_0x8bc739(0x18d)+_0x8bc739(0x1b8),'PkEXb':_0x8bc739(0x1c2)},_0x1800f8=document[_0x8bc739(0x1bc)+_0x8bc739(0x1ba)](_0x18b371[_0x8bc739(0x1ab)]);_0x1800f8[_0x8bc739(0x11c)][_0x8bc739(0x187)](_0x18b371[_0x8bc739(0x137)]);}function deletePost(){const _0x29b647=_0x1ff5b8,_0x1e477d={'KuhOu':function(_0x386a8f,_0x5d9629,_0x1085cc){return _0x386a8f(_0x5d9629,_0x1085cc);},'XIVjE':_0x29b647(0x126),'AdkQU':_0x29b647(0x161)+_0x29b647(0x1be),'khfiB':function(_0x184e53,_0x5df5c2,_0x4fb62e){return _0x184e53(_0x5df5c2,_0x4fb62e);},'ogiTT':function(_0x45845a,_0x45e480){return _0x45845a+_0x45e480;},'aqQwu':_0x29b647(0x15b)+_0x29b647(0x167)+_0x29b647(0x1b1)+'t/','EjcMb':_0x29b647(0x12b)};_0x1e477d[_0x29b647(0x178)](fetch,_0x1e477d[_0x29b647(0x1a2)](_0x1e477d[_0x29b647(0x163)],id),{'method':_0x1e477d[_0x29b647(0x18a)]})[_0x29b647(0x156)](_0x4bfbe8=>{const _0x262d95=_0x29b647;location[_0x262d95(0x1ae)]();})[_0x29b647(0x115)](_0x347d7c=>{const _0x41b20c=_0x29b647;_0x1e477d[_0x41b20c(0x1d0)](alert_message,_0x1e477d[_0x41b20c(0x1d5)],_0x1e477d[_0x41b20c(0x1d9)]);});}function editPostSchedule(){const _0x422698=_0x1ff5b8,_0x11b68c={'zjXUY':function(_0x421f2c,_0x1f55e4,_0x330c63){return _0x421f2c(_0x1f55e4,_0x330c63);},'ZrqSF':_0x422698(0x126),'irIvr':_0x422698(0x1d1)+_0x422698(0x19b)+_0x422698(0x162),'gxlyA':_0x422698(0x1a8)+_0x422698(0x148)+_0x422698(0x120),'qHvOZ':_0x422698(0x18e)+_0x422698(0x1c7),'NPqoy':_0x422698(0x186)+_0x422698(0x1d3),'ROKQY':_0x422698(0x133),'ifOuK':_0x422698(0x1bd),'btcSX':function(_0x5ddd07,_0x2fb039){return _0x5ddd07==_0x2fb039;},'FzmpW':_0x422698(0x14e)+_0x422698(0x19f),'qRHMM':_0x422698(0x1b2),'PTaZN':function(_0x4150b5,_0x83cdb0){return _0x4150b5(_0x83cdb0);},'JIneM':_0x422698(0x12e)+_0x422698(0x16d)+'o','rGDXP':function(_0x5ea05d,_0x1d4874,_0x396d93){return _0x5ea05d(_0x1d4874,_0x396d93);},'Evwii':function(_0x5c45cd,_0x40e80e){return _0x5c45cd+_0x40e80e;},'NUBor':_0x422698(0x15b)+_0x422698(0x167)+_0x422698(0x1b0)+_0x422698(0x1ad)+_0x422698(0x1c4),'PFGjH':_0x422698(0x13c),'puCmp':_0x422698(0x193)+_0x422698(0x1d4),'IeUte':_0x422698(0x1a3),'iTemK':function(_0x5d3eac,_0x35b7d0,_0x584781){return _0x5d3eac(_0x35b7d0,_0x584781);},'fhnLN':function(_0x139f55,_0x4607f4){return _0x139f55+_0x4607f4;},'bIlJu':_0x422698(0x15b)+_0x422698(0x167)+_0x422698(0x1b0)+_0x422698(0x168)+_0x422698(0x198)},_0x207e08=document[_0x422698(0x1bc)+_0x422698(0x1ba)](_0x11b68c[_0x422698(0x188)]),_0x408683=document[_0x422698(0x1bc)+_0x422698(0x1ba)](_0x11b68c[_0x422698(0x10c)]),_0x484376=document[_0x422698(0x1bc)+_0x422698(0x1ba)](_0x11b68c[_0x422698(0x145)]),_0x4b1540=document[_0x422698(0x1bc)+_0x422698(0x1ba)](_0x11b68c[_0x422698(0x15f)]),_0x585fb3=[],_0x3236d0=/^(http|https):\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}(\/\S*)?$/;if(_0x11b68c[_0x422698(0x1a0)](_0x207e08[_0x422698(0x1c8)][_0x422698(0x110)],-0x1705+0x1*-0x4bf+-0xde2*-0x2)){_0x207e08[_0x422698(0x134)][_0x422698(0x1ca)]=_0x11b68c[_0x422698(0x144)];return;}if(_0x11b68c[_0x422698(0x1a0)](_0x484376[_0x422698(0x1c8)],'')){_0x484376[_0x422698(0x134)][_0x422698(0x1ca)]=_0x11b68c[_0x422698(0x144)];return;}if(_0x11b68c[_0x422698(0x1a0)](_0x4b1540[_0x422698(0x1c8)],'')){_0x4b1540[_0x422698(0x134)][_0x422698(0x1ca)]=_0x11b68c[_0x422698(0x144)];return;}if(_0x11b68c[_0x422698(0x1a0)](type,_0x11b68c[_0x422698(0x1bf)])){if(_0x11b68c[_0x422698(0x1a0)](_0x3236d0[_0x422698(0x1cc)](_0x408683[_0x422698(0x1c8)]),![])){_0x11b68c[_0x422698(0x192)](alert_message,_0x11b68c[_0x422698(0x1c5)]);return;}_0x11b68c[_0x422698(0x1a9)](fetch,_0x11b68c[_0x422698(0x146)](_0x11b68c[_0x422698(0x10a)],id),{'method':_0x11b68c[_0x422698(0x1a5)],'headers':{'Content-Type':_0x11b68c[_0x422698(0x173)]},'body':JSON[_0x422698(0x169)]({'content':_0x207e08[_0x422698(0x1c8)],'day':_0x484376[_0x422698(0x1c8)],'hour':_0x4b1540[_0x422698(0x1c8)],'link':_0x408683[_0x422698(0x1c8)]})})[_0x422698(0x156)](_0x10491b=>{const _0x27ba6c=_0x422698;_0x10491b['ok']?location[_0x27ba6c(0x1ae)]():_0x11b68c[_0x27ba6c(0x190)](alert_message,_0x11b68c[_0x27ba6c(0x17e)],_0x11b68c[_0x27ba6c(0x194)]);})[_0x422698(0x115)](_0x4b1632=>{const _0x285366=_0x422698;_0x11b68c[_0x285366(0x190)](alert_message,_0x11b68c[_0x285366(0x17e)],_0x11b68c[_0x285366(0x125)]);});}else _0x11b68c[_0x422698(0x1a0)](type,_0x11b68c[_0x422698(0x14b)])&&_0x11b68c[_0x422698(0x17c)](fetch,_0x11b68c[_0x422698(0x10b)](_0x11b68c[_0x422698(0x128)],id),{'method':_0x11b68c[_0x422698(0x1a5)],'headers':{'Content-Type':_0x11b68c[_0x422698(0x173)]},'body':JSON[_0x422698(0x169)]({'content':_0x207e08[_0x422698(0x1c8)],'day':_0x484376[_0x422698(0x1c8)],'hour':_0x4b1540[_0x422698(0x1c8)]})})[_0x422698(0x156)](_0x907824=>{const _0x2119ec=_0x422698;_0x907824['ok']?location[_0x2119ec(0x1ae)]():_0x11b68c[_0x2119ec(0x190)](alert_message,_0x11b68c[_0x2119ec(0x17e)],_0x11b68c[_0x2119ec(0x194)]);})[_0x422698(0x115)](_0x2f4131=>{const _0x58aaf9=_0x422698;_0x11b68c[_0x58aaf9(0x190)](alert_message,_0x11b68c[_0x58aaf9(0x17e)],_0x11b68c[_0x58aaf9(0x125)]);});}function editPostPublished(){const _0x32b229=_0x1ff5b8,_0xf401a7={'hbTBx':function(_0x432f6e,_0x18fadd,_0x5577dd){return _0x432f6e(_0x18fadd,_0x5577dd);},'BZHvJ':_0x32b229(0x126),'Itihe':_0x32b229(0x1d1)+_0x32b229(0x19b)+_0x32b229(0x162),'QlRod':function(_0x3c0294,_0x2d7c70,_0x21d791){return _0x3c0294(_0x2d7c70,_0x21d791);},'ZvzKw':_0x32b229(0x1a8)+_0x32b229(0x148)+_0x32b229(0x120),'ppyus':_0x32b229(0x18f)+_0x32b229(0x127),'OWosA':function(_0x1e22ea,_0x13fa01){return _0x1e22ea==_0x13fa01;},'LjblS':_0x32b229(0x14e)+_0x32b229(0x19f),'iGCHm':function(_0x5ab41d,_0x403c03,_0x2b8f96){return _0x5ab41d(_0x403c03,_0x2b8f96);},'QBKjq':function(_0x3c5de1,_0x120b8d){return _0x3c5de1+_0x120b8d;},'STYWh':_0x32b229(0x15b)+_0x32b229(0x167)+_0x32b229(0x1b0)+_0x32b229(0x141),'gfxkd':_0x32b229(0x13c),'vjRfY':_0x32b229(0x193)+_0x32b229(0x1d4)},_0x69eb8a=document[_0x32b229(0x1bc)+_0x32b229(0x1ba)](_0xf401a7[_0x32b229(0x16f)]),_0x331882=[];_0xf401a7[_0x32b229(0x172)](_0x69eb8a[_0x32b229(0x1c8)][_0x32b229(0x110)],-0x101*-0x25+-0x1b2f+0x19*-0x66)&&(_0x69eb8a[_0x32b229(0x134)][_0x32b229(0x1ca)]=_0xf401a7[_0x32b229(0x1c9)],_0x331882[_0x32b229(0x1ce)](_0xf401a7[_0x32b229(0x114)])),_0xf401a7[_0x32b229(0x172)](_0x331882[_0x32b229(0x110)],-0xbe1*0x3+-0xaed+-0x4*-0xba4)&&_0xf401a7[_0x32b229(0x142)](fetch,_0xf401a7[_0x32b229(0x1aa)](_0xf401a7[_0x32b229(0x1bb)],id),{'method':_0xf401a7[_0x32b229(0x130)],'headers':{'Content-Type':_0xf401a7[_0x32b229(0x14f)]},'body':JSON[_0x32b229(0x169)]({'content':_0x69eb8a[_0x32b229(0x1c8)]})})[_0x32b229(0x156)](_0x1db6d9=>{const _0x160a9a=_0x32b229;_0x1db6d9['ok']?location[_0x160a9a(0x1ae)]():_0xf401a7[_0x160a9a(0x19a)](alert_message,_0xf401a7[_0x160a9a(0x114)],_0xf401a7[_0x160a9a(0x199)]);})[_0x32b229(0x115)](_0x476a08=>{const _0x565e5c=_0x32b229;_0xf401a7[_0x565e5c(0x183)](alert_message,_0xf401a7[_0x565e5c(0x114)],_0xf401a7[_0x565e5c(0x1ac)]);});}
</script>