<%- include('../../partials/app/head', {title: "Dashboard"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/app/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/app/nav', {title: "Área da empresa"}) %>

    <main class="fade-in inter">
      <section class="bg-coolGray-50 py-6">
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-x-4 px-6">
          <div class="grid grid-cols-3 gap-x-4 gap-y-4 col-span-3">
            <div>
              <div class="p-8 bg-white border border-coolGray-100 rounded-md shadow-dashboard">
                <div class="mb-4 max-w-max bg-blue-100 text-blue-500 p-3 rounded-md">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16.712 4.33a9.027 9.027 0 011.652 1.306c.51.51.944 1.064 1.306 1.652M16.712 4.33l-3.448 4.138m3.448-4.138a9.014 9.014 0 00-9.424 0M19.67 7.288l-4.138 3.448m4.138-3.448a9.014 9.014 0 010 9.424m-4.138-5.976a3.736 3.736 0 00-.88-1.388 3.737 3.737 0 00-1.388-.88m2.268 2.268a3.765 3.765 0 010 2.528m-2.268-4.796a3.765 3.765 0 00-2.528 0m4.796 4.796c-.181.506-.475.982-.88 1.388a3.736 3.736 0 01-1.388.88m2.268-2.268l4.138 3.448m0 0a9.027 9.027 0 01-1.306 1.652c-.51.51-1.064.944-1.652 1.306m0 0l-3.448-4.138m3.448 4.138a9.014 9.014 0 01-9.424 0m5.976-4.138a3.765 3.765 0 01-2.528 0m0 0a3.736 3.736 0 01-1.388-.88 3.737 3.737 0 01-.88-1.388m2.268 2.268L7.288 19.67m0 0a9.024 9.024 0 01-1.652-1.306 9.027 9.027 0 01-1.306-1.652m0 0l4.138-3.448M4.33 16.712a9.014 9.014 0 010-9.424m4.138 5.976a3.765 3.765 0 010-2.528m0 0c.181-.506.475-.982.88-1.388a3.736 3.736 0 011.388-.88m-2.268 2.268L4.33 7.288m6.406 1.18L7.288 4.33m0 0a9.024 9.024 0 00-1.652 1.306A9.025 9.025 0 004.33 7.288" />
                  </svg>
                </div>
                <h2 class="font-semibold text-2xl text-coolGray-900 tracking-tighter">
                  <%= calls.length %>
                </h2>
                <p class="text-xs font-medium text-coolGray-500">Chamados no mês</p>
              </div>
            </div>

            <div>
              <div class="p-8 bg-white border border-coolGray-100 rounded-md shadow-dashboard">
                <div class="mb-4 max-w-max bg-blue-100 text-blue-500 p-3 rounded-md">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                  </svg>
                </div>
                <h2 class="font-semibold text-2xl text-coolGray-900 tracking-tighter">
                  <%= countEquipments %>
                </h2>
                <p class="text-xs font-medium text-coolGray-500">Meus equipamentos</p>
              </div>
            </div>

            <div>
              <div class="p-8 bg-white border border-coolGray-100 rounded-md shadow-dashboard">
                <div class="mb-4 max-w-max bg-blue-100 text-blue-500 p-3 rounded-md">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>                  
                </div>
                <h2 class="font-semibold text-2xl text-coolGray-900 tracking-tighter">
                   0
                </h2>
                <p class="text-xs font-medium text-coolGray-500">Total de orçamentos no mês</p>
              </div>
            </div>

            <div class="col-span-3">
              <div class="pt-6 bg-white overflow-hidden border border-coolGray-100 rounded-md shadow-dashboard">
                <h2 class="px-6 mb-4 text-lg text-coolGray-900 font-semibold">Meus chamados</h2>
                <div class="px-6 overflow-x-auto">
                  <table class="w-full">
                    <tbody>
                      <tr class="whitespace-nowrap h-11 bg-coolGray-50 bg-opacity-80">
                        <th class="px-4 font-semibold text-xs text-coolGray-500 uppercase text-left rounded-l-md">
                          <p>Mensagem</p>
                        </th>
                        <th
                          class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                          SLA</th>
                        <th
                          class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                          Início em</th>
                        <th
                          class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                          Término em</th>
                        <th
                          class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center rounded-r-md">
                          Status</th>
                        <th
                          class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center rounded-r-md">
                          Técnico</th>
                        <th
                          class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center rounded-r-md">
                          Ações</th>
                      </tr>
    
                      <% calls.forEach(function(call) { %>
                        <tr class="h-18 border-b border-coolGray-100">
                          <th class="whitespace-nowrap bg-white text-sm font-medium text-coolGray-800 text-center">
                            <%= call.description.slice(0, 20) %>...</th>
    
                          <% if (call.status == "pending" || call.status == "in-attendance" && !call.confirmCode) { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">Contagem não iniciada</td>
                          <% } else if (call.status == "in-attendance" && call.confirmCode) { %>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-yellow-500 inter color-purple font-semibold"> call.sla %> (contando)</td>
                          <% } else if (call.status == "concluded") { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center"> call.sla %></td>
                          <% } else if (call.status == "canceled") { %>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-red-500 inter color-purple font-semibold">Cancelado</td>
                          <% } %>
    
                          <% if (call.status == "pending" || call.status == "in-attendance" && !call.confirmCode) { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <p>Não iniciado</p>
                            </td>
                          <% } else if (call.status == "in-attendance" && call.confirmCode) { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <p> call.startTime %></p>
                            </td>
                          <% } else if (call.status == "canceled") { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <p>Não iniciado</p>
                            </td>
                          <% } else { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <p> call.startTime %></p>
                            </td>
                          <% } %>
                          
                          <% if (call.status == "pending" || call.status == "in-attendance" && !call.confirmCode) { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <p>Não terminado</p>
                            </td>
                          <% } else if (call.status == "in-attendance") { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <p>Em andamento</p>
                            </td>
                          <% } else if (call.status == "canceled") { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <p>Não concluído</p>
                            </td>
                          <% } else if (call.status == "concluded") { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <p> call.endTime %></p>
                            </td>
                          <% } %>
    
                          <% if (call.status == "pending") { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <div class="flex items-center justify-center gap-x-2">
                                <div class="flex-none rounded-full p-1 text-yellow-500 bg-yellow-opacity">
                                  <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                                </div>
                                <div class="text-yellow-500 sm:block">Pendente</div>
                              </div>
                            </td>
    
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <div class="flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7 text-white rounded-full bg-blue-500 p-1.5">
                                  <path fill-rule="evenodd" d="M12 6.75a5.25 5.25 0 016.775-5.025.75.75 0 01.313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 011.248.313 5.25 5.25 0 01-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 112.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0112 6.75zM4.117 19.125a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75h-.008a.75.75 0 01-.75-.75v-.008z" clip-rule="evenodd" />
                                </svg>                                  
                                <p class="inter ml-2">Aguardando</p>
                              </div>
                            </td>
                          <% } else if (call.status == "in-attendance") { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <div class="flex items-center justify-center gap-x-2">
                                <div class="flex-none rounded-full p-1 text-green-400 bg-green-opacity">
                                  <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                                </div>
                                <div class="hidden text-green-400 sm:block font-bold">Em atendimento</div>
                              </div>
                            </td>
    
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <div class="flex items-center justify-center">
                                <% if (call.photoTechnician.length > 0) { %>
                                  <img class="h-8 rounded-full" src="/img/photos/ call.photoTechnician %>">
                                <% } else { %>
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 bg-blue-500 p-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                                  </svg>                                    
                                <% } %>
                                <p class="inter ml-2"> call.nameTechnician %></p>
                              </div>
                            </td>
                          <% } else if (call.status == "concluded") { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <div class="flex items-center justify-center gap-x-2">
                                <div class="flex-none rounded-full p-1 text-blue-500">
                                  <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                                </div>
                                <div class="hidden text-blue-500 sm:block">Concluído</div>
                              </div>
                            </td>
    
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <div class="flex items-center justify-center">
                                <% if (call.photoTechnician.length > 0) { %>
                                  <img class="h-8 rounded-full" src="/img/photos/ call.photoTechnician %>">
                                <% } else { %>
                                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_281_44)">
                                    <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#0EA5E9"/>
                                    <path d="M21.8077 10.9377C21.8448 11.0114 21.867 11.0919 21.8731 11.1745C21.8791 11.2571 21.8689 11.3401 21.843 11.4186C21.8171 11.4971 21.776 11.5696 21.7221 11.6318C21.6682 11.6941 21.6027 11.7448 21.5292 11.781C21.4558 11.8173 21.376 11.8383 21.2944 11.843C21.2129 11.8476 21.1312 11.8357 21.0542 11.808C20.9773 11.7802 20.9065 11.7372 20.8462 11.6814C20.7858 11.6257 20.737 11.5583 20.7026 11.4832C20.3341 10.7167 19.8149 10.0346 19.177 9.47888C18.974 9.36419 18.7451 9.30521 18.5127 9.30793C18.2804 9.3106 18.0528 9.37479 17.8525 9.49417C17.6523 9.61351 17.4863 9.7839 17.371 9.98839C17.2557 10.1928 17.1951 10.4243 17.1953 10.6599V11.346C17.195 11.4876 17.1394 11.6233 17.0407 11.7234C16.9419 11.8235 16.808 11.8799 16.6683 11.8802H13.9167C13.777 11.8799 13.6431 11.8235 13.5443 11.7234C13.4456 11.6233 13.39 11.4876 13.3897 11.346V11.4247C13.39 11.1621 13.3144 10.9052 13.1722 10.6857C13.1398 10.6444 13.1087 10.602 13.079 10.5586C12.9438 10.3952 12.7724 10.2664 12.5788 10.1829C12.3852 10.0994 12.1748 10.0636 11.9649 10.0782C11.755 10.0929 11.5514 10.1578 11.371 10.2675C11.1905 10.3772 11.0382 10.5286 10.9265 10.7093C10.869 10.8401 10.7688 10.9468 10.6428 11.0116C10.5168 11.0762 10.3727 11.095 10.2347 11.0646C10.0967 11.0343 9.9732 10.9567 9.88498 10.8448C9.7968 10.733 9.74925 10.5938 9.75039 10.4507V7.88629C9.7503 7.74102 9.80029 7.60027 9.89171 7.48841C9.98313 7.37654 10.1102 7.30056 10.2511 7.2736C10.3919 7.24664 10.5376 7.27043 10.6629 7.34083C10.7883 7.41119 10.8854 7.52379 10.9376 7.65908C11.0489 7.83336 11.1983 7.9793 11.3742 8.08553C11.5502 8.19176 11.7479 8.25538 11.9521 8.27149C12.1563 8.2876 12.3614 8.25575 12.5515 8.1784C12.7415 8.10106 12.9114 7.98028 13.0479 7.82556C13.0949 7.75314 13.1457 7.68332 13.1999 7.61634L13.2077 7.60397H13.211C13.4369 7.32875 13.7199 7.10736 14.0397 6.95556C14.3596 6.80371 14.7085 6.72521 15.0617 6.72554H15.095C15.1164 6.7232 15.1379 6.72209 15.1593 6.72217C16.5462 6.72176 17.9052 7.11682 19.0811 7.86225C20.2569 8.60769 21.2022 9.67343 21.8088 10.9377H21.8077ZM16.6628 13.3165C16.6625 13.1749 16.6068 13.0391 16.5081 12.939C16.4093 12.8389 16.2754 12.7825 16.1358 12.7822H14.2329C14.0933 12.7828 13.9596 12.8393 13.8609 12.9394C13.7622 13.0394 13.7065 13.175 13.7059 13.3165V23.9395C13.7062 24.0812 13.7618 24.2169 13.8605 24.317C13.9593 24.4171 14.0932 24.4735 14.2329 24.4738H16.1358C16.2754 24.4735 16.4093 24.4171 16.5081 24.317C16.6068 24.2169 16.6625 24.0812 16.6628 23.9395V13.3165Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_281_44">
                                    <rect width="30" height="30" fill="white"/>
                                    </clipPath>
                                    </defs>
                                  </svg>
                                <% } %>
                                <p class="inter ml-2"> call.nameTechnician %></p>
                              </div>
                            </td>
                          <% } else if (call.status == "canceled") { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <div class="flex items-center justify-center gap-x-2">
                                <div class="flex-none rounded-full p-1 text-red-600 bg-red-opacity">
                                  <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                                </div>
                                <div class="hidden text-red-600 sm:block">Cancelado</div>
                              </div>
                            </td>
    
                            <% if (call.idTechnician.length > 0) { %>
                              <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                                <div class="flex items-center justify-center">
                                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_281_44)">
                                    <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#0EA5E9"/>
                                    <path d="M21.8077 10.9377C21.8448 11.0114 21.867 11.0919 21.8731 11.1745C21.8791 11.2571 21.8689 11.3401 21.843 11.4186C21.8171 11.4971 21.776 11.5696 21.7221 11.6318C21.6682 11.6941 21.6027 11.7448 21.5292 11.781C21.4558 11.8173 21.376 11.8383 21.2944 11.843C21.2129 11.8476 21.1312 11.8357 21.0542 11.808C20.9773 11.7802 20.9065 11.7372 20.8462 11.6814C20.7858 11.6257 20.737 11.5583 20.7026 11.4832C20.3341 10.7167 19.8149 10.0346 19.177 9.47888C18.974 9.36419 18.7451 9.30521 18.5127 9.30793C18.2804 9.3106 18.0528 9.37479 17.8525 9.49417C17.6523 9.61351 17.4863 9.7839 17.371 9.98839C17.2557 10.1928 17.1951 10.4243 17.1953 10.6599V11.346C17.195 11.4876 17.1394 11.6233 17.0407 11.7234C16.9419 11.8235 16.808 11.8799 16.6683 11.8802H13.9167C13.777 11.8799 13.6431 11.8235 13.5443 11.7234C13.4456 11.6233 13.39 11.4876 13.3897 11.346V11.4247C13.39 11.1621 13.3144 10.9052 13.1722 10.6857C13.1398 10.6444 13.1087 10.602 13.079 10.5586C12.9438 10.3952 12.7724 10.2664 12.5788 10.1829C12.3852 10.0994 12.1748 10.0636 11.9649 10.0782C11.755 10.0929 11.5514 10.1578 11.371 10.2675C11.1905 10.3772 11.0382 10.5286 10.9265 10.7093C10.869 10.8401 10.7688 10.9468 10.6428 11.0116C10.5168 11.0762 10.3727 11.095 10.2347 11.0646C10.0967 11.0343 9.9732 10.9567 9.88498 10.8448C9.7968 10.733 9.74925 10.5938 9.75039 10.4507V7.88629C9.7503 7.74102 9.80029 7.60027 9.89171 7.48841C9.98313 7.37654 10.1102 7.30056 10.2511 7.2736C10.3919 7.24664 10.5376 7.27043 10.6629 7.34083C10.7883 7.41119 10.8854 7.52379 10.9376 7.65908C11.0489 7.83336 11.1983 7.9793 11.3742 8.08553C11.5502 8.19176 11.7479 8.25538 11.9521 8.27149C12.1563 8.2876 12.3614 8.25575 12.5515 8.1784C12.7415 8.10106 12.9114 7.98028 13.0479 7.82556C13.0949 7.75314 13.1457 7.68332 13.1999 7.61634L13.2077 7.60397H13.211C13.4369 7.32875 13.7199 7.10736 14.0397 6.95556C14.3596 6.80371 14.7085 6.72521 15.0617 6.72554H15.095C15.1164 6.7232 15.1379 6.72209 15.1593 6.72217C16.5462 6.72176 17.9052 7.11682 19.0811 7.86225C20.2569 8.60769 21.2022 9.67343 21.8088 10.9377H21.8077ZM16.6628 13.3165C16.6625 13.1749 16.6068 13.0391 16.5081 12.939C16.4093 12.8389 16.2754 12.7825 16.1358 12.7822H14.2329C14.0933 12.7828 13.9596 12.8393 13.8609 12.9394C13.7622 13.0394 13.7065 13.175 13.7059 13.3165V23.9395C13.7062 24.0812 13.7618 24.2169 13.8605 24.317C13.9593 24.4171 14.0932 24.4735 14.2329 24.4738H16.1358C16.2754 24.4735 16.4093 24.4171 16.5081 24.317C16.6068 24.2169 16.6625 24.0812 16.6628 23.9395V13.3165Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_281_44">
                                    <rect width="30" height="30" fill="white"/>
                                    </clipPath>
                                    </defs>
                                  </svg>                                                                                          
                                  <p class="inter ml-2">Nenhum</p>
                                </div>
                              </td>
                            <% } else { %>
                              <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                                <div class="flex items-center justify-center">
                                  <% if (call.photoTechnician.length > 0) { %>
                                    <img class="h-8 rounded-full" src="/img/photos/ call.photoTechnician %>">
                                  <% } else { %>
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <g clip-path="url(#clip0_281_44)">
                                      <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#0EA5E9"/>
                                      <path d="M21.8077 10.9377C21.8448 11.0114 21.867 11.0919 21.8731 11.1745C21.8791 11.2571 21.8689 11.3401 21.843 11.4186C21.8171 11.4971 21.776 11.5696 21.7221 11.6318C21.6682 11.6941 21.6027 11.7448 21.5292 11.781C21.4558 11.8173 21.376 11.8383 21.2944 11.843C21.2129 11.8476 21.1312 11.8357 21.0542 11.808C20.9773 11.7802 20.9065 11.7372 20.8462 11.6814C20.7858 11.6257 20.737 11.5583 20.7026 11.4832C20.3341 10.7167 19.8149 10.0346 19.177 9.47888C18.974 9.36419 18.7451 9.30521 18.5127 9.30793C18.2804 9.3106 18.0528 9.37479 17.8525 9.49417C17.6523 9.61351 17.4863 9.7839 17.371 9.98839C17.2557 10.1928 17.1951 10.4243 17.1953 10.6599V11.346C17.195 11.4876 17.1394 11.6233 17.0407 11.7234C16.9419 11.8235 16.808 11.8799 16.6683 11.8802H13.9167C13.777 11.8799 13.6431 11.8235 13.5443 11.7234C13.4456 11.6233 13.39 11.4876 13.3897 11.346V11.4247C13.39 11.1621 13.3144 10.9052 13.1722 10.6857C13.1398 10.6444 13.1087 10.602 13.079 10.5586C12.9438 10.3952 12.7724 10.2664 12.5788 10.1829C12.3852 10.0994 12.1748 10.0636 11.9649 10.0782C11.755 10.0929 11.5514 10.1578 11.371 10.2675C11.1905 10.3772 11.0382 10.5286 10.9265 10.7093C10.869 10.8401 10.7688 10.9468 10.6428 11.0116C10.5168 11.0762 10.3727 11.095 10.2347 11.0646C10.0967 11.0343 9.9732 10.9567 9.88498 10.8448C9.7968 10.733 9.74925 10.5938 9.75039 10.4507V7.88629C9.7503 7.74102 9.80029 7.60027 9.89171 7.48841C9.98313 7.37654 10.1102 7.30056 10.2511 7.2736C10.3919 7.24664 10.5376 7.27043 10.6629 7.34083C10.7883 7.41119 10.8854 7.52379 10.9376 7.65908C11.0489 7.83336 11.1983 7.9793 11.3742 8.08553C11.5502 8.19176 11.7479 8.25538 11.9521 8.27149C12.1563 8.2876 12.3614 8.25575 12.5515 8.1784C12.7415 8.10106 12.9114 7.98028 13.0479 7.82556C13.0949 7.75314 13.1457 7.68332 13.1999 7.61634L13.2077 7.60397H13.211C13.4369 7.32875 13.7199 7.10736 14.0397 6.95556C14.3596 6.80371 14.7085 6.72521 15.0617 6.72554H15.095C15.1164 6.7232 15.1379 6.72209 15.1593 6.72217C16.5462 6.72176 17.9052 7.11682 19.0811 7.86225C20.2569 8.60769 21.2022 9.67343 21.8088 10.9377H21.8077ZM16.6628 13.3165C16.6625 13.1749 16.6068 13.0391 16.5081 12.939C16.4093 12.8389 16.2754 12.7825 16.1358 12.7822H14.2329C14.0933 12.7828 13.9596 12.8393 13.8609 12.9394C13.7622 13.0394 13.7065 13.175 13.7059 13.3165V23.9395C13.7062 24.0812 13.7618 24.2169 13.8605 24.317C13.9593 24.4171 14.0932 24.4735 14.2329 24.4738H16.1358C16.2754 24.4735 16.4093 24.4171 16.5081 24.317C16.6068 24.2169 16.6625 24.0812 16.6628 23.9395V13.3165Z" fill="white"/>
                                      </g>
                                      <defs>
                                      <clipPath id="clip0_281_44">
                                      <rect width="30" height="30" fill="white"/>
                                      </clipPath>
                                      </defs>
                                    </svg>
                                  <% } %>
                                  <p class="inter ml-2"> call.nameTechnician %></p>
                                </div>
                              </td>
                            <% } %>
                          <% } %>
    
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <a href="/company/view-call/<%= call._id %>" class="flex items-center justify-center">                                
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                              </svg>                                
                              Visualizar
                            </a>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
                <div class="flex flex-wrap items-center justify-between w-full lg:w-1/2 py-4 px-6 -m-2">
                  <div class="w-auto p-2">
                    <p class="text-sm font-semibold text-coolGray-500">Exibindo <%= calls.length %> de <%= calls.length %> de <%= calls.length %> resultados</p>
                  </div>
                  <div class="w-auto p-2">
                    <div class="flex flex-wrap items-center">
                      <div class="w-auto mr-3">
                        <div class="relative flex items-center">
                          <svg class="absolute right-4 top-1/2 transform -translate-y-1/2" width="10" height="6"
                            viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.16667 0.641619C9.01053 0.48641 8.79932 0.399292 8.57917 0.399292C8.35901 0.399292 8.1478 0.48641 7.99167 0.641619L5 3.59162L2.05 0.641619C1.89386 0.48641 1.68266 0.399292 1.4625 0.399292C1.24235 0.399292 1.03114 0.48641 0.875 0.641619C0.796893 0.719088 0.734898 0.811256 0.692591 0.912805C0.650284 1.01435 0.628502 1.12328 0.628502 1.23329C0.628502 1.3433 0.650284 1.45222 0.692591 1.55377C0.734898 1.65532 0.796893 1.74748 0.875 1.82495L4.40833 5.35829C4.4858 5.43639 4.57797 5.49839 4.67952 5.54069C4.78107 5.583 4.88999 5.60478 5 5.60478C5.11001 5.60478 5.21893 5.583 5.32048 5.54069C5.42203 5.49839 5.5142 5.43639 5.59167 5.35829L9.16667 1.82495C9.24477 1.74748 9.30677 1.65532 9.34908 1.55377C9.39138 1.45222 9.41317 1.3433 9.41317 1.23329C9.41317 1.12328 9.39138 1.01435 9.34908 0.912805C9.30677 0.811256 9.24477 0.719088 9.16667 0.641619Z"
                              fill="#556987"></path>
                          </svg>
                          <select
                            class="appearance-none py-1 px-4 w-16 text-coolGray-500 text-sm font-medium bg-white border outline-none border-coolGray-200 focus:border-blue-500 rounded-md">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                          </select>
                        </div>
                      </div>
                      <div class="w-auto">
                        <p class="text-sm text-coolGray-500 font-medium">por página</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="lg:col-span-3 xl:col-span-1">
            <div
              class="mx-auto h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
              <div class="p-6 pb-18 border-b border-coolGray-100">
                <h2 class="mb-8 text-coolGray-900 text-lg font-semibold">Visão geral da empresa</h2>
                <div class="chart-chart1-pie"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/company/charts.js"></script>

</html>