<%- include('../../partials/app/head', {title: "Equipamentos"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/app/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/app/nav', {title: "Equipamentos"}) %>

    <main class="fade-in inter">
      <div class="px-8 py-8">
        <div class="sm:flex sm:justify-between sm:items-center">
          <h1 class="text-lg font-semibold leading-6 text-gray-900 inter color-purple"><span class="text-blue-500"><%= equipments.length %> equipamento(s)</span> cadastrado(s)</h1>
        </div>

        <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 md:grid-cols-3 md:grid-cols-4 sm:gap-x-6 lg:grid-cols-5 xl:gap-x-8 mt-8">
          <% equipments.forEach(item => { %>
            <li class="border border-blue-200 rounded-xl bg-white shadow-lg">
              <div class="border-b">
                <% if (item.imageFile.length > 0) { %>
                  <img class="w-full h-44 rounded-t-xl" src="/img/equipments/<%= item.imageFile %>" alt="">
                <% } %>
              </div>

              <div class="p-4">
                <h2 class="text-lg font-semibold text-blue-500 inter"><%= item.model %> </h2>
                <h2 class="text-sm font-medium mt-1 text-gray-800 inter">Data de cadastro: <%= item.createdAtFormatted %></h2>
                <h2 class="text-sm font-medium mt-1 text-gray-800 inter">Relatórios: <%= item.reports %> relatórios</h2>
                <h2 class="text-sm font-medium mt-1 text-gray-800 inter">Último status: <span class="font-semibold text-green-600">Funcionando</span></h2>
                <div>
                  <a href="/company/view-equipment/<%= item.id %>" class="flex justify-center items-center bg-blue-500 text-white mt-4 text-sm font-medium rounded-lg inter py-2" href="">Ver equipamento</a>
                </div>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </main>
  </div>
</body>
</html>