<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "title"}) %>

<body>
  <%- include('../partials/company/sidebar-company') %>

  <div class="lg:pl-70">
    <%- include('../partials/company/nav-company', {title: "Visualizar chamado", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="alert mt-14" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error mt-14" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">
        <div class="min-h-full">
          <main class="py-4">
            <!-- Page header -->
            <div class="mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:px-8">
              <div class="flex items-center space-x-5">
                <div class="flex-shrink-0">
                  <div class="relative">
                    <img class="h-16 w-16 rounded-full" src="/img/photos/<%= call.photoCompany %>" alt="">
                    <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
                  </div>
                </div>
                <div>
                  <h1 class="text-2xl font-bold text-gray-900 inter">Chamado <span class="text-indigo-600"><% call._id %></span></h1>
                  <p class="text-sm font-semibold text-gray-500 inter">Aberto por você em: <time datetime="<%= call.date %>"><%= call.date %></time></p>
                </div>
              </div>
              <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-3 sm:space-y-0 sm:space-x-reverse md:mt-0 md:flex-row md:space-x-3">
                <button type="button" class="inline-flex items-center justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 border shadow-sm ring-1 ring-inset ring-gray-300">Ver empresa</button>
                <button type="button" class="inline-flex items-center justify-center rounded-md bg-blue px-3 py-2 text-sm font-semibold text-white border shadow-sm ring-1 ring-inset ring-gray-300">Editar chamado</button>
                <button type="button" class="inline-flex items-center justify-center rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm bg-red-600">Cancelar chamado</button>
              </div>
            </div>

            <div class="mx-auto mt-8 grid grid-cols-1 gap-6 sm:px-6 lg:grid-flow-col-dense lg:grid-cols-3">
              <div class="space-y-6 lg:col-span-2 lg:col-start-1">
                <!-- Description list-->
                <section aria-labelledby="applicant-information-title">
                  <div class="bg-white shadow border sm:rounded-lg">
                    <div class="px-4 py-5 sm:px-6">
                      <h2 id="applicant-information-title" class="text-lg font-semibold leading-6 text-gray-900 inter">Informações do chamado:</h2>
                      <p class="mt-1 max-w-2xl text-sm text-gray-500 inter">Confira todos os detalhes do seu chamado.</p>
                    </div>
                    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
                      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                        <div class="sm:col-span-1">
                          <dt class="text-sm font-semibold text-gray-500 inter">Chamado aberto por:</dt>
                          <dd class="mt-1 text-sm text-gray-900 inter"><%= name_user %> (Você)</dd>
                        </div>
                        <div class="sm:col-span-1">
                          <dt class="text-sm font-semibold text-gray-500 inter">Endereço de email:</dt>
                          <dd class="mt-1 text-sm text-gray-900 inter"><%= call.emailCompany %></dd>
                        </div>
                        <div class="sm:col-span-1">
                          <dt class="text-sm font-semibold text-gray-500 inter">Data</dt>
                          <dd class="mt-1 text-sm text-gray-900 inter"><%= call.date %></dd>
                        </div>
                        <div class="sm:col-span-1">
                          <dt class="text-sm font-semibold text-gray-500 inter">Telefone</dt>
                          <dd class="mt-1 text-sm text-gray-900 inter"><%= call.phoneCompany %></dd>
                        </div>
                        <div class="sm:col-span-2">
                          <dt class="text-md font-medium text-gray-500">Descrição do chamado:</dt>
                          <dd class="mt-1 text-sm text-gray-900 inter inter font-medium"><%= call.description %></dd>
                        </div>
                        <div class="sm:col-span-2">
                          <dt class="text-sm font-semibold text-gray-500 inter">Anexos do chamado:</dt>
                          <dd class="mt-1 text-sm text-gray-900 inter">
                            <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
                              <% call.photos.forEach(item => { %>
                                <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                  <div class="flex w-0 flex-1 items-center">
                                    <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="ml-2 w-0 flex-1 truncate"><%= item %></span>
                                  </div>
                                  <div class="ml-4 flex-shrink-0">
                                    <button onclick="downloadFile('<%= item %>')" class="font-medium color-blue">Download</button>
                                  </div>
                                </li>
                              <% }) %>
                            </ul>
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>
                </section>

                <!-- Comments-->
                <section aria-labelledby="notes-title">
                  <div class="bg-white shadow border sm:overflow-hidden sm:rounded-lg">
                    <div class="divide-y divide-gray-200">
                      <div class="px-4 py-5 sm:px-6">
                        <h2 id="notes-title" class="text-lg font-medium text-gray-900">Relatórios do chamado:</h2>
                      </div>
                      <div class="px-4 py-6 sm:px-6">
                        <ul role="list" class="space-y-8">
                          <% call.reports.forEach(item => { %>
                            <li>
                              <div class="flex space-x-3">
                                <div class="flex-shrink-0">
                                  <img class="h-10 w-10 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62" alt="">
                                </div>
                                <div>
                                  <div class="text-sm">
                                    <a href="#" class="font-bold text-md inter text-gray-900">Anderson Moreira</a>
                                  </div>
                                  <div class="mt-1 text-sm text-gray-700">
                                    <p class="font-semibold inter">O chamado a seguir foi atendido com excelência. Deixo aqui o relatório caso a empresa queira conferir.</p>
                                  </div>
                                  <div class="mt-2 space-x-2 text-sm">
                                    <span class="font-medium text-gray-500">15:44</span>
                                  </div>
                                  <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200 mt-4">
                                    <li class="flex items-center justify-between py-6 pl-3 pr-4 text-sm">
                                      <div class="flex w-0 flex-1 items-center">
                                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                          <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                                        </svg>
                                        <span class="ml-2 w-0 flex-1 inter text-md font-bold truncate">Relatório do chamado #32455</span>
                                      </div>
                                      <div class="ml-4 flex-shrink-0">
                                        <a href="#" class="font-medium color-blue">Verificar</a>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <section aria-labelledby="timeline-title" class="lg:col-span-1 lg:col-start-3">
                <div class="bg-white px-4 py-5 shadow border sm:rounded-lg sm:px-6">
                  <h2 id="timeline-title" class="text-lg font-medium text-gray-900">Linha do tempo</h2>

                  <div class="mt-6 flow-root">
                    <ul role="list" class="-mb-8">
                      <% call.timeline.forEach(item => { %>
                        <li>
                          <div class="relative pb-8">
                            <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                            <div class="relative flex space-x-3">
                              <div>
                                <% if (item.type == "company") { %>
                                  <span class="h-8 w-8 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white">
                                    <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
                                    </svg>
                                  </span>
                                <% } else if (item.type == "technician") { %>
                                  <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
                                    <img class="h-8 w-8 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62" alt="">
                                  </span>
                                <% } else { %>
                                  <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
                                    <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z" />
                                    </svg>
                                  </span>
                                <% } %>
                              </div>
                              <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                                <div>
                                  <p class="text-sm inter font-semibold text-gray-500"><%= item.text %></p>
                                </div>
                                <div class="whitespace-nowrap text-right text-sm text-gray-500">
                                  <time datetime="<%= item.hour %>"><%= item.hour %></time>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      <% }) %>
<!-- 
                      <li>
                        <div class="relative pb-8">
                          <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                          <div class="relative flex space-x-3">
                            <div>
                              <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
                                <img class="h-8 w-8 rounded-full" src="https://pps.whatsapp.net/v/t61.24694-24/309612029_1303621463511201_2184499647973530355_n.jpg?ccb=11-4&oh=01_AdTLj4igz1k4OkKVwtf5wwXyceqwcgJlQGxo3JG6sDOlTQ&oe=64B44F62" alt="">
                              </span>
                            </div>
                            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                              <div>
                                <p class="text-sm inter font-semibold text-gray-500">Chamado aceito por <span class="font-bold">Anderson Moreira</span></p>
                              </div>
                              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                                <time datetime="2020-09-22">14:24</time>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="relative pb-8">
                          <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                          <div class="relative flex space-x-3">
                            <div>
                              <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                                <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z" />
                                </svg>
                              </span>
                            </div>
                            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                              <div>
                                <p class="text-sm inter font-semibold text-gray-500">Técnico <span class="font-bold">Anderson Moreira</span> a caminho do local.</p>
                              </div>
                              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                                <time datetime="2020-09-28">14:26</time>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="relative pb-8">
                          <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                          <div class="relative flex space-x-3">
                            <div>
                              <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
                                <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z" />
                                </svg>
                              </span>
                            </div>
                            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                              <div>
                                <p class="text-sm inter font-semibold text-gray-500">Iniciado o atendimento pelo Técnico. (SLA em andamento)</p>
                              </div>
                              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                                <time datetime="2020-09-30">14:40</time>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="relative pb-8">
                          <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                          <div class="relative flex space-x-3">
                            <div>
                              <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
                                <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z" />
                                </svg>
                              </span>
                            </div>
                            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                              <div>
                                <p class="text-sm inter font-semibold text-gray-500">Terminado o atendimento pelo Técnico. (SLA concluído) <span class="color-blue">1 hora</span></p>
                              </div>
                              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                                <time datetime="2020-09-30">15:40</time>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="relative pb-8">
                          <div class="relative flex space-x-3">
                            <div>
                              <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                                <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                              </span>
                            </div>
                            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                              <div>
                                <p class="text-sm inter font-semibold text-gray-500">Chamado concluído com sucesso.<span class="font-bold color-blue">1 relatório</span> gerado.</p>
                              </div>
                              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                                <time datetime="2020-10-04">15:44</time>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li> -->
                    </ul>
                  </div>
                </div>
              </section>
            </div>
          </main>
        </div>
      </div>
    </main>
  </div>
</body>

<script>
  function downloadFile(path) {
    const link = document.createElement('a');
    link.href = `/img/uploads/${path}`;
    link.download = `/img/uploads/${path}`;

    document.body.appendChild(link);
    link.click();

    document.body.removeChild(link);
  }
</script>

</html>