<%- include('../../partials/app/head', {title: "Administradores"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/app/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/app/nav', {title: "Administradores"}) %>

    <main class="py-5 fade-in">
      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">
        <div class="mt-4">
          <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            <% administrators.forEach(function(item) { %>
              <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow border">
                <div class="flex w-full items-center space-x-6 p-6">
                  <% if (item.avatar.length > 0) { %>
                    <img class="h-11 w-11 flex-shrink-0 rounded-full" src="/img/avatars/<%= item.avatar %>" alt="">
                  <% } else { %>
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_116_59)">
                      <mask id="mask0_116_59" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="38">
                      <path d="M38 0H0V38H38V0Z" fill="white"/>
                      </mask>
                      <g mask="url(#mask0_116_59)">
                      <mask id="mask1_116_59" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="38">
                      <path d="M38 0H0V38H38V0Z" fill="white"/>
                      </mask>
                      <g mask="url(#mask1_116_59)">
                      <path d="M19 0C8.52359 0 0 8.52359 0 19C0 29.4764 8.52359 38 19 38C29.4764 38 38 29.4764 38 19C38 8.52359 29.4764 0 19 0ZM19 5.54169C24.0198 5.54169 28.1042 9.62602 28.1042 14.6459C28.1042 19.6657 24.0198 23.75 19 23.75C13.9802 23.75 9.89582 19.6657 9.89582 14.6458C9.89582 9.62593 13.9802 5.54169 19 5.54169ZM19 34.8333C13.8264 34.8333 9.23868 32.3281 6.34771 28.4791C9.51511 26.9551 14.0383 25.3333 19 25.3333C23.9621 25.3333 28.4857 26.9553 31.6523 28.4789C28.7613 32.328 24.1737 34.8333 19 34.8333Z" fill="#239CFF"/>
                      </g>
                      </g>
                      </g>
                      <defs>
                      <clipPath id="clip0_116_59">
                      <rect width="38" height="38" fill="white"/>
                      </clipPath>
                      </defs>
                    </svg>
                  <% } %>
                  <div class="flex-1 truncate">
                    <div class="flex items-center space-x-2">
                      <h3 class="truncate text-md font-medium text-gray-900 inter"><%= item.name %></h3>
                    </div>
                    <p class="mt-1 truncate text-sm text-gray-500 inter"><%= item.email %></p>
                  </div>
                </div>
                <div>
                  <div class="-mt-px flex divide-x divide-gray-200">
                    <div class="flex w-0 flex-1">
                      <a href="/platform/users/<%= item._id %>" class="relative -mr-px inter inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold color-purple">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M19.25 19.25H2.75" stroke="#239CFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M18.2246 6.41665L10.0846 14.5108L6.41797 15.5833L7.49047 11.9166L15.6305 3.77665C15.9748 3.40397 16.4528 3.1831 16.9598 3.16247C17.4668 3.14185 17.9612 3.32317 18.3346 3.66665C18.5117 3.8525 18.6497 4.07204 18.7403 4.31225C18.8309 4.55246 18.8723 4.80843 18.862 5.06495C18.8518 5.32147 18.7901 5.57331 18.6806 5.80551C18.5711 6.03772 18.416 6.24554 18.2246 6.41665Z" stroke="#239CFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                          
                        Editar
                      </a>
                    </div>
                    <% if (item.isBlocked) { %>
                      <div class="-ml-px flex w-0 flex-1">
                        <button onclick="unlockUser('<%= item._id %>')" class="relative inter inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-yellow-500">
                          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9991 20.46C9.28306 20.46 7.69173 20.0274 6.22506 19.162C4.8024 18.326 3.67306 17.1967 2.83706 15.774C1.97173 14.3074 1.53906 12.716 1.53906 11C1.53906 9.28404 1.97173 7.69271 2.83706 6.22604C3.67306 4.80337 4.8024 3.67404 6.22506 2.83804C7.69173 1.97271 9.28306 1.54004 10.9991 1.54004C12.7151 1.54004 14.3064 1.97271 15.7731 2.83804C17.1957 3.67404 18.3251 4.80337 19.1611 6.22604C20.0264 7.69271 20.4591 9.28404 20.4591 11C20.4591 12.716 20.0264 14.3074 19.1611 15.774C18.3251 17.1967 17.1957 18.326 15.7731 19.162C14.3064 20.0274 12.7151 20.46 10.9991 20.46ZM7.03906 16.72C7.61106 17.1307 8.23806 17.4424 8.92006 17.655C9.60206 17.8677 10.2951 17.974 10.9991 17.974C12.2604 17.974 13.4337 17.6514 14.5191 17.006C15.5604 16.39 16.3891 15.5614 17.0051 14.52C17.6504 13.4347 17.9731 12.2614 17.9731 11C17.9731 10.296 17.8667 9.60304 17.6541 8.92104C17.4414 8.23904 17.1297 7.61204 16.7191 7.04004L7.03906 16.72ZM10.9991 4.02604C9.73773 4.02604 8.5644 4.34871 7.47906 4.99404C6.43773 5.61004 5.60906 6.43871 4.99306 7.48004C4.34773 8.56537 4.02506 9.73871 4.02506 11C4.02506 11.704 4.1314 12.397 4.34406 13.079C4.55673 13.761 4.8684 14.388 5.27906 14.96L14.9591 5.28004C14.3871 4.86937 13.7601 4.55771 13.0781 4.34504C12.3961 4.13237 11.7031 4.02604 10.9991 4.02604Z" fill="#C27803"/>
                          </svg>                                                      
                          Desbloquear
                        </button>
                      </div>
                    <% } else { %>
                      <div class="-ml-px flex w-0 flex-1">
                        <button onclick="blockUser('<%= item._id %>')" class="relative inter inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9991 20.46C9.28306 20.46 7.69173 20.0274 6.22506 19.162C4.8024 18.326 3.67306 17.1967 2.83706 15.774C1.97173 14.3074 1.53906 12.716 1.53906 11C1.53906 9.28404 1.97173 7.69271 2.83706 6.22604C3.67306 4.80337 4.8024 3.67404 6.22506 2.83804C7.69173 1.97271 9.28306 1.54004 10.9991 1.54004C12.7151 1.54004 14.3064 1.97271 15.7731 2.83804C17.1957 3.67404 18.3251 4.80337 19.1611 6.22604C20.0264 7.69271 20.4591 9.28404 20.4591 11C20.4591 12.716 20.0264 14.3074 19.1611 15.774C18.3251 17.1967 17.1957 18.326 15.7731 19.162C14.3064 20.0274 12.7151 20.46 10.9991 20.46ZM7.03906 16.72C7.61106 17.1307 8.23806 17.4424 8.92006 17.655C9.60206 17.8677 10.2951 17.974 10.9991 17.974C12.2604 17.974 13.4337 17.6514 14.5191 17.006C15.5604 16.39 16.3891 15.5614 17.0051 14.52C17.6504 13.4347 17.9731 12.2614 17.9731 11C17.9731 10.296 17.8667 9.60304 17.6541 8.92104C17.4414 8.23904 17.1297 7.61204 16.7191 7.04004L7.03906 16.72ZM10.9991 4.02604C9.73773 4.02604 8.5644 4.34871 7.47906 4.99404C6.43773 5.61004 5.60906 6.43871 4.99306 7.48004C4.34773 8.56537 4.02506 9.73871 4.02506 11C4.02506 11.704 4.1314 12.397 4.34406 13.079C4.55673 13.761 4.8684 14.388 5.27906 14.96L14.9591 5.28004C14.3871 4.86937 13.7601 4.55771 13.0781 4.34504C12.3961 4.13237 11.7031 4.02604 10.9991 4.02604Z" fill="#5F5F5F"/>
                          </svg>                          
                          Bloquear
                        </button>
                      </div>
                    <% } %>
                    <div class="-ml-px flex w-0 flex-1">
                      <button onclick="deleteUser('<%= item._id %>')" class="relative inter inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-red-700">
                        <svg class="mt-0.5" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.75 1.125H10.5C10.5 0.926088 10.421 0.735322 10.2803 0.59467C10.1397 0.454018 9.94891 0.375 9.75 0.375H8.25C8.05109 0.375 7.86032 0.454018 7.71967 0.59467C7.57902 0.735322 7.5 0.926088 7.5 1.125H2.25C2.05109 1.125 1.86032 1.20402 1.71967 1.34467C1.57902 1.48532 1.5 1.67609 1.5 1.875C1.5 2.07391 1.57902 2.26468 1.71967 2.40533C1.86032 2.54598 2.05109 2.625 2.25 2.625H15.75C15.9489 2.625 16.1397 2.54598 16.2803 2.40533C16.421 2.26468 16.5 2.07391 16.5 1.875C16.5 1.67609 16.421 1.48532 16.2803 1.34467C16.1397 1.20402 15.9489 1.125 15.75 1.125Z" fill="#AA2222"/>
                          <path d="M14.625 3.375C14.4261 3.375 14.2353 3.45402 14.0947 3.59467C13.954 3.73532 13.875 3.92609 13.875 4.125V16.125H4.125V4.125C4.125 3.92609 4.04598 3.73532 3.90533 3.59467C3.76468 3.45402 3.57391 3.375 3.375 3.375C3.17609 3.375 2.98532 3.45402 2.84467 3.59467C2.70402 3.73532 2.625 3.92609 2.625 4.125V16.875C2.625 17.0739 2.70402 17.2647 2.84467 17.4053C2.98532 17.546 3.17609 17.625 3.375 17.625H14.625C14.8239 17.625 15.0147 17.546 15.1553 17.4053C15.296 17.2647 15.375 17.0739 15.375 16.875V4.125C15.375 3.92609 15.296 3.73532 15.1553 3.59467C15.0147 3.45402 14.8239 3.375 14.625 3.375Z" fill="#AA2222"/>
                          <path d="M7.875 13.875V7.125C7.875 6.92609 7.79598 6.73532 7.65533 6.59467C7.51468 6.45402 7.32391 6.375 7.125 6.375C6.92609 6.375 6.73532 6.45402 6.59467 6.59467C6.45402 6.73532 6.375 6.92609 6.375 7.125V13.875C6.375 14.0739 6.45402 14.2647 6.59467 14.4053C6.73532 14.546 6.92609 14.625 7.125 14.625C7.32391 14.625 7.51468 14.546 7.65533 14.4053C7.79598 14.2647 7.875 14.0739 7.875 13.875Z" fill="#AA2222"/>
                          <path d="M11.625 13.875V7.125C11.625 6.92609 11.546 6.73532 11.4053 6.59467C11.2647 6.45402 11.0739 6.375 10.875 6.375C10.6761 6.375 10.4853 6.45402 10.3447 6.59467C10.204 6.73532 10.125 6.92609 10.125 7.125V13.875C10.125 14.0739 10.204 14.2647 10.3447 14.4053C10.4853 14.546 10.6761 14.625 10.875 14.625C11.0739 14.625 11.2647 14.546 11.4053 14.4053C11.546 14.2647 11.625 14.0739 11.625 13.875Z" fill="#AA2222"/>
                        </svg>
                        Excluir
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </main>
  </div>
</body>

<script>
  function blockUser(id_user) {
    fetch("/platform/users/block/" + id_user, {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },
    })

    location.reload();
  }

  function unlockUser(id_user) {
    fetch("/platform/users/unlock/" + id_user, {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },
    })

    location.reload();
  }

  function deleteUser(id_user) {
    fetch("/platform/users/delete/" + id_user, {
      method: "DELETE",
      headers: { 'Content-Type': 'application/json' },
    })

    location.reload();
  }
</script>
</html>