<%- include('../../partials/app/head', {title: "Empresas"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/app/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/app/nav', {title: "Empresas"}) %>

    <main class="fade-in">
      <div class="px-6 py-6">
        <div class="pt-6 bg-white overflow-hidden border border-coolGray-100 rounded-md shadow-dashboard inter">
          <h2 class="px-6 mb-4 text-lg text-coolGray-900 font-semibold">Empresas</h2>
          <div class="px-6 overflow-x-auto">
            <table class="w-full">
              <tbody>
                <tr class="whitespace-nowrap h-11 bg-coolGray-50 bg-opacity-80">
                  <th class="px-4 font-semibold text-xs text-coolGray-500 uppercase text-left rounded-l-md">
                    <p>Empresa</p>
                  </th>
                  <th
                    class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                    CNPJ</th>
                  <th
                    class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                    Telefone</th>
                  <th
                    class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                    Email</th>
                  <th
                    class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                    Data de cadastro</th>
                  <th
                    class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center rounded-r-md">
                    Cidade</th>
                  <th
                    class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center rounded-r-md">
                    Ações</th>
                </tr>

                <% companies.forEach(function(company) { %>
                  <tr class="h-18 border-b border-coolGray-100">
                    <th class="whitespace-nowrap px-4 bg-white text-left">
                      <div class="flex items-center -m-2">
                        <div class="w-auto p-2">
                          <% if (company.avatar.length > 0) { %>
                            <img class="h-8 rounded-full" src="/img/avatars/<%= company.avatar %>">
                          <% } else { %>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-white bg-blue-500 rounded-full p-2">
                              <path fill-rule="evenodd" d="M4.5 2.25a.75.75 0 000 1.5v16.5h-.75a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5h-.75V3.75a.75.75 0 000-1.5h-15zM9 6a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H9zm-.75 3.75A.75.75 0 019 9h1.5a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM9 12a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H9zm3.75-5.25A.75.75 0 0113.5 6H15a.75.75 0 010 1.5h-1.5a.75.75 0 01-.75-.75zM13.5 9a.75.75 0 000 1.5H15A.75.75 0 0015 9h-1.5zm-.75 3.75a.75.75 0 01.75-.75H15a.75.75 0 010 1.5h-1.5a.75.75 0 01-.75-.75zM9 19.5v-2.25a.75.75 0 01.75-.75h4.5a.75.75 0 01.75.75v2.25a.75.75 0 01-.75.75h-4.5A.75.75 0 019 19.5z" clip-rule="evenodd" />
                            </svg>                                                                      
                          <% } %>
                        </div>
                        <div class="w-auto p-2">
                          <p class="text-sm font-medium text-coolGray-800"><%= company.name %></p>
                        </div>
                      </div>
                    </th>

                    <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                      <%= company.cnpj %>
                    </td>

                    <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                      <%= company.phoneCompany %>
                    </td>

                    <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center"><%= company.email %></td>

                    <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                      <%= company.createdAtFormatted %>
                    </td>
                    
                    <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                      <%= company.city %>
                    </td>

                    <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                      <a href="/admin/view-company/<%= company._id %>" class="flex items-center justify-center">                                
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                        </svg>                                
                        Visualizar
                      </a>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>