<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "title"}) %>

<body>
  <%- include('../partials/admin/sidebar-admin', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/admin/nav-admin', {isAdmin: isAdmin, title: "Todos os orçamentos", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="alert mt-14" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error mt-14" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">
        <div class="sm:flex sm:justify-between sm:items-center">
          <h1 class="text-lg font-semibold leading-6 text-gray-900 inter color-purple"><span class="text-blue"><%= budgets.length %> orçamento(s)</span> encontrado(s)</h1>

          <div class="flex items-center space-x-2">
            <div class="relative flex">
              <label for="search-field" class="sr-only">Search</label>
              <svg class="pointer-events-none absolute inset-y-0 left-0 h-full ml-2 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
              </svg>
              <input id="search-field" class="block h-full w-full border-blue-1 rounded-lg py-2 pl-8 pr-0 inter text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm" placeholder="Pesquisar por nome" type="search" name="search">
            </div>

            <input type="date" class="text-blue inter text-sm font-medium px-4 py-1.5 border-blue-1 rounded-lg">
          </div>
        </div>
        
        <div class="mt-8 flow-root">
          <div class="-mx-4 -my-2">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-5">
              <% if (budgets.length > 0) { %>
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="py-3.5 pl-4.5 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 inter">Orçamento</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Referente ao relatório</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Empresa</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Tipo</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Status</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Data do relatório</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Ações</th>
                      </tr>
                    </thead>
  
                    <tbody class="divide-y divide-gray-200 bg-white">
                      <% budgets.forEach(function(item) { %>
                        <tr>
                          <td class="whitespace-nowrap inter py-4 text-sm inter text-gray-800 font-semibold">
                            <div class="flex items-center ml-5">
                              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_272_21)">
                                <mask id="mask0_272_21" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="26" height="26">
                                <path d="M26 0H0V26H26V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_272_21)">
                                <mask id="mask1_272_21" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="26" height="26">
                                <path d="M26 0H0V26H26V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask1_272_21)">
                                <path d="M13 0C10.4289 0 7.91544 0.762437 5.77759 2.19089C3.63975 3.61936 1.97352 5.64968 0.989573 8.0251C0.00563223 10.4006 -0.25181 13.0144 0.249797 15.5362C0.751406 18.0579 1.98953 20.3744 3.80762 22.1924C5.62571 24.0105 7.94209 25.2486 10.4638 25.7501C12.9856 26.2518 15.5995 25.9944 17.9748 25.0104C20.3503 24.0266 22.3807 22.3603 23.8091 20.2224C25.2375 18.0846 26 15.5711 26 13C26 9.55221 24.6304 6.24559 22.1924 3.80762C19.7544 1.36964 16.4477 0 13 0ZM16.3749 16.3526C16.2083 16.7327 15.9614 17.0724 15.6513 17.3482C15.3195 17.6375 14.9374 17.8634 14.5241 18.0153C14.0546 18.1895 13.5628 18.2965 13.0633 18.3334L12.8922 20.1209C12.8883 20.162 12.8755 20.2016 12.8546 20.2372C12.8287 20.2761 12.7909 20.3056 12.7468 20.3211C12.6766 20.3471 12.6038 20.3654 12.5296 20.3758C12.4162 20.3906 12.3019 20.3975 12.1875 20.3964C12.044 20.3986 11.9005 20.39 11.7582 20.3707C11.6703 20.3596 11.5845 20.3359 11.5033 20.3005C11.4488 20.277 11.4054 20.2336 11.3818 20.1791C11.3606 20.1245 11.3565 20.065 11.3699 20.008L11.5409 18.313C11.3107 18.2818 11.0823 18.2382 10.8567 18.1828C10.6617 18.136 10.4693 18.079 10.2803 18.0119C10.1269 17.9556 9.9773 17.8898 9.83209 17.8151C9.72913 17.7633 9.6341 17.6972 9.54986 17.6185C9.4783 17.5387 9.43085 17.4402 9.41304 17.3345C9.38008 17.151 9.36578 16.9649 9.37027 16.7786C9.37027 16.5903 9.37027 16.4364 9.38736 16.3115C9.39347 16.2146 9.4131 16.1191 9.44554 16.0276C9.46224 15.9751 9.49611 15.9297 9.54174 15.8986C9.5873 15.8677 9.64197 15.8529 9.69696 15.8565C9.81116 15.8725 9.91978 15.9159 10.0134 15.9832C10.1873 16.081 10.366 16.1701 10.5488 16.25C10.8039 16.3627 11.0676 16.4549 11.3374 16.5255C11.6941 16.6147 12.061 16.6566 12.4287 16.6503C13.0786 16.6503 13.5645 16.5289 13.881 16.2876C14.0327 16.1776 14.1553 16.0323 14.2381 15.864C14.3209 15.6959 14.3616 15.5102 14.3565 15.3228C14.3669 15.0859 14.2951 14.8525 14.153 14.6626C14.0007 14.4778 13.8151 14.3235 13.6055 14.2077C13.3576 14.0676 13.0978 13.9497 12.829 13.8553C12.5433 13.7526 12.2491 13.6414 11.948 13.5251C11.646 13.4078 11.3517 13.2713 11.0671 13.1164C10.7831 12.9622 10.5227 12.768 10.294 12.5399C10.0608 12.3024 9.87603 12.0218 9.75 11.7137C9.60394 11.3372 9.53413 10.9354 9.54473 10.5317C9.53881 10.1423 9.60849 9.7554 9.75 9.3925C9.88546 9.05418 10.0906 8.74822 10.3521 8.49446C10.6321 8.2253 10.9614 8.01275 11.322 7.86845C11.7376 7.70133 12.1746 7.59311 12.6203 7.54683L12.7914 5.86881C12.7963 5.82907 12.8091 5.79069 12.829 5.75593C12.857 5.7184 12.8949 5.68939 12.9384 5.67211C13.006 5.64308 13.0773 5.62461 13.1505 5.61737C13.2675 5.60515 13.3852 5.59944 13.503 5.60027C13.6465 5.59852 13.79 5.60708 13.9322 5.62592C14.023 5.63677 14.1116 5.6604 14.1957 5.69605C14.2223 5.70747 14.2462 5.72411 14.2662 5.74497C14.2862 5.76584 14.3018 5.7905 14.312 5.8175C14.33 5.8727 14.3386 5.93051 14.3376 5.98855L14.1666 7.56737C14.3222 7.5896 14.4866 7.62041 14.6592 7.65804C14.8233 7.69464 14.9847 7.74092 15.1433 7.79656C15.2832 7.84583 15.4203 7.9029 15.5538 7.96764C15.646 8.00735 15.7319 8.06039 15.8088 8.125C15.8506 8.16745 15.8869 8.21516 15.9165 8.26696C15.944 8.32091 15.9636 8.3785 15.9745 8.43804C15.99 8.52053 15.9997 8.60399 16.0036 8.68777V9.02987C16.0036 9.20095 16.0038 9.3446 15.9917 9.45581C15.9879 9.54246 15.9725 9.62819 15.9455 9.71068C15.9315 9.75605 15.9055 9.7968 15.8703 9.82872C15.841 9.84841 15.8063 9.85855 15.7711 9.85777C15.6608 9.84419 15.5548 9.80746 15.4597 9.75C15.3213 9.67818 15.1502 9.59946 14.9466 9.51568C14.7176 9.42455 14.4834 9.34687 14.2453 9.28304C13.9602 9.20719 13.6662 9.17033 13.3713 9.17358C13.1212 9.16949 12.8716 9.19763 12.6289 9.25737C12.4478 9.30118 12.2773 9.38087 12.1276 9.49169C12.0035 9.5849 11.9057 9.70866 11.8437 9.85095C11.781 9.99551 11.7495 10.1518 11.7513 10.3093C11.7437 10.5468 11.8173 10.7797 11.96 10.9696C12.1124 11.1589 12.3015 11.3154 12.5159 11.4297C12.7685 11.5636 13.0309 11.678 13.3011 11.7718C13.5929 11.8779 13.8906 11.9919 14.194 12.114C14.5001 12.2311 14.7987 12.3665 15.0886 12.5193C15.3757 12.668 15.6389 12.8595 15.8686 13.0872C16.1031 13.3208 16.2906 13.5972 16.4211 13.9014C16.568 14.2671 16.6388 14.6587 16.6297 15.0526C16.6374 15.4991 16.5506 15.942 16.3749 16.3526Z" fill="#0E1726" fill-opacity="0.5"/>
                                </g>
                                </g>
                                </g>
                                <defs>
                                <clipPath id="clip0_272_21">
                                <rect width="26" height="26" fill="white"/>
                                </clipPath>
                                </defs>
                              </svg>                                
                              <p class="inter ml-2"><%= item.title %></p>
                            </div>
                          </td>

                          <td class="whitespace-nowrap px-3 py-4 text-sm inter text-gray-800 font-semibold">
                            <a class="underline" href="/admin/view-call/">Ver chamado</a>
                          </td>

                          <td class="whitespace-nowrap px-3 py-4 text-sm inter text-gray-800 font-semibold">
                            <div class="flex items-center">
                              <% if (item.imageCompany.length > 0) { %>
                                <img class="h-9 w-9 rounded-full" src="/img/photos/<%= item.imageCompany %>">
                              <% } else { %>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_1_8)">
                                  <path d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="#0EA5E9"/>
                                  <path d="M23.2614 11.6669C23.301 11.7456 23.3247 11.8314 23.3312 11.9195C23.3376 12.0076 23.3267 12.0961 23.2991 12.1798C23.2714 12.2636 23.2276 12.3409 23.1701 12.4073C23.1126 12.4737 23.0427 12.5278 22.9644 12.5665C22.886 12.6051 22.8009 12.6276 22.7139 12.6325C22.6269 12.6374 22.5398 12.6247 22.4577 12.5952C22.3756 12.5656 22.3002 12.5197 22.2358 12.4602C22.1714 12.4008 22.1193 12.3288 22.0826 12.2488C21.6895 11.4312 21.1358 10.7036 20.4553 10.1108C20.2389 9.9885 19.9946 9.9256 19.7468 9.92849C19.499 9.93134 19.2562 9.99981 19.0426 10.1272C18.829 10.2545 18.6519 10.4362 18.5289 10.6543C18.4059 10.8724 18.3413 11.1193 18.3416 11.3706V12.1024C18.3413 12.2534 18.2819 12.3982 18.1766 12.505C18.0712 12.6118 17.9284 12.6719 17.7794 12.6722H14.8444C14.6953 12.6719 14.5525 12.6118 14.4472 12.505C14.3418 12.3982 14.2825 12.2534 14.2822 12.1024V12.1864C14.2825 11.9063 14.2019 11.6322 14.0502 11.3982C14.0156 11.3541 13.9825 11.3089 13.9508 11.2626C13.8066 11.0882 13.6238 10.9509 13.4173 10.8618C13.2107 10.7727 12.9863 10.7345 12.7624 10.7501C12.5385 10.7658 12.3214 10.835 12.1289 10.952C11.9364 11.069 11.774 11.2305 11.6548 11.4233C11.5935 11.5628 11.4866 11.6767 11.3522 11.7457C11.2178 11.8147 11.0641 11.8347 10.9169 11.8023C10.7697 11.7699 10.638 11.6871 10.5439 11.5679C10.4498 11.4486 10.3991 11.3001 10.4003 11.1474V8.41208C10.4002 8.25713 10.4535 8.10699 10.551 7.98767C10.6485 7.86835 10.7841 7.7873 10.9343 7.75854C11.0845 7.72978 11.2399 7.75516 11.3737 7.83025C11.5074 7.9053 11.611 8.02541 11.6667 8.16972C11.7853 8.35562 11.9447 8.51128 12.1324 8.6246C12.3201 8.73791 12.531 8.80577 12.7488 8.82296C12.9666 8.84014 13.1854 8.80617 13.3881 8.72367C13.5908 8.64117 13.7721 8.51234 13.9177 8.3473C13.9678 8.27006 14.0219 8.19558 14.0798 8.12413L14.0881 8.11093H14.0916C14.3326 7.81737 14.6344 7.58122 14.9756 7.4193C15.3168 7.25732 15.689 7.1736 16.0657 7.17395H16.1012C16.124 7.17145 16.1469 7.17027 16.1698 7.17035C17.6492 7.16992 19.0988 7.59131 20.353 8.38644C21.6073 9.18157 22.6155 10.3184 23.2626 11.6669H23.2614ZM17.7735 14.2043C17.7732 14.0532 17.7138 13.9085 17.6085 13.8017C17.5031 13.6949 17.3603 13.6347 17.2114 13.6344H15.1817C15.0327 13.6351 14.8901 13.6953 14.7848 13.802C14.6795 13.9088 14.6201 14.0533 14.6195 14.2043V25.5355C14.6198 25.6866 14.6791 25.8314 14.7845 25.9382C14.8898 26.045 15.0326 26.1051 15.1817 26.1054H17.2114C17.3603 26.1051 17.5031 26.045 17.6085 25.9382C17.7138 25.8314 17.7732 25.6866 17.7735 25.5355V14.2043Z" fill="white"/>
                                  </g>
                                  <defs>
                                  <clipPath id="clip0_1_8">
                                  <rect width="32" height="32" fill="white"/>
                                  </clipPath>
                                  </defs>
                                </svg>
                              <% } %>                                  
                              <p class="inter ml-2"><%= item.nameCompany %></p>
                            </div>
                          </td>

                          <td class="whitespace-nowrap px-3 py-4 text-sm inter text-gray-800 font-semibold">
                            <%= item.type %>
                          </td>

                          <td class="whitespace-nowrap px-3 py-4 text-sm inter text-gray-800 font-semibold">
                            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                              <div class="flex-none rounded-full p-1 text-yellow-500 bg-yellow-100">
                                <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                              </div>
                              <div class="inter font-semibold hidden text-yellow-500 sm:block">Rascunho</div>
                            </div>
                          </td>

                          <td class="whitespace-nowrap px-3 py-4 text-sm inter text-gray-800 font-semibold">
                            <%= item.createdAt %>
                          </td>
  
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold">
                            <a href="/admin/view-budget" class="flex items-center pointer">
                              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                                <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                                <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                              </svg>
                              Visualizar                                  
                            </a>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              <% } else { %>
                <div class="flex flex-col justify-center items-center mt-2 col-span-3 mt-52">
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>