<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help Técnico | Todas as empresas</title>
  <link rel="shortcut icon" href="/img/login/icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="/css/platform/notify.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
</head>

<body>
  <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Todas as empresas", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="alert mt-14" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error mt-14" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">
        <div class="sm:flex sm:items-center">
          <div class="w-full flex justify-between items-center">
            <h1 class="text-lg font-semibold leading-6 text-gray-900 inter color-purple">Todos os fornecedores:</h1>
            <div class="relative mt-2 rounded-md shadow-sm">
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.1088 4.25001C6.1088 4.39091 6.05283 4.52603 5.9532 4.62566C5.85357 4.72529 5.71845 4.78126 5.57755 4.78126C5.22531 4.78126 4.8875 4.92119 4.63843 5.17026C4.38936 5.41933 4.24943 5.75715 4.24943 6.10939C4.24943 6.25028 4.19346 6.38541 4.09383 6.48504C3.9942 6.58467 3.85907 6.64064 3.71818 6.64064C3.57728 6.64064 3.44216 6.58467 3.34253 6.48504C3.2429 6.38541 3.18693 6.25028 3.18693 6.10939C3.18693 5.47535 3.4388 4.86729 3.88713 4.41896C4.33546 3.97063 4.94352 3.71876 5.57755 3.71876C5.71845 3.71876 5.85357 3.77473 5.9532 3.87436C6.05283 3.97399 6.1088 4.10912 6.1088 4.25001ZM15.1135 13.456C15.1135 13.5969 15.0575 13.732 14.9578 13.8316L13.8305 14.9584C13.7309 15.058 13.5958 15.114 13.4549 15.114C13.3141 15.114 13.179 15.058 13.0793 14.9584L8.94727 10.8264C8.84768 10.7267 8.79173 10.5916 8.79173 10.4508C8.79173 10.3099 8.84768 10.1748 8.94727 10.0752L9.13533 9.88711L8.27843 9.03126C7.53405 9.71913 6.5561 10.0984 5.54259 10.0924C4.52907 10.0864 3.55571 9.69544 2.81957 8.99876C2.08344 8.30207 1.63954 7.3517 1.57775 6.34004C1.51596 5.32839 1.84089 4.33106 2.48676 3.54996C3.13263 2.76886 4.05117 2.26237 5.05642 2.13303C6.06167 2.00368 7.07851 2.26116 7.90108 2.85331C8.72364 3.44547 9.29045 4.32807 9.48677 5.32241C9.68308 6.31676 9.49422 7.34855 8.95843 8.20889L9.88652 9.13751L10.0746 8.94998C10.1742 8.85039 10.3093 8.79444 10.4502 8.79444C10.591 8.79444 10.7261 8.85039 10.8258 8.94998L14.9578 13.082C15.0571 13.1813 15.113 13.3157 15.1135 13.456ZM8.49943 6.10939C8.49943 5.53149 8.32806 4.96658 8.007 4.48608C7.68594 4.00558 7.22961 3.63108 6.69571 3.40993C6.1618 3.18878 5.57431 3.13091 5.00752 3.24365C4.44074 3.3564 3.92011 3.63468 3.51148 4.04331C3.10284 4.45194 2.82456 4.97257 2.71182 5.53936C2.59908 6.10615 2.65694 6.69364 2.87809 7.22754C3.09924 7.76144 3.47375 8.21778 3.95425 8.53884C4.43475 8.8599 4.99966 9.03126 5.57755 9.03126C6.35218 9.03028 7.0948 8.72212 7.64254 8.17438C8.19029 7.62663 8.49844 6.88401 8.49943 6.10939ZM13.8311 13.456L10.4502 10.0752L10.0741 10.4508L13.4549 13.8316L13.8311 13.456Z" fill="black"/>
                </svg>                  
              </div>
              <input type="text" name="find" id="find" class="block border-blue w-full rounded-lg py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pr-10" placeholder="Pesquise por nomes de peças">
            </div>
          </div>
        </div>
        
        <div class="mt-4 flow-root">
          <div class="-mx-4 -my-2">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-5">
              <% if (suppliers.length > 0) { %>
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Nome do fornecedor</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Telefone (fixo)</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Telefone (celular)</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Email</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Data de cadastro</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Cidade</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 nunito">Ações</th>
                      </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200 bg-white">
                      <% suppliers.forEach(function(item) { %>
                        <tr>
                          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-blue">
                            <div class="flex items-center space-x-2">
                              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_269_10)">
                                <path d="M36 18C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18C0 27.9411 8.05887 36 18 36C27.9411 36 36 27.9411 36 18Z" fill="#888EA8" fill-opacity="0.4"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8889 18.3333C18.1957 18.3333 18.4444 18.582 18.4444 18.8889V24.4444C18.4444 24.7513 18.1957 25 17.8889 25C17.582 25 17.3333 24.7513 17.3333 24.4444V18.8889C17.3333 18.582 17.582 18.3333 17.8889 18.3333ZM21.2222 18.3333C21.5291 18.3333 21.7778 18.582 21.7778 18.8889C21.7778 20.8867 22.7427 22.7218 24.3374 23.8627C24.587 24.0412 24.6445 24.3883 24.466 24.6378C24.2875 24.8873 23.9405 24.9449 23.6909 24.7664C21.8076 23.419 20.6667 21.2491 20.6667 18.8889C20.6667 18.582 20.9154 18.3333 21.2222 18.3333ZM14.5556 18.3333C14.8624 18.3333 15.1111 18.582 15.1111 18.8889C15.1111 21.2464 13.9728 23.4141 12.0931 24.7619C11.8437 24.9407 11.4967 24.8835 11.3179 24.6342C11.1391 24.3848 11.1963 24.0377 11.4456 23.8589C13.0374 22.7176 14 20.8844 14 18.8889C14 18.582 14.2487 18.3333 14.5556 18.3333ZM24.5556 10C25.7829 10 26.7778 10.9949 26.7778 12.2222V15.5556C26.7778 16.7828 25.7829 17.7778 24.5556 17.7778H11.2222C9.99493 17.7778 9 16.7828 9 15.5556V12.2222C9 10.9949 9.99493 10 11.2222 10H24.5556ZM24 14.4444H11.7778C11.4709 14.4444 11.2222 14.6932 11.2222 15C11.2222 15.3068 11.4709 15.5556 11.7778 15.5556H24C24.3068 15.5556 24.5556 15.3068 24.5556 15C24.5556 14.6932 24.3068 14.4444 24 14.4444Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_269_10">
                                <rect width="36" height="36" fill="white"/>
                                </clipPath>
                                </defs>
                              </svg>                                
                              <p class="nunito ml-2 font-semibold"><%= item.name %></p>
                            </div>                                                                 
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito font-semibold">
                            <%= item.landline %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito font-bold">
                            <%= item.phone %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold"><%= item.email %></td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                            <%= item.date %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                            <%= item.city %>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 nunito color-purple font-semibold">
                            <a href="/admin/view-supplier/<%= item._id %>" class="flex items-center pointer">
                              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                                <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                                <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                              </svg>
                              Visualizar                                  
                            </a>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              <% } else { %>
                <div class="flex flex-col justify-center items-center px-4 sm:px-2 mt-2 col-span-3 mt-40">
                  <svg width="245" height="239" viewBox="0 0 245 239" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_232_2)">
                    <path d="M155.439 53.7504H89.4637C87.9602 53.7522 86.5189 54.3503 85.4558 55.4134C84.3927 56.4765 83.7946 57.9179 83.7928 59.4213V206.052L83.0367 206.283L66.8519 211.239C66.0848 211.473 65.2563 211.393 64.5482 211.017C63.8402 210.64 63.3104 209.998 63.0751 209.232L14.9328 51.9773C14.6985 51.2102 14.7783 50.3816 15.1548 49.6734C15.5312 48.9651 16.1734 48.4354 16.9403 48.2005L41.881 40.5636L114.185 18.432L139.126 10.7951C139.505 10.6783 139.904 10.6375 140.299 10.675C140.695 10.7125 141.079 10.8276 141.43 11.0137C141.78 11.1998 142.091 11.4533 142.344 11.7596C142.597 12.0659 142.787 12.4191 142.903 12.7989L155.208 52.9943L155.439 53.7504Z" fill="#F2F2F2"/>
                    <path d="M169.836 52.9965L155.005 4.55181C154.758 3.74463 154.355 2.99399 153.818 2.34277C153.281 1.69155 152.621 1.15252 151.876 0.756489C151.13 0.360454 150.314 0.11517 149.474 0.0346625C148.634 -0.045845 147.786 0.0400014 146.979 0.287288L111.914 11.0204L39.6136 33.1559L4.54843 43.8928C2.91949 44.393 1.55556 45.5191 0.756014 47.0239C-0.0435315 48.5286 -0.213366 50.2892 0.283796 51.919L50.9742 217.483C51.3781 218.799 52.193 219.95 53.2994 220.769C54.4057 221.587 55.7453 222.03 57.1216 222.031C57.7585 222.032 58.3919 221.936 59.0004 221.748L83.0375 214.391L83.7937 214.156V213.366L83.0375 213.597L58.7774 221.026C57.3396 221.464 55.7866 221.314 54.4591 220.609C53.1317 219.904 52.1381 218.701 51.6963 217.264L1.00983 51.696C0.790964 50.9841 0.714685 50.236 0.785354 49.4945C0.856023 48.7531 1.07225 48.0329 1.42166 47.3751C1.77107 46.7173 2.2468 46.135 2.82161 45.6613C3.39641 45.1877 4.05899 44.8321 4.77142 44.6149L39.8365 33.878L112.137 11.7463L147.202 1.00939C147.742 0.84448 148.304 0.760396 148.869 0.759869C150.082 0.762592 151.261 1.15349 152.236 1.87531C153.21 2.59713 153.927 3.61194 154.283 4.77109L169.046 52.9965L169.281 53.7526H170.067L169.836 52.9965Z" fill="#3F3D56"/>
                    <path d="M46.3798 48.324C45.6511 48.3235 44.9418 48.0895 44.3559 47.6563C43.7699 47.2231 43.3383 46.6135 43.1242 45.917L38.2546 30.0113C38.1238 29.5841 38.0784 29.1352 38.121 28.6904C38.1636 28.2456 38.2935 27.8136 38.5031 27.4189C38.7127 27.0243 38.9981 26.6749 39.3428 26.3905C39.6875 26.1062 40.0848 25.8926 40.5121 25.7618L107.028 5.39805C107.891 5.13474 108.823 5.22455 109.619 5.64775C110.416 6.07095 111.012 6.79297 111.277 7.65534L116.147 23.5612C116.41 24.4241 116.32 25.3561 115.897 26.1528C115.474 26.9495 114.752 27.5458 113.89 27.8109L47.3738 48.1747C47.0517 48.2735 46.7167 48.3238 46.3798 48.324Z" fill="#239CFF"/>
                    <path d="M71.8893 16.9956C76.0653 16.9956 79.4505 13.6103 79.4505 9.43438C79.4505 5.25844 76.0653 1.87317 71.8893 1.87317C67.7134 1.87317 64.3281 5.25844 64.3281 9.43438C64.3281 13.6103 67.7134 16.9956 71.8893 16.9956Z" fill="#239CFF"/>
                    <path d="M71.8896 14.2223C74.5339 14.2223 76.6775 12.0787 76.6775 9.43436C76.6775 6.79002 74.5339 4.64636 71.8896 4.64636C69.2452 4.64636 67.1016 6.79002 67.1016 9.43436C67.1016 12.0787 69.2452 14.2223 71.8896 14.2223Z" fill="white"/>
                    <path d="M227.834 220.097H100.049C99.1975 220.096 98.3807 219.757 97.7782 219.155C97.1758 218.552 96.8369 217.735 96.8359 216.883V63.7689C96.8369 62.9169 97.1758 62.1001 97.7782 61.4977C98.3806 60.8952 99.1975 60.5564 100.049 60.5554H227.834C228.686 60.5564 229.503 60.8953 230.105 61.4977C230.708 62.1002 231.046 62.917 231.047 63.7689V216.883C231.046 217.735 230.708 218.552 230.105 219.155C229.503 219.757 228.686 220.096 227.834 220.097Z" fill="#E6E6E6"/>
                    <path d="M169.044 52.9943H89.4622C87.7584 52.9967 86.125 53.6746 84.9203 54.8794C83.7155 56.0841 83.0376 57.7175 83.0352 59.4213V213.594L83.7913 213.364V59.4213C83.7931 57.9178 84.3912 56.4765 85.4543 55.4134C86.5174 54.3503 87.9587 53.7522 89.4622 53.7504H169.278L169.044 52.9943ZM238.418 52.9943H89.4622C87.7584 52.9967 86.125 53.6746 84.9203 54.8794C83.7155 56.0841 83.0376 57.7175 83.0352 59.4213V232.573C83.0376 234.277 83.7155 235.91 84.9203 237.115C86.125 238.32 87.7584 238.998 89.4622 239H238.418C240.122 238.998 241.755 238.32 242.96 237.115C244.165 235.91 244.843 234.277 244.845 232.573V59.4213C244.843 57.7175 244.165 56.0841 242.96 54.8794C241.755 53.6746 240.122 52.9967 238.418 52.9943ZM244.089 232.573C244.087 234.076 243.489 235.518 242.426 236.581C241.363 237.644 239.922 238.242 238.418 238.244H89.4622C87.9587 238.242 86.5174 237.644 85.4543 236.581C84.3912 235.518 83.7931 234.076 83.7913 232.573V59.4213C83.7931 57.9178 84.3912 56.4765 85.4543 55.4134C86.5174 54.3503 87.9587 53.7522 89.4622 53.7504H238.418C239.922 53.7522 241.363 54.3503 242.426 55.4134C243.489 56.4765 244.087 57.9178 244.089 59.4213V232.573Z" fill="#3F3D56"/>
                    <path d="M198.724 69.6288H129.16C128.258 69.6278 127.393 69.269 126.756 68.6311C126.118 67.9932 125.759 67.1284 125.758 66.2263V49.5916C125.759 48.6895 126.118 47.8247 126.756 47.1868C127.393 46.5489 128.258 46.1901 129.16 46.1891H198.724C199.626 46.1901 200.49 46.5489 201.128 47.1868C201.766 47.8247 202.125 48.6895 202.126 49.5916V66.2263C202.125 67.1284 201.766 67.9932 201.128 68.6311C200.49 69.269 199.626 69.6278 198.724 69.6288Z" fill="#239CFF"/>
                    <path d="M163.94 47.3232C168.116 47.3232 171.501 43.938 171.501 39.762C171.501 35.5861 168.116 32.2008 163.94 32.2008C159.764 32.2008 156.379 35.5861 156.379 39.762C156.379 43.938 159.764 47.3232 163.94 47.3232Z" fill="#239CFF"/>
                    <path d="M163.941 44.3676C166.485 44.3676 168.547 42.3056 168.547 39.7621C168.547 37.2186 166.485 35.1566 163.941 35.1566C161.398 35.1566 159.336 37.2186 159.336 39.7621C159.336 42.3056 161.398 44.3676 163.941 44.3676Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_232_2">
                    <rect width="244.846" height="239" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>                                                              
                  <h2 class="nunito text-xl font-semibold mt-10">Nenhum chamado disponível</h2>
                  <p class="inter">Nenhuma empresa realizou um chamado.</p>           
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>