<%- include('../../partials/app/head', {title: "Dashboard" }) %>

<body class="bg-gray-100">
  <%- include('../../partials/app/sidebar', {user: user}) %>

    <div class="lg:pl-70">
      <%- include('../../partials/app/nav', {title: "Área do administrador" }) %>

      <main class="fade-in inter">
        <section class="bg-coolGray-50 py-6">
          <div class="px-6">
            <div class="grid grid-cols-4 gap-x-4">
              <div>
                <div class="p-8 bg-white border border-coolGray-100 rounded-md shadow-dashboard">
                  <div class="mb-4 max-w-max bg-blue-100 text-blue-500 p-3 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.712 4.33a9.027 9.027 0 011.652 1.306c.51.51.944 1.064 1.306 1.652M16.712 4.33l-3.448 4.138m3.448-4.138a9.014 9.014 0 00-9.424 0M19.67 7.288l-4.138 3.448m4.138-3.448a9.014 9.014 0 010 9.424m-4.138-5.976a3.736 3.736 0 00-.88-1.388 3.737 3.737 0 00-1.388-.88m2.268 2.268a3.765 3.765 0 010 2.528m-2.268-4.796a3.765 3.765 0 00-2.528 0m4.796 4.796c-.181.506-.475.982-.88 1.388a3.736 3.736 0 01-1.388.88m2.268-2.268l4.138 3.448m0 0a9.027 9.027 0 01-1.306 1.652c-.51.51-1.064.944-1.652 1.306m0 0l-3.448-4.138m3.448 4.138a9.014 9.014 0 01-9.424 0m5.976-4.138a3.765 3.765 0 01-2.528 0m0 0a3.736 3.736 0 01-1.388-.88 3.737 3.737 0 01-.88-1.388m2.268 2.268L7.288 19.67m0 0a9.024 9.024 0 01-1.652-1.306 9.027 9.027 0 01-1.306-1.652m0 0l4.138-3.448M4.33 16.712a9.014 9.014 0 010-9.424m4.138 5.976a3.765 3.765 0 010-2.528m0 0c.181-.506.475-.982.88-1.388a3.736 3.736 0 011.388-.88m-2.268 2.268L4.33 7.288m6.406 1.18L7.288 4.33m0 0a9.024 9.024 0 00-1.652 1.306A9.025 9.025 0 004.33 7.288" />
                    </svg>
                  </div>
                  <h2 class="font-semibold text-2xl text-coolGray-900 tracking-tighter">
                    <%= callsToday.length %>
                  </h2>
                  <p class="text-xs font-medium text-coolGray-500">Total de chamados (hoje)</p>
                </div>
              </div>

              <div>
                <div class="p-8 bg-white border border-coolGray-100 rounded-md shadow-dashboard">
                  <div class="mb-4 max-w-max bg-blue-100 text-blue-500 p-3 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
                    </svg>
                  </div>
                  <h2 class="font-semibold text-2xl text-coolGray-900 tracking-tighter">
                    <%= countCompanies %>
                  </h2>
                  <p class="text-xs font-medium text-coolGray-500">Total de empresas</p>
                </div>
              </div>

              <div>
                <div class="p-8 bg-white border border-coolGray-100 rounded-md shadow-dashboard">
                  <div class="mb-4 max-w-max bg-blue-100 text-blue-500 p-3 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                    </svg>
                  </div>
                  <h2 class="font-semibold text-2xl text-coolGray-900 tracking-tighter">
                    <%= countTechnicians %>
                  </h2>
                  <p class="text-xs font-medium text-coolGray-500">Total de técnicos cadastrados</p>
                </div>
              </div>

              <div>
                <div class="p-8 bg-white border border-coolGray-100 rounded-md shadow-dashboard">
                  <div class="mb-4 max-w-max bg-blue-100 text-blue-500 p-3 rounded-md">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.66666 4.00005C4.5348 4.00005 4.40591 4.03915 4.29628 4.11241C4.18664 4.18566 4.1012 4.28978 4.05074 4.4116C4.00028 4.53341 3.98708 4.66746 4.0128 4.79678C4.03852 4.9261 4.10202 5.04489 4.19525 5.13812C4.28849 5.23136 4.40728 5.29485 4.5366 5.32058C4.66592 5.3463 4.79996 5.3331 4.92178 5.28264C5.0436 5.23218 5.14772 5.14673 5.22097 5.0371C5.29422 4.92747 5.33332 4.79857 5.33332 4.66672C5.33332 4.48991 5.26309 4.32034 5.13806 4.19531C5.01304 4.07029 4.84347 4.00005 4.66666 4.00005ZM14.4733 7.85338L8.15332 1.54672C8.09116 1.47969 8.01589 1.42617 7.93216 1.38947C7.84844 1.35277 7.75807 1.33368 7.66666 1.33339H3.66666C3.57892 1.33288 3.49195 1.34969 3.41072 1.38287C3.32949 1.41605 3.25562 1.46493 3.19332 1.52672L1.52666 3.18672C1.46487 3.24901 1.41599 3.32289 1.38281 3.40411C1.34963 3.48534 1.33282 3.57231 1.33332 3.66005V7.66005C1.33578 7.83656 1.40483 8.00563 1.52666 8.13338L7.85332 14.4667C7.98108 14.5885 8.15015 14.6576 8.32666 14.6601C8.4144 14.6606 8.50137 14.6437 8.5826 14.6106C8.66382 14.5774 8.7377 14.5285 8.79999 14.4667L14.4733 8.79338C14.5351 8.73109 14.584 8.65721 14.6172 8.57599C14.6503 8.49476 14.6672 8.40779 14.6667 8.32005C14.6625 8.14585 14.5936 7.97946 14.4733 7.85338ZM8.32666 13.0601L2.66666 7.39339V3.93339L3.93332 2.66672H7.38666L13.0533 8.32672L8.32666 13.0601Z"
                        fill="currentColor"></path>
                    </svg>
                  </div>
                  <h2 class="font-semibold text-2xl text-coolGray-900 tracking-tighter">
                    <%= countEquipments %>
                  </h2>
                  <p class="text-xs font-medium text-coolGray-500">Total de equipamentos</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="px-6">
            <div class="grid grid-cols-4 gap-x-4">
              <div class="col-span-1">
                <div class="h-full border border-coolGray-100 bg-white rounded-md shadow-dashboard">
                  <div class="p-6 border-b border-coolGray-100">
                    <div class="flex flex-wrap items-center justify-between -m-2 mb-4">
                      <div class="w-auto p-2">
                        <h2 class="text-coolGray-900 text-lg font-semibold">Orçamentos (Mês atual)</h2>
                      </div>
                      <div class="w-auto p-2">
                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 6.66667C7.73629 6.66667 7.47851 6.74487 7.25924 6.89138C7.03998 7.03788 6.86908 7.24612 6.76816 7.48976C6.66724 7.73339 6.64084 8.00148 6.69229 8.26012C6.74373 8.51876 6.87072 8.75634 7.05719 8.94281C7.24366 9.12928 7.48124 9.25627 7.73988 9.30772C7.99852 9.35916 8.26661 9.33276 8.51025 9.23184C8.75388 9.13092 8.96212 8.96003 9.10863 8.74076C9.25514 8.5215 9.33333 8.26371 9.33333 8C9.33333 7.64638 9.19286 7.30724 8.94281 7.05719C8.69276 6.80714 8.35362 6.66667 8 6.66667ZM3.33333 6.66667C3.06963 6.66667 2.81184 6.74487 2.59257 6.89138C2.37331 7.03788 2.20241 7.24612 2.10149 7.48976C2.00058 7.73339 1.97417 8.00148 2.02562 8.26012C2.07707 8.51876 2.20405 8.75634 2.39052 8.94281C2.57699 9.12928 2.81457 9.25627 3.07321 9.30772C3.33185 9.35916 3.59994 9.33276 3.84358 9.23184C4.08721 9.13092 4.29545 8.96003 4.44196 8.74076C4.58847 8.5215 4.66667 8.26371 4.66667 8C4.66667 7.64638 4.52619 7.30724 4.27614 7.05719C4.02609 6.80714 3.68696 6.66667 3.33333 6.66667ZM12.6667 6.66667C12.403 6.66667 12.1452 6.74487 11.9259 6.89138C11.7066 7.03788 11.5357 7.24612 11.4348 7.48976C11.3339 7.73339 11.3075 8.00148 11.359 8.26012C11.4104 8.51876 11.5374 8.75634 11.7239 8.94281C11.9103 9.12928 12.1479 9.25627 12.4065 9.30772C12.6652 9.35916 12.9333 9.33276 13.1769 9.23184C13.4205 9.13092 13.6288 8.96003 13.7753 8.74076C13.9218 8.5215 14 8.26371 14 8C14 7.64638 13.8595 7.30724 13.6095 7.05719C13.3594 6.80714 13.0203 6.66667 12.6667 6.66667Z"
                            fill="#D5DAE1"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="chart-graph1-budgets"></div>
                  </div>
                  <div class="p-6">
                    <div class="flex flex-wrap items-center -m-2">
                      <div class="w-auto p-2">
                        <p class="font-semibold text-2xl text-coolGray-900">R$0,00</p>
                      </div>
                    </div>
                    <p class="font-medium text-xs text-coolGray-500">Aprovados</p>
                  </div>
                </div>
              </div>

              <div class="col-span-2">
                <div class="h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
                  <div class="p-6 pb-0">
                    <div class="flex flex-wrap items-center justify-between -m-2">
                      <div class="w-auto p-2">
                        <h2 class="text-coolGray-900 text-lg font-semibold">Gráfico de chamados</h2>
                        <p class="font-medium text-xs text-coolGray-500">Total de chamados nesse ano</p>
                      </div>
                      <div class="w-auto p-2">
                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 6.66667C7.73629 6.66667 7.47851 6.74487 7.25924 6.89138C7.03998 7.03788 6.86908 7.24612 6.76816 7.48976C6.66724 7.73339 6.64084 8.00148 6.69229 8.26012C6.74373 8.51876 6.87072 8.75634 7.05719 8.94281C7.24366 9.12928 7.48124 9.25627 7.73988 9.30772C7.99852 9.35916 8.26661 9.33276 8.51025 9.23184C8.75388 9.13092 8.96212 8.96003 9.10863 8.74076C9.25514 8.5215 9.33333 8.26371 9.33333 8C9.33333 7.64638 9.19286 7.30724 8.94281 7.05719C8.69276 6.80714 8.35362 6.66667 8 6.66667ZM3.33333 6.66667C3.06963 6.66667 2.81184 6.74487 2.59257 6.89138C2.37331 7.03788 2.20241 7.24612 2.10149 7.48976C2.00058 7.73339 1.97417 8.00148 2.02562 8.26012C2.07707 8.51876 2.20405 8.75634 2.39052 8.94281C2.57699 9.12928 2.81457 9.25627 3.07321 9.30772C3.33185 9.35916 3.59994 9.33276 3.84358 9.23184C4.08721 9.13092 4.29545 8.96003 4.44196 8.74076C4.58847 8.5215 4.66667 8.26371 4.66667 8C4.66667 7.64638 4.52619 7.30724 4.27614 7.05719C4.02609 6.80714 3.68696 6.66667 3.33333 6.66667ZM12.6667 6.66667C12.403 6.66667 12.1452 6.74487 11.9259 6.89138C11.7066 7.03788 11.5357 7.24612 11.4348 7.48976C11.3339 7.73339 11.3075 8.00148 11.359 8.26012C11.4104 8.51876 11.5374 8.75634 11.7239 8.94281C11.9103 9.12928 12.1479 9.25627 12.4065 9.30772C12.6652 9.35916 12.9333 9.33276 13.1769 9.23184C13.4205 9.13092 13.6288 8.96003 13.7753 8.74076C13.9218 8.5215 14 8.26371 14 8C14 7.64638 13.8595 7.30724 13.6095 7.05719C13.3594 6.80714 13.0203 6.66667 12.6667 6.66667Z"
                            fill="#D5DAE1"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="relative top-8 lg:top-20 lg:mt-1">
                    <div class="chart-graph1-area"></div>
                  </div>
                </div>
              </div>

              <div class="col-span-1">
                <div
                  class="mx-auto h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
                  <div class="p-6 pb-18 border-b border-coolGray-100">
                    <h2 class="mb-8 text-coolGray-900 text-lg font-semibold">Chamados por turno</h2>
                    <div class="chart-chart1-pie"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="px-6 py-6">
            <div class="pt-6 pb-4 bg-white overflow-hidden border border-coolGray-100 rounded-md shadow-dashboard">
              <h2 class="px-6 mb-4 text-lg text-coolGray-900 font-semibold">Chamados (hoje)</h2>
              <div class="px-6 overflow-x-auto">
                <table class="w-full">
                  <tbody>
                    <tr class="whitespace-nowrap h-11 bg-coolGray-50 bg-opacity-80">
                      <th class="px-4 font-semibold text-xs text-coolGray-500 uppercase text-left rounded-l-md">
                        <p>Empresa</p>
                      </th>
                      <th
                        class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                        Mensagem</th>
                      <th
                        class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                        SLA</th>
                      <th
                        class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                        Início em</th>
                      <th
                        class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">
                        Término em</th>
                      <th
                        class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center rounded-r-md">
                        Status</th>
                      <th
                        class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center rounded-r-md">
                        Técnico</th>
                      <th
                        class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center rounded-r-md">
                        Ações</th>
                    </tr>

                    <% callsToday.forEach(function(call) { %>
                      <tr class="h-18 border-b border-coolGray-100">
                        <th class="whitespace-nowrap px-4 bg-white text-left">
                          <div class="flex items-center -m-2">
                            <div class="w-auto p-2">
                              <% if (call.avatarCompany.length > 0) { %>
                                <img class="h-8 rounded-full" src="/img/avatars/<%= call.avatarCompany %>">
                              <% } else { %>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-white bg-blue-500 rounded-full p-2">
                                  <path fill-rule="evenodd" d="M4.5 2.25a.75.75 0 000 1.5v16.5h-.75a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5h-.75V3.75a.75.75 0 000-1.5h-15zM9 6a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H9zm-.75 3.75A.75.75 0 019 9h1.5a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM9 12a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H9zm3.75-5.25A.75.75 0 0113.5 6H15a.75.75 0 010 1.5h-1.5a.75.75 0 01-.75-.75zM13.5 9a.75.75 0 000 1.5H15A.75.75 0 0015 9h-1.5zm-.75 3.75a.75.75 0 01.75-.75H15a.75.75 0 010 1.5h-1.5a.75.75 0 01-.75-.75zM9 19.5v-2.25a.75.75 0 01.75-.75h4.5a.75.75 0 01.75.75v2.25a.75.75 0 01-.75.75h-4.5A.75.75 0 019 19.5z" clip-rule="evenodd" />
                                </svg>                                                                      
                              <% } %>
                            </div>
                            <div class="w-auto p-2">
                              <p class="text-sm font-medium text-coolGray-800"><%= call.nameCompany %></p>
                            </div>
                          </div>
                        </th>
                        
                        <th class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                          <%= call.description.slice(0, 20) %>...</th>

                        <% if (call.status == "pending" || call.status == "in-attendance" && !call.confirmCode) { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">Contagem não iniciada</td>
                        <% } else if (call.status == "in-attendance" && call.confirmCode) { %>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-yellow-500 inter color-purple font-semibold"><%= call.sla %> (contando)</td>
                        <% } else if (call.status == "concluded") { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center"><%= call.sla %></td>
                        <% } else if (call.status == "canceled") { %>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-red-500 inter color-purple font-semibold">Cancelado</td>
                        <% } %>

                        <% if (call.status == "pending" || call.status == "in-attendance" && !call.confirmCode) { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <p>Não iniciado</p>
                          </td>
                        <% } else if (call.status == "in-attendance" && call.confirmCode) { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <p><%= call.startTime %></p>
                          </td>
                        <% } else if (call.status == "canceled") { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <p>Não iniciado</p>
                          </td>
                        <% } else { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <p><%= call.startTime %></p>
                          </td>
                        <% } %>
                        
                        <% if (call.status == "pending" || call.status == "in-attendance" && !call.confirmCode) { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <p>Não terminado</p>
                          </td>
                        <% } else if (call.status == "in-attendance") { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <p>Em andamento</p>
                          </td>
                        <% } else if (call.status == "canceled") { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <p>Não concluído</p>
                          </td>
                        <% } else if (call.status == "concluded") { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <p><%= call.endTime %></p>
                          </td>
                        <% } %>

                        <% if (call.status == "pending") { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <div class="flex items-center justify-center gap-x-2">
                              <div class="flex-none rounded-full p-1 text-yellow-500 bg-yellow-opacity">
                                <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                              </div>
                              <div class="text-yellow-500 sm:block">Pendente</div>
                            </div>
                          </td>

                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <div class="flex items-center justify-center">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7 text-white rounded-full bg-blue-500 p-1.5">
                                <path fill-rule="evenodd" d="M12 6.75a5.25 5.25 0 016.775-5.025.75.75 0 01.313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 011.248.313 5.25 5.25 0 01-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 112.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0112 6.75zM4.117 19.125a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75h-.008a.75.75 0 01-.75-.75v-.008z" clip-rule="evenodd" />
                              </svg>                                  
                              <p class="inter ml-2">Aguardando</p>
                            </div>
                          </td>
                        <% } else if (call.status == "in-attendance") { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <div class="flex items-center justify-center gap-x-2">
                              <div class="flex-none rounded-full p-1 text-green-400 bg-green-opacity">
                                <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                              </div>
                              <div class="hidden text-green-400 sm:block font-bold">Em atendimento</div>
                            </div>
                          </td>

                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <div class="flex items-center justify-center">
                              <% if (call.photoTechnician.length > 0) { %>
                                <img class="h-8 rounded-full" src="/img/photos/<%= call.photoTechnician %>">
                              <% } else { %>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 bg-blue-500 p-2">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                                </svg>                                    
                              <% } %>
                              <p class="inter ml-2"><%= call.nameTechnician %></p>
                            </div>
                          </td>
                        <% } else if (call.status == "concluded") { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <div class="flex items-center justify-center gap-x-2">
                              <div class="flex-none rounded-full p-1 text-blue-500">
                                <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                              </div>
                              <div class="hidden text-blue-500 sm:block">Concluído</div>
                            </div>
                          </td>

                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <div class="flex items-center justify-center">
                              <% if (call.photoTechnician.length > 0) { %>
                                <img class="h-8 rounded-full" src="/img/photos/<%= call.photoTechnician %>">
                              <% } else { %>
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_281_44)">
                                  <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#0EA5E9"/>
                                  <path d="M21.8077 10.9377C21.8448 11.0114 21.867 11.0919 21.8731 11.1745C21.8791 11.2571 21.8689 11.3401 21.843 11.4186C21.8171 11.4971 21.776 11.5696 21.7221 11.6318C21.6682 11.6941 21.6027 11.7448 21.5292 11.781C21.4558 11.8173 21.376 11.8383 21.2944 11.843C21.2129 11.8476 21.1312 11.8357 21.0542 11.808C20.9773 11.7802 20.9065 11.7372 20.8462 11.6814C20.7858 11.6257 20.737 11.5583 20.7026 11.4832C20.3341 10.7167 19.8149 10.0346 19.177 9.47888C18.974 9.36419 18.7451 9.30521 18.5127 9.30793C18.2804 9.3106 18.0528 9.37479 17.8525 9.49417C17.6523 9.61351 17.4863 9.7839 17.371 9.98839C17.2557 10.1928 17.1951 10.4243 17.1953 10.6599V11.346C17.195 11.4876 17.1394 11.6233 17.0407 11.7234C16.9419 11.8235 16.808 11.8799 16.6683 11.8802H13.9167C13.777 11.8799 13.6431 11.8235 13.5443 11.7234C13.4456 11.6233 13.39 11.4876 13.3897 11.346V11.4247C13.39 11.1621 13.3144 10.9052 13.1722 10.6857C13.1398 10.6444 13.1087 10.602 13.079 10.5586C12.9438 10.3952 12.7724 10.2664 12.5788 10.1829C12.3852 10.0994 12.1748 10.0636 11.9649 10.0782C11.755 10.0929 11.5514 10.1578 11.371 10.2675C11.1905 10.3772 11.0382 10.5286 10.9265 10.7093C10.869 10.8401 10.7688 10.9468 10.6428 11.0116C10.5168 11.0762 10.3727 11.095 10.2347 11.0646C10.0967 11.0343 9.9732 10.9567 9.88498 10.8448C9.7968 10.733 9.74925 10.5938 9.75039 10.4507V7.88629C9.7503 7.74102 9.80029 7.60027 9.89171 7.48841C9.98313 7.37654 10.1102 7.30056 10.2511 7.2736C10.3919 7.24664 10.5376 7.27043 10.6629 7.34083C10.7883 7.41119 10.8854 7.52379 10.9376 7.65908C11.0489 7.83336 11.1983 7.9793 11.3742 8.08553C11.5502 8.19176 11.7479 8.25538 11.9521 8.27149C12.1563 8.2876 12.3614 8.25575 12.5515 8.1784C12.7415 8.10106 12.9114 7.98028 13.0479 7.82556C13.0949 7.75314 13.1457 7.68332 13.1999 7.61634L13.2077 7.60397H13.211C13.4369 7.32875 13.7199 7.10736 14.0397 6.95556C14.3596 6.80371 14.7085 6.72521 15.0617 6.72554H15.095C15.1164 6.7232 15.1379 6.72209 15.1593 6.72217C16.5462 6.72176 17.9052 7.11682 19.0811 7.86225C20.2569 8.60769 21.2022 9.67343 21.8088 10.9377H21.8077ZM16.6628 13.3165C16.6625 13.1749 16.6068 13.0391 16.5081 12.939C16.4093 12.8389 16.2754 12.7825 16.1358 12.7822H14.2329C14.0933 12.7828 13.9596 12.8393 13.8609 12.9394C13.7622 13.0394 13.7065 13.175 13.7059 13.3165V23.9395C13.7062 24.0812 13.7618 24.2169 13.8605 24.317C13.9593 24.4171 14.0932 24.4735 14.2329 24.4738H16.1358C16.2754 24.4735 16.4093 24.4171 16.5081 24.317C16.6068 24.2169 16.6625 24.0812 16.6628 23.9395V13.3165Z" fill="white"/>
                                  </g>
                                  <defs>
                                  <clipPath id="clip0_281_44">
                                  <rect width="30" height="30" fill="white"/>
                                  </clipPath>
                                  </defs>
                                </svg>
                              <% } %>
                              <p class="inter ml-2"><%= call.nameTechnician %></p>
                            </div>
                          </td>
                        <% } else if (call.status == "canceled") { %>
                          <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                            <div class="flex items-center justify-center gap-x-2">
                              <div class="flex-none rounded-full p-1 text-red-600 bg-red-opacity">
                                <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                              </div>
                              <div class="hidden text-red-600 sm:block">Cancelado</div>
                            </div>
                          </td>

                          <% if (call.idTechnician.length > 0) { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <div class="flex items-center justify-center">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_281_44)">
                                  <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#0EA5E9"/>
                                  <path d="M21.8077 10.9377C21.8448 11.0114 21.867 11.0919 21.8731 11.1745C21.8791 11.2571 21.8689 11.3401 21.843 11.4186C21.8171 11.4971 21.776 11.5696 21.7221 11.6318C21.6682 11.6941 21.6027 11.7448 21.5292 11.781C21.4558 11.8173 21.376 11.8383 21.2944 11.843C21.2129 11.8476 21.1312 11.8357 21.0542 11.808C20.9773 11.7802 20.9065 11.7372 20.8462 11.6814C20.7858 11.6257 20.737 11.5583 20.7026 11.4832C20.3341 10.7167 19.8149 10.0346 19.177 9.47888C18.974 9.36419 18.7451 9.30521 18.5127 9.30793C18.2804 9.3106 18.0528 9.37479 17.8525 9.49417C17.6523 9.61351 17.4863 9.7839 17.371 9.98839C17.2557 10.1928 17.1951 10.4243 17.1953 10.6599V11.346C17.195 11.4876 17.1394 11.6233 17.0407 11.7234C16.9419 11.8235 16.808 11.8799 16.6683 11.8802H13.9167C13.777 11.8799 13.6431 11.8235 13.5443 11.7234C13.4456 11.6233 13.39 11.4876 13.3897 11.346V11.4247C13.39 11.1621 13.3144 10.9052 13.1722 10.6857C13.1398 10.6444 13.1087 10.602 13.079 10.5586C12.9438 10.3952 12.7724 10.2664 12.5788 10.1829C12.3852 10.0994 12.1748 10.0636 11.9649 10.0782C11.755 10.0929 11.5514 10.1578 11.371 10.2675C11.1905 10.3772 11.0382 10.5286 10.9265 10.7093C10.869 10.8401 10.7688 10.9468 10.6428 11.0116C10.5168 11.0762 10.3727 11.095 10.2347 11.0646C10.0967 11.0343 9.9732 10.9567 9.88498 10.8448C9.7968 10.733 9.74925 10.5938 9.75039 10.4507V7.88629C9.7503 7.74102 9.80029 7.60027 9.89171 7.48841C9.98313 7.37654 10.1102 7.30056 10.2511 7.2736C10.3919 7.24664 10.5376 7.27043 10.6629 7.34083C10.7883 7.41119 10.8854 7.52379 10.9376 7.65908C11.0489 7.83336 11.1983 7.9793 11.3742 8.08553C11.5502 8.19176 11.7479 8.25538 11.9521 8.27149C12.1563 8.2876 12.3614 8.25575 12.5515 8.1784C12.7415 8.10106 12.9114 7.98028 13.0479 7.82556C13.0949 7.75314 13.1457 7.68332 13.1999 7.61634L13.2077 7.60397H13.211C13.4369 7.32875 13.7199 7.10736 14.0397 6.95556C14.3596 6.80371 14.7085 6.72521 15.0617 6.72554H15.095C15.1164 6.7232 15.1379 6.72209 15.1593 6.72217C16.5462 6.72176 17.9052 7.11682 19.0811 7.86225C20.2569 8.60769 21.2022 9.67343 21.8088 10.9377H21.8077ZM16.6628 13.3165C16.6625 13.1749 16.6068 13.0391 16.5081 12.939C16.4093 12.8389 16.2754 12.7825 16.1358 12.7822H14.2329C14.0933 12.7828 13.9596 12.8393 13.8609 12.9394C13.7622 13.0394 13.7065 13.175 13.7059 13.3165V23.9395C13.7062 24.0812 13.7618 24.2169 13.8605 24.317C13.9593 24.4171 14.0932 24.4735 14.2329 24.4738H16.1358C16.2754 24.4735 16.4093 24.4171 16.5081 24.317C16.6068 24.2169 16.6625 24.0812 16.6628 23.9395V13.3165Z" fill="white"/>
                                  </g>
                                  <defs>
                                  <clipPath id="clip0_281_44">
                                  <rect width="30" height="30" fill="white"/>
                                  </clipPath>
                                  </defs>
                                </svg>                                                                                          
                                <p class="inter ml-2">Nenhum</p>
                              </div>
                            </td>
                          <% } else { %>
                            <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                              <div class="flex items-center justify-center">
                                <% if (call.photoTechnician.length > 0) { %>
                                  <img class="h-8 rounded-full" src="/img/photos/<%= call.photoTechnician %>">
                                <% } else { %>
                                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_281_44)">
                                    <path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#0EA5E9"/>
                                    <path d="M21.8077 10.9377C21.8448 11.0114 21.867 11.0919 21.8731 11.1745C21.8791 11.2571 21.8689 11.3401 21.843 11.4186C21.8171 11.4971 21.776 11.5696 21.7221 11.6318C21.6682 11.6941 21.6027 11.7448 21.5292 11.781C21.4558 11.8173 21.376 11.8383 21.2944 11.843C21.2129 11.8476 21.1312 11.8357 21.0542 11.808C20.9773 11.7802 20.9065 11.7372 20.8462 11.6814C20.7858 11.6257 20.737 11.5583 20.7026 11.4832C20.3341 10.7167 19.8149 10.0346 19.177 9.47888C18.974 9.36419 18.7451 9.30521 18.5127 9.30793C18.2804 9.3106 18.0528 9.37479 17.8525 9.49417C17.6523 9.61351 17.4863 9.7839 17.371 9.98839C17.2557 10.1928 17.1951 10.4243 17.1953 10.6599V11.346C17.195 11.4876 17.1394 11.6233 17.0407 11.7234C16.9419 11.8235 16.808 11.8799 16.6683 11.8802H13.9167C13.777 11.8799 13.6431 11.8235 13.5443 11.7234C13.4456 11.6233 13.39 11.4876 13.3897 11.346V11.4247C13.39 11.1621 13.3144 10.9052 13.1722 10.6857C13.1398 10.6444 13.1087 10.602 13.079 10.5586C12.9438 10.3952 12.7724 10.2664 12.5788 10.1829C12.3852 10.0994 12.1748 10.0636 11.9649 10.0782C11.755 10.0929 11.5514 10.1578 11.371 10.2675C11.1905 10.3772 11.0382 10.5286 10.9265 10.7093C10.869 10.8401 10.7688 10.9468 10.6428 11.0116C10.5168 11.0762 10.3727 11.095 10.2347 11.0646C10.0967 11.0343 9.9732 10.9567 9.88498 10.8448C9.7968 10.733 9.74925 10.5938 9.75039 10.4507V7.88629C9.7503 7.74102 9.80029 7.60027 9.89171 7.48841C9.98313 7.37654 10.1102 7.30056 10.2511 7.2736C10.3919 7.24664 10.5376 7.27043 10.6629 7.34083C10.7883 7.41119 10.8854 7.52379 10.9376 7.65908C11.0489 7.83336 11.1983 7.9793 11.3742 8.08553C11.5502 8.19176 11.7479 8.25538 11.9521 8.27149C12.1563 8.2876 12.3614 8.25575 12.5515 8.1784C12.7415 8.10106 12.9114 7.98028 13.0479 7.82556C13.0949 7.75314 13.1457 7.68332 13.1999 7.61634L13.2077 7.60397H13.211C13.4369 7.32875 13.7199 7.10736 14.0397 6.95556C14.3596 6.80371 14.7085 6.72521 15.0617 6.72554H15.095C15.1164 6.7232 15.1379 6.72209 15.1593 6.72217C16.5462 6.72176 17.9052 7.11682 19.0811 7.86225C20.2569 8.60769 21.2022 9.67343 21.8088 10.9377H21.8077ZM16.6628 13.3165C16.6625 13.1749 16.6068 13.0391 16.5081 12.939C16.4093 12.8389 16.2754 12.7825 16.1358 12.7822H14.2329C14.0933 12.7828 13.9596 12.8393 13.8609 12.9394C13.7622 13.0394 13.7065 13.175 13.7059 13.3165V23.9395C13.7062 24.0812 13.7618 24.2169 13.8605 24.317C13.9593 24.4171 14.0932 24.4735 14.2329 24.4738H16.1358C16.2754 24.4735 16.4093 24.4171 16.5081 24.317C16.6068 24.2169 16.6625 24.0812 16.6628 23.9395V13.3165Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_281_44">
                                    <rect width="30" height="30" fill="white"/>
                                    </clipPath>
                                    </defs>
                                  </svg>
                                <% } %>
                                <p class="inter ml-2"><%= call.nameTechnician %></p>
                              </div>
                            </td>
                          <% } %>
                        <% } %>

                        <td class="whitespace-nowrap px-4 bg-white text-sm font-medium text-coolGray-800 text-center">
                          <a href="/admin/view-call/<%= call._id %>" class="flex items-center justify-center">                                
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                            </svg>                                
                            Visualizar
                          </a>
                        </td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/admin/charts.js" data-budgets="<%= JSON.stringify(countBudgets) %>" data-calls-year="<%= JSON.stringify(callsYear) %>"></script>

</html>