<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "title"}) %>

<body class="bg-gray-100">
  <%- include('../partials/admin/sidebar-admin', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/admin/nav-admin', {isAdmin: isAdmin, title: "Visão geral da empresa", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-4 fade-in">
      <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 lg:pr-12">
        <div class="px-4 sm:px-6 lg:pl-12 mt-4 col-span-3">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <h1 class="text-xl font-medium leading-6 text-gray-900 inter">Visão geral: 00/00/0000</h1>
            </div>
          </div>

          <div class="grid grid-cols-1 mt-5">
            <div class="grid grid-cols-3 gap-x-5">
              <div class="col-span-2">
                <dl class="grid grid-cols-1 gap-5 lg:grid-cols-3">
                  <div class="relative overflow-hidden rounded-lg bg-white px-4 pt-5 shadow sm:px-6 sm:pt-6">
                    <dt>
                      <div class=" absolute rounded-lg bg-purple p-2">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_4)">
                          <path d="M35.5548 31.03L28.5727 18.9306C31.5502 9.77043 24.2905 -0.165867 14.6115 0.00210043C6.54271 0.00195982 0.0015412 6.54313 0.0015412 14.612C-0.0770639 23.4622 8.06369 30.4404 16.7908 29.0602L15.6521 31.0318C15.067 32.0522 15.067 33.3199 15.6554 34.3459C16.2488 35.3662 17.3492 35.9999 18.527 35.9999H32.6868C33.8694 35.9999 34.9688 35.364 35.5526 34.3459C36.1482 33.3221 36.1482 32.05 35.5548 31.03ZM15.6663 27.0682V26.3601C15.6144 24.9623 13.6084 24.9634 13.557 26.3601V27.0682C12.08 26.9456 10.6369 26.5596 9.29578 25.9286L9.65098 25.3132C9.9422 24.8088 9.76931 24.1638 9.26485 23.8726C8.76045 23.5815 8.11537 23.7542 7.82422 24.2588L7.47008 24.8724C6.25512 24.0249 5.1995 22.9694 4.35196 21.7545L4.96695 21.3993C5.47134 21.108 5.64402 20.463 5.35266 19.9586C5.06123 19.4542 4.41608 19.2816 3.9119 19.5729L3.29557 19.9288C2.66429 18.5875 2.27818 17.144 2.15552 15.6666H2.86353C4.26133 15.6147 4.26028 13.6087 2.86353 13.5573H2.15552C2.27817 12.08 2.66425 10.6365 3.2955 9.29515L3.91183 9.65119C4.41622 9.94248 5.06123 9.76987 5.35259 9.26548C5.64395 8.76108 5.47127 8.11607 4.96688 7.82471L4.35189 7.46951C5.19943 6.25461 6.25504 5.19907 7.47001 4.3516L7.82415 4.96519C8.11544 5.46965 8.76024 5.64261 9.26478 5.35139C9.76924 5.06018 9.94213 4.41523 9.65091 3.91077L9.29571 3.29536C10.6368 2.66431 12.0799 2.27837 13.557 2.1558V2.86387C13.6089 4.26168 15.6148 4.26063 15.6662 2.86387V2.15587C17.1433 2.27849 18.5864 2.66443 19.9275 3.29543L19.5723 3.91084C19.2811 4.4153 19.454 5.06025 19.9584 5.35146C20.4628 5.64261 21.1078 5.46986 21.3991 4.96526L21.7532 4.35168C22.9682 5.19909 24.0238 6.25461 24.8713 7.46951L24.2563 7.82471C23.7519 8.11607 23.5793 8.76108 23.8706 9.26548C24.1621 9.76987 24.8071 9.94248 25.3114 9.65119L25.9277 9.29522C26.559 10.6365 26.9451 12.08 27.0678 13.5574H26.3598C24.962 13.6093 24.963 15.6153 26.3598 15.6667H27.0678C27.0208 16.2295 26.9357 16.7885 26.813 17.3399C25.3343 16.729 23.5136 17.3681 22.7358 18.7662L18.2219 26.5821C17.3893 26.833 16.5328 26.9959 15.6663 27.0682ZM33.7294 33.2854L33.7228 33.2967C33.5159 33.6575 33.1092 33.8907 32.6868 33.8907H18.527C18.0997 33.8907 17.6998 33.6611 17.482 33.2911C17.2691 32.9155 17.2689 32.4524 17.4818 32.0811L24.5624 19.8211C25.0117 19.0197 26.1978 19.0258 26.6509 19.8206L33.7316 32.0905C33.9452 32.4578 33.9444 32.9157 33.7294 33.2854Z" fill="#DFAE15"/>
                          <path d="M21.0052 9.34781C20.5934 8.93594 19.9257 8.93594 19.5138 9.34781L14.6112 14.2504L12.1601 11.8011C11.7481 11.3894 11.0803 11.3896 10.6686 11.8016C10.2569 12.2136 10.2571 12.8813 10.6692 13.293L13.866 16.4876C14.2779 16.8993 14.9455 16.8991 15.3572 16.4874L21.0053 10.8393C21.4171 10.4274 21.4171 9.75968 21.0052 9.34781ZM25.6038 29.3722C25.0213 29.3722 24.5491 29.8444 24.5491 30.4268V30.9916C24.601 32.3894 26.607 32.3884 26.6584 30.9916V30.4268C26.6584 29.8444 26.1862 29.3722 25.6038 29.3722ZM25.6038 23.1592C25.0213 23.1592 24.5491 23.6314 24.5491 24.2139V26.5544C24.601 27.9522 26.607 27.9512 26.6584 26.5544V24.2139C26.6584 23.6314 26.1862 23.1592 25.6038 23.1592Z" fill="#DFAE15"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_1_4">
                          <rect width="36" height="36" fill="white"/>
                          </clipPath>
                          </defs>
                        </svg>                                                                                                                                
                      </div>
                      <p class="ml-16 truncate text-sm inter font-medium text-gray-500">Chamados pendentes</p>
                    </dt>
                    <dd class="ml-16 flex items-center pb-6 sm:pb-7">
                      <p class="text-xl font-semibold inter">0 chamados</p>
                    </dd>
                  </div>
        
                  <div class="relative overflow-hidden rounded-lg bg-white px-4 pt-5 shadow sm:px-6 sm:pt-6">
                    <dt>
                      <div class="absolute rounded-lg bg-purple p-2 pb-3.5">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_0_3)">
                          <path d="M35.3497 8.01289L32.191 4.85424C31.7579 4.42081 31.2312 4.20401 30.612 4.20401C29.9923 4.20401 29.4656 4.42081 29.0325 4.85424L13.7961 20.1136L6.9677 13.2619C6.5341 12.8283 6.00769 12.6118 5.38853 12.6118C4.76897 12.6118 4.24256 12.8283 3.80896 13.2619L0.650311 16.4206C0.216716 16.8542 0 17.3807 0 18.0002C0 18.6192 0.216716 19.1463 0.650311 19.5797L9.0579 27.9871L12.2168 31.1458C12.6501 31.5795 13.1767 31.7961 13.7961 31.7961C14.4153 31.7961 14.9419 31.579 15.3754 31.1458L18.5343 27.9871L35.3497 11.1718C35.7829 10.7382 36 10.2117 36 9.59222C36.0003 8.97306 35.7829 8.44649 35.3497 8.01289Z" fill="#21B50E"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_0_3">
                          <rect width="36" height="36" fill="white"/>
                          </clipPath>
                          </defs>
                        </svg>                          
                      </div>
                      <p class="ml-16 truncate text-sm inter font-medium text-gray-500">Chamados concluídos</p>
                    </dt>
                    <dd class="ml-16 flex items-baseline pb-6 sm:pb-7">
                      <p class="text-xl font-semibold inter">0 chamados</p>
                    </dd>
                  </div>
        
                  <div class="relative overflow-hidden rounded-lg bg-white px-4 pt-5 shadow sm:px-6 sm:pt-6">
                    <dt>
                      <div class="absolute rounded-lg bg-purple p-2.5">
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M20.9138 3.41462C20.9138 1.52872 19.3851 0 17.4992 0C15.6133 0 14.0845 1.52872 14.0845 3.41462H10.6699V6.82924H24.3285V3.41462H20.9138Z" fill="#208FEB"/>
                          <path d="M20.0618 23.4756H18.7812V26.0365H20.0618C20.7679 26.0365 21.3423 25.4621 21.3423 24.756C21.3423 24.05 20.768 23.4756 20.0618 23.4756Z" fill="#208FEB"/>
                          <path d="M14.9387 18.3538C14.2326 18.3538 13.6582 18.9282 13.6582 19.6343C13.6582 20.3404 14.2326 20.9148 14.9387 20.9148H16.2191V18.3538H14.9387V18.3538Z" fill="#208FEB"/>
                          <path d="M26.8904 6.82935V9.39029H8.10993V6.82935H4.69531V35.0001H30.3051V6.82935H26.8904ZM20.0613 28.5976H18.7807V30.7317H16.2197V28.5976H14.9394C13.9149 28.5976 12.9096 28.4258 11.9515 28.0871L12.8051 25.6727C13.4883 25.9143 14.2064 26.0367 14.9394 26.0367H16.2197V23.4757H14.9394C12.8212 23.4757 11.0979 21.7525 11.0979 19.6343C11.0979 17.5161 12.8212 15.7928 14.9394 15.7928H16.2197V13.6587H18.7807V15.7928H20.0613C21.0858 15.7928 22.0909 15.9646 23.0492 16.3033L22.1955 18.7179C21.5123 18.4763 20.7942 18.3538 20.0613 18.3538H18.7807V20.9148H20.0613C22.1795 20.9148 23.9027 22.6381 23.9027 24.7562C23.9027 26.8744 22.1795 28.5976 20.0613 28.5976Z" fill="#208FEB"/>
                        </svg>                                        
                      </div>
                      <p class="ml-16 truncate text-sm inter font-medium text-gray-500">Orçamentos gerados</p>
                    </dt>
                    <dd class="ml-16 flex items-baseline pb-6 sm:pb-7">
                      <p class="text-xl font-semibold inter">0 orçamentos</p>
                    </dd>
                  </div>
                </dl>
    
                <dl class="grid grid-cols-1 mt-2">
                  <div class="col-sm-6 text-center">
                    <div id="line-chart"></div>
                  </div>
                </dl>
              </div>
              
              <div class="bg-white rounded-xl shadow">
                <dl class="grid grid-cols-1">
                  <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="inter" id="pie-chart"></div>
                 </div>
                </dl>
              </div>
            </div>
          </div>

          <div class="mt-12 flow-root">
            <div class="-mx-4 -my-2">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-5">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 inter">ID</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Empresa</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Atender até</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">SLA</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Início em</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Status</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Técnico</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 inter">Ações</th>
                      </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200 bg-white">
                      <% calls.forEach(function(item) { %>
                        <tr>
                          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 text-indigo-600">
                            #284525
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter">
                            <div class="flex items-center mr-6">
                              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <rect width="36" height="36" rx="18" fill="#888EA8" fill-opacity="0.4"/>
                                <rect x="7" y="8" width="22.8571" height="20" fill="url(#pattern0)"/>
                                <defs>
                                <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_155_54" transform="matrix(0.00911458 0 0 0.0104167 0.0625001 0)"/>
                                </pattern>
                                <image id="image0_155_54" width="96" height="96" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAAAsTAAALEwEAmpwYAAABvElEQVR4nO3ZPU7DYBCE4S0QVwEJjkoQP+IqVHAK4CJAR9CLIqWgQVvEw6438/SJZr6xHUWOMDMzMzMzMzMz+wNwCdwAr8An/X3us+4yX652WOAUeAC+Wa8tcL/rEis8/GfmeFrVCPsrf5q7WNEzf3frTrMFLqI74Ja5rqM74I25XqI74IO53qM7hovuGC66Y7jojuGiO4aL7hguumO46I7hojt1QcSf/6f3DS/ABjhf7OCXKnjo94c438K+9kOceIBaj4uNcGiSI7sDftt4gPrH0ZnvgFpXHmDt7xsOTXDEvwHLvG9guBCfjwdIeIBiHqCYByjmAYp5gGIeoNj4AdQFEFPnT3UvgJg6f6p7AcTU+VPdCyCmzp/qXgAxdf5U9wKIqfOnuhdATJ0/1b0AYur8UV2wmvp8PEDCAxTzAMU8QDEPUMwDFPMAxcYPoC6AmDp/qnsBxNT5U90LIKbOn+peADF1/lT3Aoip86e6F0BMnT/VvQBi6vyp7gUQU+eP6oLV1OfjARIeoJgHKOYBinmAYh6gmAco5gGG8/+AYh6gmAco5gGKeYBiHqCYB1j7AGZmZmZmZmZmFlP8AN3fTDc25TqSAAAAAElFTkSuQmCC"/>
                                </defs>
                              </svg>                                                                    
                              <p class="inter ml-2">Empresa {x}</p>
                            </div>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm inter text-green-500 font-bold">
                            Em atendimento
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold">16 min</td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold">
                            <p style="color: #398bf7" class="inter font-bold">14:11</p>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold">
                            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                              <div class="flex-none rounded-full p-1 text-green-400 bg-green-opacity">
                                <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                              </div>
                              <div class="hidden text-green-400 sm:block">Executando</div>
                            </div>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple">
                            <div class="flex items-center mr-6">
                              <img class="h-8 rounded-full" src="<%= item.image_account %>">
                              <p class="inter ml-2"><%= item.name_account %></p>
                            </div>
                          </td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 inter color-purple font-semibold">
                            <div class="flex items-center">
                              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                                <path opacity="0.5" d="M2.73038 12.7463C2.0221 11.8262 1.66797 11.3661 1.66797 9.99992C1.66797 8.63375 2.0221 8.17369 2.73038 7.25353C4.1446 5.41622 6.51639 3.33325 10.0013 3.33325C13.4862 3.33325 15.858 5.41622 17.2722 7.25353C17.9805 8.17369 18.3346 8.63375 18.3346 9.99992C18.3346 11.3661 17.9805 11.8262 17.2722 12.7463C15.858 14.5836 13.4862 16.6666 10.0013 16.6666C6.51639 16.6666 4.1446 14.5836 2.73038 12.7463Z" stroke="#0E1726" stroke-width="1.25"/>
                                <path d="M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61925 12.5 7.5 11.3807 7.5 10C7.5 8.61925 8.61925 7.5 10 7.5C11.3807 7.5 12.5 8.61925 12.5 10Z" stroke="#0E1726" stroke-width="1.25"/>
                              </svg>
                              Visualizar                                  
                            </div>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </main>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js"></script>
<script src="/js/admin/chart.js"></script>

</html>