<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "title"}) %>

<body>
  <%- include('../partials/admin/sidebar-admin', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/admin/nav-admin', {isAdmin: isAdmin, title: "Todos os chamados", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="hidden fade-in relative z-10" id="popup_new_folder" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 mt-8 sm:p-6 md:p-20 mt-40">
          <div class="mx-auto max-w-xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="flex justify-between py-3 px-6">
              <h2 class="color-purple inter font-semibold text-lg">Criar nova posta</h2>
              <button onclick="closeNewFolder()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.3075 11.7231L20.3075 5.67693C20.5844 5.4 20.5844 4.98462 20.3075 4.7077L19.3844 3.73847C19.1075 3.46154 18.6921 3.46154 18.4151 3.73847L12.369 9.78462C12.1844 9.96923 11.9075 9.96923 11.7228 9.78462L5.67668 3.69231C5.39976 3.41539 4.98438 3.41539 4.70745 3.69231L3.73822 4.66154C3.4613 4.93847 3.4613 5.35385 3.73822 5.63077L9.78438 11.6769C9.96899 11.8615 9.96899 12.1385 9.78438 12.3231L3.69207 18.4154C3.41514 18.6923 3.41514 19.1077 3.69207 19.3846L4.6613 20.3538C4.93822 20.6308 5.35361 20.6308 5.63053 20.3538L11.6767 14.3077C11.8613 14.1231 12.1382 14.1231 12.3228 14.3077L18.369 20.3538C18.6459 20.6308 19.0613 20.6308 19.3382 20.3538L20.3075 19.3846C20.5844 19.1077 20.5844 18.6923 20.3075 18.4154L14.3075 12.3692C14.1228 12.1846 14.1228 11.9077 14.3075 11.7231Z" fill="#000000"/>
                </svg>                  
              </button>
            </div>

            <div class="flex flex-col divide-y divide-gray-100 px-6">
              <div class="fade-in" id="create-one">
                <div class="mt-4">
                  <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter mt-2">Insira o nome da pasta:</label>
                  <div class="flex items-center option mt-2">
                    <input name="name_folder" id="name_folder" class="block w-full rounded-lg p-2 text-sm text-gray-900 border-blue-1 shadow-sm ring-1 ring-inset inter" placeholder="Nome da pasta">
                  </div>
                </div>
              </div>

              <div class="pb-4">
                <button class="w-full py-2.5 inter bg-blue text-white text-sm rounded-lg mt-4" onclick="createNewFolder()">Criar nova pasta</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden fade-in relative z-10" id="popup_upload_archive" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 mt-8 sm:p-6 md:p-20 mt-40">
          <div class="mx-auto max-w-xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="flex justify-between py-3 px-6">
              <h2 class="color-purple inter font-semibold text-lg">Fazer upload de arquivo</h2>
              <button onclick="closeUploadArchive()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.3075 11.7231L20.3075 5.67693C20.5844 5.4 20.5844 4.98462 20.3075 4.7077L19.3844 3.73847C19.1075 3.46154 18.6921 3.46154 18.4151 3.73847L12.369 9.78462C12.1844 9.96923 11.9075 9.96923 11.7228 9.78462L5.67668 3.69231C5.39976 3.41539 4.98438 3.41539 4.70745 3.69231L3.73822 4.66154C3.4613 4.93847 3.4613 5.35385 3.73822 5.63077L9.78438 11.6769C9.96899 11.8615 9.96899 12.1385 9.78438 12.3231L3.69207 18.4154C3.41514 18.6923 3.41514 19.1077 3.69207 19.3846L4.6613 20.3538C4.93822 20.6308 5.35361 20.6308 5.63053 20.3538L11.6767 14.3077C11.8613 14.1231 12.1382 14.1231 12.3228 14.3077L18.369 20.3538C18.6459 20.6308 19.0613 20.6308 19.3382 20.3538L20.3075 19.3846C20.5844 19.1077 20.5844 18.6923 20.3075 18.4154L14.3075 12.3692C14.1228 12.1846 14.1228 11.9077 14.3075 11.7231Z" fill="#000000"/>
                </svg>                  
              </button>
            </div>

            <form id="uploadForm" enctype="multipart/form-data" class="flex flex-col divide-y divide-gray-100 px-6">
              <div class="fade-in" id="create-one">
                <div class="mt-4">
                  <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter mt-2">Arquivo:</label>
                  <div class="flex items-center option mt-2">
                    <input type="file" name="archive" id="archive" class="block w-full rounded-lg p-1.5 text-sm text-gray-900 border-blue-1 shadow-sm ring-1 ring-inset inter">
                  </div>
                </div>

                <div class="mt-4">
                  <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter mt-2">Pasta:</label>
                  <div class="flex items-center option mt-2">
                    <select name="folders" id="folders" class="block w-full rounded-lg inter py-2 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1">
                      <option value="no">Não</option>
                      <% folders.forEach(folder => { %>
                        <option value="<%= folder %>" selected><%= folder %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div>

              <div class="pb-4">
                <button type="submit" class="w-full py-2.5 inter bg-blue text-white text-sm rounded-lg mt-4">Fazer upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">
        <div class="sm:flex sm:justify-between sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-lg font-semibold leading-6 text-gray-900 inter color-purple">Gerenciador de arquivos:</h1>
          </div>

          <div class="flex items-center space-x-4 mr-3">
            <button onclick="openNewFolder()" class="inline-flex items-center gap-x-2 mt-2 h-30 justify-center inter border-blue-1 px-6 py-2.5 font-medium text-sm color-blue rounded-lg">
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8506 9.80826C18.705 9.50309 18.4822 9.26918 18.184 9.10687C17.8854 8.94424 17.557 8.86302 17.1987 8.86302H15.2877V7.27048C15.2877 6.66003 15.0686 6.13583 14.6308 5.69788C14.1927 5.25996 13.6685 5.04103 13.0582 5.04103H7.64382V4.72255C7.64382 4.1121 7.42479 3.5879 6.98698 3.15009C6.54899 2.71217 6.02482 2.4931 5.41438 2.4931H2.22944C1.619 2.4931 1.0948 2.71213 0.656844 3.15009C0.218925 3.58794 0 4.11214 0 4.72258V14.2775C0 14.8878 0.218925 15.412 0.656844 15.8498C1.0948 16.2878 1.619 16.5069 2.22944 16.5069H13.0584C13.5028 16.5069 13.9672 16.3924 14.4518 16.1634C14.9362 15.9346 15.3208 15.6441 15.6062 15.2925L18.5424 11.6796C18.8475 11.2949 19 10.8969 19 10.4853C19.0001 10.2464 18.9503 10.021 18.8506 9.80826ZM1.27405 4.72272C1.27405 4.4574 1.36689 4.23174 1.55269 4.04594C1.73836 3.86023 1.96401 3.76729 2.22948 3.76729H5.41452C5.67998 3.76729 5.9055 3.86013 6.0913 4.04594C6.27701 4.23174 6.36994 4.4574 6.36994 4.72272V5.35976C6.36994 5.62526 6.46292 5.85085 6.64862 6.03655C6.83432 6.22225 7.05991 6.31523 7.32534 6.31523H13.0582C13.3236 6.31523 13.5494 6.40816 13.7352 6.59387C13.9208 6.77953 14.0137 7.00519 14.0137 7.27065V8.86316H6.36991C5.91878 8.86316 5.45416 8.97764 4.97643 9.20657C4.49863 9.4355 4.11383 9.72575 3.82184 10.0776L1.27405 13.2126V4.72272ZM17.5469 10.8736L14.6208 14.4865C14.4551 14.6921 14.2194 14.868 13.9141 15.0138C13.6089 15.1598 13.3236 15.2328 13.0582 15.2328H2.22944C1.87777 15.2328 1.70197 15.1166 1.70197 14.8845C1.70197 14.7783 1.76168 14.6456 1.88115 14.4861L4.80728 10.8734C4.97981 10.6676 5.21689 10.4936 5.51889 10.3509C5.82072 10.2082 6.10441 10.1368 6.36988 10.1368H17.1987C17.5503 10.1368 17.7261 10.253 17.7261 10.4852C17.7261 10.5983 17.6666 10.7276 17.5469 10.8736Z" fill="#239CFF"/>
              </svg>                                                                                                      
              Nova pasta
            </button>

            <button onclick="openUploadArchive()" class="inline-flex items-center gap-x-2 mt-2 h-30 justify-center inter bg-blue px-6 py-2.5 font-medium text-sm text-white rounded-lg">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7059 12.9412C20.7047 11.6812 20.2441 10.4648 19.4102 9.5202C18.5764 8.57557 17.4266 7.96751 16.1765 7.81001V5.17648C16.1765 5.08302 16.1562 4.99066 16.1171 4.90577C16.078 4.82088 16.021 4.74546 15.95 4.68471L11.4206 0.802358C11.3034 0.702125 11.1542 0.647052 11 0.647064H3.08001C2.43527 0.648772 1.81744 0.905648 1.36154 1.36154C0.905648 1.81744 0.648772 2.43528 0.647064 3.08001V18.92C0.648772 19.5647 0.905648 20.1826 1.36154 20.6385C1.81744 21.0944 2.43527 21.3512 3.08001 21.353H13.7435C14.3883 21.3512 15.0061 21.0944 15.462 20.6385C15.9179 20.1826 16.1748 19.5647 16.1765 18.92V18.0724C17.4266 17.9149 18.5764 17.3068 19.4102 16.3622C20.2441 15.4175 20.7047 14.2012 20.7059 12.9412ZM11.6471 2.69824L13.7824 4.52942H11.6471V2.69824ZM13.7435 20.0588H3.08001C2.93045 20.0588 2.78236 20.0294 2.6442 19.9721C2.50603 19.9149 2.38048 19.831 2.27474 19.7253C2.16899 19.6195 2.0851 19.494 2.02787 19.3558C1.97064 19.2177 1.94118 19.0696 1.94118 18.92V3.08001C1.94118 2.77797 2.06116 2.48831 2.27474 2.27474C2.48831 2.06117 2.77797 1.94118 3.08001 1.94118H10.3529V5.17648C10.3529 5.34809 10.4211 5.51267 10.5425 5.63402C10.6638 5.75536 10.8284 5.82354 11 5.82354H14.8824V7.81001C13.6388 7.9756 12.4977 8.58717 11.6712 9.53099C10.8448 10.4748 10.3892 11.6867 10.3892 12.9412C10.3892 14.1957 10.8448 15.4076 11.6712 16.3514C12.4977 17.2952 13.6388 17.9068 14.8824 18.0724V18.92C14.8824 19.0696 14.8529 19.2177 14.7957 19.3558C14.7384 19.494 14.6546 19.6195 14.5488 19.7253C14.4431 19.831 14.3175 19.9149 14.1793 19.9721C14.0412 20.0294 13.8931 20.0588 13.7435 20.0588ZM15.5294 16.8235C14.7616 16.8235 14.0109 16.5958 13.3725 16.1692C12.734 15.7426 12.2364 15.1363 11.9426 14.4269C11.6487 13.7175 11.5719 12.9369 11.7217 12.1838C11.8715 11.4307 12.2412 10.7389 12.7842 10.1959C13.3271 9.65299 14.0189 9.28323 14.772 9.13343C15.5251 8.98363 16.3057 9.06051 17.0151 9.35436C17.7245 9.6482 18.3309 10.1458 18.7575 10.7843C19.1841 11.4227 19.4118 12.1733 19.4118 12.9412C19.4118 13.9708 19.0027 14.9583 18.2747 15.6864C17.5466 16.4145 16.5591 16.8235 15.5294 16.8235Z" fill="white"/>
                <path d="M17.4706 12.2941H16.1765V11C16.1765 10.8284 16.1083 10.6638 15.987 10.5425C15.8656 10.4211 15.701 10.3529 15.5294 10.3529C15.3578 10.3529 15.1932 10.4211 15.0719 10.5425C14.9505 10.6638 14.8824 10.8284 14.8824 11V12.2941H13.5882C13.4166 12.2941 13.252 12.3623 13.1307 12.4836C13.0094 12.605 12.9412 12.7696 12.9412 12.9412C12.9412 13.1128 13.0094 13.2774 13.1307 13.3987C13.252 13.5201 13.4166 13.5882 13.5882 13.5882H14.8824V14.8824C14.8824 15.054 14.9505 15.2185 15.0719 15.3399C15.1932 15.4612 15.3578 15.5294 15.5294 15.5294C15.701 15.5294 15.8656 15.4612 15.987 15.3399C16.1083 15.2185 16.1765 15.054 16.1765 14.8824V13.5882H17.4706C17.6422 13.5882 17.8068 13.5201 17.9281 13.3987C18.0495 13.2774 18.1176 13.1128 18.1176 12.9412C18.1176 12.7696 18.0495 12.605 17.9281 12.4836C17.8068 12.3623 17.6422 12.2941 17.4706 12.2941ZM4.52941 8.41176H11C11.1716 8.41176 11.3362 8.34359 11.4575 8.22224C11.5789 8.1009 11.6471 7.93631 11.6471 7.7647C11.6471 7.59309 11.5789 7.42851 11.4575 7.30716C11.3362 7.18582 11.1716 7.11765 11 7.11765H4.52941C4.3578 7.11765 4.19322 7.18582 4.07187 7.30716C3.95053 7.42851 3.88235 7.59309 3.88235 7.7647C3.88235 7.93631 3.95053 8.1009 4.07187 8.22224C4.19322 8.34359 4.3578 8.41176 4.52941 8.41176ZM8.41177 9.70588H4.52941C4.3578 9.70588 4.19322 9.77405 4.07187 9.8954C3.95053 10.0167 3.88235 10.1813 3.88235 10.3529C3.88235 10.5246 3.95053 10.6891 4.07187 10.8105C4.19322 10.9318 4.3578 11 4.52941 11H8.41177C8.58338 11 8.74796 10.9318 8.86931 10.8105C8.99065 10.6891 9.05883 10.5246 9.05883 10.3529C9.05883 10.1813 8.99065 10.0167 8.86931 9.8954C8.74796 9.77405 8.58338 9.70588 8.41177 9.70588ZM8.41177 12.2941H4.52941C4.3578 12.2941 4.19322 12.3623 4.07187 12.4836C3.95053 12.605 3.88235 12.7696 3.88235 12.9412C3.88235 13.1128 3.95053 13.2774 4.07187 13.3987C4.19322 13.5201 4.3578 13.5882 4.52941 13.5882H8.41177C8.58338 13.5882 8.74796 13.5201 8.86931 13.3987C8.99065 13.2774 9.05883 13.1128 9.05883 12.9412C9.05883 12.7696 8.99065 12.605 8.86931 12.4836C8.74796 12.3623 8.58338 12.2941 8.41177 12.2941ZM8.41177 14.8824H4.52941C4.3578 14.8824 4.19322 14.9505 4.07187 15.0719C3.95053 15.1932 3.88235 15.3578 3.88235 15.5294C3.88235 15.701 3.95053 15.8656 4.07187 15.987C4.19322 16.1083 4.3578 16.1765 4.52941 16.1765H8.41177C8.58338 16.1765 8.74796 16.1083 8.86931 15.987C8.99065 15.8656 9.05883 15.701 9.05883 15.5294C9.05883 15.3578 8.99065 15.1932 8.86931 15.0719C8.74796 14.9505 8.58338 14.8824 8.41177 14.8824Z" fill="white"/>
              </svg>                                                      
              Novo arquivo
            </button>
          </div>
        </div>
        
        <div class="mt-4 flow-root">
          <div class="-mx-4 -my-2">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-5">
              <% if (folders.length > 0) { %>
                <div class="grid grid-cols-5 gap-x-4">
                  <% folders.forEach(folder => { %>
                    <div class="flex flex-col justify-center items-center p-4 border-blue-1 rounded-lg">
                      <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_260_16)">
                        <path d="M64.485 25.1063C64.1344 24.473 63.6202 23.9455 62.9961 23.5787C62.3721 23.2118 61.661 23.0192 60.9371 23.0209H22.4409C21.143 23.0212 19.8802 23.4423 18.8421 24.2212C17.8039 25.0001 17.0463 26.0947 16.683 27.3407L9.06311 53.4625C8.66202 54.8376 7.8258 56.0455 6.67993 56.905C5.53407 57.7644 4.14037 58.2291 2.70801 58.2292H51.1167C52.5493 58.2292 53.9432 57.7646 55.0893 56.9051C56.2354 56.0457 57.0718 54.8377 57.4732 53.4625L64.7884 28.3834C64.9583 27.8445 65.0191 27.2771 64.9673 26.7144C64.9154 26.1518 64.7506 25.6051 64.485 25.1063Z" fill="#239CFF"/>
                        <path d="M6.45937 52.7042L14.0833 26.5823C14.6145 24.7765 15.7148 23.1905 17.2204 22.0607C18.7259 20.9309 20.5562 20.3178 22.4385 20.3125H56.875V18.9584C56.875 17.5218 56.3043 16.144 55.2885 15.1282C54.2727 14.1124 52.8949 13.5417 51.4583 13.5417H30.8154C30.4118 13.5418 30.0132 13.4519 29.6487 13.2785C29.2842 13.1052 28.963 12.8528 28.7083 12.5396L26.046 9.2666C25.412 8.48697 24.6121 7.85844 23.7047 7.42672C22.7972 6.99501 21.8049 6.77096 20.8 6.77087H5.41667C3.98008 6.77087 2.60233 7.34156 1.5865 8.35738C0.570683 9.3732 0 10.751 0 12.1875L0 52.8125C0 53.5308 0.285341 54.2197 0.793252 54.7276C1.30116 55.2355 1.99004 55.5209 2.70833 55.5209C3.55368 55.5186 4.37563 55.2431 5.05161 54.7355C5.7276 54.2279 6.2214 53.5154 6.45937 52.7042Z" fill="#239CFF"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_260_16">
                        <rect width="65" height="65" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>

                      <h2 class="inter text-sm font-semibold"><%= folder %></h2>
                    </div>
                  <% }) %>
                </div>
              <% } else { %>
                <div class="flex flex-col justify-center items-center px-4 sm:px-2 mt-2 col-span-3 mt-40">
                  <svg width="301" height="200" viewBox="0 0 301 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_103_48)">
                    <path d="M190.762 111.073C191.813 110.853 192.736 110.229 193.331 109.335C193.926 108.442 194.147 107.35 193.944 106.295C193.899 106.062 193.833 105.833 193.747 105.612L204.666 96.1992L197.528 94.1797L188.253 103.428C187.279 103.892 186.527 104.722 186.159 105.737C185.792 106.751 185.838 107.87 186.289 108.851C186.672 109.674 187.323 110.342 188.136 110.746C188.949 111.15 189.875 111.265 190.762 111.073Z" fill="#FFB6B6"/>
                    <path d="M261.667 177.824L262.064 168.901C266.201 166.689 270.815 165.521 275.506 165.498C269.05 170.776 269.857 180.951 265.48 188.05C264.097 190.253 262.237 192.117 260.036 193.504C257.836 194.891 255.351 195.765 252.767 196.061L247.364 199.369C246.623 195.236 246.787 190.991 247.844 186.927C248.901 182.864 250.826 179.077 253.487 175.829C254.998 174.022 256.731 172.412 258.644 171.038C259.938 174.45 261.667 177.824 261.667 177.824Z" fill="#F2F2F2"/>
                    <path d="M247.746 194.776L242.853 194.776L240.526 175.906L247.746 175.907L247.746 194.776Z" fill="#FFB6B6"/>
                    <path d="M248.993 199.519L233.219 199.518V199.319C233.219 197.69 233.866 196.129 235.017 194.977C236.168 193.826 237.73 193.179 239.358 193.179H239.359L242.24 190.993L247.616 193.179L248.993 193.179L248.993 199.519Z" fill="#2F2E41"/>
                    <path d="M225.017 194.776L220.125 194.776L217.798 175.906L225.018 175.907L225.017 194.776Z" fill="#FFB6B6"/>
                    <path d="M226.265 199.519L210.49 199.518V199.319C210.49 197.69 211.137 196.129 212.289 194.977C213.44 193.826 215.002 193.179 216.63 193.179H216.631L219.512 190.993L224.888 193.179L226.265 193.179L226.265 199.519Z" fill="#2F2E41"/>
                    <path d="M222.9 91.6128L254.721 92.4083C260.764 95.6908 260.856 102.795 258.876 111.231C258.876 111.231 259.544 116.244 258.207 117.581C256.87 118.918 256.202 118.918 256.87 121.258C257.539 123.597 254.007 127.419 254.436 127.848C254.865 128.277 255.868 130.617 255.868 130.617L252.525 149.668C252.525 149.668 250.186 182.758 249.517 183.426C248.849 184.095 248.18 183.426 248.849 185.098C249.517 186.769 250.186 186.1 249.517 186.769C248.925 187.407 248.367 188.077 247.846 188.774H239.765C239.765 188.774 239.156 185.432 239.156 185.098C239.156 184.763 238.487 182.758 238.487 182.424C238.487 182.09 239.078 181.499 239.078 181.499C239.282 180.819 239.42 180.122 239.49 179.416C239.49 178.747 241.495 153.011 241.495 153.011L237.484 119.587L227.791 152.342C227.791 152.342 227.791 181.087 227.123 181.755C226.454 182.424 226.454 182.09 226.789 183.426C227.123 184.763 228.46 184.429 227.457 185.432C226.454 186.435 226.12 184.763 226.454 186.435L226.789 188.106L216.761 188.249C216.761 188.249 215.425 185.432 216.093 184.429C216.761 183.426 216.721 183.7 215.906 182.059C215.09 180.418 214.756 180.084 215.09 179.75C215.425 179.416 215.425 177.638 215.425 177.638L217.096 145.657C217.096 145.657 217.43 111.899 217.43 110.896C217.455 110.38 217.36 109.866 217.152 109.393V108.032L218.433 103.209L222.9 91.6128Z" fill="#2F2E41"/>
                    <path d="M190.394 100.216L195.772 104.553L225.089 81.8276L223.355 42.2747C221.706 43.5938 220.335 45.2267 219.321 47.079C218.307 48.9312 217.671 50.9661 217.448 53.0659L212.425 75.409L190.394 100.216Z" fill="#E6E6E6"/>
                    <path d="M218.15 101.604C228.528 102.93 238.089 98.9122 247.121 95.8793C251.198 94.5102 255.306 95.9395 259.091 93.6241C257.454 77.5022 259.043 59.3422 262.52 39.9896C262.719 38.8941 262.512 37.7637 261.938 36.8095C261.364 35.8554 260.463 35.1425 259.402 34.8039L248.199 31.5896L244.749 27.7843L235.841 30.0458L232.722 35.6826L222.006 42.9236C221.38 43.346 220.89 43.94 220.594 44.6343C220.298 45.3287 220.209 46.0937 220.338 46.8374C223.557 65.0377 222.811 83.7185 218.15 101.604Z" fill="#E6E6E6"/>
                    <path d="M251.271 106.594C252.222 106.096 252.94 105.243 253.269 104.221C253.597 103.199 253.511 102.088 253.029 101.128C252.922 100.916 252.796 100.715 252.653 100.525L260.589 88.4902L253.171 88.4952L246.771 99.9228C245.961 100.636 245.464 101.639 245.387 102.715C245.31 103.792 245.66 104.856 246.361 105.676C246.954 106.364 247.763 106.829 248.655 106.995C249.547 107.162 250.47 107.021 251.271 106.594Z" fill="#FFB6B6"/>
                    <path d="M249.029 95.3589L253.887 101.604L270.887 76.2763L269.417 50.545C269.23 47.2677 268.217 44.091 266.472 41.3105C264.727 38.53 262.307 36.2359 259.438 34.6417L259.785 74.1946L249.029 95.3589Z" fill="#E6E6E6"/>
                    <path d="M236.823 26.3121C242.828 26.3121 247.695 21.4446 247.695 15.4401C247.695 9.43568 242.828 4.56812 236.823 4.56812C230.819 4.56812 225.951 9.43568 225.951 15.4401C225.951 21.4446 230.819 26.3121 236.823 26.3121Z" fill="#FFB6B6"/>
                    <path d="M229.896 9.05959C230.317 9.06288 230.735 9.11783 231.143 9.22319C231.946 9.41621 232.761 9.55294 233.583 9.63239C236.1 9.86918 238.465 10.9426 240.3 12.6811C242.135 14.4196 243.335 16.723 243.708 19.2234C244.339 18.6726 245.777 17.6594 246.955 18.6011C246.973 18.616 246.984 18.6237 247.025 18.604C247.807 18.2329 249.197 13.6637 249.239 9.64072C249.261 7.50545 248.925 4.7788 247.198 3.91533L247.107 3.86984L247.083 3.77096C246.968 3.29064 245.678 2.47075 243.438 1.8326C239.367 0.672911 233.297 -1.58618 229.88 1.73846C229.621 2.85928 228.78 5.25783 227.93 5.52971C226.989 5.83063 226.176 6.09033 226.048 7.24489C225.941 8.88792 225.948 10.5364 226.071 12.1784C226.39 11.1736 227.016 10.2942 227.861 9.664C228.462 9.25953 229.172 9.04861 229.896 9.05959Z" fill="#2F2E41"/>
                    <path d="M300.349 199.587C300.349 199.641 300.338 199.695 300.317 199.745C300.297 199.795 300.266 199.841 300.228 199.879C300.19 199.918 300.144 199.948 300.094 199.969C300.044 199.99 299.99 200 299.936 200H0.412877C0.303376 200 0.198363 199.956 0.120933 199.879C0.0435041 199.802 0 199.697 0 199.587C0 199.478 0.0435041 199.373 0.120933 199.295C0.198363 199.218 0.303376 199.174 0.412877 199.174H299.936C299.99 199.174 300.044 199.185 300.094 199.205C300.144 199.226 300.19 199.256 300.228 199.295C300.266 199.333 300.297 199.379 300.317 199.429C300.338 199.479 300.349 199.533 300.349 199.587Z" fill="#CCCCCC"/>
                    <path d="M123.959 35.0849L83.1484 44.2665C82.055 44.5138 81.1043 45.1848 80.5049 46.1321C79.9056 47.0795 79.7064 48.2259 79.9512 49.3199L91.1419 99.061L139.092 88.2732C139.486 88.1859 139.847 87.9869 140.131 87.7001L129.013 38.2821C128.765 37.1887 128.094 36.238 127.147 35.6387C126.2 35.0393 125.053 34.8402 123.959 35.0849Z" fill="#E6E6E6"/>
                    <path d="M109.135 41.9341L86.7694 46.9658C85.7737 47.1909 84.9079 47.8016 84.3619 48.6641C83.8159 49.5267 83.6343 50.5705 83.8569 51.5668L94.3783 98.3329L136.965 88.7518L129.303 54.694C128.316 50.3302 125.638 46.5361 121.857 44.144C118.076 41.7519 113.501 40.9571 109.135 41.9341Z" fill="white"/>
                    <path d="M128.775 86.2307L100.699 92.5473C100.579 92.5741 100.465 92.6244 100.364 92.6953C100.263 92.7662 100.177 92.8563 100.111 92.9605C100.045 93.0646 100 93.1808 99.9792 93.3023C99.9581 93.4238 99.9611 93.5483 99.9882 93.6686C100.015 93.7889 100.066 93.9027 100.137 94.0035C100.208 94.1043 100.298 94.19 100.403 94.2558C100.507 94.3217 100.623 94.3663 100.745 94.3872C100.866 94.408 100.991 94.4047 101.111 94.3774L129.187 88.0609C129.307 88.0341 129.421 87.9839 129.522 87.913C129.623 87.8421 129.709 87.752 129.776 87.6478C129.842 87.5436 129.887 87.4274 129.908 87.3058C129.929 87.1843 129.926 87.0597 129.899 86.9393C129.872 86.819 129.821 86.7051 129.75 86.6043C129.679 86.5035 129.588 86.4177 129.484 86.3519C129.38 86.2861 129.263 86.2415 129.142 86.2207C129.02 86.1999 128.896 86.2033 128.775 86.2307Z" fill="#E4E4E4"/>
                    <path d="M127.961 82.6115L99.8849 88.928C99.642 88.9827 99.4307 89.1316 99.2976 89.3421C99.1644 89.5525 99.1203 89.8072 99.175 90.0501C99.2297 90.2931 99.3786 90.5044 99.589 90.6375C99.7995 90.7706 100.054 90.8147 100.297 90.7601L128.373 84.4435C128.494 84.4164 128.607 84.366 128.708 84.2949C128.809 84.2239 128.895 84.1337 128.961 84.0295C129.027 83.9253 129.071 83.8091 129.092 83.6876C129.113 83.5661 129.11 83.4417 129.083 83.3214C129.056 83.2011 129.006 83.0873 128.935 82.9866C128.864 82.8858 128.773 82.8 128.669 82.7341C128.565 82.6681 128.449 82.6234 128.327 82.6023C128.206 82.5813 128.081 82.5844 127.961 82.6115Z" fill="#E4E4E4"/>
                    <path d="M111.242 82.5726L99.0711 85.3107C98.8284 85.3653 98.6173 85.514 98.4843 85.7243C98.3513 85.9345 98.3073 86.1889 98.3619 86.4316C98.4165 86.6743 98.5652 86.8854 98.7755 87.0184C98.9857 87.1514 99.2401 87.1954 99.4828 87.1408L111.653 84.4027C111.774 84.376 111.888 84.3257 111.989 84.2548C112.09 84.1839 112.176 84.0938 112.242 83.9896C112.308 83.8855 112.353 83.7693 112.374 83.6477C112.395 83.5261 112.392 83.4016 112.365 83.2812C112.338 83.1608 112.287 83.047 112.216 82.9462C112.145 82.8454 112.055 82.7596 111.95 82.6937C111.846 82.6279 111.73 82.5833 111.608 82.5625C111.486 82.5417 111.362 82.5451 111.242 82.5726Z" fill="#E4E4E4"/>
                    <path d="M125.442 71.4158L97.3661 77.7323C97.2458 77.7594 97.132 77.8099 97.0313 77.8809C96.9305 77.952 96.8447 78.0422 96.7788 78.1464C96.6456 78.3568 96.6015 78.6115 96.6562 78.8544C96.7109 79.0974 96.8598 79.3087 97.0702 79.4418C97.2807 79.5749 97.5354 79.619 97.7783 79.5644L125.854 73.2478C125.975 73.2208 126.088 73.1703 126.189 73.0992C126.29 73.0282 126.376 72.938 126.442 72.8338C126.508 72.7296 126.552 72.6134 126.573 72.4919C126.595 72.3705 126.591 72.246 126.564 72.1257C126.537 72.0054 126.487 71.8916 126.416 71.7909C126.345 71.6901 126.255 71.6043 126.15 71.5384C126.046 71.4724 125.93 71.4277 125.808 71.4066C125.687 71.3856 125.563 71.3887 125.442 71.4158Z" fill="#E4E4E4"/>
                    <path d="M124.628 67.7984L96.5523 74.1149C96.432 74.1418 96.3181 74.1921 96.2172 74.263C96.1163 74.3339 96.0303 74.424 95.9643 74.5282C95.8982 74.6323 95.8534 74.7485 95.8323 74.87C95.8112 74.9915 95.8143 75.116 95.8414 75.2363C95.8684 75.3566 95.919 75.4704 95.9901 75.5712C96.0612 75.6719 96.1514 75.7577 96.2557 75.8235C96.36 75.8894 96.4762 75.934 96.5978 75.9549C96.7193 75.9757 96.8438 75.9724 96.9641 75.9451L125.04 69.6286C125.16 69.6016 125.274 69.5512 125.375 69.4803C125.476 69.4094 125.562 69.3193 125.628 69.2152C125.694 69.111 125.738 68.9949 125.759 68.8735C125.78 68.7521 125.777 68.6277 125.75 68.5074C125.723 68.3872 125.673 68.2734 125.602 68.1727C125.531 68.072 125.44 67.9863 125.336 67.9204C125.232 67.8546 125.116 67.8099 124.995 67.789C124.873 67.768 124.749 67.7712 124.628 67.7984Z" fill="#E4E4E4"/>
                    <path d="M107.909 67.7576L95.738 70.4957C95.6177 70.5228 95.5039 70.5733 95.4032 70.6443C95.3024 70.7154 95.2166 70.8055 95.1507 70.9097C95.0847 71.0139 95.04 71.1301 95.0189 71.2516C94.9979 71.3731 95.001 71.4975 95.0281 71.6178C95.0551 71.7381 95.1056 71.8519 95.1767 71.9527C95.2477 72.0535 95.3379 72.1393 95.4421 72.2052C95.5463 72.2711 95.6625 72.3159 95.784 72.3369C95.9054 72.3579 96.0299 72.3548 96.1502 72.3277L108.321 69.5896C108.441 69.5626 108.555 69.5121 108.656 69.441C108.756 69.37 108.842 69.2798 108.908 69.1756C108.974 69.0714 109.019 68.9552 109.04 68.8338C109.061 68.7123 109.058 68.5878 109.031 68.4675C109.004 68.3472 108.953 68.2334 108.882 68.1327C108.811 68.0319 108.721 67.9461 108.617 67.8802C108.512 67.8142 108.396 67.7695 108.275 67.7485C108.153 67.7274 108.029 67.7305 107.909 67.7576Z" fill="#E4E4E4"/>
                    <path d="M122.109 56.6008L94.0331 62.9174C93.7901 62.972 93.5788 63.121 93.4457 63.3314C93.3126 63.5418 93.2685 63.7965 93.3231 64.0395C93.3778 64.2824 93.5267 64.4937 93.7372 64.6268C93.9476 64.76 94.2023 64.8041 94.4452 64.7494L122.521 58.4328C122.642 58.4058 122.755 58.3553 122.856 58.2843C122.957 58.2132 123.043 58.123 123.109 58.0188C123.175 57.9146 123.219 57.7985 123.24 57.677C123.261 57.5555 123.258 57.431 123.231 57.3107C123.204 57.1905 123.154 57.0767 123.083 56.9759C123.012 56.8751 122.921 56.7893 122.817 56.7234C122.713 56.6575 122.597 56.6127 122.475 56.5917C122.354 56.5707 122.229 56.5738 122.109 56.6008Z" fill="#E6E6E6"/>
                    <path d="M121.295 52.9835L93.2192 59.3C93.0989 59.3271 92.9851 59.3776 92.8844 59.4486C92.7836 59.5197 92.6978 59.6098 92.6319 59.714C92.4987 59.9245 92.4546 60.1792 92.5093 60.4221C92.5639 60.6651 92.7129 60.8763 92.9233 61.0095C93.1337 61.1426 93.3884 61.1867 93.6314 61.132L121.708 54.8155C121.828 54.7884 121.942 54.7379 122.042 54.6669C122.143 54.5959 122.229 54.5057 122.295 54.4015C122.361 54.2973 122.406 54.1811 122.427 54.0596C122.448 53.9381 122.444 53.8137 122.417 53.6934C122.39 53.5731 122.34 53.4593 122.269 53.3585C122.198 53.2578 122.108 53.172 122.003 53.106C121.899 53.0401 121.783 52.9954 121.662 52.9743C121.54 52.9533 121.416 52.9564 121.295 52.9835Z" fill="#E6E6E6"/>
                    <path d="M104.575 52.9427L92.4049 55.6808C92.162 55.7354 91.9507 55.8844 91.8176 56.0948C91.6845 56.3052 91.6404 56.5599 91.695 56.8029C91.7497 57.0458 91.8986 57.2571 92.1091 57.3902C92.3195 57.5234 92.5742 57.5675 92.8171 57.5128L104.988 54.7747C105.108 54.7476 105.222 54.6971 105.323 54.6261C105.423 54.5551 105.509 54.4649 105.575 54.3607C105.641 54.2565 105.686 54.1403 105.707 54.0188C105.728 53.8973 105.725 53.7729 105.698 53.6526C105.671 53.5323 105.62 53.4185 105.549 53.3177C105.478 53.217 105.388 53.1311 105.284 53.0652C105.179 52.9993 105.063 52.9546 104.942 52.9335C104.82 52.9125 104.696 52.9156 104.575 52.9427Z" fill="#E6E6E6"/>
                    <path d="M42.5415 92.7976C42.2754 92.7979 42.0204 92.9038 41.8323 93.0919C41.6441 93.28 41.5383 93.535 41.538 93.8011V197.557C41.5383 197.823 41.6441 198.078 41.8322 198.266C42.0204 198.454 42.2754 198.56 42.5415 198.561H172.631C172.897 198.56 173.152 198.454 173.34 198.266C173.528 198.078 173.634 197.823 173.634 197.557V110.456C173.634 110.19 173.528 109.935 173.34 109.747C173.152 109.559 172.897 109.453 172.631 109.453H97.968C97.2101 109.453 96.4793 109.171 95.9187 108.661L79.1334 93.4094C78.7004 93.0153 78.1358 92.7971 77.5504 92.7976H42.5415Z" fill="#3F3D56"/>
                    <path d="M197.791 65.66L128.136 35.7139C126.268 34.9135 124.159 34.8866 122.271 35.6391C120.384 36.3916 118.872 37.8621 118.067 39.7279L81.5682 124.626L163.41 159.811C164.081 160.102 164.821 160.194 165.543 160.075L201.805 75.7282C202.606 73.8605 202.633 71.7516 201.88 69.8641C201.128 67.9766 199.657 66.4647 197.791 65.66Z" fill="#E6E6E6"/>
                    <path d="M168.75 59.9387L130.577 43.5275C128.877 42.7984 126.956 42.7735 125.238 43.4583C123.519 44.143 122.142 45.4816 121.408 47.1804L87.0922 127.001L159.779 158.25L184.77 100.12C187.964 92.6666 188.072 84.25 185.069 76.7172C182.065 69.1843 176.197 63.1502 168.75 59.9387Z" fill="white"/>
                    <path d="M150.443 145.838L102.523 125.236C102.318 125.147 102.097 125.1 101.874 125.097C101.65 125.093 101.428 125.134 101.221 125.217C101.013 125.299 100.824 125.422 100.664 125.578C100.503 125.734 100.375 125.92 100.287 126.125C100.199 126.33 100.152 126.551 100.149 126.775C100.146 126.998 100.187 127.22 100.27 127.427C100.353 127.635 100.476 127.824 100.632 127.984C100.789 128.144 100.975 128.272 101.18 128.36L149.101 148.961C149.306 149.05 149.526 149.097 149.75 149.1C149.973 149.104 150.195 149.063 150.403 148.98C150.611 148.898 150.8 148.775 150.96 148.619C151.12 148.463 151.248 148.277 151.336 148.072C151.425 147.867 151.472 147.646 151.474 147.422C151.477 147.199 151.436 146.977 151.353 146.77C151.27 146.562 151.147 146.373 150.991 146.213C150.835 146.053 150.649 145.925 150.443 145.838Z" fill="#E4E4E4"/>
                    <path d="M153.099 139.66L105.179 119.058C104.764 118.88 104.296 118.874 103.877 119.041C103.458 119.209 103.122 119.535 102.944 119.95C102.766 120.365 102.759 120.833 102.926 121.252C103.093 121.671 103.42 122.007 103.834 122.185L151.755 142.787C151.96 142.875 152.181 142.922 152.404 142.925C152.628 142.928 152.85 142.887 153.057 142.804C153.265 142.722 153.454 142.599 153.614 142.443C153.774 142.287 153.902 142.101 153.99 141.896C154.079 141.69 154.126 141.47 154.129 141.246C154.132 141.023 154.091 140.801 154.008 140.593C153.925 140.386 153.802 140.197 153.646 140.036C153.49 139.876 153.304 139.748 153.099 139.66Z" fill="#E4E4E4"/>
                    <path d="M128.606 121.815L107.833 112.884C107.628 112.796 107.407 112.749 107.184 112.746C106.961 112.743 106.739 112.783 106.531 112.866C106.324 112.949 106.135 113.071 105.975 113.227C105.815 113.383 105.687 113.569 105.598 113.774C105.51 113.979 105.463 114.2 105.46 114.423C105.457 114.647 105.499 114.868 105.581 115.076C105.664 115.283 105.787 115.472 105.943 115.632C106.099 115.792 106.285 115.92 106.49 116.008L127.263 124.939C127.468 125.027 127.689 125.074 127.912 125.077C128.135 125.08 128.357 125.039 128.565 124.957C128.772 124.874 128.961 124.751 129.122 124.596C129.282 124.44 129.409 124.254 129.498 124.049C129.586 123.844 129.633 123.623 129.636 123.4C129.639 123.176 129.598 122.954 129.515 122.747C129.432 122.54 129.309 122.35 129.153 122.191C128.997 122.031 128.811 121.903 128.606 121.815Z" fill="#E4E4E4"/>
                    <path d="M161.314 120.551L113.394 99.9496C112.979 99.7719 112.511 99.766 112.092 99.9333C111.674 100.101 111.338 100.427 111.16 100.842C110.982 101.256 110.976 101.724 111.142 102.143C111.309 102.562 111.635 102.898 112.05 103.076L159.97 123.678C160.175 123.767 160.396 123.814 160.62 123.817C160.844 123.821 161.066 123.78 161.274 123.697C161.481 123.614 161.671 123.491 161.831 123.335C161.992 123.179 162.12 122.993 162.208 122.788C162.296 122.582 162.343 122.361 162.346 122.138C162.349 121.914 162.308 121.692 162.225 121.484C162.142 121.277 162.019 121.087 161.862 120.927C161.706 120.767 161.52 120.639 161.314 120.551Z" fill="#E4E4E4"/>
                    <path d="M163.969 114.377L116.048 93.7754C115.843 93.6868 115.623 93.6396 115.399 93.6363C115.176 93.6331 114.954 93.6739 114.746 93.7565C114.538 93.8391 114.349 93.9618 114.189 94.1177C114.029 94.2735 113.901 94.4594 113.812 94.6647C113.724 94.8701 113.677 95.0908 113.674 95.3142C113.672 95.5377 113.713 95.7596 113.796 95.9671C113.879 96.1746 114.002 96.3638 114.158 96.5237C114.314 96.6836 114.5 96.8112 114.705 96.8992L162.626 117.501C162.831 117.59 163.052 117.637 163.275 117.64C163.499 117.643 163.72 117.602 163.928 117.52C164.136 117.437 164.325 117.315 164.485 117.159C164.646 117.003 164.773 116.817 164.862 116.612C164.95 116.406 164.997 116.186 165 115.962C165.003 115.739 164.961 115.517 164.878 115.309C164.796 115.102 164.673 114.913 164.516 114.753C164.36 114.593 164.174 114.465 163.969 114.377Z" fill="#E4E4E4"/>
                    <path d="M139.477 96.5287L118.704 87.5981C118.29 87.4201 117.821 87.414 117.402 87.5812C116.983 87.7484 116.647 88.0752 116.469 88.4897C116.291 88.9043 116.285 89.3726 116.452 89.7918C116.619 90.211 116.945 90.5467 117.36 90.725L138.133 99.6556C138.338 99.7439 138.559 99.791 138.782 99.794C139.006 99.7971 139.228 99.7561 139.435 99.6733C139.643 99.5906 139.832 99.4677 139.992 99.3118C140.153 99.1559 140.281 98.9699 140.369 98.7645C140.457 98.5592 140.504 98.3384 140.507 98.1149C140.51 97.8914 140.469 97.6695 140.386 97.4618C140.303 97.2542 140.18 97.0649 140.024 96.9048C139.868 96.7447 139.682 96.6169 139.477 96.5287Z" fill="#E4E4E4"/>
                    <path d="M172.185 95.2652L124.265 74.6634C123.85 74.4859 123.382 74.4802 122.964 74.6475C122.545 74.8148 122.21 75.1414 122.032 75.5557C121.854 75.9699 121.847 76.438 122.014 76.8569C122.18 77.2759 122.507 77.6116 122.921 77.7903L170.841 98.3921C171.046 98.4804 171.267 98.5275 171.491 98.5305C171.714 98.5336 171.936 98.4926 172.144 98.4098C172.351 98.3271 172.541 98.2042 172.701 98.0483C172.861 97.8924 172.989 97.7064 173.077 97.501C173.166 97.2957 173.213 97.0749 173.216 96.8514C173.219 96.6279 173.177 96.406 173.095 96.1983C173.012 95.9907 172.889 95.8014 172.733 95.6413C172.577 95.4812 172.391 95.3534 172.185 95.2652Z" fill="#239CFF"/>
                    <path d="M174.84 89.091L126.919 68.4893C126.505 68.3116 126.037 68.3057 125.618 68.473C125.199 68.6403 124.864 68.967 124.685 69.3813C124.507 69.7957 124.501 70.2638 124.668 70.6828C124.835 71.1019 125.161 71.4376 125.575 71.6162L173.495 92.2179C173.701 92.307 173.922 92.3546 174.146 92.3581C174.37 92.3615 174.592 92.3208 174.8 92.2382C175.008 92.1556 175.198 92.0327 175.359 91.8766C175.519 91.7206 175.647 91.5343 175.736 91.3286C175.824 91.1229 175.871 90.9018 175.874 90.6779C175.877 90.454 175.835 90.2318 175.752 90.0239C175.669 89.816 175.545 89.6266 175.389 89.4665C175.232 89.3065 175.046 89.1789 174.84 89.091Z" fill="#239CFF"/>
                    <path d="M150.348 71.2425L129.575 62.312C129.16 62.1339 128.692 62.1278 128.273 62.295C127.854 62.4622 127.518 62.789 127.34 63.2036C127.162 63.6181 127.156 64.0864 127.323 64.5056C127.49 64.9248 127.816 65.2605 128.231 65.4389L149.003 74.3694C149.209 74.4578 149.43 74.5048 149.653 74.5079C149.877 74.5109 150.099 74.4699 150.306 74.3872C150.514 74.3044 150.703 74.1816 150.863 74.0256C151.024 73.8697 151.151 73.6837 151.24 73.4784C151.328 73.273 151.375 73.0522 151.378 72.8287C151.381 72.6052 151.34 72.3833 151.257 72.1756C151.174 71.968 151.051 71.7787 150.895 71.6186C150.739 71.4585 150.553 71.3307 150.348 71.2425Z" fill="#239CFF"/>
                    <path d="M98.6314 96.496L57.8207 105.678C56.7273 105.925 55.7766 106.596 55.1773 107.543C54.5779 108.491 54.3787 109.637 54.6235 110.731L65.8142 160.472L113.764 149.684C114.158 149.597 114.519 149.398 114.803 149.111L103.685 99.6932C103.437 98.5998 102.767 97.6491 101.819 97.0497C100.872 96.4503 99.7254 96.2512 98.6314 96.496Z" fill="#E6E6E6"/>
                    <path d="M83.807 103.345L61.4417 108.377C60.446 108.602 59.5802 109.213 59.0342 110.075C58.4882 110.938 58.3066 111.982 58.5292 112.978L69.0506 159.744L111.637 150.163L103.975 116.105C102.988 111.741 100.31 107.947 96.5293 105.555C92.7484 103.163 88.1731 102.368 83.807 103.345Z" fill="white"/>
                    <path d="M103.448 147.642L75.3715 153.958C75.2511 153.985 75.1372 154.035 75.0363 154.106C74.9354 154.177 74.8495 154.267 74.7834 154.372C74.7174 154.476 74.6725 154.592 74.6515 154.713C74.6304 154.835 74.6334 154.959 74.6605 155.08C74.6876 155.2 74.7381 155.314 74.8092 155.415C74.8803 155.515 74.9706 155.601 75.0749 155.667C75.1791 155.733 75.2954 155.777 75.4169 155.798C75.5385 155.819 75.663 155.816 75.7832 155.788L103.859 149.472C103.98 149.445 104.094 149.395 104.195 149.324C104.296 149.253 104.382 149.163 104.448 149.059C104.514 148.955 104.559 148.838 104.58 148.717C104.601 148.595 104.598 148.471 104.571 148.35C104.544 148.23 104.493 148.116 104.422 148.015C104.351 147.915 104.261 147.829 104.156 147.763C104.052 147.697 103.936 147.653 103.814 147.632C103.692 147.611 103.568 147.614 103.448 147.642Z" fill="#E4E4E4"/>
                    <path d="M102.633 144.023L74.5572 150.339C74.3142 150.394 74.1029 150.543 73.9698 150.753C73.8367 150.964 73.7926 151.218 73.8472 151.461C73.9019 151.704 74.0508 151.915 74.2613 152.049C74.4717 152.182 74.7264 152.226 74.9694 152.171L103.045 145.855C103.288 145.8 103.5 145.651 103.633 145.441C103.766 145.23 103.81 144.975 103.755 144.732C103.701 144.49 103.552 144.278 103.341 144.145C103.131 144.012 102.876 143.968 102.633 144.023Z" fill="#E4E4E4"/>
                    <path d="M85.9139 143.984L73.7434 146.722C73.6232 146.749 73.5095 146.799 73.4089 146.87C73.3082 146.941 73.2225 147.031 73.1566 147.135C73.0908 147.239 73.046 147.355 73.025 147.477C73.004 147.598 73.0071 147.723 73.0342 147.843C73.0612 147.963 73.1116 148.077 73.1826 148.177C73.2536 148.278 73.3437 148.364 73.4478 148.429C73.5518 148.495 73.6679 148.54 73.7893 148.561C73.9106 148.582 74.0349 148.579 74.1551 148.552L86.3257 145.814C86.4461 145.787 86.5601 145.737 86.6611 145.666C86.7621 145.595 86.8481 145.505 86.9142 145.401C86.9804 145.297 87.0253 145.18 87.0464 145.059C87.0675 144.937 87.0645 144.813 87.0374 144.692C87.0103 144.572 86.9597 144.458 86.8886 144.357C86.8174 144.256 86.7271 144.171 86.6227 144.105C86.5183 144.039 86.402 143.994 86.2804 143.974C86.1587 143.953 86.0342 143.956 85.9139 143.984Z" fill="#E4E4E4"/>
                    <path d="M100.114 132.827L72.0384 139.143C71.9181 139.17 71.8043 139.221 71.7035 139.292C71.6027 139.363 71.5169 139.453 71.451 139.557C71.3179 139.768 71.2738 140.023 71.3284 140.265C71.3831 140.508 71.532 140.72 71.7425 140.853C71.9529 140.986 72.2076 141.03 72.4505 140.975L100.527 134.659C100.77 134.604 100.981 134.455 101.114 134.245C101.247 134.034 101.291 133.78 101.237 133.537C101.182 133.294 101.033 133.083 100.823 132.949C100.612 132.816 100.357 132.772 100.114 132.827Z" fill="#E4E4E4"/>
                    <path d="M99.3007 129.209L71.2246 135.526C71.1042 135.553 70.9903 135.603 70.8894 135.674C70.7885 135.745 70.7026 135.835 70.6365 135.939C70.5705 136.043 70.5256 136.16 70.5045 136.281C70.4835 136.403 70.4865 136.527 70.5136 136.647C70.5407 136.768 70.5912 136.881 70.6623 136.982C70.7334 137.083 70.8237 137.169 70.928 137.235C71.0322 137.3 71.1485 137.345 71.27 137.366C71.3916 137.387 71.516 137.383 71.6363 137.356L99.7124 131.04C99.8327 131.013 99.9465 130.962 100.047 130.891C100.148 130.82 100.234 130.73 100.3 130.626C100.366 130.522 100.411 130.406 100.432 130.285C100.453 130.163 100.45 130.039 100.422 129.918C100.395 129.798 100.345 129.684 100.274 129.584C100.203 129.483 100.113 129.397 100.009 129.331C99.9043 129.266 99.7882 129.221 99.6667 129.2C99.5453 129.179 99.4209 129.182 99.3007 129.209Z" fill="#E4E4E4"/>
                    <path d="M82.5809 129.169L70.4103 131.907C70.1674 131.961 69.9561 132.11 69.823 132.321C69.6898 132.531 69.6457 132.786 69.7004 133.029C69.755 133.272 69.904 133.483 70.1144 133.616C70.3248 133.749 70.5796 133.794 70.8225 133.739L82.993 131.001C83.236 130.946 83.4473 130.797 83.5804 130.587C83.7135 130.376 83.7576 130.122 83.703 129.879C83.6483 129.636 83.4994 129.424 83.2889 129.291C83.0785 129.158 82.8238 129.114 82.5809 129.169Z" fill="#E4E4E4"/>
                    <path d="M96.7815 118.012L68.7054 124.328C68.5851 124.355 68.4713 124.406 68.3705 124.477C68.2697 124.548 68.1839 124.638 68.118 124.742C67.9849 124.953 67.9408 125.208 67.9954 125.451C68.0501 125.693 68.199 125.905 68.4095 126.038C68.6199 126.171 68.8746 126.215 69.1175 126.16L97.1937 119.844C97.3139 119.817 97.4277 119.766 97.5285 119.695C97.6293 119.624 97.7151 119.534 97.781 119.43C97.8469 119.326 97.8917 119.21 97.9127 119.088C97.9337 118.967 97.9306 118.842 97.9036 118.722C97.8765 118.601 97.826 118.488 97.755 118.387C97.6839 118.286 97.5937 118.2 97.4896 118.134C97.3854 118.068 97.2692 118.024 97.1477 118.003C97.0262 117.982 96.9018 117.985 96.7815 118.012Z" fill="#E6E6E6"/>
                    <path d="M95.9676 114.395L67.8915 120.711C67.7712 120.738 67.6574 120.789 67.5567 120.86C67.4559 120.931 67.3701 121.021 67.3042 121.125C67.171 121.336 67.1269 121.59 67.1816 121.833C67.2363 122.076 67.3852 122.287 67.5956 122.421C67.806 122.554 68.0607 122.598 68.3037 122.543L96.3798 116.227C96.6228 116.172 96.834 116.023 96.9672 115.813C97.1003 115.602 97.1444 115.347 97.0897 115.104C97.0351 114.862 96.8861 114.65 96.6757 114.517C96.4653 114.384 96.2106 114.34 95.9676 114.395Z" fill="#E6E6E6"/>
                    <path d="M79.2478 114.354L67.0772 117.092C66.8343 117.146 66.623 117.295 66.4899 117.506C66.3568 117.716 66.3127 117.971 66.3673 118.214C66.422 118.457 66.5709 118.668 66.7814 118.801C66.9918 118.934 67.2465 118.979 67.4894 118.924L79.66 116.186C79.7803 116.159 79.8941 116.108 79.9948 116.037C80.0956 115.966 80.1814 115.876 80.2473 115.772C80.3133 115.668 80.358 115.551 80.379 115.43C80.4001 115.308 80.397 115.184 80.3699 115.064C80.3428 114.943 80.2923 114.83 80.2213 114.729C80.1503 114.628 80.0601 114.542 79.9559 114.476C79.8517 114.41 79.7355 114.366 79.614 114.345C79.4925 114.324 79.3681 114.327 79.2478 114.354Z" fill="#E6E6E6"/>
                    <path d="M41.6795 120.05C41.5477 120.05 41.4173 120.075 41.2955 120.126C41.1738 120.176 41.0632 120.25 40.97 120.343C40.8768 120.436 40.8029 120.547 40.7525 120.669C40.702 120.79 40.676 120.921 40.676 121.053C40.676 121.09 40.7069 198.364 40.7069 198.364C40.7344 198.609 40.8513 198.835 41.0353 199C41.2192 199.164 41.4573 199.255 41.7041 199.255H181.448C181.695 199.255 181.933 199.164 182.117 199C182.301 198.835 182.418 198.609 182.445 198.364L191.143 121.165C191.159 121.025 191.145 120.883 191.102 120.748C191.06 120.614 190.989 120.49 190.895 120.384C190.801 120.278 190.686 120.194 190.557 120.136C190.428 120.078 190.288 120.049 190.147 120.05L41.6795 120.05Z" fill="#3F3D56"/>
                    <path d="M51.5407 124.328C50.1229 124.332 48.7637 124.893 47.7569 125.892C46.75 126.89 46.1763 128.244 46.1599 129.662L46.3343 189.549C46.3281 190.259 46.4627 190.964 46.7304 191.622C46.998 192.281 47.3934 192.879 47.8937 193.384C48.394 193.889 48.9893 194.289 49.6452 194.563C50.3012 194.836 51.0047 194.977 51.7154 194.977H140.424C150.598 194.983 160.417 191.239 168.004 184.459C175.59 177.68 180.41 168.341 181.543 158.231L184.688 130.311C184.773 129.558 184.698 128.796 184.468 128.074C184.238 127.353 183.858 126.688 183.354 126.123C182.849 125.558 182.231 125.106 181.539 124.797C180.848 124.487 180.099 124.327 179.341 124.328H51.5407ZM187.481 124.328L187.466 123.981H187.481V124.328Z" fill="#239CFF"/>
                    <path d="M90.2897 169.195H55.9251C55.57 169.195 55.2295 169.054 54.9784 168.803C54.7273 168.552 54.5862 168.211 54.5862 167.856C54.5862 167.501 54.7273 167.16 54.9784 166.909C55.2295 166.658 55.57 166.517 55.9251 166.517H90.2897C92.0164 166.493 92.0336 169.219 90.2897 169.195Z" fill="#E4E4E4"/>
                    <path d="M136.583 176.198H55.9251C55.57 176.198 55.2295 176.057 54.9784 175.806C54.7273 175.555 54.5862 175.215 54.5862 174.86C54.5862 174.504 54.7273 174.164 54.9784 173.913C55.2295 173.662 55.57 173.521 55.9251 173.521H136.583C138.309 173.497 138.327 176.223 136.583 176.198Z" fill="#E4E4E4"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_103_48">
                    <rect width="300.349" height="200" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>                                        
                  <h2 class="inter text-xl font-semibold mt-10">Nenhum arquivo ou pasta disponível</h2>
                  <p class="inter">Faça o upload de arquivos ou crie pastas</p>           
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script>
  function openNewFolder() {
    const popup = document.querySelector("#popup_new_folder")

    popup.classList.remove("hidden")
  }

  function closeNewFolder() {
    const popup = document.querySelector("#popup_new_folder")

    popup.classList.add("hidden")
  }

  function createNewFolder() {
    const name_folder = document.querySelector("#name_folder")

    if (name_folder.value.length == 0) {
      name_folder.style.border = "1px solid #e00d0d;"
      return
    }

    fetch('/admin/file-manager/create-folder', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({name_folder: name_folder.value})
    })
    .then((response) => {
      if (response.ok) {
        location.reload()
      } else {
        alertMessage("error", "Erro ao criar pasta")
      }
    })
    .catch((error) => {
      alertMessage("error", "Tente novamente mais tarde")
    })
  }


  function openUploadArchive() {
    const popup = document.querySelector("#popup_upload_archive")

    popup.classList.remove("hidden")
  }

  function closeUploadArchive() {
    const popup = document.querySelector("#popup_upload_archive")

    popup.classList.add("hidden")
  }

  document.getElementById('uploadForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(this);

    fetch('/admin/file-manager/upload-archive', {
      method: 'POST',
      body: formData,
    })
    .then(response => response.text())
    .then(message => {
      location.reload()
    })
    .catch(error => {
      console.error('Erro ao enviar arquivo:', error);
    });
  });
</script>
</html>