<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluBee | Editar usuário</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="/css/platform/notify.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
  <%- include('../partials/admin/sidebar-platform', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/admin/nav-platform', {isAdmin: isAdmin, title: "Editar usuário", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-8 px-12 fade-in">
      <div class="alert mt-10" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="bg-white rounded-xl shadow p-4 px-5">
        <div class="flex space-x-2 items-center border-b pb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.1075 17.077C10.1075 15.8308 10.5229 14.4001 11.169 13.2924C11.9536 11.9078 12.8305 11.3539 13.5229 10.3385C14.6767 8.63084 14.9075 6.18469 14.169 4.33853C13.4305 2.44623 11.6767 1.33853 9.64593 1.38469C7.61516 1.43084 5.95362 2.677 5.30747 4.5693C4.56901 6.64623 4.89208 9.13853 6.55362 10.7078C7.24593 11.3539 7.89208 12.3693 7.52285 13.3385C7.19977 14.2616 6.09208 14.677 5.30747 15.0462C3.50747 15.8308 1.33824 16.9385 0.969005 19.0616C0.599775 20.8155 1.79977 22.6155 3.69208 22.6155H11.5382C11.9075 22.6155 12.1382 22.1539 11.9075 21.877C10.7536 20.5385 10.1075 18.8308 10.1075 17.077Z" fill="#752A7A"/>
            <path d="M17.4916 11.5386C14.4454 11.5386 11.9531 14.0309 11.9531 17.077C11.9531 20.1232 14.4454 22.6155 17.4916 22.6155C20.5377 22.6155 23.03 20.1232 23.03 17.077C23.03 14.0309 20.5377 11.5386 17.4916 11.5386ZM20.307 17.5386C20.307 17.8155 20.0762 18.0001 19.7993 18.0001H18.4608V19.3847C18.4608 19.6617 18.23 19.8463 17.9531 19.8463H17.03C16.7531 19.8463 16.6147 19.6617 16.6147 19.3847V18.0001H15.1839C14.907 18.0001 14.7685 17.8155 14.7685 17.5386V16.6155C14.7685 16.3386 14.907 16.154 15.1839 16.154H16.6147V14.7693C16.6147 14.4924 16.7531 14.3078 17.03 14.3078H17.9531C18.23 14.3078 18.4608 14.4924 18.4608 14.7693V16.154H19.7993C20.0762 16.154 20.307 16.3386 20.307 16.6155V17.5386Z" fill="#752A7A"/>
          </svg>              
          <h2 class="text-xl color-purple inter font-bold">Editar usuário</h2>
        </div>

        <div class="mt-6">
          <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Nome</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.83463 13.3333H14.168C16.4692 13.3333 18.3346 15.1988 18.3346 17.5C18.3346 17.9602 17.9615 18.3333 17.5013 18.3333C17.0739 18.3333 16.7217 18.0116 16.6736 17.5971L16.6637 17.3531C16.5905 16.0893 15.5786 15.0774 14.3149 15.0042L14.168 15H5.83463C4.45392 15 3.33464 16.1192 3.33464 17.5C3.33464 17.9602 2.96154 18.3333 2.5013 18.3333C2.04106 18.3333 1.66797 17.9602 1.66797 17.5C1.66797 15.2593 3.43656 13.4318 5.65389 13.3371L5.83463 13.3333ZM10.0013 1.66663C12.7627 1.66663 15.0013 3.9052 15.0013 6.66663C15.0013 9.42805 12.7627 11.6666 10.0013 11.6666C7.23988 11.6666 5.0013 9.42805 5.0013 6.66663C5.0013 3.9052 7.23988 1.66663 10.0013 1.66663ZM10.0013 3.33329C8.16035 3.33329 6.66797 4.82568 6.66797 6.66663C6.66797 8.50757 8.16035 9.99996 10.0013 9.99996C11.8422 9.99996 13.3346 8.50757 13.3346 6.66663C13.3346 4.82568 11.8422 3.33329 10.0013 3.33329Z" fill="#767676"/>
              </svg>                                                                               
            </div>
            <input type="text" name="name" value="<%= find.name %>" id="name" class="block w-full rounded-lg inter py-1.5 mt-2 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple" placeholder="Insira o nome">
          </div>
        </div>

        <div class="mt-8">
          <label for="cpf" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">CPF</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5386 19.7496H4.29688V18.4056H23.5386V19.7496Z" fill="#767676"/>
                <path d="M7.95 15.0042V8.40894H6.42969L4.29688 9.83628V11.3019L6.33125 9.95112H6.42969V15.0042H4.30235V16.3003H9.96797V15.0042H7.95Z" fill="#767676"/>
                <path d="M10.9961 10.7879V10.8207H12.4399V10.7824C12.4399 10.0277 12.9648 9.51365 13.7469 9.51365C14.5125 9.51365 15.0102 9.96208 15.0102 10.6457C15.0102 11.1762 14.7313 11.5918 13.654 12.6691L11.0836 15.212V16.3003H16.6454V14.9933H13.1945V14.8949L14.7368 13.4238C16.0711 12.1441 16.525 11.4058 16.525 10.5418C16.525 9.17459 15.4258 8.25037 13.7961 8.25037C12.139 8.25037 10.9961 9.27849 10.9961 10.7879Z" fill="#767676"/>
                <path d="M19.7883 12.8386H20.7289C21.6368 12.8386 22.2219 13.2926 22.2219 13.9981C22.2219 14.6926 21.6476 15.1355 20.7454 15.1355C19.8976 15.1355 19.3289 14.7089 19.2742 14.0363H17.8359C17.9071 15.5129 19.0664 16.4589 20.789 16.4589C22.5555 16.4589 23.7641 15.5019 23.7641 14.1019C23.7641 13.0574 23.1297 12.3574 22.0633 12.2316V12.1332C22.9273 11.9582 23.4578 11.2746 23.4578 10.3449C23.4578 9.09803 22.3696 8.25037 20.7672 8.25037C19.0992 8.25037 18.0438 9.15818 17.989 10.6402H19.3727C19.4219 9.94569 19.9414 9.50272 20.718 9.50272C21.511 9.50272 22.0141 9.91834 22.0141 10.5746C22.0141 11.2363 21.5 11.6684 20.7125 11.6684H19.7883V12.8386Z" fill="#767676"/>
              </svg>                                                
            </div>
            <input type="text" name="cpf" value="<%= find.cpf %>" id="cpf" class="block w-full rounded-lg inter py-1.5 mt-2 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple" placeholder="Insira o CPF">
          </div>
        </div>

        <div class="mt-8">
          <label for="number" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Número de telefone</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.4986 12.5V15.775C17.5012 16.0158 17.4515 16.2543 17.3531 16.474C17.2546 16.6938 17.1097 16.8896 16.9284 17.048C16.747 17.2064 16.5335 17.3236 16.3025 17.3915C16.0715 17.4595 15.8285 17.4766 15.5903 17.4417C12.2877 17.0175 9.22023 15.5064 6.87108 13.1467C4.52194 10.787 3.02469 7.71276 2.61527 4.40836C2.58046 4.17082 2.59737 3.92856 2.66486 3.69816C2.73235 3.46776 2.84882 3.25466 3.00629 3.07344C3.16377 2.89223 3.35854 2.74717 3.57727 2.6482C3.796 2.54923 4.03353 2.49869 4.27361 2.50003H7.49861C7.70462 2.49878 7.90379 2.57388 8.05769 2.71085C8.21158 2.84781 8.30928 3.03693 8.33194 3.24169C8.41464 4.33384 8.69709 5.40153 9.16527 6.39169C9.24556 6.57922 9.25427 6.78967 9.18976 6.98319C9.12526 7.17671 8.99201 7.33984 8.81527 7.44169L8.09861 7.85003C7.99531 7.90684 7.90524 7.98493 7.83435 8.07913C7.76346 8.17333 7.71336 8.28149 7.68737 8.39649C7.66138 8.51148 7.66008 8.63068 7.68357 8.74621C7.70705 8.86174 7.75478 8.97097 7.82361 9.06669C8.64805 10.2743 9.69096 11.3173 10.8986 12.1417C10.9943 12.2105 11.1036 12.2582 11.2191 12.2817C11.3346 12.3052 11.4538 12.3039 11.5688 12.2779C11.6838 12.2519 11.792 12.2018 11.8862 12.131C11.9804 12.0601 12.0585 11.97 12.1153 11.8667L12.5236 11.15C12.6315 10.971 12.8028 10.839 13.0035 10.7804C13.2042 10.7217 13.4196 10.7406 13.6069 10.8334C14.5971 11.3015 15.6648 11.584 16.7569 11.6667C16.9617 11.6893 17.1508 11.7871 17.2878 11.9409C17.4248 12.0948 17.4999 12.294 17.4986 12.5Z" stroke="#767676" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                                                
            </div>
            <input type="text" name="number" value="<%= find.number %>" id="number" class="block w-full rounded-lg inter py-1.5 mt-2 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple" placeholder="Insira o telefone">
          </div>
        </div>

        <div class="mt-8">
          <label for="email" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Email</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4154 3.66663C18.9341 3.66663 20.1654 4.89784 20.1654 6.41663V15.5833C20.1654 17.1021 18.9341 18.3333 17.4154 18.3333H4.58203C3.06325 18.3333 1.83203 17.1021 1.83203 15.5833V6.41663C1.83203 4.89784 3.06325 3.66663 4.58203 3.66663H17.4154ZM18.332 6.71729L11.6023 12.6065C11.2855 12.8837 10.8255 12.9068 10.4848 12.6758L10.3951 12.6065L3.66536 6.71821V15.5833C3.66536 16.0896 4.07577 16.5 4.58203 16.5H17.4154C17.9216 16.5 18.332 16.0896 18.332 15.5833V6.71729ZM16.9387 5.49996H5.05686L10.9987 10.6986L16.9387 5.49996Z" fill="#767676"/>
              </svg>                                                
            </div>
            <input type="text" name="email" value="<%= find.email %>" id="email" class="block w-full rounded-lg inter py-1.5 mt-2 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple" placeholder="Insira o email">
          </div>
        </div>

        <div class="mt-8">
          <label for="password" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Senha</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_129_84)">
                <path d="M16.3698 18.0865H2.63137C1.68137 18.0865 0.914062 17.3192 0.914062 16.3692V2.63076C0.914062 1.68076 1.68137 0.913452 2.63137 0.913452H16.3698C17.3198 0.913452 18.0871 1.68076 18.0871 2.63076V16.3692C18.0871 17.2827 17.3198 18.0865 16.3698 18.0865ZM3.25252 3.76345V15.2C3.25252 15.5288 3.50829 15.7846 3.83714 15.7846H15.2371C15.566 15.7846 15.8218 15.5288 15.8218 15.2V3.76345C15.8218 3.43461 15.566 3.17884 15.2371 3.17884H3.8006C3.50829 3.21537 3.25252 3.47114 3.25252 3.76345Z" fill="#767676"/>
                <path d="M14.1776 8.69612L13.8487 7.59997C13.7391 7.30766 13.4468 7.12497 13.118 7.23458L10.6334 8.03843V5.59035C10.6334 5.26151 10.3776 5.00574 10.0487 5.00574H8.91605C8.5872 5.00574 8.33143 5.26151 8.33143 5.59035V8.03843L5.91989 7.23458C5.62759 7.12497 5.29874 7.30766 5.18912 7.59997L4.86028 8.69612C4.75066 8.98843 4.93336 9.31728 5.22566 9.42689L7.49105 10.1577L5.84682 12.3865C5.66412 12.6423 5.7372 13.0077 5.99297 13.1904L6.94297 13.848C7.19874 14.0307 7.56412 13.9577 7.74682 13.7019L9.5372 11.2173L11.3276 13.7019C11.5103 13.9577 11.8757 14.0307 12.1314 13.848L13.0814 13.1904C13.3372 13.0077 13.4103 12.6423 13.2276 12.3865L11.5834 10.1211L13.8122 9.39035C14.1045 9.31728 14.2507 9.02497 14.1776 8.69612Z" fill="#767676"/>
                </g>
                <defs>
                <clipPath id="clip0_129_84">
                <rect width="19" height="19" fill="white"/>
                </clipPath>
                </defs>
              </svg>                                                
            </div>
            <input type="password" name="password" value="<%= find.password %>" id="password" class="block w-full rounded-lg inter py-1.5 mt-2 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple" placeholder="Insira a sua senha">
          </div>
        </div>

        <div class="mt-8">
          <label for="type_account" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Tipo de conta do usuário:</label>
          <select name="type_account" id="type_account" class="block w-full rounded-lg inter py-2 mt-2 px-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-purple">
            <% if (find.type_account == "Basico") { %>
              <option selected value="Basico">Básico</option>
              <option value="Pro">Pro</option>
              <option value="Avançado">Avançado</option>
            <% } else if (find.type_account == "Pro") { %>
              <option value="Basico">Básico</option>
              <option selected value="Pro">Pro</option>
              <option value="Avançado">Avançado</option>
            <% } else if (find.type_account == "Avançado") { %>
              <option value="Basico">Básico</option>
              <option value="Pro">Pro</option>
              <option selected value="Avançado">Avançado</option>
            <% } %>
          </select>
        </div>

        <div class="mt-8">
          <label class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Tipo de usuário:</label>
          <div class="flex mt-2">
            <% if (find.isAdmin) { %>
              <div class="flex items-center">
                <input name="admin" checked id="admin-true" value="yes" tabindex="1" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600">
                <label for="admin" class="ml-3 block text-sm font-medium leading-6 text-gray-900 inter">Administrador</label>
              </div>

              <div class="flex items-center ml-6">
                <input name="admin" id="admin-false" value="no" tabindex="2" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600">
                <label for="admin" class="ml-3 block text-sm font-medium leading-6 text-gray-900 inter">Usuário normal</label>
              </div>
            <% } else { %>
              <div class="flex items-center">
                <input name="admin" id="admin-true" value="yes" tabindex="1" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600">
                <label for="admin" class="ml-3 block text-sm font-medium leading-6 text-gray-900 inter">Administrador</label>
              </div>

              <div class="flex items-center ml-6">
                <input name="admin" id="admin-false" value="no" tabindex="2" type="radio" checked class="h-4 w-4 border-gray-300 text-indigo-600">
                <label for="admin" class="ml-3 block text-sm font-medium leading-6 text-gray-900 inter">Usuário normal</label>
              </div>
            <% } %>
          </div>
        </div>

        <div>
          <button class="w-full py-3 inter bg-purple text-white text-sm rounded-lg mt-8" onclick="saveUser('<%= find._id %>')">Atualizar usuário</button>
        </div>
      </div>
    </main>
  </div>
</body>

<script>
  const _0x1b407a=_0x55ef;(function(_0x45368f,_0x32c60f){const _0x57b1ff=_0x55ef,_0x1aa6c9=_0x45368f();while(!![]){try{const _0x4650ff=-parseInt(_0x57b1ff(0x1b2))/(-0x404*0x7+0xa1f*-0x1+0x263c)+-parseInt(_0x57b1ff(0x14d))/(0x1a01+-0x746+-0x12b9)*(-parseInt(_0x57b1ff(0x152))/(0x1db*-0x9+-0x18d0+0x2986))+parseInt(_0x57b1ff(0x171))/(-0xb65*-0x1+-0x7a9*0x2+0x3f1*0x1)+parseInt(_0x57b1ff(0x161))/(0x15f0+-0x1f3*-0x5+0x6*-0x547)+parseInt(_0x57b1ff(0x1ba))/(0x7bf+-0x1*-0x247b+-0x3*0xebc)+parseInt(_0x57b1ff(0x160))/(0x4*0xd6+-0x1*-0x1d84+-0x20d5)+-parseInt(_0x57b1ff(0x146))/(0x1436+0xe4f+-0x1b*0x147);if(_0x4650ff===_0x32c60f)break;else _0x1aa6c9['push'](_0x1aa6c9['shift']());}catch(_0x175b69){_0x1aa6c9['push'](_0x1aa6c9['shift']());}}}(_0x2d51,0x11*-0xd5a1+0x775ec+0x14d012));function _0x2d51(){const _0x924f02=['mportant','2s;','#e00d0d\x20!i','one','onpwT','uaNmb','1367158PHHbOx','querySelec','value','flex','osflu','select','YtSwA','img','6962220vunlab','CxRjZ','x\x20solid\x20#e','wAbGM','25837840SVSwOG','#admin-tru','display:\x20n','checked','src','QuKkG','tify','4178uNhLKq','push','Tente\x20nova','lbykh','VBMrw','927yzQGQV','/Bulk/erro','applicatio','ouPnE','ent','tor','vFqRo','Erro\x20ao\x20at','om\x20sucesso','stringify','users/upda','ualizar\x20us','PUT','#name','7586852mLOzZT','5768320bQEKcG','Usuário\x20at','XegVW','00d0d\x20!imp','vvQjK','color','mFOPA','viooI','innerText','qAZRv','TJeYa','r.png','/Bulk/chec','PJHIP','#admin-fal','QgFUh','5906920ukvJXC','ualizado\x20c','#password','FTXHD','ZuwNH','YXxkj','qdgeE','QFKzr','\x20tarde','TURdL','mFrCx','OyJYy','createElem','CtQKU','LWLiH','border:\x202p','.error','#cpf','JtSRu','mente\x20mais','appendChil','animation:','QgmXm','n/json','error','innerHTML','pBgmH','/platform/','olqiE','#e00d0d','catch','oENYa','message-no','.alert','border','#number','hIjGj','Xdwas','then','unt','display','2px\x20solid\x20','\x20slideoff\x20','/img/admin','ked.png','height','#email','te/','success','#type_acco','add','wNUlS','classList','width','uário','ortant','YaZzr','length','style'];_0x2d51=function(){return _0x924f02;};return _0x2d51();}const name=document[_0x1b407a(0x1b3)+_0x1b407a(0x157)](_0x1b407a(0x15f)),cpf=document[_0x1b407a(0x1b3)+_0x1b407a(0x157)](_0x1b407a(0x182)),email=document[_0x1b407a(0x1b3)+_0x1b407a(0x157)](_0x1b407a(0x19f)),password=document[_0x1b407a(0x1b3)+_0x1b407a(0x157)](_0x1b407a(0x173)),number=document[_0x1b407a(0x1b3)+_0x1b407a(0x157)](_0x1b407a(0x194)),type=document[_0x1b407a(0x1b3)+_0x1b407a(0x157)](_0x1b407a(0x1a2)+_0x1b407a(0x198)),adminTrue=document[_0x1b407a(0x1b3)+_0x1b407a(0x157)](_0x1b407a(0x147)+'e'),adminFalse=document[_0x1b407a(0x1b3)+_0x1b407a(0x157)](_0x1b407a(0x16f)+'se');function _0x55ef(_0x4def84,_0x310137){const _0xb2536d=_0x2d51();return _0x55ef=function(_0x11dea9,_0x8b033b){_0x11dea9=_0x11dea9-(-0x1cd1+-0x173*-0x12+-0x2*-0x1ff);let _0x2fa991=_0xb2536d[_0x11dea9];return _0x2fa991;},_0x55ef(_0x4def84,_0x310137);}let admin=![];function alert_message(_0x35e561,_0x4ffcea){const _0x20d94c=_0x1b407a,_0x4eca26={'viooI':_0x20d94c(0x148)+_0x20d94c(0x1af),'vvQjK':_0x20d94c(0x186)+_0x20d94c(0x19b)+_0x20d94c(0x1ad),'ouPnE':function(_0x527604,_0x1d3c23,_0x59da32){return _0x527604(_0x1d3c23,_0x59da32);},'pBgmH':function(_0x262620,_0x949c8f){return _0x262620==_0x949c8f;},'QgmXm':_0x20d94c(0x189),'YXxkj':_0x20d94c(0x181),'olqiE':_0x20d94c(0x1b5),'ZuwNH':_0x20d94c(0x1b9),'Xdwas':_0x20d94c(0x19c)+_0x20d94c(0x153)+_0x20d94c(0x16c),'TJeYa':_0x20d94c(0x191)+_0x20d94c(0x14c),'YtSwA':_0x20d94c(0x1a1),'oENYa':_0x20d94c(0x192),'OyJYy':_0x20d94c(0x19c)+_0x20d94c(0x16d)+_0x20d94c(0x19d)};if(_0x4eca26[_0x20d94c(0x18b)](_0x35e561,_0x4eca26[_0x20d94c(0x187)])){const _0x34e6b3=document[_0x20d94c(0x1b3)+_0x20d94c(0x157)](_0x4eca26[_0x20d94c(0x176)]);_0x34e6b3[_0x20d94c(0x1ab)][_0x20d94c(0x199)]=_0x4eca26[_0x20d94c(0x18d)],_0x34e6b3[_0x20d94c(0x18a)]='';const _0x185f0b=document[_0x20d94c(0x17d)+_0x20d94c(0x156)]('p'),_0x563311=document[_0x20d94c(0x17d)+_0x20d94c(0x156)](_0x4eca26[_0x20d94c(0x175)]);_0x563311[_0x20d94c(0x1a6)]='28',_0x563311[_0x20d94c(0x19e)]='28',_0x563311[_0x20d94c(0x14a)]=_0x4eca26[_0x20d94c(0x196)],_0x185f0b[_0x20d94c(0x1a5)][_0x20d94c(0x1a3)](_0x4eca26[_0x20d94c(0x16b)]),_0x185f0b[_0x20d94c(0x169)]=_0x4ffcea,_0x34e6b3[_0x20d94c(0x185)+'d'](_0x563311),_0x34e6b3[_0x20d94c(0x185)+'d'](_0x185f0b),_0x4eca26[_0x20d94c(0x155)](setTimeout,()=>{const _0x452fef=_0x20d94c,_0x3cba92={'CxRjZ':_0x4eca26[_0x452fef(0x168)]};_0x34e6b3[_0x452fef(0x1ab)]=_0x4eca26[_0x452fef(0x165)],_0x4eca26[_0x452fef(0x155)](setTimeout,()=>{const _0x110982=_0x452fef;_0x34e6b3[_0x110982(0x1ab)]=_0x3cba92[_0x110982(0x143)];},0x14db+0x1*-0x1f97+0x4*0x377);},-0x6c5*-0x2+0x1263+0x1*-0x181d);}else{if(_0x4eca26[_0x20d94c(0x18b)](_0x35e561,_0x4eca26[_0x20d94c(0x1b8)])){const _0x6d1351=document[_0x20d94c(0x1b3)+_0x20d94c(0x157)](_0x4eca26[_0x20d94c(0x190)]);_0x6d1351[_0x20d94c(0x1ab)][_0x20d94c(0x199)]=_0x4eca26[_0x20d94c(0x18d)],_0x6d1351[_0x20d94c(0x18a)]='';const _0x45737c=document[_0x20d94c(0x17d)+_0x20d94c(0x156)]('p'),_0x2a249a=document[_0x20d94c(0x17d)+_0x20d94c(0x156)](_0x4eca26[_0x20d94c(0x175)]);_0x2a249a[_0x20d94c(0x1a6)]='28',_0x2a249a[_0x20d94c(0x19e)]='28',_0x2a249a[_0x20d94c(0x14a)]=_0x4eca26[_0x20d94c(0x17c)],_0x45737c[_0x20d94c(0x1a5)][_0x20d94c(0x1a3)](_0x4eca26[_0x20d94c(0x16b)]),_0x45737c[_0x20d94c(0x169)]=_0x4ffcea,_0x6d1351[_0x20d94c(0x185)+'d'](_0x2a249a),_0x6d1351[_0x20d94c(0x185)+'d'](_0x45737c),_0x4eca26[_0x20d94c(0x155)](setTimeout,()=>{const _0x5e0cf1=_0x20d94c,_0x384d3d={'FTXHD':_0x4eca26[_0x5e0cf1(0x168)]};_0x6d1351[_0x5e0cf1(0x1ab)]=_0x4eca26[_0x5e0cf1(0x165)],_0x4eca26[_0x5e0cf1(0x155)](setTimeout,()=>{const _0x2b2eb0=_0x5e0cf1;_0x6d1351[_0x2b2eb0(0x1ab)]=_0x384d3d[_0x2b2eb0(0x174)];},-0x22be*0x1+-0x1e9e+0x1*0x447c);},0x2*0xecf+0x13d0+-0x299e);}}}function saveUser(_0x48b830){const _0x11aeb4=_0x1b407a,_0x4dfe0a={'VBMrw':function(_0x2188e9,_0x36f463,_0x444001){return _0x2188e9(_0x36f463,_0x444001);},'wAbGM':_0x11aeb4(0x1a1),'osflu':_0x11aeb4(0x162)+_0x11aeb4(0x172)+_0x11aeb4(0x15a)+'.','qAZRv':_0x11aeb4(0x189),'XegVW':_0x11aeb4(0x159)+_0x11aeb4(0x15d)+_0x11aeb4(0x1a7),'YaZzr':_0x11aeb4(0x14f)+_0x11aeb4(0x184)+_0x11aeb4(0x179),'hIjGj':function(_0x566b62,_0x510878){return _0x566b62==_0x510878;},'mFrCx':_0x11aeb4(0x180)+_0x11aeb4(0x144)+_0x11aeb4(0x164)+_0x11aeb4(0x1a8),'CtQKU':function(_0x2f9445,_0x47ea7e){return _0x2f9445==_0x47ea7e;},'mFOPA':_0x11aeb4(0x19a)+_0x11aeb4(0x18e),'uaNmb':function(_0x3adf97,_0x5faa54){return _0x3adf97==_0x5faa54;},'wNUlS':function(_0x19de12,_0x3900f6){return _0x19de12==_0x3900f6;},'JtSRu':function(_0x17749e,_0x8fc9fe){return _0x17749e==_0x8fc9fe;},'QuKkG':_0x11aeb4(0x1b7),'QgFUh':function(_0x31f627,_0x569280){return _0x31f627==_0x569280;},'TURdL':_0x11aeb4(0x1ae)+_0x11aeb4(0x1ac),'qdgeE':function(_0x4d7127,_0x35ca53){return _0x4d7127==_0x35ca53;},'lbykh':function(_0x22572d,_0x3cd19e){return _0x22572d==_0x3cd19e;},'vFqRo':function(_0x5a021b,_0x1b31aa){return _0x5a021b==_0x1b31aa;},'onpwT':function(_0x2af71f,_0x424ea2){return _0x2af71f+_0x424ea2;},'LWLiH':_0x11aeb4(0x18c)+_0x11aeb4(0x15c)+_0x11aeb4(0x1a0),'PJHIP':_0x11aeb4(0x15e),'QFKzr':_0x11aeb4(0x154)+_0x11aeb4(0x188)},_0x19eee7=[];_0x4dfe0a[_0x11aeb4(0x195)](name[_0x11aeb4(0x1b4)][_0x11aeb4(0x1aa)],0xe83*0x2+0x26c5+-0x43cb)&&(name[_0x11aeb4(0x1ab)]=_0x4dfe0a[_0x11aeb4(0x17b)],_0x19eee7[_0x11aeb4(0x14e)](_0x4dfe0a[_0x11aeb4(0x16a)])),_0x4dfe0a[_0x11aeb4(0x17e)](password[_0x11aeb4(0x1b4)][_0x11aeb4(0x1aa)],0x472*-0x7+0x4ef*-0x5+0x37c9*0x1)&&(password[_0x11aeb4(0x1ab)][_0x11aeb4(0x193)]=_0x4dfe0a[_0x11aeb4(0x167)],_0x19eee7[_0x11aeb4(0x14e)](_0x4dfe0a[_0x11aeb4(0x16a)])),_0x4dfe0a[_0x11aeb4(0x1b1)](cpf[_0x11aeb4(0x1b4)][_0x11aeb4(0x1aa)],-0x3d6+0x1*0x1f55+-0x1*0x1b7f)&&(password[_0x11aeb4(0x1ab)][_0x11aeb4(0x193)]=_0x4dfe0a[_0x11aeb4(0x167)],_0x19eee7[_0x11aeb4(0x14e)](_0x4dfe0a[_0x11aeb4(0x16a)])),_0x4dfe0a[_0x11aeb4(0x1a4)](email[_0x11aeb4(0x1b4)][_0x11aeb4(0x1aa)],0x1*-0xe9f+-0x617+0x14b6)&&(email[_0x11aeb4(0x1ab)][_0x11aeb4(0x193)]=_0x4dfe0a[_0x11aeb4(0x167)],_0x19eee7[_0x11aeb4(0x14e)](_0x4dfe0a[_0x11aeb4(0x16a)])),_0x4dfe0a[_0x11aeb4(0x195)](number[_0x11aeb4(0x1b4)][_0x11aeb4(0x1aa)],-0xa3*0x31+0x2267*0x1+-0x334)&&(number[_0x11aeb4(0x1ab)][_0x11aeb4(0x193)]=_0x4dfe0a[_0x11aeb4(0x167)],_0x19eee7[_0x11aeb4(0x14e)](_0x4dfe0a[_0x11aeb4(0x16a)])),_0x4dfe0a[_0x11aeb4(0x183)](type[_0x11aeb4(0x1b4)],_0x4dfe0a[_0x11aeb4(0x14b)])&&(type[_0x11aeb4(0x1ab)][_0x11aeb4(0x193)]=_0x4dfe0a[_0x11aeb4(0x167)],_0x19eee7[_0x11aeb4(0x14e)](_0x4dfe0a[_0x11aeb4(0x16a)])),_0x4dfe0a[_0x11aeb4(0x170)](adminTrue[_0x11aeb4(0x149)],![])&&_0x4dfe0a[_0x11aeb4(0x17e)](adminFalse[_0x11aeb4(0x149)],![])&&(p_false[_0x11aeb4(0x166)]=_0x4dfe0a[_0x11aeb4(0x17a)],p_true[_0x11aeb4(0x166)]=_0x4dfe0a[_0x11aeb4(0x17a)],_0x19eee7[_0x11aeb4(0x14e)](_0x4dfe0a[_0x11aeb4(0x16a)])),_0x4dfe0a[_0x11aeb4(0x177)](adminFalse[_0x11aeb4(0x149)],![])&&(admin=![]),_0x4dfe0a[_0x11aeb4(0x150)](adminTrue[_0x11aeb4(0x149)],!![])&&(admin=!![]),_0x4dfe0a[_0x11aeb4(0x158)](_0x19eee7[_0x11aeb4(0x1aa)],0x6*0x642+0x21ca+-0x2e*0x18d)&&_0x4dfe0a[_0x11aeb4(0x151)](fetch,_0x4dfe0a[_0x11aeb4(0x1b0)](_0x4dfe0a[_0x11aeb4(0x17f)],_0x48b830),{'method':_0x4dfe0a[_0x11aeb4(0x16e)],'headers':{'Content-Type':_0x4dfe0a[_0x11aeb4(0x178)]},'body':JSON[_0x11aeb4(0x15b)]({'name':name[_0x11aeb4(0x1b4)],'cpf':cpf[_0x11aeb4(0x1b4)],'email':email[_0x11aeb4(0x1b4)],'password':password[_0x11aeb4(0x1b4)],'number':number[_0x11aeb4(0x1b4)],'admin':admin,'type_account':type[_0x11aeb4(0x1b4)]})})[_0x11aeb4(0x197)](_0x42400c=>{const _0xafcf71=_0x11aeb4;_0x42400c['ok']?_0x4dfe0a[_0xafcf71(0x151)](alert_message,_0x4dfe0a[_0xafcf71(0x145)],_0x4dfe0a[_0xafcf71(0x1b6)]):_0x4dfe0a[_0xafcf71(0x151)](alert_message,_0x4dfe0a[_0xafcf71(0x16a)],_0x4dfe0a[_0xafcf71(0x163)]);})[_0x11aeb4(0x18f)](_0x4d4529=>{const _0x50f718=_0x11aeb4;_0x4dfe0a[_0x50f718(0x151)](alert_message,_0x4dfe0a[_0x50f718(0x16a)],_0x4dfe0a[_0x50f718(0x1a9)]);});}
</script>
</html>