<%- include('../../partials/head', {title: "Nova empresa"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/nav', {title: "Nova empresa"}) %>

    <main class="py-8 px-12 fade-in">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-x-6">
        <div class="bg-white rounded-xl shadow-lg border p-4 px-5 col-span-3">
          <div class="col-span-full flex items-center gap-x-6 mt-4">
            <svg width="74" height="73" viewBox="0 0 74 73" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <ellipse cx="37" cy="36.5" rx="37" ry="36.5" fill="#0EA5E9"/>
              <rect x="17" y="17" width="40" height="40" fill="url(#pattern0)"/>
              <defs>
              <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
              <use xlink:href="#image0_0_1" transform="scale(0.0104167)"/>
              </pattern>
              <image id="image0_0_1" width="96" height="96" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAAAsTAAALEwEAmpwYAAABvElEQVR4nO3ZPU7DYBCE4S0QVwEJjkoQP+IqVHAK4CJAR9CLIqWgQVvEw6438/SJZr6xHUWOMDMzMzMzMzMz+wNwCdwAr8An/X3us+4yX652WOAUeAC+Wa8tcL/rEis8/GfmeFrVCPsrf5q7WNEzf3frTrMFLqI74Ja5rqM74I25XqI74IO53qM7hovuGC66Y7jojuGiO4aL7hguumO46I7hojt1QcSf/6f3DS/ABjhf7OCXKnjo94c438K+9kOceIBaj4uNcGiSI7sDftt4gPrH0ZnvgFpXHmDt7xsOTXDEvwHLvG9guBCfjwdIeIBiHqCYByjmAYp5gGIeoNj4AdQFEFPnT3UvgJg6f6p7AcTU+VPdCyCmzp/qXgAxdf5U9wKIqfOnuhdATJ0/1b0AYur8UV2wmvp8PEDCAxTzAMU8QDEPUMwDFPMAxcYPoC6AmDp/qnsBxNT5U90LIKbOn+peADF1/lT3Aoip86e6F0BMnT/VvQBi6vyp7gUQU+eP6oLV1OfjARIeoJgHKOYBinmAYh6gmAco5gGG8/+AYh6gmAco5gGKeYBiHqCYB1j7AGZmZmZmZmZmFlP8AN3fTDc25TqSAAAAAElFTkSuQmCC"/>
              </defs>
            </svg>                                                                        
                                      
            <div class="items-center mt-2">
              <label style="cursor: pointer;" for="picture" class="rounded-md px-3 py-2 text-sm font-semibold border-blue color-blue shadow-sm inter">Inserir foto</label>
              <p class="mt-4 text-xs leading-5 text-gray-600 inter">JPG, GIF or PNG. 1MB max.</p>
              <input type="file" id="picture" class="hidden" name="picture">
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Nome da empresa</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="name" id="name" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o nome">
              </div>
            </div>

            <div>
              <label for="cnpj" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">CNPJ</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="cnpj" id="cnpj" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o CNPJ">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="email" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Email</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="email" id="email" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o email">
              </div>
            </div>

            <div>
              <label for="password" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Senha</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="password" id="password" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira a senha">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="responsible-phone" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Telefone (Responsável)</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="responsible-phone" id="responsible-phone" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o número do responsável">
              </div>
            </div>

            <div>
              <label for="company-phone" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Telefone (Empresa)</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="company-phone" id="company-phone" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o celular">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="address" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Endereço</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="address" id="address" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o endereço">
              </div>
            </div>

            <div>
              <label for="number" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Número</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="number" name="number" id="number" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o número">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="cep" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">CEP</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="cep" id="cep" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o CEP">
              </div>
            </div>

            <div>
              <label for="neighborhood" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Bairro</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="neighborhood" id="neighborhood" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o CEP">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="city" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Cidade</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <select name="city" id="city" class="block w-full rounded-lg inter py-2 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1">
                  <option value="select">Selecione a cidade</option>
                  <option value="Porto Alegre / RS">Porto Alegre / RS</option>
                  <option value="Canoas / RS">Canoas / RS</option>
                  <option value="Gramado / RS">Gramado / RS</option>
                  <option value="Novo Hamburgo / RS">Novo Hamburgo / RS</option>
                  <option value="Caxias do Sul / RS">Caxias do Sul / RS</option>
                  <option value="Pelotas / RS">Pelotas / RS</option>
                  <option value="Santa Maria / RS">Santa Maria / RS</option>
                  <option value="Passo Fundo / RS">Passo Fundo / RS</option>
                  <option value="Santa Cruz do Sul / RS">Santa Cruz do Sul / RS</option>
                  <option value="São Leopoldo / RS">São Leopoldo / RS</option>
                  <option value="Rio Grande / RS">Rio Grande / RS</option>
                  <option value="Bento Gonçalves / RS">Bento Gonçalves / RS</option>
                  <option value="Uruguaiana / RS">Uruguaiana / RS</option>
                  <option value="Santana do Livramento / RS">Santana do Livramento / RS</option>
                  <option value="Erechim / RS">Erechim / RS</option>
                  <option value="Ijuí / RS">Ijuí / RS</option>
                  <option value="Bagé / RS">Bagé / RS</option>
                  <option value="Vacaria / RS">Vacaria / RS</option>
                  <option value="Lajeado / RS">Lajeado / RS</option>
                  <option value="Sapucaia do Sul / RS">Sapucaia do Sul / RS</option>
                  <option value="Gravataí / RS">Gravataí / RS</option>
                  <option value="Cachoeirinha / RS">Cachoeirinha / RS</option>
                  <option value="Esteio / RS">Esteio / RS</option>
                  <option value="São Borja / RS">São Borja / RS</option>
                  <option value="Cruz Alta / RS">Cruz Alta / RS</option>
                  <option value="Santo Ângelo / RS">Santo Ângelo / RS</option>
                  <option value="Taquara / RS">Taquara / RS</option>
                  <option value="São Gabriel / RS">São Gabriel / RS</option>
                  <option value="Montenegro / RS">Montenegro / RS</option>
                  <option value="Capão da Canoa / RS">Capão da Canoa / RS</option>
                  <option value="Osório / RS">Osório / RS</option>
                  <option value="Venâncio Aires / RS">Venâncio Aires / RS</option>
                  <option value="Santa Rosa / RS">Santa Rosa / RS</option>
                  <option value="Alegrete / RS">Alegrete / RS</option>
                  <option value="São Sebastião do Caí / RS">São Sebastião do Caí / RS</option>
                  <option value="São Lourenço do Sul / RS">São Lourenço do Sul / RS</option>
                  <option value="Bage / RS">Bage / RS</option>
                  <option value="São Jerônimo / RS">São Jerônimo / RS</option>
                  <option value="São José do Norte / RS">São José do Norte / RS</option>
                  <option value="São José do Sul / RS">São José do Sul / RS</option>
                  <option value="São Leopoldo / RS">São Leopoldo / RS</option>
                  <option value="São Luiz Gonzaga / RS">São Luiz Gonzaga / RS</option>
                  <option value="São Marcos / RS">São Marcos / RS</option>
                  <option value="São Pedro do Sul / RS">São Pedro do Sul / RS</option>
                  <option value="São Sebastião do Caí / RS">São Sebastião do Caí / RS</option>
                  <option value="São Sepé / RS">São Sepé / RS</option>
                  <option value="São Vicente do Sul / RS">São Vicente do Sul / RS</option>
                  <option value="Sapiranga / RS">Sapiranga / RS</option>
                  <option value="Sapucaia do Sul / RS">Sapucaia do Sul / RS</option>
                  <option value="Sarandi / RS">Sarandi / RS</option>
                  <option value="Serafina Corrêa / RS">Serafina Corrêa / RS</option>
                  <option value="Soledade / RS">Soledade / RS</option>
                  <option value="Tapejara / RS">Tapejara / RS</option>
                  <option value="Tapes / RS">Tapes / RS</option>
                  <option value="Taquari / RS">Taquari / RS</option>
                  <option value="Teutônia / RS">Teutônia / RS</option>
                  <option value="Torres / RS">Torres / RS</option>
                  <option value="Tramandaí / RS">Tramandaí / RS</option>
                  <option value="Três Coroas / RS">Três Coroas / RS</option>
                  <option value="Três de Maio / RS">Três de Maio / RS</option>
                  <option value="Três Passos / RS">Três Passos / RS</option>
                  <option value="Triunfo / RS">Triunfo / RS</option>
                  <option value="Tupanciretã / RS">Tupanciretã / RS</option>
                  <option value="Uruguaiana / RS">Uruguaiana / RS</option>
                  <option value="Vacaria / RS">Vacaria / RS</option>
                  <option value="Venâncio Aires / RS">Venâncio Aires / RS</option>
                  <option value="Viamão / RS">Viamão / RS</option>
                  <option value="Xangri-lá / RS">Xangri-lá / RS</option>
                </select>
              </div>
            </div>

            <div>
              <label for="service" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">PMOC/LISTA DE EQUIPAMENTOS</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <select name="service" id="service" class="block w-full rounded-lg inter py-2 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1">
                  <option value="select">Selecione uma opção</option>
                  <option value="equipment-list">Lista de equipamentos</option>
                  <option value="pmoc">PMOC</option>
                </select>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="technician" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Técnico responsável</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <select name="technician" id="technician" class="block w-full rounded-lg inter py-2 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1">
                  <option value="select">Selecione o técnico</option>
                  <% technicians.forEach(technician => { %>
                    <option value="<%= technician._id %>"><%= technician.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-white rounded-xl shadow-lg border p-4 px-5 col-span-1">
          <div class="space-y-4">
            <button type="button" onclick="newCompany()" style="background-color: #00AB55;" class="w-full inline-flex justify-center items-center gap-x-1.5 rounded-md px-3 py-3 text-sm font-semibold text-white inter shadow-sm">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_156_9768)">
                <path d="M3.46649 17.1132C4.68687 18.3337 6.65105 18.3337 10.5794 18.3337C14.5078 18.3337 16.472 18.3337 17.6923 17.1132C18.9128 15.8929 18.9128 13.9287 18.9128 10.0003C18.9128 9.71574 18.9128 9.57349 18.9001 9.42883C18.8413 8.75441 18.5678 8.09413 18.1325 7.57561C18.0391 7.46438 17.9361 7.3613 17.7299 7.15514L13.4246 2.84986C13.2184 2.64371 13.1153 2.54062 13.0042 2.44725C12.4856 2.01199 11.8253 1.7385 11.1509 1.67962C11.0063 1.66699 10.864 1.66699 10.5794 1.66699C6.65105 1.66699 4.68687 1.66699 3.46649 2.88738C2.24609 4.10777 2.24609 6.07195 2.24609 10.0003C2.24609 13.9287 2.24609 15.8929 3.46649 17.1132Z" stroke="white" stroke-width="1.25"/>
                <path d="M14.7435 18.3337V17.5003C14.7435 15.929 14.7435 15.1433 14.2553 14.6552C13.7672 14.167 12.9815 14.167 11.4102 14.167H9.74349C8.17214 14.167 7.38646 14.167 6.89831 14.6552C6.41016 15.1433 6.41016 15.929 6.41016 17.5003V18.3337" stroke="white" stroke-width="1.25"/>
                <path opacity="0.5" d="M6.41016 6.66699H11.4102" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_156_9768">
                <rect width="20" height="20" fill="white" transform="translate(0.578125)"/>
                </clipPath>
                </defs>
              </svg>                
              Salvar
            </button>

            <button type="button" style="background-color: #2196F3;" class="w-full inline-flex justify-center items-center gap-x-1.5 rounded-md px-3 py-3 text-sm font-semibold text-white inter shadow-sm">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_156_9775)">
                <path d="M15.3833 15.4046L17.9922 7.57843C19.0324 4.45761 19.5526 2.89719 18.7289 2.07351C17.9052 1.24982 16.3447 1.76996 13.2237 2.81023L5.44772 5.40214C3.71287 5.98041 2.84544 6.26953 2.58215 6.90563C2.52026 7.05513 2.48285 7.21363 2.47134 7.37502C2.42236 8.0617 3.0689 8.70824 4.36198 10.0012L4.59751 10.2367C4.80976 10.449 4.91587 10.5552 4.9961 10.6732C5.15432 10.9062 5.24413 11.1789 5.25536 11.4602C5.26105 11.603 5.23877 11.7514 5.19422 12.0482C5.03115 13.1347 4.94961 13.6779 5.04566 14.0959C5.23712 14.9292 5.88207 15.5832 6.71256 15.7864C7.12921 15.8883 7.67355 15.8145 8.76225 15.6667L8.82177 15.6587C9.12867 15.617 9.28216 15.5962 9.4295 15.6051C9.69691 15.6212 9.95525 15.7083 10.1779 15.8574C10.3005 15.9396 10.41 16.0491 10.629 16.2681L10.8384 16.4774C12.097 17.736 12.7262 18.3652 13.3938 18.3324C13.5778 18.3234 13.7587 18.2807 13.9273 18.2065C14.5391 17.9373 14.8205 17.0931 15.3833 15.4046Z" stroke="white" stroke-width="1.25"/>
                <path opacity="0.5" d="M5.80078 15L18.3008 2.5" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_156_9775">
                <rect width="20" height="20" fill="white" transform="translate(0.800781)"/>
                </clipPath>
                </defs>
              </svg>                                                
              Enviar por email
            </button>
          </div>

          <div class="mt-8">
            <h2 class="text-sm inter font-semibold">Observações internas</h2>
            <textarea class="w-full rounded-lg border-blue text-sm mt-2 inter p-2" name="comments" id="comments" cols="4" rows="6"></textarea>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js"></script>
<script>
  function alertMessage(type, content) {
    if (type == 'error') {
      const divMessage = document.querySelector(".error");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/platform/notify-error.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    } else if (type == "success") {
      const divMessage = document.querySelector(".alert");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/platform/notify-success.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    }
  }

  function formatCEP(input) {
    const value = input.value.replace(/\D/g, '').substring(0, 8);

    if (value.length > 5) {
      input.value = value.substring(0, 5) + '-' + value.substring(5);
    } else {
      input.value = value;
    }
  }

  function newCompany() {
    const name = document.querySelector("#name")
    const cnpj = document.querySelector("#cnpj")
    const email = document.querySelector("#email")
    const password = document.querySelector("#password")
    const phoneResponsible = document.querySelector("#responsible-phone")
    const phoneCompany = document.querySelector("#company-phone")
    const address = document.querySelector("#address")
    const cep = document.querySelector("#cep")
    const neighborhood = document.querySelector("#neighborhood")
    const city = document.querySelector("#city")
    const number = document.querySelector("#number")
    const comments = document.querySelector("#comments")
    const service = document.querySelector("#service")
    const technician = document.querySelector("#technician")

    if (name.value.length == 0) {
      name.style = "border: 1px solid #e00d0d !important"
      return
    }

    if (cnpj.value.length == 0) {
      cnpj.style.border = "1px solid #e00d0d";
      return
    }

    if (email.value.length == 0) {
      email.style.border = "1px solid #e00d0d";
      return
    }

    if (password.value.length == 0) {
      password.style.border = "1px solid #e00d0d";
      return
    }

    if (phoneResponsible.value.length == 0) {
      phoneResponsible.style.border = "1px solid #e00d0d";
      return
    }

    if (phoneCompany.value.length == 0) {
      phoneCompany.style.border = "1px solid #e00d0d";
      return
    }

    if (address.value.length == 0) {
      address.style.border = "1px solid #e00d0d";
      return
    }

    if (neighborhood.value.length == 0) {
      neighborhood.style.border = "1px solid #e00d0d";
      return
    }

    if (cep.value.length == 0) {
      cep.style.border = "1px solid #e00d0d";
      return
    }

    if (city.value == "select") {
      city.style.border = "1px solid #e00d0d";
      return
    }

    if (service.value == "select") {
      service.style.border = "1px solid #e00d0d";
      return
    }

    if (number.value.length == 0) {
      number.style.border = "1px solid #e00d0d";
      return
    }

    fetch('/admin/new-company/save', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({name: name.value, cnpj: cnpj.value, email: email.value, password: password.value, phoneResponsible: phoneResponsible.value, phoneCompany: phoneCompany.value, city: city.value, address: address.value, cep: cep.value, neighborhood: neighborhood.value, service: service.value, number: number.value, comments: comments.value, technician: technician.value})
    })
    .then((response) => {
      if (response.ok) {
        alertMessage("success", "Empresa adicionada com sucesso.")
      } else {
        alertMessage("error", "Erro ao adicionar empresa")
      }
    })
    .catch((error) => {
      alertMessage("error", "Tente novamente mais tarde")
    })
  }

  window.addEventListener('DOMContentLoaded', function () {
    VMasker(document.getElementById('phone')).maskPattern('(99) 99999-9999');
  });

  cep.addEventListener("input", function() {
    formatCEP(cep)
  })

  cnpj.addEventListener('input', function (e) {
    var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,4})(\d{0,2})/);
    e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + '.' + x[3] + '/' + x[4] + (x[5] ? '-' + x[5] : '');
  });

  window.addEventListener('DOMContentLoaded', function () {
    VMasker(document.getElementById('responsible-phone')).maskPattern('(99) 99999-9999');
    VMasker(document.getElementById('company-phone')).maskPattern('(99) 99999-9999');
  });
</script>
</html>