<%- include('../../partials/app/head', {title: "Atualizar administrador"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/app/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/app/nav', {title: "Atualizar administrador"}) %>

    <main class="py-8 px-12 fade-in">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-x-6">
        <div class="bg-white rounded-xl shadow-lg border p-4 px-5 col-span-3">
          <div class="col-span-full flex items-center gap-x-6 mt-4">
            <svg width="67" height="67" viewBox="0 0 67 67" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_253_37)">
              <path d="M33.5 67C52.0015 67 67 52.0015 67 33.5C67 14.9985 52.0015 0 33.5 0C14.9985 0 0 14.9985 0 33.5C0 52.0015 14.9985 67 33.5 67Z" fill="#239CFF"/>
              <path d="M34.014 15L38.5025 28.3688H53.0278L41.2766 36.6311L45.7652 50L34.014 41.7376L22.2627 50L26.7513 36.6311L15 28.3688H29.5253L34.014 15Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0_253_37">
              <rect width="67" height="67" fill="white"/>
              </clipPath>
              </defs>
            </svg>                                                                        
                                      
            <div class="items-center mt-2">
              <label style="cursor: pointer;" for="picture" class="rounded-md px-3 py-2 text-sm font-semibold border-blue color-blue shadow-sm inter">Inserir foto</label>
              <p class="mt-4 text-xs leading-5 text-gray-600 inter">JPG, GIF or PNG. 1MB max.</p>
              <input type="file" id="picture" class="hidden" name="picture">
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Nome</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="name" id="name" value="<%= admin.name %>" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o nome">
              </div>
            </div>

            <div>
              <label for="phone" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Telefone</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="phone" id="phone" value="<%= admin.phone %>" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o número de celular">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="email" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Email</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="email" id="email" value="<%= admin.email %>" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o email">
              </div>
            </div>

            <div>
              <label for="password" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Senha</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="password" id="password" value="<%= admin.password %>" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira a senha">
              </div>
            </div>
          </div>
        </div>

        <div class="bg-white rounded-xl shadow-lg border p-4 px-5 col-span-1">
          <div class="space-y-4">
            <button type="button" onclick="updateAdmin('<%= admin._id %>')" style="background-color: #00AB55;" class="w-full inline-flex justify-center items-center gap-x-1.5 rounded-md px-3 py-3 text-sm font-semibold text-white inter shadow-sm">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_156_9768)">
                <path d="M3.46649 17.1132C4.68687 18.3337 6.65105 18.3337 10.5794 18.3337C14.5078 18.3337 16.472 18.3337 17.6923 17.1132C18.9128 15.8929 18.9128 13.9287 18.9128 10.0003C18.9128 9.71574 18.9128 9.57349 18.9001 9.42883C18.8413 8.75441 18.5678 8.09413 18.1325 7.57561C18.0391 7.46438 17.9361 7.3613 17.7299 7.15514L13.4246 2.84986C13.2184 2.64371 13.1153 2.54062 13.0042 2.44725C12.4856 2.01199 11.8253 1.7385 11.1509 1.67962C11.0063 1.66699 10.864 1.66699 10.5794 1.66699C6.65105 1.66699 4.68687 1.66699 3.46649 2.88738C2.24609 4.10777 2.24609 6.07195 2.24609 10.0003C2.24609 13.9287 2.24609 15.8929 3.46649 17.1132Z" stroke="white" stroke-width="1.25"/>
                <path d="M14.7435 18.3337V17.5003C14.7435 15.929 14.7435 15.1433 14.2553 14.6552C13.7672 14.167 12.9815 14.167 11.4102 14.167H9.74349C8.17214 14.167 7.38646 14.167 6.89831 14.6552C6.41016 15.1433 6.41016 15.929 6.41016 17.5003V18.3337" stroke="white" stroke-width="1.25"/>
                <path opacity="0.5" d="M6.41016 6.66699H11.4102" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_156_9768">
                <rect width="20" height="20" fill="white" transform="translate(0.578125)"/>
                </clipPath>
                </defs>
              </svg>                
              Salvar
            </button>
          </div>

          <div class="mt-8">
            <h2 class="text-sm inter font-semibold">Observações internas</h2>
            <textarea class="w-full rounded-lg border-blue text-sm mt-2 inter p-2" name="comments" id="comments" cols="4" rows="6"><%= admin.comments %></textarea>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    VMasker(document.getElementById('phone')).maskPattern('(99) 99999-9999');
  });
</script>
</html>