<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help Técnico | Todos os usuários</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="/css/platform/notify.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
</head>

<body>
  <%- include('../partials/admin/sidebar-admin', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/admin/nav-admin', {isAdmin: isAdmin, title: "Todos os usuários", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="alert mt-14" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error mt-14" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-lg font-semibold leading-6 text-gray-900 inter color-purple">Todas os usuários:</h1>
          </div>
        </div>
        
        <div class="mt-4">
          <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            <% users.forEach(function(item) { %>
              <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
                <div class="flex w-full items-center space-x-6 p-6">
                  <% if (item.photo) { %>
                    <img class="h-11 w-11 flex-shrink-0 rounded-full" src="/img/photos/<%= item.photo %>" alt="">
                  <% } else { %>
                    <img class="h-11 w-11 flex-shrink-0 rounded-full" src="/img/platform/profile.png" alt="">
                  <% } %>
                  <div class="flex-1 truncate">
                    <div class="flex items-center space-x-2">
                      <h3 class="truncate text-md font-medium text-gray-900 inter"><%= item.name %></h3>
                      <% if (item.isAdmin) { %>
                        <span class="inline-flex flex-shrink-0 items-center rounded-full px-1.5 py-0.5 text-xs font-medium badge inter color-purple">Admin</span>
                      <% } else { %>
                        <span class="inline-flex flex-shrink-0 items-center rounded-full px-1.5 py-0.5 text-xs font-medium badge inter color-purple"><%= item.type_account %></span>
                      <% } %>
                    </div>
                    <p class="mt-1 truncate text-sm text-gray-500 inter"><%= item.email %></p>
                  </div>
                </div>
                <div>
                  <div class="-mt-px flex divide-x divide-gray-200">
                    <div class="flex w-0 flex-1">
                      <a href="/platform/users/<%= item._id %>" class="relative -mr-px inter inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold color-purple">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M19.25 19.25H2.75" stroke="#752A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M18.2246 6.41665L10.0846 14.5108L6.41797 15.5833L7.49047 11.9166L15.6305 3.77665C15.9748 3.40397 16.4528 3.1831 16.9598 3.16247C17.4668 3.14185 17.9612 3.32317 18.3346 3.66665C18.5117 3.8525 18.6497 4.07204 18.7403 4.31225C18.8309 4.55246 18.8723 4.80843 18.862 5.06495C18.8518 5.32147 18.7901 5.57331 18.6806 5.80551C18.5711 6.03772 18.416 6.24554 18.2246 6.41665Z" stroke="#752A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Editar
                      </a>
                    </div>
                    <% if (item.isBloqued) { %>
                      <div class="-ml-px flex w-0 flex-1">
                        <button onclick="unlockUser('<%= item._id %>')" class="relative inter inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-yellow-500">
                          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9991 20.46C9.28306 20.46 7.69173 20.0274 6.22506 19.162C4.8024 18.326 3.67306 17.1967 2.83706 15.774C1.97173 14.3074 1.53906 12.716 1.53906 11C1.53906 9.28404 1.97173 7.69271 2.83706 6.22604C3.67306 4.80337 4.8024 3.67404 6.22506 2.83804C7.69173 1.97271 9.28306 1.54004 10.9991 1.54004C12.7151 1.54004 14.3064 1.97271 15.7731 2.83804C17.1957 3.67404 18.3251 4.80337 19.1611 6.22604C20.0264 7.69271 20.4591 9.28404 20.4591 11C20.4591 12.716 20.0264 14.3074 19.1611 15.774C18.3251 17.1967 17.1957 18.326 15.7731 19.162C14.3064 20.0274 12.7151 20.46 10.9991 20.46ZM7.03906 16.72C7.61106 17.1307 8.23806 17.4424 8.92006 17.655C9.60206 17.8677 10.2951 17.974 10.9991 17.974C12.2604 17.974 13.4337 17.6514 14.5191 17.006C15.5604 16.39 16.3891 15.5614 17.0051 14.52C17.6504 13.4347 17.9731 12.2614 17.9731 11C17.9731 10.296 17.8667 9.60304 17.6541 8.92104C17.4414 8.23904 17.1297 7.61204 16.7191 7.04004L7.03906 16.72ZM10.9991 4.02604C9.73773 4.02604 8.5644 4.34871 7.47906 4.99404C6.43773 5.61004 5.60906 6.43871 4.99306 7.48004C4.34773 8.56537 4.02506 9.73871 4.02506 11C4.02506 11.704 4.1314 12.397 4.34406 13.079C4.55673 13.761 4.8684 14.388 5.27906 14.96L14.9591 5.28004C14.3871 4.86937 13.7601 4.55771 13.0781 4.34504C12.3961 4.13237 11.7031 4.02604 10.9991 4.02604Z" fill="#C27803"/>
                          </svg>                                                      
                          Desbloquear
                        </button>
                      </div>
                    <% } else { %>
                      <div class="-ml-px flex w-0 flex-1">
                        <button onclick="blockUser('<%= item._id %>')" class="relative inter inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9991 20.46C9.28306 20.46 7.69173 20.0274 6.22506 19.162C4.8024 18.326 3.67306 17.1967 2.83706 15.774C1.97173 14.3074 1.53906 12.716 1.53906 11C1.53906 9.28404 1.97173 7.69271 2.83706 6.22604C3.67306 4.80337 4.8024 3.67404 6.22506 2.83804C7.69173 1.97271 9.28306 1.54004 10.9991 1.54004C12.7151 1.54004 14.3064 1.97271 15.7731 2.83804C17.1957 3.67404 18.3251 4.80337 19.1611 6.22604C20.0264 7.69271 20.4591 9.28404 20.4591 11C20.4591 12.716 20.0264 14.3074 19.1611 15.774C18.3251 17.1967 17.1957 18.326 15.7731 19.162C14.3064 20.0274 12.7151 20.46 10.9991 20.46ZM7.03906 16.72C7.61106 17.1307 8.23806 17.4424 8.92006 17.655C9.60206 17.8677 10.2951 17.974 10.9991 17.974C12.2604 17.974 13.4337 17.6514 14.5191 17.006C15.5604 16.39 16.3891 15.5614 17.0051 14.52C17.6504 13.4347 17.9731 12.2614 17.9731 11C17.9731 10.296 17.8667 9.60304 17.6541 8.92104C17.4414 8.23904 17.1297 7.61204 16.7191 7.04004L7.03906 16.72ZM10.9991 4.02604C9.73773 4.02604 8.5644 4.34871 7.47906 4.99404C6.43773 5.61004 5.60906 6.43871 4.99306 7.48004C4.34773 8.56537 4.02506 9.73871 4.02506 11C4.02506 11.704 4.1314 12.397 4.34406 13.079C4.55673 13.761 4.8684 14.388 5.27906 14.96L14.9591 5.28004C14.3871 4.86937 13.7601 4.55771 13.0781 4.34504C12.3961 4.13237 11.7031 4.02604 10.9991 4.02604Z" fill="#5F5F5F"/>
                          </svg>                          
                          Bloquear
                        </button>
                      </div>
                    <% } %>
                    <div class="-ml-px flex w-0 flex-1">
                      <button onclick="deleteUser('<%= item._id %>')" class="relative inter inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-red-700">
                        <svg class="mt-0.5" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.75 1.125H10.5C10.5 0.926088 10.421 0.735322 10.2803 0.59467C10.1397 0.454018 9.94891 0.375 9.75 0.375H8.25C8.05109 0.375 7.86032 0.454018 7.71967 0.59467C7.57902 0.735322 7.5 0.926088 7.5 1.125H2.25C2.05109 1.125 1.86032 1.20402 1.71967 1.34467C1.57902 1.48532 1.5 1.67609 1.5 1.875C1.5 2.07391 1.57902 2.26468 1.71967 2.40533C1.86032 2.54598 2.05109 2.625 2.25 2.625H15.75C15.9489 2.625 16.1397 2.54598 16.2803 2.40533C16.421 2.26468 16.5 2.07391 16.5 1.875C16.5 1.67609 16.421 1.48532 16.2803 1.34467C16.1397 1.20402 15.9489 1.125 15.75 1.125Z" fill="#AA2222"/>
                          <path d="M14.625 3.375C14.4261 3.375 14.2353 3.45402 14.0947 3.59467C13.954 3.73532 13.875 3.92609 13.875 4.125V16.125H4.125V4.125C4.125 3.92609 4.04598 3.73532 3.90533 3.59467C3.76468 3.45402 3.57391 3.375 3.375 3.375C3.17609 3.375 2.98532 3.45402 2.84467 3.59467C2.70402 3.73532 2.625 3.92609 2.625 4.125V16.875C2.625 17.0739 2.70402 17.2647 2.84467 17.4053C2.98532 17.546 3.17609 17.625 3.375 17.625H14.625C14.8239 17.625 15.0147 17.546 15.1553 17.4053C15.296 17.2647 15.375 17.0739 15.375 16.875V4.125C15.375 3.92609 15.296 3.73532 15.1553 3.59467C15.0147 3.45402 14.8239 3.375 14.625 3.375Z" fill="#AA2222"/>
                          <path d="M7.875 13.875V7.125C7.875 6.92609 7.79598 6.73532 7.65533 6.59467C7.51468 6.45402 7.32391 6.375 7.125 6.375C6.92609 6.375 6.73532 6.45402 6.59467 6.59467C6.45402 6.73532 6.375 6.92609 6.375 7.125V13.875C6.375 14.0739 6.45402 14.2647 6.59467 14.4053C6.73532 14.546 6.92609 14.625 7.125 14.625C7.32391 14.625 7.51468 14.546 7.65533 14.4053C7.79598 14.2647 7.875 14.0739 7.875 13.875Z" fill="#AA2222"/>
                          <path d="M11.625 13.875V7.125C11.625 6.92609 11.546 6.73532 11.4053 6.59467C11.2647 6.45402 11.0739 6.375 10.875 6.375C10.6761 6.375 10.4853 6.45402 10.3447 6.59467C10.204 6.73532 10.125 6.92609 10.125 7.125V13.875C10.125 14.0739 10.204 14.2647 10.3447 14.4053C10.4853 14.546 10.6761 14.625 10.875 14.625C11.0739 14.625 11.2647 14.546 11.4053 14.4053C11.546 14.2647 11.625 14.0739 11.625 13.875Z" fill="#AA2222"/>
                        </svg>
                        Excluir
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </main>
  </div>
</body>

<script>
  (function(_0x4a8152,_0x5e95f3){var _0x5c2f1d=_0xaa71,_0x4b8855=_0x4a8152();while(!![]){try{var _0x53afa6=parseInt(_0x5c2f1d(0x1d9))/(0x7e*0x22+0x357*-0x3+-0x6b6*0x1)*(parseInt(_0x5c2f1d(0x1d0))/(0x1759+0x954+-0x20ab))+-parseInt(_0x5c2f1d(0x1ce))/(-0xc41+-0xa43*-0x3+-0x1285)+-parseInt(_0x5c2f1d(0x1bd))/(0x40d+0x1df*-0xb+-0x846*-0x2)*(parseInt(_0x5c2f1d(0x1b9))/(0xc*-0x2b0+-0x2675+0x46ba*0x1))+parseInt(_0x5c2f1d(0x1b7))/(0x19ba+0x97*-0x1b+-0x9c7)+parseInt(_0x5c2f1d(0x1d2))/(-0x1c1b+0x9*0xfb+0x134f)*(-parseInt(_0x5c2f1d(0x1bb))/(0xa*-0x4f+-0x16c5+0x19e3))+-parseInt(_0x5c2f1d(0x1c4))/(-0x2468+0x2a9*-0x2+0x29c3)*(parseInt(_0x5c2f1d(0x1c7))/(-0x217c+-0xd01+-0x1*-0x2e87))+parseInt(_0x5c2f1d(0x1d8))/(-0x335+0x190b+-0x15cb);if(_0x53afa6===_0x5e95f3)break;else _0x4b8855['push'](_0x4b8855['shift']());}catch(_0x4ef56c){_0x4b8855['push'](_0x4b8855['shift']());}}}(_0x1249,0xe3*0x4ca+0x9bbbe+0x8d95c*-0x1));function _0x1249(){var _0x37dd2d=['376THfeBE','users/bloc','12LLDeOA','RRqph','POST','users/unlo','bRezL','Ysdae','jZTRV','9pQlLwZ','te/','n/json','4451240JbuASC','MgbBv','zmrKa','tbudF','VMZqH','vwwhd','kXigy','1027116uQbGos','EQshZ','56278aUrdyJ','xnltJ','62027tJjCnA','users/dele','ck/','reload','applicatio','SChoY','15001360wcnAZv','13nazjcj','wsFlU','2699154kMepnE','DELETE','1065345ISNcqE','ubcdc'];_0x1249=function(){return _0x37dd2d;};return _0x1249();}function blockUser(_0x400fc4){var _0x4df621=_0xaa71,_0x2c7119={'wsFlU':function(_0x57284f,_0x54a1c8,_0x3c2f04){return _0x57284f(_0x54a1c8,_0x3c2f04);},'xnltJ':function(_0x52f02a,_0x50fce1){return _0x52f02a+_0x50fce1;},'bRezL':_0x4df621(0x1bc)+'k/','zmrKa':_0x4df621(0x1bf),'MgbBv':_0x4df621(0x1d6)+_0x4df621(0x1c6)};_0x2c7119[_0x4df621(0x1b6)](fetch,_0x2c7119[_0x4df621(0x1d1)](_0x2c7119[_0x4df621(0x1c1)],_0x400fc4),{'method':_0x2c7119[_0x4df621(0x1c9)],'headers':{'Content-Type':_0x2c7119[_0x4df621(0x1c8)]}}),location[_0x4df621(0x1d5)]();}function unlockUser(_0x3bfb72){var _0x5ac168=_0xaa71,_0x586c52={'jZTRV':function(_0x32d6ec,_0x46d8bb,_0x33b357){return _0x32d6ec(_0x46d8bb,_0x33b357);},'Ysdae':function(_0x429609,_0x154258){return _0x429609+_0x154258;},'VMZqH':_0x5ac168(0x1c0)+_0x5ac168(0x1d4),'vwwhd':_0x5ac168(0x1bf),'kXigy':_0x5ac168(0x1d6)+_0x5ac168(0x1c6)};_0x586c52[_0x5ac168(0x1c3)](fetch,_0x586c52[_0x5ac168(0x1c2)](_0x586c52[_0x5ac168(0x1cb)],_0x3bfb72),{'method':_0x586c52[_0x5ac168(0x1cc)],'headers':{'Content-Type':_0x586c52[_0x5ac168(0x1cd)]}}),location[_0x5ac168(0x1d5)]();}function _0xaa71(_0x4a34d0,_0x27e876){var _0x2f3d73=_0x1249();return _0xaa71=function(_0x501206,_0x58f4ab){_0x501206=_0x501206-(-0xe5c+-0x1e61+0x2e73);var _0x3a7a8b=_0x2f3d73[_0x501206];return _0x3a7a8b;},_0xaa71(_0x4a34d0,_0x27e876);}function deleteUser(_0x44c573){var _0x48e60d=_0xaa71,_0x3e9ebc={'SChoY':function(_0x1fb9ee,_0x1dd4e8,_0x25a0fe){return _0x1fb9ee(_0x1dd4e8,_0x25a0fe);},'ubcdc':function(_0x124eff,_0x170c75){return _0x124eff+_0x170c75;},'tbudF':_0x48e60d(0x1d3)+_0x48e60d(0x1c5),'EQshZ':_0x48e60d(0x1b8),'RRqph':_0x48e60d(0x1d6)+_0x48e60d(0x1c6)};_0x3e9ebc[_0x48e60d(0x1d7)](fetch,_0x3e9ebc[_0x48e60d(0x1ba)](_0x3e9ebc[_0x48e60d(0x1ca)],_0x44c573),{'method':_0x3e9ebc[_0x48e60d(0x1cf)],'headers':{'Content-Type':_0x3e9ebc[_0x48e60d(0x1be)]}}),location[_0x48e60d(0x1d5)]();}
</script>
</html>